@font-face {
  font-family: "Fira Sans";
  font-display: swap;
  src: url('/assets/fonts/Fira_Sans/FiraSans-Regular.woff2');
  font-weight: 400
}

@font-face {
  font-family: "Fira Sans";
  font-display: swap;
  src: url('/assets/fonts/Fira_Sans/FiraSans-SemiBold.woff2');
  font-weight: 500
}

@font-face {
  font-family: "Fira Sans";
  font-display: swap;
  src: url('/assets/fonts/Fira_Sans/FiraSans-Bold.woff2');
  font-weight: 600
}