$font-family: 'Fira Sans', sans-serif;
$font-color: #333;
$font-size: 1.1rem;

$regular-background-color: #ffffff;
$alt-background-color: #f6f9fc;

$alt-text-weight: normal;

$alt-footer-background: #f4f7fb;

$dark-indigo: #17054b;
$golden-yellow: #ffce14;
