{% set title = 'LTO Network - Partners & clients' %}
{% set description = 'Partners and clients using LTO Network' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/slider-image@3x.png')">
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">Partners & clients</h1>
          <h2 class="subtitle dark-indigo">Lorem ipsum</h2>
        <div class="btn-container">
          <a href="#" class="button">Explore</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
          <p class="promo-head accent-text">1M+</p>
          <p class="promo-desc">Active users</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">Top 20</p>
          <p class="promo-desc">blockchains worldwide</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">30k+</p>
          <p class="promo-desc">daily transactions</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">nodes</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">ecosystem partners</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
  <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Independent Software Vendors</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Capptions@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Capptions</h3>
            <div class="card-description">
              <p>In order to provide an extra layer of data security and follow strict compliance rules in relation to inspection reports and data entries, Capptions implemented LTO Network into their platform.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/capptions/" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo SignRequest@2x.png">
          <div class="card-content">
            <h3 class="accent-text">SignRequest</h3>
            <div class="card-description">
              <p>SignRequest adds the hash code to the LTO Network Blockchain. This allows signers to validate if the hash code is valid and allows for an additional timestamp.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/signrequest/" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Scantrust@2x.png">
          <div class="card-content">
            <h3 class="accent-text">ScanTrust</h3>
            <div class="card-description">
              <p>Combining smart QR codes with blockchain, Scantrust builds brand trust through transparency, product authentication, supply chain traceability and consumer engagement.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/scantrust/" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo VV@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Virtual Vaults</h3>
            <div class="card-description">
              <p>Virtual Vaults added blockchain for safeguarding corporates’ most important documents. Due dilligence has never been so trustable as with LTO Network.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://www.virtualvaults.com/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo TicTag@2x.png">
          <div class="card-content">
            <h3 class="accent-text">TicTag</h3>
            <div class="card-description">
              <p>TicTag uses LTO Network to increase the security of their IoT data. Every scan of a tag gets anchored on LTO Network, which prevents the data from being tampered with and therefore removes the possibility of fraud within the system.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://www.linkedin.com/pulse/tictag-lto-network-connecting-offline-world-pieter-heersink/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo Firm24@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Firm24</h3>
            <div class="card-description">
              <p>On the Firm24 platform, all documents and deeds that are generated are instantly hashed on the LTO Network blockchain. Not only the final versions, but all the versions in the back-and-forth procedures between notaries and clients, but also contracting parties.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/firm24/" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>
        
        <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo V-ID@2x.png">
          <div class="card-content">
            <h3 class="accent-text">V-ID</h3>
            <div class="card-description">
              <p>The European Commission recently launched an exploration of specific legislation for GDPR-compliant blockchain applications. In that context, CMS, LTO Network and V-ID came together with lawyers, technicians, consultants and use case experts to design a compliant framework.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://finance.transformindustries.com/going-dutch-new-partnership-claims-gdpr-compliant-blockchain/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Interested to join?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" target="blank" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>

        <div class="column card invisible is-hidden-mobile">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">You?</h3>
            <div class="card-description">
              <p>Lorem ipsum</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </section>
</div>

<div class="section-container cutoff-top cutout-bottom">
  <section class="section relative tertiary neg-m-top-m p-top-l">
    <div class="container z-index-2">
      <h2 class="has-text-centered section-title">System Integrators</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo BCG@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Boston Consulting Group</h3>
            <div class="card-description">
              <p>Renowned international consultancy firm Boston Consulting Group will be integrating LTO Network through their Blockchain department, Platinion.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
               Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo Moonwhale@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Moonwhale</h3>
            <div class="card-description">
              <p>Moonwhale shall provide existing and future LTO Network clients with hands-on project assistance in implementation and integration of LTO software solutions for enterprises and corporations in Asia and the US.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://moonwhale.io/lto-network-enterprise-consulting/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Axveco@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Axveco</h3>
            <div class="card-description">
              <p>Leading Dutch blockchain integrator Axveco partnered up with LTO Network to deliver real-world solutions for corporates, governments and NGO’s all over Europe.</p>  
            </div>
            <div class="has-margin-top-20">
              <a href="https://axveco.com" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Xurux@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Xurux</h3>
            <div class="card-description">
              <p>Xurux consultancy integrates LTO Networks anchoring nodes with their clients who wish to safeguard their data’s integrity. Cool collaborative projects will be announced soon!</p>              
            </div>
            <div class="has-margin-top-20">
              <a href="https://xurux.nl" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Interested?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>

        <div class="column invisible is-hidden-mobile card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Interested?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section alt p-top-xl neg-m-top-m p-bottom-xl">
    <div class="container">
      <h2 class="has-text-centered section-title">Partners</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Tech Data@2x.png">
          <div class="card-content">
            <h3 class="accent-text">TechData</h3>
            <div class="card-description">
              <p>As IBM integrator, TechData collaborates with LTO Network on any IBM related integrations, the most prominent at the moment being the Watson integration in LTO Network’s upcoming enterprise nodes.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://techdata.com" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo IBM@2x.png">
          <div class="card-content">
            <h3 class="accent-text">IBM</h3>
            <div class="card-description">
              <p>IBM and LTO Network partnered up together with their joint partner VI-D to deliver a solution called ‘The Internet of Environment’. More exciting projects will be announced soon!</p>
            </div>
            <div class="has-margin-top-20">
              <a class="button is-primary" disabled>
                Coming soon
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Inatba@2x.png">
          <div class="card-content">
            <h3 class="accent-text">INATBA</h3>
            <div class="card-description">
              <p>LTO Network shares their specialist knowledge, technical expertise and ideas on how to help the committee, and INATBA as a whole, deliver on its goals towards mass adoption of blockchain.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://blog.lto.network/inatba-blockchain-europe-lto-network/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo ISO@2x.png">
          <div class="card-content">
            <h3 class="accent-text">ISO</h3>
            <div class="card-description">
              <p>ISO (International Organization for Standardization) is an independent, non-governmental international organization with a membership of 164 national standards bodies.</p>
                <p>Through its members, it brings together experts to share knowledge and develop voluntary, consensus-based, market relevant International Standards that support innovation and provide solutions to global challenges.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo DBC@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Dutch Blockchain Coalition</h3>
            <div class="card-description">
              <p>LTO Network is a proud participant of the Dutch Blockchain Coalition, that  jointly developed partnership by industry, government and knowledge institutions. </p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://dutchblockchaincoalition.org/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo HH@2x.png">
          <div class="card-content">
            <h3 class="accent-text">The Hague University</h3>
            <div class="card-description">
              <p>KOIOS aims to combine the best properties of the physical as well as the digital learning environment with the help of LTO Network through a partnership for a university minor.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://www.kiesopmaat.nl/modules/hhs/BFM/140183/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>
        
        <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Unchain@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Unchain</h3>
            <div class="card-description">
              <p>Unchain was build to unlock the full potential of blockchain through an easy to use, highly scalable, secure and open integration platform. At the moment, unchain is building API connectors with existing systems.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://unchain.io" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo Certik@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Certik</h3>
            <div class="card-description">
              <p>CertiK will be auditing plug-and-play and custom Live Contract templates for organizations to easily integrate into their existing systems, unlocking unprecedented standardization of secured collaboration between organizations.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://medium.com/certik/introducing-live-contract-audits-on-lto-network-with-certik-b159ada2157c" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo CMS@2x.png">
          <div class="card-content">
            <h3 class="accent-text">CMS</h3>
            <div class="card-description">
              <p>The European Commission recently launched an exploration of specific legislation for GDPR-compliant blockchain applications. In that context, CMS, LTO Network and V-ID came together with lawyers, technicians, consultants and use case experts to design a compliant framework.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://medium.com/ltonetwork/lto-network-x-v-id-presenting-unique-gdpr-compliance-tooling-for-companies-and-governments-4f29bfb582de" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>
        
        <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Docker@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Docker</h3>
            <div class="card-description">
              <p>Docker is the leader in the containerization market, combining an enterprise-grade container platform with world-class services to give LTO developers and IT alike the freedom to build, manage and secure applications without the fear of technology or infrastructure lock-in.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://docker.com" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Interested?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>

        <div class="column card invisible is-hidden-mobile">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Interested?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
    <div class="container">
      <div class="columns">
        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-1.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Developer area</h3>
            <div class="card-description has-text-centered">
              <p>Get to know the tech, set up a node and learn how to build your first product or integration on LTO network.</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-2.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Community area</h3>
            <div class="card-description has-text-centered">
              <p>Ready to put your marketing, design and development skills into practice? Join the community!</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-3.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Contact us</h3>
            <div class="card-description has-text-centered">
              <p>Got a question on implementing blockchain in your (clients) organization? The LTO Network team is here to help you out!</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
