{% set title = 'LTO Network - Partners & clients' %}
{% set description = 'Partners and clients using LTO Network' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-partners-clients.png')">
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">Our partners & clients</h1>
          <h2 class="subtitle dark-indigo">Amplifying growth by connecting our connectiions.</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
          <p class="promo-head accent-text">1M+</p>
          <p class="promo-desc">Active users</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">Top 20</p>
          <p class="promo-desc">blockchains worldwide</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">30k+</p>
          <p class="promo-desc">daily transactions</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">nodes</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">ecosystem partners</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
  <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Independent Software Vendors</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Capptions@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Capptions</h3>
            <div class="card-description">
              <p>Capptions provides a digital checklist & inspection application providing immutable evidence to data entries and creation of inspection reports.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/digital-checklist-inspection-reports/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo SignRequest@2x.png">
          <div class="card-content">
            <h3 class="accent-text">SignRequest</h3>
            <div class="card-description">
              <p>SignRequest provides assurance that document contents have not been tampered with and providing proof of the specific date and time a document was signed.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/digital-signing-blockchain-verification/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Scantrust@2x.png">
          <div class="card-content">
            <h3 class="accent-text">ScanTrust</h3>
            <div class="card-description">
              <p>ScanTrust  provides brands with smart packaging solutions for product authentication, supply chain traceability using our blockchain technology.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/track-trace-product-authentication/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo VV@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Virtual Vaults</h3>
            <div class="card-description">
              <p>Virtual Vaults Provides a document management systems for deals and permanent secure storage. Adding blockchain provides authentication on everything that takes place in a DMS.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/trusted-document-management/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo Firm24@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Firm24</h3>
            <div class="card-description">
              <p>Notary procedures heavily rely on paper based processes. FIRM24 uses LTO Network to execute incorporation procedures more efficient.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/data-sharing-in-notary-procedures/" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
        
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo V-ID@2x.png">
          <div class="card-content">
            <h3 class="accent-text">V-ID</h3>
            <div class="card-description">
              <p>V-ID is a solution to protect digital assets. With their art protection solution, objects are better protected and the authenticity can be established easier and faster.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/authenticity-art-objects/"  class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
        </div>
        
        <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo TicTag@2x.png">
          <div class="card-content">
            <h3 class="accent-text">TicTag</h3>
            <div class="card-description">
              <p>TicTag uses LTO Network to increase the security of their IoT data. Every scan of a tag gets anchored on LTO Network, which prevents check-in data from being manipulated.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://www.linkedin.com/pulse/tictag-lto-network-connecting-offline-world-pieter-heersink/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Interested to join?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" target="blank" class="button is-warning">
                Schedule a call
              </a>
            </div>
          </div>
        </div>

        <div class="column card invisible is-hidden-mobile">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">You?</h3>
            <div class="card-description">
              <p>Lorem ipsum</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </section>
</div>

<div class="section-container cutoff-top cutout-bottom">
  <section class="section relative tertiary neg-m-top-m p-top-l">
    <div class="container z-index-2">
      <h2 class="has-text-centered section-title">System Integrators</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo BCG@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Boston Consulting Group</h3>
            <div class="card-description">
              <p>Renowned international consultancy firm Boston Consulting Group will be integrating LTO Network through their Blockchain department, Platinion.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://www.bcg.com/beyond-consulting/bcg-platinion/default.aspx" target="blank" class="button is-primary">
               Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo Moonwhale@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Moonwhale</h3>
            <div class="card-description">
              <p>Moonwhale is one of the LTO Network integrators that is active in the US and Asia. They are specialist in software integrations and project implementation.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://moonwhale.io/lto-network-enterprise-consulting/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Axveco@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Axveco</h3>
            <div class="card-description">
              <p>Leading Dutch blockchain integrator Axveco partnered up with LTO Network to deliver real-world solutions for corporates, governments and NGO’s all over Europe.</p>  
            </div>
            <div class="has-margin-top-20">
              <a href="https://axveco.com" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Xurux@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Xurux</h3>
            <div class="card-description">
              <p>Xurux consultancy integrates LTO Networks anchoring nodes at their clients who have a need for data integrity in their systems. Xurux is based in the Netherlands.</p>              
            </div>
            <div class="has-margin-top-20">
              <a href="https://xurux.nl" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Interested?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-warning">
                Schedule a call
              </a>
            </div>
          </div>
        </div>

        <div class="column invisible is-hidden-mobile card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Interested?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section alt p-top-xl neg-m-top-m p-bottom-xl">
    <div class="container">
      <h2 class="has-text-centered section-title">Partners</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Tech Data@2x.png">
          <div class="card-content">
            <h3 class="accent-text">TechData</h3>
            <div class="card-description">
              <p>As IBM integrator, Techdata collaborates with LTO Network on any IBM related integrations, the most prominent at the moment being the Watson integration.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://techdata.com" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo IBM@2x.png">
          <div class="card-content">
            <h3 class="accent-text">IBM</h3>
            <div class="card-description">
              <p>IBM and LTO Network partnered up together with their joint partner VI-D to deliver a solution called ‘The Internet of Environment’.</p>
            </div>
            <div class="has-margin-top-20">
              <a class="button is-primary" disabled>
                Coming soon
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Inatba@2x.png">
          <div class="card-content">
            <h3 class="accent-text">INATBA</h3>
            <div class="card-description">
              <p>LTO Network is a partner of INATBA. Together we share knowledge, technical expertise and ideas on its goals towards mass adoption of blockchain.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://blog.lto.network/inatba-blockchain-europe-lto-network/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo ISO@2x.png">
          <div class="card-content">
            <h3 class="accent-text">ISO</h3>
            <div class="card-description">
              <p>LTO Network is an active contributor to the ISO organization. Together we are developing the standards for blockchain technology on a global scale.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://www.iso.org/committee/6266604.html" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo DBC@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Dutch Blockchain Coalition</h3>
            <div class="card-description">
              <p>LTO Network is a proud participant of the Dutch Blockchain Coalition, that  jointly developed partnership by industry, government and knowledge institutions.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://dutchblockchaincoalition.org/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo HH@2x.png">
          <div class="card-content">
            <h3 class="accent-text">The Hague University</h3>
            <div class="card-description">
              <p>KOIOS is responsible for the blockchain minor at The Hague University. LTO Network gives classes and is the blockchain these minor students build something cool on.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://www.kiesopmaat.nl/modules/hhs/BFM/140183/" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>
        
        <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Unchain@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Unchain</h3>
            <div class="card-description">
              <p>Unchain has multipe API connectors with existing systems such as SAP and Sales Force. They recently released their integration with LTO Network.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://unchain.io" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo Certik@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Certik</h3>
            <div class="card-description">
              <p>CertiK will be auditing plug-and-play and custom Live Contract templates that organizations want to deploy into their IT environments.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://medium.com/certik/introducing-live-contract-audits-on-lto-network-with-certik-b159ada2157c" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/partners-clients/Logo CMS@2x.png">
          <div class="card-content">
            <h3 class="accent-text">CMS</h3>
            <div class="card-description">
              <p>GDPR-compliant blockchain applications are critical for blockchain adoption. CMS, LTO Network and V-ID are designing a compliance framework.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://medium.com/ltonetwork/lto-network-x-v-id-presenting-unique-gdpr-compliance-tooling-for-companies-and-governments-4f29bfb582de" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>
        
        <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Docker@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Docker</h3>
            <div class="card-description">
              <p>Docker is a leading platform for container software. LTO Network has integrations with several docker tools to deploy faster and manage applications secure.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://docker.com" target="blank" class="button is-primary">
                Read more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Interested?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-warning">
                Schedule a call
              </a>
            </div>
          </div>
        </div>

        <div class="column card invisible is-hidden-mobile">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Interested?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </section>
</div>

<div class="section-container">
    <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
        {% include "partials/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
