{% set title = 'LTO Network - About' %}
{% set description = 'Making blockchain integration easy in every organization' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image:url('/assets/hero/hero-about.png');background-position:center;">
    <div class="hero-body">
      <div class="container">
          <div class="columns">
              <div class="column">
        <h1 class="primary-text">About LTO Network</h1>
          <p class="dark-indigo jobs-talent quote">“The most devoted and tech savvy bunch of whizzkids I have ever met”</p>
          <p class="dark-indigo jobs-talent end-quote">- Mike van der Bilt (TechStarter)</p>
        <div class="buttons btn-container">
            <a href="#talents" class="button is-warning">Join the movement</a>
            <a href="#mission" class="button">Learn more</a>
        </div>
              </div>
          <div class="column video">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/D1CDJEahhjY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
          <p class="promo-head accent-text">1M+</p>
          <p class="promo-desc">Active users</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">Top 20</p>
          <p class="promo-desc">blockchains worldwide</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">30k+</p>
          <p class="promo-desc">daily transactions</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">nodes</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">ecosystem partners</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom" id="mission">
  <section class="section">
    <div class="container">
        <h4 class="dark-indigo has-text-centered">MISSION STATEMENT</h4>
      <h2 class="has-text-centered section-title">Making blockchain integration easy in every organization</h2>
      <div class="columns is-centered">
          <div class="column is-4">
              <p class="muted">
                  Our mission was, and still is, to create and maintain a fully decentralized and highly efficient blockchain infrastructure, directly applicable and aimed at creating value for organizations.
              </p>
          </div>
          <div class="column is-4">
              <p class="muted">
                  LTO Network can be used by any company with a need for a production-ready blockchain that allows for digital verification of digital assets and enabling collaboration through the use of decentralized workflows.
              </p>
          </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutoff-top cutout-bottom-alt">
  <section class="section alt relative neg-m-top-m p-top-l" id="team">
    <div class="container z-index-4">
      <h2 class="has-text-centered section-title">Meet the team</h2>
        <h3 class="dark-indigo has-text-centered">Get to know the rock stars who only have one goal in mind: the global adoption of LTO Network.</h3>

        <div class="team-container has-text-centered">
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/rick.png">
          </div>
          <span class="name">Rick Schmitz</span>
          <span class="title">CEO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/rschmitz/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/mig.png">
          </div>
          <span class="name">Martijn Migchelsen</span>
          <span class="title">CFO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/migchelsen/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/arnold.png">
          </div>
          <span class="name">Arnold Daniels</span>
          <span class="title">Lead Architect</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/arnolddaniels/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/jasny" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/sven.png">
          </div>
          <span class="name">Sven Stam</span>
          <span class="title">CTO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/svenstam/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/sven4ask" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/ivan.png">
          </div>
          <span class="name">Ivan Golovko</span>
          <span class="title">CMO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/ivangolovko/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/martijn.png">
          </div>
          <span class="name">Martijn Broersma</span>
          <span class="title">COO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/martijnbroersma/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/moosh.png">
          </div>
          <span class="name">Moesjarraf Jahangier</span>
          <span class="title">SR Backend Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/moesjarraf/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/moesjarraf" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/yevhen.png">
          </div>
          <span class="name">Yevhen Horbachov</span>
          <span class="title">Lead Frontend Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/yevhen-horbachov-0b601756/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/KillaBee1985" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/sarf.png">
          </div>
          <span class="name">Sarfaraaz Jahangier</span>
          <span class="title">SR Full-stack Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/sarfaraaz-jahangier-442a38135/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/Sarfaraaz" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/mitchel.png">
          </div>
          <span class="name">Mitchel Kerckhaert</span>
          <span class="title">Developer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/mitchel-kerckhaert-b55400123/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/MitchelKerckhaert" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/jurre.png">
          </div>
          <span class="name">Jurre Wolsink</span>
          <span class="title">Developer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/jurre-wolsink-b12258a6/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/jurrew27" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/benjamin.png">
          </div>
          <span class="name">Benjamin Roeloffs Valk</span>
          <span class="title">Designer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/benjamin-roeloffs-valk-35ab70120/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/rick_ros.png">
          </div>
          <span class="name">Rick Ros</span>
          <span class="title">Head of Sales</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/rickros/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/michael.png">
          </div>
          <span class="name">Michael Nieveld</span>
          <span class="title">Legal &amp; Tax</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/michael-nieveld-7b52551a/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/maurits.png">
          </div>
          <span class="name">Maurits Wismeijer</span>
          <span class="title">Legal</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/maurits-wismeijer-268529174/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/lisa_kate.png">
          </div>
          <span class="name">Lisa Kate Palmer</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/lisa-kate-palmer-2732b681/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/mies.png">
          </div>
          <span class="name">Mies Rijperman</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/miesrijperman/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/isa.png">
          </div>
          <span class="name">Isa Branco</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/isa-branco-0866b757/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
  </section>
</div>

<div class="section-container cutout-bottom z-index-1">
<section class="section tertiary relative neg-m-top-m p-top-l p-bottom-xl" id="talents">
    <div class="container">
        <h2 class="has-text-centered section-title"> Timeline </h2>
        <div class="timeline is-centered">
  <header class="timeline-header">
    <span class="tag is-medium is-primary">Start</span>
  </header>
  <div class="timeline-item is-primary">
    <div class="timeline-marker is-primary"></div>
    <div class="timeline-content">
      <p class="heading">January 2016</p>
      <p>Timeline content - Can include any HTML element</p>
    </div>
  </div>
  <div class="timeline-item is-warning">
    <div class="timeline-marker is-warning is-image is-32x32">
      <img src="http://bulma.io/images/placeholders/32x32.png">
    </div>
    <div class="timeline-content">
      <p class="heading">February 2016</p>
      <p>Timeline content - Can include any HTML element</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary">2017</span>
  </header>
  <div class="timeline-item is-danger">
    <div class="timeline-marker is-danger is-icon">
      <i class="fa fa-flag"></i>
    </div>
    <div class="timeline-content">
      <p class="heading">March 2017</p>
      <p>Timeline content - Can include any HTML element</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-medium is-primary">End</span>
  </header>
</div>

    </div>
</section>
</div>

<div class="section-container cutout-top-alt cutout-bottom-alt z-index-1">
<section class="section alt relative neg-m-top-m p-top-l p-bottom-xxl" id="talents">
    <div class="container">
        <div class="columns is-centered has-text-centered has-margin-top-40">
            <div class="column is-3">
                <div class="icon-container"><img src="https://via.placeholder.com/150x150?text=LivIcon"></div>
                <h2 class="dark-indigo">Love what we do</h2>
                <p class="muted">Suspendisse sit amet arcu massa. Pellentesque habitant morbi tristique senectus</p>
            </div>
            <div class="column"></div>
            <div class="column is-3">
                <div class="icon-container"><img src="https://via.placeholder.com/150x150?text=LivIcon"></div>
                <h2 class="dark-indigo">Learn from the best</h2>
                <p class="muted">Suspendisse sit amet arcu massa. Pellentesque habitant morbi tristique senectus</p>
            </div>
            <div class="column"></div>
            <div class="column is-3">
                <div class="icon-container"><img src="https://via.placeholder.com/150x150?text=LivIcon"></div>
                <h2 class="dark-indigo">Great rewards</h2>
                <p class="muted">Suspendisse sit amet arcu massa. Pellentesque habitant morbi tristique senectus</p>
            </div>
        </div>
    </div>
</section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
