{% set title = 'LTO Network - About' %}
{% set description = 'Making blockchain integration easy in every organization' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium">
   <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-about.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-about.png">
    </picture>
    <div class="hero-body">
      <div class="container">
          <div class="columns is-vcentered">
              <div class="column">
        <h1 class="primary-text">About LTO Network</h1>
          <p class="dark-indigo jobs-talent quote">“The most devoted and tech savvy bunch of whizzkids I have ever met”</p>
          <p class="dark-indigo jobs-talent end-quote">- Sandor Klein (VP of Sysdig)</p>
              </div>
          <div class="column video is-centered">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/D1CDJEahhjY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
{% include "partials/promo-numbers.njk" %}
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom" id="mission">
  <section class="section">
    <div class="container">
        <h4 class="dark-indigo has-text-centered">MISSION STATEMENT</h4>
      <h2 class="has-text-centered section-title">Making blockchain integration easy in every organization</h2>
      <div class="columns is-centered">
          <div class="column is-4">
              <p class="muted">
                  The LTO Network team is on a mission create and maintain a fully decentralized and highly efficient blockchain infrastructure, directly applicable and aimed at creating value for organizations.
              </p>
          </div>
          <div class="column is-4">
              <p class="muted">
                  LTO Network can be used by any company with a need for a production-ready blockchain that allows for digital verification of digital assets and enabling collaboration through the use of decentralized workflows.
              </p>
          </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutoff-top cutout-bottom-alt">
  <section class="section alt relative neg-m-top-m p-top-l" id="team">
    <div class="container z-index-4">
      <h2 class="has-text-centered section-title">Meet the team</h2>
        <h3 class="dark-indigo has-text-centered">Get to know the rock stars who only have one goal in mind: the global adoption of LTO Network.</h3>

        <div class="team-container has-text-centered">
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/rick.webp">
            <img src="/assets/team/rick.png" class="lazy">
              </picture>
          </div>
          <span class="name">Rick Schmitz</span>
          <span class="title">CEO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/rschmitz/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/mig.webp">
            <img src="/assets/team/mig.png" class="lazy">
              </picture>
          </div>
          <span class="name">Martijn Migchelsen</span>
          <span class="title">CFO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/migchelsen/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/arnold.webp">
            <img src="/assets/team/arnold.png" class="lazy">
              </picture>
          </div>
          <span class="name">Arnold Daniels</span>
          <span class="title">Lead Architect</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/arnolddaniels/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/jasny" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/sven.webp">
            <img src="/assets/team/sven.png" class="lazy">
              </picture>
          </div>
          <span class="name">Sven Stam</span>
          <span class="title">CTO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/svenstam/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/sven4ask" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/martijn.webp">
            <img src="/assets/team/martijn.png" class="lazy">
              </picture>
          </div>
          <span class="name">Martijn Broersma</span>
          <span class="title">COO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/martijnbroersma/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/rick_ros.webp">
            <img src="/assets/team/rick_ros.png" class="lazy">
              </picture>
          </div>
          <span class="name">Rick Ros</span>
          <span class="title">Head of Sales</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/rickros/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/ivan.webp">
            <img src="/assets/team/ivan.png" class="lazy">
              </picture>
          </div>
          <span class="name">Ivan Golovko</span>
          <span class="title">CMO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/ivangolovko/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/moosh.webp">
            <img src="/assets/team/moosh.png" class="lazy">
              </picture>
          </div>
          <span class="name">Moesjarraf Jahangier</span>
          <span class="title">SR Backend Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/moesjarraf/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/moesjarraf" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/yevhen.webp">
            <img src="/assets/team/yevhen.png" class="lazy">
              </picture>
          </div>
          <span class="name">Yevhen Horbachov</span>
          <span class="title">Lead Frontend Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/yevhen-horbachov-0b601756/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/KillaBee1985" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/sarf.webp">
            <img src="/assets/team/sarf.png" class="lazy">
              </picture>
          </div>
          <span class="name">Sarfaraaz Jahangier</span>
          <span class="title">SR Full-stack Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/sarfaraaz-jahangier-442a38135/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/Sarfaraaz" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/mitchel.webp">
            <img src="/assets/team/mitchel.png" class="lazy">
              </picture>
          </div>
          <span class="name">Mitchel Kerckhaert</span>
          <span class="title">Developer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/mitchel-kerckhaert-b55400123/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/MitchelKerckhaert" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/jurre.webp">
            <img src="/assets/team/jurre.png" class="lazy">
              </picture>
          </div>
          <span class="name">Jurre Wolsink</span>
          <span class="title">Developer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/jurre-wolsink-b12258a6/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/jurrew27" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/benjamin.webp">
            <img src="/assets/team/benjamin.png" class="lazy">
              </picture>
          </div>
          <span class="name">Benjamin Roeloffs Valk</span>
          <span class="title">Designer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/benjamin-roeloffs-valk-35ab70120/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/michael.webp">
            <img src="/assets/team/michael.png" class="lazy">
              </picture>
          </div>
          <span class="name">Michael Nieveld</span>
          <span class="title">Legal &amp; Tax</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/michael-nieveld-7b52551a/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/maurits.webp">
            <img src="/assets/team/maurits.png" class="lazy">
              </picture>
          </div>
          <span class="name">Maurits Wismeijer</span>
          <span class="title">Legal</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/maurits-wismeijer-268529174/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/lisa_kate.webp">
            <img src="/assets/team/lisa_kate.png" class="lazy">
              </picture>
          </div>
          <span class="name">Lisa Kate Palmer</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/lisa-kate-palmer-2732b681/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/mies.webp">
            <img src="/assets/team/mies.png" class="lazy">
            </picture>
          </div>
          <span class="name">Mies Rijperman</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/miesrijperman/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
           <picture>
      <source type="image/webp" data-srcset="/assets/team/isa.webp">
            <img src="/assets/team/isa.png" class="lazy">
              </picture>
          </div>
          <span class="name">Isa Branco</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/isa-branco-0866b757/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
      </div>
  </section>
</div>

<div class="section-container cutout-bottom z-index-1">
<section class="section tertiary relative neg-m-top-m p-top-l p-bottom-xl" id="talents">
    <div class="container">
        <h2 class="has-text-centered section-title"> Timeline </h2>
        <div class="timeline is-centered">
        <header class="timeline-header">
    <span class="tag">2015</span>
  </header>
  <div class="timeline-item is-primary">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2015 - Q2</p>
      <p class="heading-alt muted">LegalThings v1.0</p>
        <p class="muted">The release of the first white label version of the LegalThings platform. This version introduced a document and form builder, a document management system, advanced user and permission management and digital signing.</p>
    </div>
  </div>
    <header class="timeline-header">
    <span class="tag">2016</span>
  </header>
  <div class="timeline-item is-primary">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2016 - Q1</p>
      <p class="heading-alt muted">LegalFlow v1.0</p>
        <p class="muted">We created software for FIRM24 to run the procedures for incorporations. Other customers were also interested in these digitized procedures. We did a small pivot, changing the focus to digitizing the contracts as FSM (Finite State Machine), rather than just signing.</p>
    </div>
  </div>
    <header class="timeline-header">
    <span class="tag">2017</span>
  </header>
  <div class="timeline-item is-primary">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2017 - Q3</p>
      <p class="heading-alt muted">Hackathon winner by the Dutch Ministry of Justice</p>
        <p class="muted">During the blockchain hackathon organized by the Dutch Ministry of Justice and Security, we demonstrated that a whole legal procedure can be digitized as an FSM and stored on the blockchain. This got us the 1st prize in the event which included the assignment to create the first digitized legal procedures for the Dutch legislative system on the blockchain.</p>
    </div>
  </div>
    <header class="timeline-header">
    <span class="tag">2018</span>
  </header>
  <div class="timeline-item is-primary">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2018- Q1</p>
      <p class="heading-alt muted">PoC for the Dutch Ministry of Justice</p>
        <p class="muted">We built a Proof of Concept of the new solution for the Ministry of Justice and Security, following up on the hackathon win of 2017.</p>
    </div>
  </div>
  <div class="timeline-item is-primary">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2018 - Q2</p>
      <p class="heading-alt muted">BlockChaingers 'best code' prize</p>
        <p class="muted">We attended the biggest hackathon together with the WAVES team and were awarded ‘the best code’ prize from BlockChaingers.</p>
    </div>
  </div>
  <div class="timeline-item is-primary">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2018 - Q2</p>
      <p class="heading-alt muted">PoC for Waste Transportation tender launch</p>
        <p class="muted">We launched the testnet solution with the Dutch and Belgian governments following up on the tender.</p>
    </div>
  </div>
    <header class="timeline-header">
    <span class="tag">2019</span>
  </header>
  <div class="timeline-item is-primary">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2019 - Q1</p>
      <p class="heading-alt muted">Mainnet launch and crowd sale</p>
        <p class="muted">We launched mainnet and closed the last round of token sale, raising 990,000 USD in the last round.</p>
    </div>
  </div>
  <div class="timeline-item is-primary">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2019 - Q3</p>
      <p class="heading-alt muted">Layer 1 Open-Source</p>
        <p class="muted">Open-source public chain code, modification of Waves/NXT.</p>
    </div>
  </div>
  <div class="timeline-item is-primary">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2019 - Q3</p>
      <p class="heading-alt muted">Layer 2 Open-Source</p>
      <p class="muted">Open-source the toolkit of Layer 2, unique FSM ad-hoc event chains.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag">UPCOMING</span>
  </header>
  <div class="timeline-item is-primary">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2019 - Q4</p>
      <p class="heading-alt muted">Marketplace Launch</p>
      <p class="muted">Launch LTO Marketplace dedicated to connecting blockchain business-focused applications for companies and developers to use.</p>
    </div>
  </div>
  <div class="timeline-item is-danger">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2019 - Q4</p>
      <p class="heading-alt muted">Proofi Release</p>
      <p class="muted">Release Proofi, new SaaS product focused on re-shaping the world of signatures. Aimed at B2B, B2C, C2C or M2M.</p>
    </div>
  </div>
  <div class="timeline-item is-danger">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p class="heading">2020 - Q1</p>
      <p class="heading-alt muted">LPOI Release</p>
      <p class="muted">Pass the final testing stage and release Leased Proof of Importance, LTO Network's variation on Proof of Stake.</p>
    </div>
  </div>
</div>

    </div>
</section>
</div>

<div class="section-container cutout-top-alt cutout-bottom-alt z-index-1">
<section class="section alt relative neg-m-top-m p-top-l p-bottom-xxl" id="talents">
    <div class="container">
        <h2 class="has-text-centered section-title">The LTO Mentality</h2>
        <div class="columns is-centered has-text-centered has-margin-top-40">
            <div class="column is-3">
                <div class="icon-container" style="margin: 0 auto; width: 76px;"><div class="livicon-evo" data-options="
          name: rocket;
          size: 80px;
          tryToSharpen: true;
          strokeColor: #804bc9"
          style="visibility: visible; width: 76px;"></div></div>
                <h2 class="dark-indigo">Community Love</h2>
                <p class="muted">We believe that a open-source mentality is the new way to a successful business. With our community behind us, we can grow faster than any other company.</p>
            </div>
            <div class="column"></div>
            <div class="column is-3">
                <div class="icon-container" style="margin: 0 auto; width: 76px;"><div class="livicon-evo" data-options="
          name: stopwatch;
          size: 80px;
          tryToSharpen: true;
          strokeColor: #804bc9"
          style="visibility: visible; width: 76px;"></div></div>
                <h2 class="dark-indigo">Get things done</h2>
                <p class="muted">We are determined to reach our goals and work towards them with extreme attention to detail. Working smart is not that hard.</p>
            </div>
            <div class="column"></div>
            <div class="column is-3">
                <div class="icon-container" style="margin: 0 auto; width: 76px;"><div class="livicon-evo" data-options="
          name: wine-glass;
          size: 80px;
          tryToSharpen: true;
          strokeColor: #804bc9"
               style="visibility: visible; width: 76px;"></div></div>
                <h2 class="dark-indigo">Great rewards</h2>
                <p class="muted">Working should be fun too. Try to beat us at a game of football or have a good glass of wine with us on a Friday afternoon.</p>
            </div>
        </div>
    </div>
</section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
