{% set title = 'Use Cases 1.2' %}
{% set description = 'Use Cases 1.2' %}

{% extends "base.njk" %}



{% block content %}

<section class="background-hero use-case-detail hero section">
  <div class="use-case-detail-hero hero-body">
    <div class="container">
      <div class="supply-chain">
        <p class="supply-chain bluey-grey"> SUPPLY CHAIN </p>
      </div>

      <h1 class="main-title">System integrator / ISV<br> Use Case</h1>
    </div>
  </div>

  <div class="involved-parties-div">
    <div class="involved-parties left-div">
      <p class="dark-indigo client involved-parties-title">Client</p>
      <img class="involved-parties logo" src="/assets/ilt.svg">
    </div>

    <div class="involved-parties-line">

    </div>

    <div class="involved-parties right-div">
      <p class="dark-indigo involved-parties involved-parties-title">Involved parties</p>
      <p class="steel involved-parties text">Stakeholders in the waste management value chain in Europe</p>
    </div>

  </div>
</section>

{% include "partials/business-challenges.njk" %}

{% include "partials/solution-overview.njk" %}

{% include "partials/advantages.njk" %}

{% include "partials/business-case.njk" %}

{% include "partials/download-case-study.njk" %}

{% include "partials/more-info.njk" %}

{% endblock %}
