{% set title = 'LTO Labs (coming soon) 1.4.2' %}
{% set description = 'LTO Labs (coming soon) 1.4.2' %}

{% extends "base.njk" %}


{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/slider-image-marketplace.svg')">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="primary-text">LTO Labs</h1>
            <p>LTO Network is a community of talented blockchain developers, businessmen, marketeers - everyone committed to expanding the ecosystem and making blockchain adoption possible.</p>
            <p>To amplify this LTO Network is joining forces with Venture Capital funds supporting new projects that are on the same mission.</p>
            <p>Interested in joining LTO Labs? Register to be posted on where and when we kick off.</p>
            <div class="btn-container">
              <a href="#" class="button is-warning"><p class="dark-indigo">Keep me updated</p></a>
            </div>
          </div>
          <div class="column lto-labs image">
            <img src="/assets/hero-labs-placeholder.png">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers">
      <div class="container">
        <div class="item">
          <img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">
          <p class="promo-desc">Easy deployment</p>
        </div>
        <div class="item">
          <img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">
          <p class="promo-desc">100+ Pre-integrations</p>
        </div>
        <div class="item">
          <img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">
          <p class="promo-desc">Open source</p>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
