{% set title = 'LTO Labs (coming soon) 1.4.2' %}
{% set description = 'LTO Labs (coming soon) 1.4.2' %}

{% extends "base.njk" %}


{% block content %}

<section class="background-hero lto-labs hero section alt">
  <div class="join-lto-labs-hero hero-body">
    <div class="container">

      <div class="lto-labs coming-soon">
        <p class="bluey-grey">COMING SOON</p>
      </div>

      <h1 class="dark-indigo main-title">LTO Labs </h1>
      <div class="steel lto-labs main-text">
        <p>LTO Network is a community of talented blockchain developers, businessmen, marketeers - everyone committed to expanding the ecosystem and making blockchain adoption possible. To amplify this LTO Network is joining forces with Venture Capital funds supporting new projects that are on the same mission.
        <br> <br>
        Interested in joining LTO Labs? Register to be posted on where and when we kick off. <br> <br>
        </p>
      </div>

      <a href="#" class="main-button button is-warning is-rounded is-medium lto-labs dark-indigo"> <p class="dark-indigo">Notify me when ready</p></a>
    </div>
  </div>
</section>

<div class="promo-numbers-div">
  <div class="promo-numbers-container container">
    <div class="promo-numbers-level level">
      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo"><img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg"> Easy deployment</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo"><img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg"> 100+ Pre-integrations</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo"><img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">Open source</p>
        </div>
      </div>

    </div>
  </div>
</div>




{% endblock %}
