{% set title = 'LTO Network - Use case - ILT' %}
{% set description = 'International waste transportation & permit issuance' %}
{% set currentUrl = '/sitemap/' %}
{% set locale = 'cn' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
    <section class="hero is-medium">
       <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-ilt.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-ilt.png" alt="Streamlining international waste transportations">
    </picture>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-two-thirds">
                        <div class=""><span class="tag is-rounded is-medium blue-grey"> 用例 </span></div>
                        <h1 class="primary-text">简化国际废物运输</h1>
                        <h2 class="dark-indigo">荷兰环境与运输协会如何通过与竞争对手和政府共享数据和业务逻辑来节省700万欧元。</h2>
                    </div>
                    <div class="column video">
                        <iframe class="card" width="560" height="315" src="https://www.youtube.com/embed/Gz1FR5Fro40" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-top">
    <section class="section secondary no-padding">
        <div class="promo-numbers c use-cases">
            <div class="container use-cases">
                <div class="item use-cases">
                    <img class="promo-client lazy" data-src="/assets/use-cases/ilt.svg" alt="ILT">
                </div>
                <div class="item use-cases">
                    <p class="promo-head use-cases">参与方</p>
                    <p class="promo-desc use-cases muted">欧洲废物管理价值链中的利益相关者。</p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">商业挑战</h2>
            <div class="columns">
                <div class="column card">
                   <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="dark-indigo">众多利益相关者</h3>
                        <div class="card-description">
                            <p class="muted">当前，多个不同的政府机构监督并授权整个欧盟范围内公司废物的出口，进口和运输。</p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                     <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-b lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="dark-indigo">欧盟法规</h3>
                        <div class="card-description">
                            <p class="muted">欧盟对这些流程的各个方面进行监督，例如授予许可证，通知废物运输相关方以及安排随机抽样检查。</p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                   <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="dark-indigo">人工处理</h3>
                        <div class="card-description">
                            <p class="muted">该过程中的步骤的执行以多种语言在纸质表格上进行。 甚至传真机仍被用来更新比利时的国立废物治理公司（OVAM）。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container">
    <section class="section secondary">
        <div class="container">
            <h2 class="has-text-centered section-title">解决方案概述</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">自动许可证检查</h3>
                    <p class="muted">通过在系统中实施LTO网络以签发和验证许可证，可以自动批准运输请求。 如果是跨境运输，则直接与废物处理者和主管部门共享数据。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/check-alt-purple.svg" alt="LTO Network - Automated permit check"> 
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/diagram-purple.svg" alt="LTO Network - Data re-use<">
                </div>
                <div class="column is-1"></div>
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">数据再用</h3>
                    <p class="muted">如果进行随机检查，运输公司可以使用智能手机向当局显示运输文件。 检查机构可以直接从LTO区块链获取数据。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">系统链接</h3>
                    <p class="muted">通过将纸上已存在的协议数字化为“实时合同”，各方可以将其现有系统连接到LTO，以进行实时通信，共享数据和通知。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/link-purple.svg" alt="LTO Network - Connecting systems">
                </div>
            </div>
            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/cn/contact/" class="button is-primary">预约样版</a>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-top-alt cutout-bottom-alt">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">使用LTO的优势</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - Reduction of manual process handling">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">减少人工处理</h3>
                    <p class="muted">诸如通过信件，传真或电子邮件接收到的将数据手动输入系统的管理任务方式已然属于过去。 现在，使用LTO的区块链技术，各方都可以收集结构化数据。 现在，他们受益于数据重复使用和自动状态更新，从而将手动处理减少了30％以上。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Cost savings">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">节约成本</h3>
                    <p class="muted">使用LT进行协作的各方可以继续使用其系统来参与该过程，同时受益于数据的重用，自动检查和验证以及实时状态更新。 通过启用LTO Network，您最多可以将管理开销减少50％。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Build-in compliance with the privacy- and GDPR laws">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">您是想进一步了解技术和文档的开发人员吗？Sven与您中文交流！</h3>
                    <p class="muted">GDPR使其难以使用区块链等新技术。 借助LTO Network，我们有内置的设计隐私权。 涉及的各方都“签署”交易，无论是工作流程中的步骤还是新文档的上载。 “有效合同”的结构使得它可以在执行特定步骤后自动删除数据，或者如果该过程较旧，例如24个月。</p>
                </div>
            </div>

            <div class="table-container is-centered has-margin-top-40">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class="table_header dark-indigo">主题</div>
                        <div class="table_header dark-indigo">LTO解决方案</div>
                        <div class="table_header dark-indigo">传统解决方案</div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">自动化</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>使用LTO网络在多利益相关方流程上进行协作可得益于数据重用，实时状态更新和通知。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>在多方之间运行的流程上的协作很难自动进行，因为通过电子邮件，电话和信件进行的通信会产生非结构化数据。</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">资料共享</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>使用LTO的区块链技术，组织可以按照GDPR兼容的方式共享数据，并且数据是不可更改的，并且可以由提交数据的一方签名来信任。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>依靠对手方管理的系统无法提供公平竞争的环境。 各方不希望共享超出完成该过程严格要求的更多数据。</p>
                            </div>
                        </div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">现有系统</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>通过轻松地将现有应用程序的API连接到LTO网络节点，您和所有其他利益相关者都可以参与工作流程，同时保持现有IT的位置。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>传统的区块链针对现有（传统）系统的解决方案需要进行大规模且昂贵的IT大修。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-container has-text-centered">
                <a href="/cn/contact/" class="button is-primary">
                    预约样版
                </a>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-bottom-alt">
    <section class="section p-top-xl p-bottom-xl alt">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div class="card">
                        <div class="columns">
                            <div class="column is-3 card-testimonial-img">
                               <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/ilt_testimonial@2x.webp">
                                <img class="lazy" data-src="/assets/use-cases/ilt_testimonial@2x.png">
                                </picture>
                            </div>
                            <div class="column">
                                <div class="content card-testimonial-content">
                                    <p class="">借助LTO，我们降低了巨额管理费用来管理与国际废物运输相关的许可证和流程。 最终，纸质文件将不复存在。 利益相关者无需依靠我们就可以自行验证和验证流程和数据。</p>
                                    <div class="author">Ben Zwartveld</div>
                                    <div class="company">ILT企业架构师</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
