{% set title = 'LTO Network - Community' %}
{% set description = 'Every stakeholder benefits from collective value creation through development of Ecosystem V' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
    <section class="hero is-medium">
       <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-community-mob.webp">
        <img class="bgVideo is-hidden-desktop" src="/assets/hero/hero-community-mob.png">
        </picture>
        <video class="bgVideo is-hidden-mobile" autoplay muted loop poster="/assets/hero/hero-community.png">
            <source src="/assets/media/hero-community.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>

        <div class="section-container cutout-top">
  <section class="section secondary no-padding">
{% include "partials/promo-numbers.njk" %}
  </section>
</div>
    </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom extra-margin">
    <section class="section" id="ecosystem">
        <div class="container">
            <h2 class="has-text-centered section-title">We have an awesome community!</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="column is-two-thirds">
                   <picture>
      <source type="image/webp" data-srcset="/assets/community/community-platform.webp">
                    <img src="/assets/community/community-platform.png" class="lazy">
                    </picture>
                </div>
                <div class="column">
                    <h2 class="dark-indigo">Community Platform</h2>
                    <div class="content">
                        <p class="muted">The LTO community is the governing authority of the community platform - not the core team. The goal is to reward and incentivize the community by adding value and have other members judge these efforts through upvoting useful input and downvoting malicious behavior.</p>
                    </div>
                    <div class="btn container">
                        <a href="https://blog.lto.network/distributed-workforce-community-dao-level-up/" target="blank">
                            <p class="read-more deep-lavender"><br>Read more →</p>
                        </a>
                    </div>
                </div>
            </div>
            <h2 class="section-title has-text-centered">What do our members say?</h2>

            <div class="columns is-centered">

                <div class="column membercard card">
                    <div class="columns is-vcentered">
                        <div class="column is-centered">
                            <div class="member-image">
                               <picture>
      <source type="image/webp" data-srcset="/assets/community/cryptocapitalist.webp">
                                <img src="/assets/community/cryptocapitalist.png" class="lazy" alt="LTO Community Member">
                                </picture>
                            </div>
                        </div>

                        <div class="column is-two-thirds">
                            <h4 class="column-title dark-indigo">@Cryptocapitalist</h4>
                            <p class="muted">“It's hard to see startups, where hard work, knowledge, and community merge that well. LTO is the revolution of decentralized management of workflow and data.”</p>
                            <a href="https://twitter.com/cryptoengine_" target="blank" class="resources read-more deep-lavender">See Twitter profile →</a>
                        </div>
                    </div>
                </div>

                <div class="column membercard card">

                    <div class="columns is-vcentered">
                        <div class="column is-centered">
                            <div class="member-image">
                               <picture>
      <source type="image/webp" data-srcset="/assets/community/n0rthstar.webp">
                                <img src="/assets/community/n0rthstar.png" class="lazy" alt="LTO Community Member">
                                </picture>
                            </div>
                        </div>

                        <div class="column is-two-thirds">
                            <h4 class="column-title dark-indigo">@N0rthstar</h4>
                            <p class="muted">"LTO Network's adoption strategy is refreshing and exciting to see in the world of blockchain. A beast in the making that provides true value for all parties involved."</p>
                            <a href="https://twitter.com/AJNorfield" target="blank" class="resources read-more deep-lavender">See Twitter profile →</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="columns">

                <div class="column membercard card">
                    <div class="columns is-vcentered">
                        <div class="column is-centered">
                            <div class="member-image">
                               <picture>
      <source type="image/webp" data-srcset="/assets/community/cryptoleee.webp">
                                <img src="/assets/community/cryptoleee.png" class="lazy" alt="LTO Community Member">
                                </picture>
                            </div>
                        </div>

                        <div class="column is-two-thirds">
                            <h4 class="column-title dark-indigo">@Cryptoleee</h4>
                            <p class="muted">"LTO Network is one of the most hard working blockchain start ups I've seen. And keeping the community in loop of it all. Really impressed!"</p>
                            <a href="https://twitter.com/CryptoLeee" target="blank" class="resources read-more deep-lavender">See Twitter profile →</a>
                        </div>
                    </div>
                </div>

                <div class="column membercard card">

                    <div class="columns is-vcentered">
                        <div class="column is-centered">
                            <div class="member-image">
                               <picture>
      <source type="image/webp" data-srcset="/assets/community/stefan0000.webp">
                                <img src="/assets/community/stefan0000.png" class="lazy" alt="LTO Community Member">
                                </picture>
                            </div>
                        </div>

                        <div class="column is-two-thirds">
                            <h4 class="column-title dark-indigo">@Stefan0000</h4>
                            <p class="muted">“I love how the LTO Community stimulates engagement and contributions by rewarding individual members by providing recognition, affiliation, rewarding achievements and of course compensation. An amazing way to keep members deeply involved.”</p>
                            <a href="https://twitter.com/stefanvoirschot" target="blank" class="resources read-more deep-lavender">See Twitter profile →</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>

<!--
<div class="section-container cutout-bottom-alt">
    <section class="section alt p-top-l neg-m-top-m">
        <div class="section-body">
            <div class="container">
                <div class="columns is-mobile is-centered">
                    <div class="column has-text-centered">
                        <h2 class="section-title deep-lavender">Token metrics</h2>
                        <h3 class="dark-indigo">Metrics from Coinmarketcap.com</h3>
                        <div class="promo-numbers c">
                            <div class="container">
                                <div class="item">
                                    <p class="promo-head accent-text">$</p>
                                    <p class="promo-desc">market capitalization</p>
                                </div>
                                <div class="item">
                                    <p class="promo-head accent-text">$</p>
                                    <p class="promo-desc">volume (24h)</p>
                                </div>
                                <div class="item">
                                    <p class="promo-head accent-text">$</p>
                                    <p class="promo-desc">token price</p>
                                </div>
                                <div class="item">
                                    <p class="promo-head accent-text">#</p>
                                    <p class="promo-desc">holders</p>
                                </div>
                                <div class="item">
                                    <p class="promo-head accent-text"># LTO</p>
                                    <p class="promo-desc">staked tokens</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
-->

<div class="section-container">
    <section class="section relative tertiary p-top-l neg-m-top-m">
        <div class="container">
            <h2 class="deep-lavender has-text-centered">Official markets</h2>

            <div class="columns is-centered has-text-centered">

                <div class="column is-3">
                    <div class="column-img">
                        <a href="https://bitmax.io/#/trade/usdt/lto" target="blank">
                           <picture>
      <source type="image/webp" data-srcset="/assets/markets/bitmax@2x.webp">
                            <img src="/assets/markets/bitmax@2x.png">
                            </picture>
                        </a>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="column-img">
                        <a href="https://www.binance.org/en/trade/LTO-BDF_BNB" target="blank">
                           <picture>
      <source type="image/webp" data-srcset="/assets/markets/binance-dex@2x.webp">
                            <img src="/assets/markets/binance-dex@2x.png">
                            </picture>
                        </a>
                    </div>
                </div>

            </div>

<!--
            <div class="btn-container has-text-centered">
                <a src="#" class="button is-primary">
                    How to buy LTO?
                </a>
            </div>
-->

        </div>
    </section>
</div>

<div class="section-container cutout-top-alt cutout-bottom-alt">
    <section class="section p-top-xl p-bottom-xl alt">
        <div class="section-body">
            <div class="container">
                <h2 class="section-title has-text-centered">Resources</h2>
                <h3 class="dark-indigo has-text-centered">Everything you need to know</h3>
                <div class="columns resources is-centered main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: compass;
              size: 85px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Mainnet Explorer</h4>
                                <p class="resources column-description steel">Check blocks, transactions, and wallet balances with the official LTO Network mainnet explorer.</p>
                                <a href="https://explorer.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: coins;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Online Wallet</h4>
                                <p class="resources column-description steel">Access mainnet and bridge swaps: we do not save your keys, so make sure to secure your seed phrase.</p>
                                <a href="https://wallet.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="columns resources is-centered main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: globe;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Network Statistics</h4>
                                <p class="resources column-description steel">Compare transactions activity, see the list of nodes and verify generators.</p>
                                <a href="https://www.lto.tools" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: wrench;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Earn LTO</h4>
                                <p class="resources column-description steel">Submit your work and get rewarded. You can also check the activity of other community members.</p>
                                <a href="https://community.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="columns resources is-centered main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: servers;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Token Bridge</h4>
                                <p class="resources column-description steel">LTO token exists on 3 blockchains, and you need to use the wallet bridge if you want to swap.</p>
                                <a href="https://info.ltonetwork.com/company-area/token" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: servers;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Run a Node</h4>
                                <p class="resources column-description steel">You can run a node on your local machine, in a cloud, or simply lease your tokens. Check the full guide.</p>
                                <a href="https://docs.ltonetwork.com/public-node/installation-guide" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="columns resources is-centered main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: calculator;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Staking Calculator</h4>
                                <p class="resources column-description steel">By staking or leasing LTO, you can help secure the network and share the non-inflationary reward fees.</p>
                                <a href="https://ltonode.com/roi-calculator/" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: notebook;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Whitepapers</h4>
                                <p class="resources column-description steel">Read three main papers about our vision for blockchain adoption, LTO token economics, and technical overview.</p>
                                <a href="https://blog.lto.network/lto-network-sources/" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/bottom-nav.njk" %}
    </section>
</div>


{% endblock %}
