{% set title = 'Community 1.6' %}
{% set description = 'Community 1.6' %}

{% extends "base.njk" %}



{% block content %}

{% include "partials/hero-community.njk" %}

<section class="community section is-medium">
  <div class="products container">

    <h2 class="products section-title deep-lavender">Distributed workforce</h2>
    <h6 class="small-subtitle dark-indigo products">Lorem ipsum</h6>


    <div class="columns products">
      <div class="column products">
        <div class="products-column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Product #1</h3>
            </div>

            <div class="products-short-text steel">
              <p>Many stakeholders: On commercial lease agreements, many parties are involved, such as maintenance, tenants, landlords, assets managers, asset owners, etc.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Product #2</h3>
            </div>

            <div class="products-short-text steel">
              <p>Many stakeholders: On commercial lease agreements, many parties are involved, such as maintenance, tenants, landlords, assets managers, asset owners, etc.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Product #3</h3>
            </div>

            <div class="products-short-text steel">
              <p>Many stakeholders: On commercial lease agreements, many parties are involved, such as maintenance, tenants, landlords, assets managers, asset owners, etc.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>
    </div>

    <div class="community columns">
      <div class="community column image is-three-fifths  ">
        <img src="https://via.placeholder.com/659x353">
      </div>
      <div class="community column text">
        <h3 class="dark-indigo community-column-title">Community Platform</h3>
        <p class="steel community-column-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in mauris quis libero interdum efficitur ac aliquam turpis. Sed in mauris quis libero interdum efficitur ac aliquam turpis. </p>
        <p class="community-read-more deep-lavender">Read more →</p>
      </div>
    </div>
  </div>


</section>

{% include "partials/token-metrics.njk" %}

{% include "partials/three-areas.njk" %}

{% endblock %}
