<!doctype html>
<html lang="en">

{% set title = title %}
{% set description = description %}
{% set canonical = canonical %}
{% set ogTitle = ogTitle %}
{% set ogDescription = ogDescription %}
{% set ogUrl = ogUrl %}

<head>
  <meta name="robots" content="noindex">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">

  <title>{{ title }}</title>
  <link rel="canonical" href="/" />
  <link rel="icon" href="/assets/favicon.png" sizes="32x32"/>
  <meta name="description" content="Next Web Starter"/>
  <meta property="og:locale" content="nl_NL" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ ogTitle }}" />
  <meta property="og:description" content="{{ ogDescription }}" />
  <meta property="og:url" content="/" />
  <meta property="og:site_name" content="NextWebStarter" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{{ ogDescription }}" />
  <meta name="twitter:title" content="{{ title }}" />

  <link rel="stylesheet" href="/css/main.css">
</head>


<body>
  {% include "partials/navigation.njk" %}

  {% block content %}{% endblock %}


  {% include "partials/footer.njk" %}

  <script>window.lazyLoadOptions = { elements_selector: ".lazy" };</script>
  <script async src="/js/vendor.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
