{% set title = 'LTO Network - Use case - Firm24' %}
{% set description = 'The one-stop-shop for entrepreneurs' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-uc-firm24.png');">
    <div class="hero-body">
      <div class="container">
          <div class=""><span class="tag is-rounded is-medium blue-grey"> INTEGRATOR </span></div>
        <h1 class="primary-text">Online notary platform</h1>
          <h2 class="dark-indigo">Data sharing between stakeholder involved on incorporation processes</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
            <img class="promo-client" src="/assets/use-cases/firm24@2x.png">
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">The notary - Chamber of Commerce and company founders</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
      <h2 class="has-text-centered section-title">Business challenges</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Data importance</h3>
            <div class="card-description">
              <p>Environmental data is an important source of information for social domains such as policy, legislation, taxation and investments. After all, the data is used to identify trends, to uncover connections and to demonstrate patterns.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Data vulnerability</h3>
            <div class="card-description">
              <p>The important role of the data from these types of measurements makes them vulnerable to influence by parties with an interest in the developments within such a social domain.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Digitization</h3>
            <div class="card-description">
              <p>Digitisation is key to drive the sustainability transformation forward. Data insights, combined and mined creatively, help us better understand our true impact, identify the most effective levers for change, and are also key to enabling circular solutions at scale.</p>
            </div>
          </div>
        </div>
      </div>
        </div>
    </section>
</div>

<div class="section-container">
  <section class="section secondary">
    <div class="container">
<h2 class="has-text-centered section-title">Integrator overview</h2>
      <div class="columns is-centered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">The problem</h3>
          <p class="muted">During an incorporation processes the same data is used by 4 different organizations. From a GDPR- and compliance perspective they are unable to share the same database. Furthermore, notary documentation is prone to fraud and falsification.  </p>
        </div>
        <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
            <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
            </div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Solution</h3>
          <p class="muted">The platform of FIRM24 is connected to the workflow engine of LTO Network to share the data between the various stakeholders. To prevent falsifications, backdating and counter-fitting all the versions of the incorporation documentation between notaries and clients are timestamped with our blockchain technology.</p>
        </div>
      </div>
        <div class="btn-container has-text-centered has-margin-top-40">
        <a src="#" class="button is-primary">Book a demo</a>
        </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Lorem ipsum</h3>
          <p class="muted">LTO Network is a fully decentralized and highly efficient blockchain infrastructure that is easy to integrate in existing systems that brings efficiency and is production-ready. Blockchain ensures data integrity and immutability following from the devices.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Lorem ipsum</h3>
          <p class="muted">Where LTO Network focuses on the underlying data security structures, V-ID is a practical platform, intended for direct application in daily work processes. Both companies, however, have the main objective of facilitating the widest possible application of blockchain techniques with the lowest possible threshold for adoption of this technology.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Lorem ipsum</h3>
          <p class="muted">By creating the “internet of environment” (IoE) for rental properties, LTO Network and partners aim to support a letting agency to provide better services to their tenants and to make better, more sustainable decisions in managing their properties.</p>
        </div>
      </div>

    <div class="columns is-centered has-margin-top-40">
        <div class="column">
<table class="table advantages">
<thead>
        <tr>
          <th class="table-icon"></td>
          <th class="dark-indigo" colspan="2">Theme</th>
          <th class="dark-indigo" colspan="2">LTO Network solution</th>
          <th class="dark-indigo" colspan="2">Traditional solution</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Audit trail</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">By anchoring all the version of the incorporation documentation an immutible audit trail is created where all parties can rely on. </td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Creating an independent audit trail is costly and involves bureaucracy. PDF's are still pretty easy to hack and thus modify.</td>
        </tr>

        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Document authenticity</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Through opensource validation tooling, third parties can independently check the authenticity of the incorporation documents.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Verifying the authenticity of a incorporation documents is time-consuming affair and works different in every country. </td>
        </tr>


        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Costs / Speed of anchoring</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">LTO’s blockchain is optimized for anchoring, making transactions near-instant and affordable.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Traditional blockchains tend to be very slow and expensive to anchor this many transactions.</td>
        </tr>

        <tr>
        </tr>
      </tbody>

    </table>
</div>
</div>


    <div class="btn-container has-text-centered has-margin-top-40">
    <a href="https://www.firm24.com/blog/contracten/ondertekenen-via-blockchain/" class="button is-primary" target="blank">
      Learn more
    </a>
</div>
  </div>
</section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l">
<div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered">
                <img src="/assets/use-cases/integrator_portal.png">
        </div>
    </div>
    <div class="btn-container has-text-centered">
    <a href="#" target="blank" class="button is-primary">Request a demo</a>
  </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m ecosystem-v">
      <div class="section-body">
        <div class="ecosystem-v"></div>
        <div class="columns is-desktop">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>Our platform relies on trust and creating a level playing field between company founders, directors and employees. To guarantee the authenticity of the documents being created on the Firm24 platform we rely on the blockchain technique of LTO Network. The integration was done in 2 days and and haven’t been required to spend any time on maintaining the integration.

                <div class="author">Coen van Eibergen Santhagens, COO Firm24</div>
            </blockquote>
        </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
