<section class="advantages-section is-medium section">
  <div class="edge-triangle">
    <img class="edge-triangle" src="">
  </div>

  <div class="advantages-div">
    <div class="advantages-title-container container">
      <h2 class="deep-lavender section-title title">
        Advantages using LTO Network
      </h2>
    </div>

    <div class="advantages-content-container">

      <div class="columns advantages">
        <div class="column advantages image left-side">
          <img src="/assets/rock-tree.png" srcset="/assets/rock-tree@2x.png 2x, assets/rock-tree@3x.png 3x" class="rock-tree">
          <img id="advantages-small-rock-1" src="/assets/small-rock-1.svg">
          <img id="advantages-small-rock-2" src="/assets/small-rock-2.svg">
        </div>
        <div class="column advantages is-two-thirds right-side">
          <div class="advantages-text-container right-side">
            <h3 class="title dark-indigo advantages">Reduction of manual process handling</h3>
            <p class="advantages-text steel">Before using LTO Network, these processes we’re extremely cumbersome and provided a lot of unstructured data, even through using ancient fax machines. LTO Networks’ distributed business logic allows for all government bodies.</p>
          </div>
        </div>
      </div>

      <div class="columns advantages">
        <div class="column advantages image left-side">
          <img src="/assets/rock-rocket.png" srcset="/assets/rock-rocket@2x.png 2x, assets/rock-rocket@3x.png 3x" class="rock-rocket">
          <img id="advantages-small-rock-3" src="/assets/small-rock-3.svg">
          <img id="advantages-small-rock-4" src="/assets/small-rock-4.svg">
        </div>
        <div class="column advantages is-two-thirds right-side">
          <div class="advantages-text-container right-side">
            <h3 class="title dark-indigo advantages">30% efficiency increase</h3>
            <p class="advantages-text steel">Before using LTO Network, these processes we’re extremely cumbersome and provided a lot of unstructured data, even through using ancient fax machines. LTO Networks’ distributed business logic allows for all government bodies.</p>
          </div>
        </div>
      </div>

      <div class="columns advantages">
        <div class="column advantages image left-side">
          <img src="/assets/rock-thumbs-up.png" srcset="/assets/rock-thumbs-up@2x.png 2x, assets/rock-thumbs-up@3x.png 3x" class="rock-thumbs-up">
          <img id="advantages-small-rock-5" src="/assets/small-rock-5.svg">
        </div>
        <div class="column advantages is-two-thirds right-side">
          <div class="advantages-text-container right-side">
            <h3 class="title dark-indigo advantages">Build-in compliance with the privacy- and GDPR laws</h3>
            <p class="advantages-text steel">Before using LTO Network, these processes we’re extremely cumbersome and provided a lot of unstructured data, even through using ancient fax machines. LTO Networks’ distributed business logic allows for all government bodies.</p>
          </div>
        </div>
      </div>


    </div>

    <div class="button is-primary is-rounded main-button book-demo">
      Book a demo
    </div>
  </div>
</section>
