    <div class="container">
      <div class="columns">
        <div class="column card">
          <img class="card-rock-image" src="/assets/cards/rick-ros.png" srcset="/assets/cards/rick-ros@3x.png 3x, /assets/cards/rick-ros@2x.png 2x">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Software Vendors</h3>
            <div class="card-description has-text-centered">
              <p>Do you want to know more about our products, pricing and reseller options? Rick is here to help you out!</p>
            </div>
            <div class="card-action centered">
                <div class="btn-container">
              <a href="/contact/?department=software-vendors" class="button is-primary">
                Contact Rick
              </a>
                </div>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/cards/martijn-broersma.png" srcset="/assets/cards/martijn-broersma@3x.png 3x, /assets/cards/martijn-broersma@2x.png 2x">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Business</h3>
            <div class="card-description has-text-centered">
              <p>Curious to learn how LTO Network can increase your process efficiency? Martijn is here to help you out!</p>
            </div>
            <div class="card-action centered">
                <div class="btn-container">
              <a href="/contact/?department=business" class="button is-primary">
                Contact Martijn
              </a>
                </div>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/cards/sven-stam.png" srcset="/assets/cards/sven-stam@3x.png 3x, /assets/cards/sven-stam@2x.png 2x">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Developer</h3>
            <div class="card-description has-text-centered">
              <p>Are you a developers that wants to learn more about the tech and documentation? Sven speaks your language!</p>
            </div>
            <div class="card-action centered">
                <div class="btn-container">
              <a href="/contact/?department=developer" class="button is-primary">
                Contact Sven
              </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>