<section class="business-case-section is-medium section alt">
  <div class="business-case-div">
    <div class="business-case-title-container container has-text-centered">
      <h2 class="deep-lavender section-title title">
        Business case
      </h2>
      <h3 class="small-subtitle dark-indigo">
        The pilot brings value by streamlining transportations in multiple jurisdictions
      </h3>
    </div>

    <div class="business-case-content-container">
      <div class="business-case-block-title">
        <h4 class="business-case-block-title deep-lavender"> EU-pilot for 500.000 waste transports  between the Netherlands and Belgium</h4>
      </div>
      <div class="business-case-block-text">

        <div class="columns business-case">
          <div class="column business-case left-side is-11">
            <p class="business-case-block-text steel"> <strong class="soft-green">Sustainable:</strong> Eliminated unnecessary paperwork in the document-heavy process <br><br></p>
            <p class="business-case-block-text steel">
              Internal costs for Ministry of ILT per waste transportation without LTO: <br><br>
            </p>
            <p class="business-case-block-text steel">
              Internal costs for Ministry of ILT per waste transportation with LTO:<br><br>
            </p>
            <p class="business-case-block-text steel">
              Cost savings (20%!):<br><br>
            </p>
          </div>
          <div class="column business-case right-side">
            <p><br><br></p>
            <p class="business-case-block-text steel">
              €68,-<br><br>
            </p>
            <p class="business-case-block-text steel">
              €14,-<br><br>
            </p>
            <p class="business-case-block-text steel">
              €57,-<br><br>
            </p>
          </div>
        </div>
      </div>
      <div class="columns business-case dark-indigo">
        <div class="column business-case left-side is-10">
          <p class="business-case-block-text has-text-weight-bold">Total cost savings based on 500.000 waste transports:</p>
        </div>
        <div class="column business-case right-side">
          <p class="business-case-block-text has-text-weight-bold">€7.000.000,-</p>
        </div>
      </div>
    </div>

    </div>
</section>
