<section class="business-challenges-section is-medium section">

  <div class="business-challenges">
    <div class="business-challenges-title-container container">
      <h2 class="has-text-centered deep-lavender section-title title">
        Business challenges
      </h2>
    </div>

    <div class="business-challenges-content-container">

      <div class="business-challenges-columns columns">

        <div class="business-challenges-column column">

          <div class="business-challenges-image left">
            <img class="business-challenges-image" src="/assets/polygons - 1.png">
          </div>

          <div class="business-challenges-block-content">

            <div class="business-challenges-block-title">
              <h3 class="dark-indigo">Numerous stakeholders</h3>
            </div>

            <div class="business-challenges-short-text steel">
              <p>At the moment, multiple different government bodies supervise and authorize the export, import and transportation of company waste throughout the European Union. </p>
            </div>

          </div>

        </div>

        <div class="business-challenges-column column">

          <div class="business-challenges-image middle">
            <img class="business-challenges-image" src="/assets/polygons - 1.png">
          </div>

          <div class="business-challenges-block-content">
            <div class="business-challenges-block-title">
              <h3 class="dark-indigo">Existing systems</h3>
            </div>

            <div class="steel business-challenges-short-text">
              <p>The EU supervises various aspects of these processes such as granting permits, notifying involved parties of waste transports and monitoring financial security in existing systems. </p>
            </div>

          </div>

        </div>

        <div class="business-challenges-column column">

          <div class="business-challenges-image right">
            <img class="business-challenges-image" src="/assets/polygons - 1.png">
          </div>

          <div class="business-challenges-block-content">
            <div class="business-challenges-block-title">
              <h3 class="dark-indigo">Tons of paperwork</h3>
            </div>

            <div class="steel business-challenges-short-text">
              <p>These processes involve a lot of work that is still mostly done by paper and regular mail. The ministry of ILT wanted to streamline this process, and ideally go paperless while doing so. </p>
            </div>

          </div>

        </div>


      </div>

    </div>

</div>
</section>
