<section class="background-companies is-medium section alt">

  <div class="edge-triangle">
    <img class="edge-triangle" src="/assets/section_main_content_bottom.svg">
  </div>

  <div class="companies section-body">
    <div class="companies-title-container container">
      <h2 class="purple section-title title">
        You're in good company
      </h2>
      <h3 class="section-title">
        A selection of organizations already part of ecosystem V
      </h3>
    </div>

    <div class="companies-ico-container container">
      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - sigrequest.png">
        </div>
      </a>

      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - generali.png">
        </div>
      </a>

      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - indaver.png">
        </div>
      </a>


      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - overheid.png">
        </div>
      </a>


      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - dekra.png">
        </div>
      </a>

      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - stena.png">
        </div>
      </a>

      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - capptions.png">
        </div>
      </a>

      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - firm24.png">
        </div>
      </a>

    </div>

    <div class="button is-rounded is-primary main-button use-cases">
      Explore use cases
    </div>
  </div>
</section>
