<section class="background-companies hero is-medium section alt">
  <div class="companies hero-body">
    <div class="companies-title-container container">
      <h2 class="color-set-purple company-title title">
        You're in good company
      </h2>
      <h3 class="company-title">
        A small selection of companies already on the LTO Network
      </h3>
    </div>

    <div class="companies-ico-container container">
      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - sigrequest.png">
        </div>
      </a>

      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - generali.png">
        </div>
      </a>

      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - indaver.png">
        </div>
      </a>


      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - overheid.png">
        </div>
      </a>


      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - dekra.png">
        </div>
      </a>

      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - stena.png">
        </div>
      </a>

      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - capptions.png">
        </div>
      </a>

      <a class="company-icon-link" href="#">
        <div class="company-icon">
          <img class="company-icon-image" src="/assets/logo - firm24.png">
        </div>
      </a>

    </div>

    <div class="button is-rounded is-primary main-button">
      Explore use cases
    </div>
  </div>

  <div class="skewed-bottom-right">
  </div>
</section>
