<section class="background-companies is-medium section alt">
  <div class="companies section-body">
    <div class="companies-title-container container">
      <h2 class="deep-lavender section-title title">
        You're in good company
      </h2>
      <h3 class="small-subtitle">
        A selection of organizations already part of ecosystem V
      </h3>
    </div>

    <div class="companies-ico-container container">
      <img class="company-rocks generali" src="/assets/floating-rock-generali.png" srcset="/assets/floating-rock-generali@2x.png 2x, /assets/floating-rock-generali@3x.png 3x">

      <img id="companies-small-rock-1" class="company-rocks " src="/assets/small-rock-5.svg">

      <img id="companies-small-rock-2" class="company-rocks " src="/assets/small-rock-5.svg">

      <img class="company-rocks indaver" src="/assets/floating-rock-indaver.png" srcset="/assets/floating-rock-indaver@2x.png 2x, /assets/floating-rock-indaver@3x.png 3x">

      <img class="company-rocks rijksoverheid" src="/assets/floating-rock-rijksoverheid.png" srcset="/assets/floating-rock-rijksoverheid@2x.png 2x, /assets/floating-rock-rijksoverheid@3x.png 3x">

      <img id="companies-small-rock-3" class="company-rocks " src="/assets/small-rock-3.svg">

      <img id="companies-small-rock-4" class="company-rocks " src="/assets/small-rock-2.svg">

      <img class="company-rocks signrequest" src="/assets/floating-rock-signrequest.png" srcset="/assets/floating-rock-signrequest@2x.png 2x, /assets/floating-rock-signrequest@3x.png 3x">

      <img class="company-rocks dekra" src="/assets/floating-rock-dekra.png" srcset="/assets/floating-rock-dekra@2x.png 2x, /assets/floating-rock-dekra@3x.png 3x">

      <img id="companies-small-rock-5" class="company-rocks " src="/assets/small-rock-5.svg">

      <img id="companies-small-rock-6" class="company-rocks " src="/assets/small-rock-3.svg">

      <img id="companies-small-rock-7"class="company-rocks " src="/assets/small-rock-1.svg">

      <img id="companies-small-rock-8" class="company-rocks " src="/assets/small-rock-5.svg">

      <img class="company-rocks stena" src="/assets/floating-rock-stena.png" srcset="/assets/floating-rock-stena@2x.png 2x, /assets/floating-rock-stena@3x.png 3x">

      <img class="company-rocks capptions" src="/assets/floating-rock-capptions.png" srcset="/assets/floating-rock-capptions@2x.png 2x, /assets/floating-rock-capptions@3x.png 3x">

      <img id="companies-small-rock-9" class="company-rocks " src="/assets/small-rock-3.svg">

      <img id="companies-small-rock-10" class="company-rocks " src="/assets/small-rock-5.svg">

      <img class="company-rocks firm-24" src="/assets/floating-rock-firm-24.png" srcset="/assets/floating-rock-firm-24@2x.png 2x, /assets/floating-rock-firm-24@3x.png 3x">


    </div>

    <a src="#" class="button is-rounded is-primary main-button use-cases">
      Explore use cases
    </a>
  </div>
</section>
