<div class="lto-cookie-notification notification">
  <button class="delete"></button>
  <p>We use cookies to improve our service and to analyze the traffic on the website. By using this website you agree with our <a href="/documents/cookie-statement.pdf">cookie statement</a>.
  </p>
  <div class="columns">
    <div class="column">
      <button id="cookies-no-consent" class="button is-small">Accept</button>
    </div>
    <div class="column">
      <button id="cookies-consent" class="button is-small is-secondary">Decline</button>
    </div>
  </div>
</div>
