<section class="download-case-study-section is-medium section different">
  <div class="edge-triangle">
    <img class="edge-triangle" src="/assets/section_companies_bottom.svg">
  </div>

  <div class="download-case-study-div">

    <div class="download-case-study-content-container">

      <div class="arrow-icon">
        <img src="/assets/ico - left.svg">
      </div>

      <div class="image-case-study">
        <img src="https://via.placeholder.com/675x900">
      </div>

      <div class="arrow-icon">
        <img src="/assets/ico - right.svg">
      </div>

    </div>

    <div class="download-case-study selection-circles">
      <div class="circle selected selection-circle">
      </div>

      <div class="circle unselected selection-circle">
      </div>

      <div class="circle unselected selection-circle">
      </div>

      <div class="circle unselected selection-circle">
      </div>

      <div class="circle unselected selection-circle">
      </div>
    </div>

    <div class="button is-primary is-rounded main-button book-demo download-case-study">
      Download case-study
    </div>
  </div>
</section>
