<section class="ecosystem-v-block-section section focus">

  <div class="ecosystem-v-block-div">
    <div class="columns ecosystem-v-block">

      <div class="column ecosystem-v-block cylinder-image is-7">
        <img class="image ecosystem-v-block" src="https://via.placeholder.com/700x800">
      </div>

      <div class="column ecosystem-v-block text">
        <div class="ecosystem-v-block column-content">
          <h2 class="ecosystem-v-block deep-lavender section-title title">Ecosystem V</h2>
          <p class="ecosystem-v-block text steel">
            We amplify growth by sharing incentives on the same principles behind blockchain. Leverage on our connections and those of other Ecosystem V members. Benefit from continuous support and development through its community of hundreds of developers and ecosystem participants.
          </p>

          <a src="#" class="button is-primary is-rounded main-button ecosystem-v-block">
            <p class="button-text ecosystem-v-block">Learn more</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
