<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter logo-column">
        <a class="footer-item" href="/">
          <img class="navbar-logo" src="/assets/v-logos-new/Gradient/png/logo-full-dark-gradient--l.png" alt="LTO Logo"/>
        </a>
      </div>

      <div class="column is-one-third">
        <div class="columns mobile-flex-row">
          <div class="column">
            <ul>
              <li class="footer-title">Support</li>
              <li>
                <a class="footer-item" href="/">Tech</a>
              </li>
              <li>
                <a class="footer-item" href="/">Community</a>
              </li>
              <li class="footer-title has-margin-top-20">Contact →</li>
            </ul>
          </div>

          <div class="column">
            <ul>
              <li class="footer-title">Quick links</li>
              <li>
                <a class="footer-item" href="/">Ecosystem V</a>
              </li>
              <li>
                <a class="footer-item" href="/">Marketplace</a>
              </li>
              <li>
                <a class="footer-item" href="/">Token info</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column social-column">
        <div class="flex-row social-media-container">
          <a class="social-media-icon" href="#">
            <div class="icon-twitter">
              <img src="/assets/ico - twitter.svg" alt="icon twitter">
            </div>
          </a>
          <a class="social-media-icon" href="#">
            <div class="icon-git">
              <img src="/assets/ico - git.svg" alt="icon git">
            </div>
          </a>
          <a class="social-media-icon" href="#">
            <div class="">
              <img src="/assets/ico - youtube.svg" alt="icon youtube">
            </div>
          </a>
          <a class="social-media-icon" href="#">
            <div class="icon-medium">
              <img src="/assets/ico - medium.svg" alt="icon medium">
            </div>
          </a>
          <a class="social-media-icon" href="#">
            <div class="icon-reddit">
              <img src="/assets/ico - reddit.svg" alt="icon reddit">
            </div>
          </a>
          <a class="social-media-icon" href="#">
            <div class="icon-telegram">
              <img src="/assets/ico - telegram.svg" alt="icon telegram">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>