<footer class="footer">

  <div class="edge-triangle">
    <img class="edge-triangle stacked-triangle" src="/assets/section_footer_top_02.svg">
    <img class="edge-triangle stacked-triangle" src="/assets/section_footer_top_01.svg">
  </div>


  <div id="footer-container" class="container">


      <div class="footer-brand">
        <a class="footer-item" href="/">
          <span class="title">
            <img class="navbar-logo" src="/assets/v-logos-new/Gradient/png/logo-full-dark-gradient--l.png" alt="LTO Logo" />
        </a>
      </div>

      <div class="support">
        <div class="footer-title">
          Support
        </div>
        <a class="footer-item" href="/">
          <div class="support-tech">
            Tech
          </div>
        </a>
        <a class="footer-item" href="/">
          <div class="support-community">
            Community
          </div>
        </a>
        <div class="support-filler">

        </div>
        <div class="footer-title">
          Contact →
        </div>
      </div>

      <div class="quick-links">
        <div class="footer-title">
          Quick links
        </div>
        <a class="footer-item" href="/">
          <div class="ql-ecosystem-v">
            Ecosystem V
          </div>
        </a>
        <a class="footer-item" href="/">
          <div class="ql-marketplace">
            Marketplace
          </div>
        </a>
        <a class="footer-item" href="/">
          <div class="ql-token-info">
            Token info
          </div>
        </a>
      </div>

      <div class="footer-filler">

      </div>

      <div class="social-media">
        <a class="social-media-icon" href="#">
          <div class="icon-twitter">
            <img src="/assets/ico - twitter.svg" alt="icon twitter">
          </div>
        </a>
        <a class="social-media-icon" href="#">
          <div class="icon-git">
            <img src="/assets/ico - git.svg" alt="icon git">
          </div>
        </a>
        <a class="social-media-icon" href="#">
          <div class="">
            <img src="/assets/ico - youtube.svg" alt="icon youtube">
          </div>
        </a>
        <a class="social-media-icon" href="#">
          <div class="icon-medium">
            <img src="/assets/ico - medium.svg" alt="icon medium">
          </div>
        </a>
        <a class="social-media-icon" href="#">
          <div class="icon-reddit">
            <img src="/assets/ico - reddit.svg" alt="icon reddit">
          </div>
        </a>
        <a class="social-media-icon" href="#">
          <div class="icon-telegram">
            <img src="/assets/ico - telegram.svg" alt="icon telegram">
          </div>
        </a>
      </div>
    </div>
</footer>
