<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter logo-column">
        <a class="footer-item">
          <img width="240" class="navbar-logo" src="/assets/logo/logo-full-dark-gradient.svg" alt="LTO Network - Logo"/>
        </a>
      </div>

      <div class="column is-half">
        <div class="columns mobile-flex-row">
          <div class="column">
            <ul>
              <li class="footer-title">Support</li>
              <li>
                <a class="footer-item" href="/tech/">Tech</a>
              </li>
              <li>
                <a class="footer-item" href="/community/">Community</a>
              </li>
              <li>
                <a class="footer-item" href="https://blog.lto.network">Blog</a>
              </li>
              <li class="footer-title has-margin-top-20">Contact</li>
                <li>
                <a class="footer-item" href="/contact/?department=software-vendors">Software Vendors</a>
              </li>
              <li>
                <a class="footer-item" href="/contact/?department=business">Business</a>
              </li>
                <li>
                <a class="footer-item" href="/contact/?department=developer">Developers</a>
              </li>
            </ul>
          </div>

          <div class="column">
            <ul>
              <li class="footer-title">Quick links</li>
                <li>
                <a class="footer-item" href="/use-cases/">Use cases</a>
              </li>
              <li>
                <a class="footer-item" href="/ecosystem/">Ecosystem V</a>
              </li>
                <li>
                <a class="footer-item" href="/community/">Community</a>
              </li>
                <li>
                <a class="footer-item" href="/about/">About</a>
              </li>
              <li class="footer-title has-margin-top-20">GDPR</li>
              <li>
                <a class="footer-item" href="/documents/privacy-policy.pdf">Privacy Policy</a>
              </li>
              <li>
                <a class="footer-item" href="/documents/cookie-statement.pdf">Cookie Statement</a>
              </li>
            </ul>
          </div>
          <div class="column is-hidden-mobile">
           <small>&copy; 2019 LTO Network</small>
            </div>
        </div>
      </div>
      <div class="column social-column">
        <div class="flex-row social-media-container">
          <a class="social-media-icon" href="https://twitter.com/LTOnetwork">
            <div class="icon-twitter">
              <img src="/assets/ico - twitter.svg" alt="LTO Network - Twitter">
            </div>
          </a>
          <a class="social-media-icon" href="https://github.com/ltonetwork">
            <div class="icon-git">
              <img src="/assets/ico - git.svg" alt="LTO Network - Github">
            </div>
          </a>
          <a class="social-media-icon" href="https://www.youtube.com/channel/UCaHcF-xterKYTKSpY4xgKiw">
            <div class="">
              <img src="/assets/ico - youtube.svg" alt="LTO Network - Youtube">
            </div>
          </a>
          <a class="social-media-icon" href="https://reddit.com/r/LTONetwork">
            <div class="icon-reddit">
              <img src="/assets/ico - reddit.svg" alt="LTO Network - Reddit">
            </div>
          </a>
          <a class="social-media-icon" href="https://t.me/LTOnetwork">
            <div class="icon-telegram">
              <img src="/assets/ico - telegram.svg" alt="LTO Network - Telegram">
            </div>
          </a>
        </div>
      </div>
      <div class="column is-hidden-desktop has-text-centered">
           <small>&copy; 2019 LTO Network</small>
            </div>
    </div>
  </div>
</footer>