<section class="background-hero jobs-talent hero section">
  <div class="jobs-talent-hero hero-body">
    <div class="jobs-talent columns">
      <div class="jobs-talent container column">
        <h1 class="main-title">We are looking<br> for you!</h1>
        <p class="dark-indigo jobs-talent quote">"The most devoted and tech savvy bunch of whizzkids I have ever met"</p>
        <p class="dark-indigo jobs-talent end-quote">- Mike van der Bilt (TechStarter)</p>
      </div>

      <div class="jobs-talent column video">
        <img src="https://via.placeholder.com/656x533">
      </div>
    </div>
  </div>
</section>


<div class="promo-numbers-div">
  <div class="promo-numbers-container container">
    <div class="promo-numbers-level level">
      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo">Bunch of</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo">Since 2014</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo">random company facts</p>
        </div>
      </div>

    </div>
  </div>
</div>
