<section class="background-hero-community hero is-medium section">
  <div class="join-community-hero hero-body">
    <div class="container">
      <div class="community announcement">
        <p class="bluey-grey">ANNOUNCEMENT</p>
      </div>
      <h1 class="main-title">Immediate verification of<br>certificates: NEN x LTO Network</h1>
      <a href="#" class="main-button button is-warning is-rounded is-medium community dark-indigo"><p class="dark-indigo">Join community</p></a>
      <a href="#" class="button is-outlined is-medium is-rounded dark-indigo second-button community">Learn more</a>
    </div>
  </div>
</section>


  {# <div class="slider-control-container" id="homepage-slider">
    <div class="slider-control">
      <div class="slider-control-arrows-div">
        <img class="slider-control-arrow" src="/assets/ico - left.svg" onclick="slide(-1)">
        <img class="slider-control-arrow" src="/assets/ico - right.svg" onclick="slide(1)">
      </div>
      <div class="slider-control-counter">
        <p class="dark-indigo" id="homepage-slide-counter">01</p>
      </div>

      <div class="slider-control-bar" id="slider-container">
      </div>
    </div>
  </div> #}

  <div class="community promo-numbers-div">
    <div class="promo-numbers-container container">
      <div class="promo-numbers-level level">
        <div class="promo-numbers level-item">
          <div class="promo-numbers sub-level-item">
            <p class="title promo-numbers deep-lavender">1M+</p>
            <p class="heading promo-numbers is-lowercase dark-indigo"> Trusted by 1M+ users</p>
          </div>
        </div>

        <div class="promo-bar-line">
        </div>

        <div class="promo-numbers level-item has-text-centered">
          <div class="promo-numbers sub-level-item">
            <p class="title promo-numbers deep-lavender">Top 20</p>
            <p class="heading promo-numbers is-lowercase dark-indigo"> blockchains worldwide</p>
          </div>
        </div>

        <div class="promo-bar-line">
        </div>

        <div class="promo-numbers level-item has-text-centered">
          <div class="promo-numbers sub-level-item">
            <p class="title promo-numbers deep-lavender">30k+</p>
            <p class="heading promo-numbers is-lowercase dark-indigo"> transactions per day</p>
          </div>
        </div>

        <div class="promo-bar-line">
        </div>

        <div class="promo-numbers level-item has-text-centered">
          <div class="promo-numbers sub-level-item">
            <p class="title promo-numbers deep-lavender">100+</p>
            <p class="heading promo-numbers is-lowercase dark-indigo"> nodes</p>
          </div>
        </div>

        <div class="promo-bar-line">
        </div>

        <div class="promo-numbers level-item has-text-centered">
          <div class="promo-numbers sub-level-item">
            <p class="title promo-numbers deep-lavender">100+</p>
            <p class="heading promo-numbers is-lowercase dark-indigo"> ecosystem partners</p>
          </div>
        </div>
      </div>
    </div>
  </div>
