<section class="background-hero hybrid-blockchain hero is-medium section">
  <div class="join-hybrid-blockchain-hero hero-body">
    <div class="container">
      <h1 class="dark-indigo main-title">The easiest way to implement</h1>
      <h1 class="dark-indigo subtitle">blockchain in businesses</h1>
      <a href="#" class="main-button button is-warning is-rounded is-medium hybrid-blockchain dark-indigo"><p class="dark-indigo">Explore developer area</p></a>
      <a href="#" class="button is-outlined is-medium is-rounded dark-indigo second-button hybrid-blockchain">Learn more</a>
    </div>
  </div>
</section>


<div class="promo-numbers-div">
  <div class="promo-numbers-container container">
    <div class="promo-numbers-level level">
      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo"><img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg"> Easy integration</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo"><img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">Supported by 1m users</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo"><img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">GDPR compliant</p>
        </div>
      </div>

    </div>
  </div>
</div>
