<section class="insights-section section focus">
  <div class="insights-bg before"></div>
  <div class="insights-bg between"></div>
  <div class="insights-bg after"></div>
  <div class="container">
    <div class="insights">
      <div class="insights-title-container">
        <h2 class="deep-lavender section-title title has-text-centered is-2">
          Insights & updates
        </h2>
        <h3 class="small-subtitle dark-indigo">
          Stay up to date with what’s happening on LTO Network
        </h3>
      </div>

      <div class="insights-content-container">

        <div class="arrow-icon is-hidden-mobile">
          <img src="/assets/ico - left.svg">
        </div>

        <div class="insights-columns columns">
          <div class="insights-column column">
            <div class="insights-image-container left">
              <img class="insights-image" src="/assets/polygons - 1.png">
            </div>

            <div class="insights-block-content">

              <p class="insights-date">April 12, 2019</p>
              <div class="insights-block-title">
                <h3 class="dark-indigo">You. Are. Awesome ❤️ Community management and rewards + update.</h3>
              </div>

              <div class="insights-short-text steel">
                <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
              </div>

              <div class="insights-read-more">
                <p class="dark-indigo">Read more →</p>
              </div>
            </div>

          </div>

          <div class="insights-column column is-hidden-mobile">

            <div class="insights-image-container right">
              <img class="insights-image" src="/assets/polygons - 1.png">
            </div>

            <div class="insights-block-content">

              <p class="insights-date">April 12, 2019</p>
              <div class="insights-block-title">
                <h3 class="dark-indigo">Big Blockchain is <br>
                  watching you!</h3>
              </div>

              <div class="insights-short-text steel">
                <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
              </div>

              <div class="insights-read-more">
                <p class="dark-indigo">Read more →</p>
              </div>
            </div>

          </div>

        </div>

        <div class="arrow-icon is-hidden-mobile">
          <img src="/assets/ico - right.svg">
        </div>

      </div>


      <a src="#" class="button is-rounded is-primary main-button insights-button">
        More insights & updates
      </a>
    </div>
  </div>
</section>
