<section class="background-insights hero is-medium" style="background-color: #f4f7fb;">
  <div class="insights hero-body">
    <div class="insights-title-container container">
      <h2 class="color-set-purple company-title title">
        Insights & updates
      </h2>
      <h3 class="company-sub-title color-set-dark-indigo">
        A small selection of companies already on the LTO Network
      </h3>
    </div>

  <div class="insights-blocks-container">

    <div class="arrow-icon">
      <img src="/assets/ico - left.svg">
    </div>

    <div class="insights-block">

      <div class="insights-tile-image">
        
      </div>

      <div class="insights-content-child-tile">
        <p class="insights-date"> April 12, 2019 </p>
        <h3 class="insights-title color-set-dark-indogo"> You. Are. Awesome ❤️ Community management and rewards + update.</h3>
        <p class="insights-short-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <p class="insights-read-more color-set-dark-indigo"> Read more →</p>
      </div>

    </div>

    <div class="insights-block">

      <div class="insights-tile-image">
      </div>

      <div class="insights-content-child-tile">
        <p class="insights-date"> April 12, 2019 </p>
        <h6 class="insights-title color-set-dark-indogo"> Big Blockchain is <br>
          watching you!</h6>
        <p class="insights-short-text">Sed in mauris quis libero interdum efficitur ac aliquam turpis.</p>
        <p class="insights-read-more color-set-dark-indigo"> Read more →</p>
      </div>
    </div>

    <div class="arrow-icon">
      <img src="/assets/ico - right.svg">
    </div>

  </div>



  <div class="button is-rounded is-primary main-button">
    More insights & updates
  </div>

</div>
</section>
