<section class="insights-section hero is-medium section focus">
  <div class="insights hero-body">
    <div class="insights-title-container container">
      <h2 class="color-set-purple company-title title">
        Insights & updates
      </h2>
      <h3 class="company-sub-title color-set-dark-indigo">
        A small selection of companies already on the LTO Network
      </h3>
    </div>

  <div class="insights-blocks-container">

    <div class="arrow-icon">
      <img src="/assets/ico - left.svg">
    </div>

    <div class="insights-block">

      <div class="insights-tile-image">

      </div>

      <div class="insights-block-content">

        <p class="insights-date"> April 12, 2019 </p>
        <div class="insights-block-title">
          <h3 class="color-set-dark-indigo"> You. Are. Awesome ❤️ Community management and rewards + update.</h3>
        </div>

        <div class="insights-short-text">
          <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. </p>
        </div>

        <div class="insights-read-more">
          <p class="color-set-dark-indigo"> Read more →</p>
        </div>
      </div>

    </div>

    <div class="insights-block">

      <div class="insights-tile-image">

      </div>

      <div class="insights-block-content">

        <p class="insights-date"> April 12, 2019 </p>
        <div class="insights-block-title">
          <h3 class="color-set-dark-indigo"> Big Blockchain is <br>
            watching you!</h3>
        </div>

        <div class="insights-short-text">
          <p>Sed in mauris quis libero interdum efficitur ac aliquam turpis.</p>
        </div>

        <div class="insights-read-more">
          <p class="color-set-dark-indigo"> Read more →</p>
        </div>
      </div>

    </div>


    <div class="arrow-icon">
      <img src="/assets/ico - right.svg">
    </div>

  </div>



  <div class="button is-rounded is-primary main-button insights-button">
    More insights & updates
  </div>

</div>
</section>
