

<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 id="first-title"class="title">Global Blockchain adoption</h1>
      <h1 class="color-set-purple subtitle">through collaboration</h1>
      <a href="#" id="" class="main-button button is-warning is-rounded is-medium">Join ecosystem</a>
      <a href="#" class="button is-outlined is-medium is-rounded color-set-purple">Learn more</a>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="title color-set-purple has-text-centered">1M+</p>
          <p class="heading is-lowercase"> Trusted by 1M+ users</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title color-set-purple">Top 20</p>
          <p class="heading is-lowercase"> blockchains worldwide</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title color-set-purple">30k+</p>
          <p class="heading is-lowercase"> transactions per day</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title color-set-purple">100+</p>
          <p class="heading is-lowercase"> nodes</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title color-set-purple">100+</p>
          <p class="heading is-lowercase"> ecosystem partners</p>
        </div>
      </div>
    </div>
  </div>
</section>
