<section class="join-our-team-about-section section is-large alt">
  <div class="join-our-team-about container">

    <h2 class="join-our-team-about section-title deep-lavender">Join our team</h2>
    <h3 class="small-subtitle dark-indigo join-our-team-about">Lorem ipsum dolor sit amet consectetur adipiscing elit</h3>


    <div class="columns join-our-team-about">

      <div class="column join-our-team-about">
        <h4 class="join-our-team-about column-title dark-indigo">Sr Front End Developer</h4>
        <p class="join-our-team-about column-text steel">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        <a class="read-more-link "href="#" >
          <p class="read-more deep-lavender"><br>Read more →</p>
        </a>
      </div>

      <div class="column join-our-team-about">
        <h4 class="join-our-team-about column-title dark-indigo">Call agent</h4>
        <p class="join-our-team-about column-text steel">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        <a class="read-more-link "href="#" >
          <p class="read-more deep-lavender"><br>Read more →</p>
        </a>
      </div>

      <div class="column join-our-team-about">
        <h4 class="join-our-team-about column-title dark-indigo">Full stack developer</h4>
        <p class="join-our-team-about column-text steel">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        <a class="read-more-link "href="#" >
          <p class="read-more deep-lavender"><br>Read more →</p>
        </a>
      </div>


    </div>


        <div class="columns join-our-team-about">

          <div class="column join-our-team-about">
            <h4 class="join-our-team-about column-title dark-indigo">Internship SEO specialist</h4>
            <p class="join-our-team-about column-text steel">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
            <a class="read-more-link "href="#" >
              <p class="read-more deep-lavender"><br>Read more →</p>
            </a>
          </div>

          <div class="column join-our-team-about">
            <h4 class="join-our-team-about column-title dark-indigo">Internship UX / UI</h4>
            <p class="join-our-team-about column-text steel">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
            <a class="read-more-link "href="#" >
              <p class="read-more deep-lavender"><br>Read more →</p>
            </a>
          </div>

          <div class="column join-our-team-about-filler">
          </div>
        </div>


  </div>
</section>
