<section class="join-our-team-section is-medium section">

  <div class="join-our-team content-container">
    <div class="join-our-team-title-container container">
      <h2 class="has-text-centered deep-lavender section-title title">
        Join our team
      </h2>
      <p class="dark-indigo small-subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
    </div>


    <div class="columns join-our-team job-block text-left">
      <div class="column join-our-team text-container">
        <div class="type-of-job join-our-team bluey-grey">FULLTIME</div>
        <h2 class="position-name join-our-team dark-indigo">Sr Front End Developer</h2>
        <p class="position-description join-our-team steel">Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl.</p>
        <a src="#" class="button is-rounded is-primary join-our-team">
          Apply for this position
        </a>
      </div>
      <div class="column join-our-team image right">
        <img class="join-our-team image right" src="/assets/polygons - 1.png">
      </div>
    </div>

    <div class="columns join-our-team job-block text-right">
      <div class="column join-our-team image left">
        <img class="join-our-team image left" src="/assets/polygons - 1.png">
      </div>
      <div class="column join-our-team text-container">
        <div class="type-of-job join-our-team bluey-grey">FULLTIME</div>
        <h2 class="position-name join-our-team dark-indigo">Full Stack Developer</h2>
        <p class="position-description join-our-team steel">Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl.</p>
        <a src="#" class="button is-rounded is-primary join-our-team">
          Apply for this position
        </a>
      </div>
    </div>

    <div class="columns join-our-team job-block text-left">
      <div class="column join-our-team text-container">
        <div class="type-of-job join-our-team bluey-grey">INTERNSHIP</div>
        <h2 class="position-name join-our-team dark-indigo">UX / UI Designer</h2>
        <p class="position-description join-our-team steel">Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. </p>
        <a src="#" class="button is-rounded is-primary join-our-team">
          Apply for this position
        </a>
      </div>
      <div class="column join-our-team image right">
        <img class="join-our-team image right" src="/assets/polygons - 1.png">
      </div>
    </div>

    <div class="columns join-our-team job-block text-right">
      <div class="column join-our-team image left">
        <img class="join-our-team image left" src="/assets/polygons - 1.png">
      </div>
      <div class="column join-our-team text-container">
        <div class="type-of-job join-our-team bluey-grey">INTERNSHIP</div>
        <h2 class="position-name join-our-team dark-indigo">SEO Specialist</h2>
        <p class="position-description join-our-team steel">Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl.</p>
        <a src="#" class="button is-rounded is-primary join-our-team">
          Apply for this position
        </a>
      </div>
    </div>

  </div>
</section>
