

<section class="background-hero-ecosystem hero is-medium">
  <div class="join-ecosystem-hero hero-body">
    <div class="container">
      <h1 id="first-title"class="main-title">Global Blockchain adoption</h1>
      <h1 class="color-set-purple subtitle">through collaboration</h1>
      <a href="#" id="" class="main-button button is-warning is-rounded is-medium">Join ecosystem</a>
      <a href="#" class="button is-outlined is-medium is-rounded color-set-purple">Learn more</a>
    </div>
  </div>

<section class="promo-numbers-section section" style="background-color: #f4f7fb;">
  <div class="promo-numbers-container container">
    <div class="promo-numbers-level level">
      <div class="level-item">
        <div>
          <p class="title promo-numbers color-set-purple has-text-centered">1M+</p>
          <p class="heading promo-numbers is-lowercase"> Trusted by 1M+ users</p>
        </div>
      </div>

      <div class="promo-numbers-line">
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="title promo-numbers color-set-purple">Top 20</p>
          <p class="heading promo-numbers is-lowercase"> blockchains worldwide</p>
        </div>
      </div>

      <div class="promo-numbers-line">
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="title promo-numbers color-set-purple">30k+</p>
          <p class="heading promo-numbers is-lowercase"> transactions per day</p>
        </div>
      </div>

      <div class="promo-numbers-line">
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="title promo-numbers color-set-purple">100+</p>
          <p class="heading promo-numbers is-lowercase"> nodes</p>
        </div>
      </div>

        <div class="promo-numbers-line">
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="title promo-numbers color-set-purple">100+</p>
          <p class="heading promo-numbers is-lowercase"> ecosystem partners</p>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
