<section class="love-what-we-do-section is-medium section alt">

  <div class="love-what-we-do content-container">

    <div class="love-what-we-do columns">

      <div class="love-what-we-do column">

        <img class="love-what-we-do image" src="/assets/circle icon - clipboard.svg">

        <h3 class="love-what-we-do-title dark-indigo">Love what we do</h3>

        <p class="love-what-we-do text steel">Suspendisse sit amet arcu massa. Pellentesque habitant morbi tristique senectus</p>

      </div>


      <div class="love-what-we-do column">

        <img class="love-what-we-do image" src="/assets/circle icon - clipboard.svg">

        <h3 class="love-what-we-do-title dark-indigo">Learn from the best</h3>

        <p class="love-what-we-do text steel">Morbi malesuada tincidunt est, vitae rhoncus libero condimentum eu. Nunc porttitor sapien in fermentum fermentum.</p>

      </div>

      <div class="love-what-we-do column">

        <img class="love-what-we-do image" src="/assets/circle icon - clipboard.svg">

        <h3 class="love-what-we-do-title dark-indigo">Great rewards</h3>

        <p class="love-what-we-do text steel">Usce vel leo ut sapien laoreet posuere et id enim. Nam varius vel est at scelerisque dolor sit.</p>

      </div>

    </div>



  </div>
</section>
