<section class="meet-the-team-section section alt">
  <div class="meet-the-team container">

    <h2 class="meet-the-team section-title deep-lavender">Meet the team</h2>
    <h6 class="small-subtitle dark-indigo meet-the-team">Suspendisse sit amet arcu massa. Pellentesque habitant morbi tristique</h6>


    <div class="columns meet-the-team">
      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Rick Schmitz</p>
        <p class="meet-the-team position steel">CEO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Martijn Migchelsen</p>
        <p class="meet-the-team position steel">CFO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Arnold Daniels</p>
        <p class="meet-the-team position steel">Lead Architect</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
          <a class="meet-the-team socials-link steel">GitHub</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Sven Stam</p>
        <p class="meet-the-team position steel">CTO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
          <a class="meet-the-team socials-link steel">GitHub</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Martijn Broersma</p>
        <p class="meet-the-team position steel">COO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
        </div>
      </div>

    </div>


    <div class="columns meet-the-team">
      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Rick Schmitz</p>
        <p class="meet-the-team position steel">CEO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Martijn Migchelsen</p>
        <p class="meet-the-team position steel">CFO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Arnold Daniels</p>
        <p class="meet-the-team position steel">Lead Architect</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
          <a class="meet-the-team socials-link steel">GitHub</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Sven Stam</p>
        <p class="meet-the-team position steel">CTO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
          <a class="meet-the-team socials-link steel">GitHub</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Martijn Broersma</p>
        <p class="meet-the-team position steel">COO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
        </div>
      </div>
    </div>

    <div class="columns meet-the-team">
      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Rick Schmitz</p>
        <p class="meet-the-team position steel">CEO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Martijn Migchelsen</p>
        <p class="meet-the-team position steel">CFO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Arnold Daniels</p>
        <p class="meet-the-team position steel">Lead Architect</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
          <a class="meet-the-team socials-link steel">GitHub</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Sven Stam</p>
        <p class="meet-the-team position steel">CTO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
          <a class="meet-the-team socials-link steel">GitHub</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Martijn Broersma</p>
        <p class="meet-the-team position steel">COO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
        </div>
      </div>
    </div>

    <div class="columns meet-the-team">
      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Rick Schmitz</p>
        <p class="meet-the-team position steel">CEO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Martijn Migchelsen</p>
        <p class="meet-the-team position steel">CFO</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
        </div>
      </div>

      <div class="column meet-the-team">
        <img class="meet-the-team headshot"src="https://via.placeholder.com/150x150">
        <p class="meet-the-team name dark-indigo">Arnold Daniels</p>
        <p class="meet-the-team position steel">Lead Architect</p>
        <div class="meet-the-team socials">
          <a class="meet-the-team socials-link steel">Linkedin</a>
          <a class="meet-the-team socials-link steel">GitHub</a>
        </div>
      </div>


    </div>

  </div>
</section>
