<section class="meet-the-team-section section alt is-large" id="team">
    <div class="container">
          <h2 class="meet-the-team section-title deep-lavender">Meet the team</h2>
          <h6 class="small-subtitle dark-indigo meet-the-team">Suspendisse sit amet arcu massa. Pellentesque habitant morbi tristique</h6>

      <div class="team-container has-text-centered">
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/rick.png">
          </div>
          <span class="name">Rick Schmitz</span>
          <span class="title">CEO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/rschmitz/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/mig.png">
          </div>
          <span class="name">Martijn Migchelsen</span>
          <span class="title">CFO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/migchelsen/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/arnold.png">
          </div>
          <span class="name">Arnold Daniels</span>
          <span class="title">Lead Architect</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/arnolddaniels/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/jasny" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/sven.png">
          </div>
          <span class="name">Sven Stam</span>
          <span class="title">CTO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/svenstam/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/sven4ask" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/martijn.png">
          </div>
          <span class="name">Martijn Broersma</span>
          <span class="title">COO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/martijnbroersma/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/ivan.png">
          </div>
          <span class="name">Ivan Golovko</span>
          <span class="title">CMO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/ivangolovko/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/moosh.png">
          </div>
          <span class="name">Moesjarraf Jahangier</span>
          <span class="title">SR Backend Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/moesjarraf/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/moesjarraf" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/yevhen.png">
          </div>
          <span class="name">Yevhen Horbachov</span>
          <span class="title">Lead Frontend Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/yevhen-horbachov-0b601756/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/KillaBee1985" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/sarf.png">
          </div>
          <span class="name">Sarfaraaz Jahangier</span>
          <span class="title">SR Full-stack Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/sarfaraaz-jahangier-442a38135/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/Sarfaraaz" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/mitchel.png">
          </div>
          <span class="name">Mitchel Kerckhaert</span>
          <span class="title">Developer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/mitchel-kerckhaert-b55400123/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/MitchelKerckhaert" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/jurre.png">
          </div>
          <span class="name">Jurre Wolsink</span>
          <span class="title">Developer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/jurre-wolsink-b12258a6/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/jurrew27" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/benjamin.png">
          </div>
          <span class="name">Benjamin Roeloffs Valk</span>
          <span class="title">Designer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/benjamin-roeloffs-valk-35ab70120/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/rick_ros.png">
          </div>
          <span class="name">Rick Ros</span>
          <span class="title">Head of Sales</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/rickros/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/michael.png">
          </div>
          <span class="name">Michael Nieveld</span>
          <span class="title">Legal &amp; Tax</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/michael-nieveld-7b52551a/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/maurits.png">
          </div>
          <span class="name">Maurits Wismeijer</span>
          <span class="title">Legal</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/maurits-wismeijer-268529174/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/lisa_kate.png">
          </div>
          <span class="name">Lisa Kate Palmer</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/lisa-kate-palmer-2732b681/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/mies.png">
          </div>
          <span class="name">Mies Rijperman</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/miesrijperman/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/isa.png">
          </div>
          <span class="name">Isa Branco</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/isa-branco-0866b757/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
