<section class="mission-statement-section section is-small">
  <div class="mission-statement container">

    <h6 class="small-subtitle dark-indigo mission-statement">Mission statement</h6>
    <h2 class="mission-statement section-title deep-lavender">Making blockchain integration easy<br>in every organization</h2>


    <div class="columns mission-statement">
      <div class="column mission-statement">
        <p class="column-text mission-statement steel">Our mission was, and still is, to create and maintain a fully decentralized and highly efficient blockchain infrastructure, directly applicable and aimed at creating value for organizations.</p>
      </div>
      <div class="column mission-statement">
        <p class="column-text mission-statement steel">LTO Network can be used by any company with a need for a production ready blockchain that allows for digital verification of digital assets and enable collaboration through the use of decentralized workflows.</p>
      </div>
    </div>
  </div>
</section>
