<section class="more-info-section section is-medium alt">
  <div class="more-info container">

    <div class="more-info-block">

      <h2 class="section-title deep-lavender">More info & demo</h2>

      <p class="more-info-text">Suspendisse at sapien non tellus blandit ultricies in id ante. Aliquam eu est viverra nunc dapibus dignissim in tempor turpis.</p>

      <div class="more-info-buttons">

        <div class="button is-primary is-rounded main-button book-demo more-info">
          <p class="button-text more-info"> Book a demo </p>
        </div>

        <div class="button is-primary is-outlined is-rounded book-demo more-info">
          <p class="button-text more-info">Download case-study</p>
        </div>

      </div>

    </div>

  </div>
</section>
