{% block navigation %}

<nav class="navbar is-transparent">
  <div id="navbar-container" class="container">
    <div class="navbar-brand">
      <a class="manvlogo-navbar" href="/">
        <span class="title">
          <img class="navbar-logo" src="/assets/v-logos-new/Gradient/png/logo-full-dark-gradient--l.png" alt="LTO Logo" />
        </span>
      </a>
      <div class="navbar-burger burger" id="navbar-toggle" data-target="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      {# <div class="navbar-start">
      </div> #}
      <div class="navbar-end">
        <a class="navbar-item dark-indigo" href="#">
          Use cases
        </a>
        <a class="navbar-item dark-indigo" href="#">
          Hybrid blockchain
        </a>
        <a class="navbar-item dark-indigo" href="#">
          Ecosystem V
        </a>
        <a class="navbar-item dark-indigo" href="#">
          About
        </a>
        <a class="navbar-item dark-indigo" href="#">
          Community
        </a>
        <a class="navbar-item dark-indigo" href="#">
          Marketplace
        </a>
        <a class="navbar-item dark-indigo" href="#">
          <div class="dev-area">
            Dev Area
        </div>
      </a>
    </div>
  </div>


</nav>

{% endblock %}
