{% block navigation %}

<nav class="navbar is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="title">NWS</span>
      </a>
      <div class="navbar-burger burger" data-target="main-navigation">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="main-navigation" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            Products
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="#">
              Product A
            </a>
            <a class="navbar-item" href="#">
              Product B
            </a>
            <a class="navbar-item" href="#">
              Product C
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            Services
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="#">
              Service A
            </a>
            <a class="navbar-item" href="#">
              Service B
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            About us
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="#">
              Our story
            </a>
            <a class="navbar-item" href="#">
              Contact
            </a>
          </div>
        </div>
      </div>
      <a class="navbar-item" href="#">
        Log in
      </a>
    </div>
  </div>
</nav>

{% endblock %}
