{% block navigation %}

<nav class="navbar is-transparent" id="navbar">
  <div id="navbar-container" class="container">
    <div class="navbar-brand">
      <a class="manvlogo-navbar" href="/">
        <img class="navbar-logo" src="/assets/logo/logo-full-dark-gradient.svg" alt="LTO Network" />
      </a>
      <div class="navbar-burger burger" id="navbar-toggle" data-target="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      {# <div class="navbar-start">
      </div> #}
      <div class="navbar-end">
        <a class="navbar-item dark-indigo" href="/use-cases/">
          USE CASES
        </a>
        <a class="navbar-item dark-indigo" href="/hybrid-blockchain/">
          HYBRID CHAIN
        </a>
        <a class="navbar-item dark-indigo" href="/ecosystem/">
          ECOSYSTEM V
        </a>
        <a class="navbar-item dark-indigo" href="/about/">
          ABOUT
        </a>
        <a class="navbar-item dark-indigo" href="#">
          COMMUNITY
        </a>
        <a class="navbar-item dark-indigo" href="/marketplace/">
          MARKETPLACE
        </a>
        <a class="navbar-item dark-indigo" href="#">
          <div class="dev-area">
            DEV AREA
        </div>
      </a>
    </div>
  </div>


</nav>

{% endblock %}
