<section class="overview-of-markets section is-medium focus">
  <div class="overview-of-markets container">

    <h2 class="overview-of-markets section-title deep-lavender">Overview of marketss</h2>

    <div class="columns overview-of-markets">
      <div class="column overview-of-markets">
        <img src="https://via.placeholder.com/300x80">
      </div>

      <div class="column overview-of-markets">
        <img src="https://via.placeholder.com/300x59">
      </div>

      <div class="column overview-of-markets">
        <img src="https://via.placeholder.com/300x59">
      </div>
    </div>

    <a src="#" class="button is-primary is-rounded main-button overview-of-markets">How to buy</a>

  </div>
</section>
