<section class="products-section section is-medium alt">
  <div class="products container">

    <h2 class="section-title deep-lavender">Products</h2>
    <h6 class="small-subtitle dark-indigo products">Learn how software vendors have integrated LTO Network into their applications.</h6>


    <div class="columns products">
      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Compliance on inspection reports</h3>
            </div>

            <div class="products-short-text steel">
              <p>Providing an extra layer of data security and follow strict compliance rules in relation to inspection reports and data entries.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Blockchain verification of signed documents</h3>
            </div>

            <div class="products-short-text steel">
              <p>In case there ever is a dispute about when exactly the document has been signed you need to be able to verify the date and time of signing.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">DEcentralized data sharing between notaries</h3>
            </div>

            <div class="products-short-text steel">
              <p>Trust is of utmost important in notary procedures. With LTO Network, Firm24 created the biggest online business platform in The Netherlands, fully decentralized.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>
    </div>

    <div class="columns products">
      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Validation-as-a-service (VaaS)</h3>
            </div>

            <div class="products-short-text steel">
              <p>V-ID certifies, secures and validates all Digital Assets with LTO Network, enabling a completely new service: Validation as a Service.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">QR-Code & Blockchain - Match made in heaven</h3>
            </div>

            <div class="products-short-text steel">
              <p>Enabling brands with smart packaging solutions for product authentication, supply chain traceability and consumer engagement on the blockchain.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Your use case?<br><br></h3>
            </div>

            <div class="products-short-text steel">
              <p>The LTO Network team is here to help you investigate how your software could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <a src="#" class="button is-large is-warning is-rounded main-button products">
              <p class="button-text products">Scedule a call</p>
            </a>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>
