<section class="products-section section is-medium alt">
  <div class="products container">

    <h2 class="section-title deep-lavender">Products</h2>
    <h6 class="small-subtitle dark-indigo products">Learn how software vendors have integrated LTO Network into their applications.</h6>


    <div class="columns products">
      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Product #1</h3>
            </div>

            <div class="products-short-text steel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis odio imperdiet leo cursus scelerisque. Vestibulum quis lectus nec ante malesuada malesuada.</p>
            </div>
            <div class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </div>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Product #1</h3>
            </div>

            <div class="products-short-text steel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis odio imperdiet leo cursus scelerisque. Vestibulum quis lectus nec ante malesuada malesuada.</p>
            </div>
            <div class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </div>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Product #1</h3>
            </div>

            <div class="products-short-text steel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis odio imperdiet leo cursus scelerisque. Vestibulum quis lectus nec ante malesuada malesuada.</p>
            </div>
            <div class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="columns products">
      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Product #1</h3>
            </div>

            <div class="products-short-text steel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis odio imperdiet leo cursus scelerisque. Vestibulum quis lectus nec ante malesuada malesuada.</p>
            </div>
            <div class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </div>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Product #1</h3>
            </div>

            <div class="products-short-text steel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis odio imperdiet leo cursus scelerisque. Vestibulum quis lectus nec ante malesuada malesuada.</p>
            </div>
            <div class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </div>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Product #1</h3>
            </div>

            <div class="products-short-text steel">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis odio imperdiet leo cursus scelerisque. Vestibulum quis lectus nec ante malesuada malesuada.</p>
            </div>
            <div class="button is-large is-warning is-rounded main-button products">
              <p class="button-text products">Scedule a call</p>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>
