<section class="resources section is-medium">
  <div class="resources container">

    <h2 class="resources section-title deep-lavender">Resources</h2>
    <h6 class="small-subtitle dark-indigo resources">Overview of all LTO lorem ipsum things.</h6>

    <div class="columns resources main-columns">
      <div class="column resources main-column">

        <div class="columns resources sub-columns">
          <div class="resources column image sub-column">
            <img class="resources column-image" src="/assets/circle icon - clipboard.svg">
          </div>

          <div class="resources column text sub-column is-two-thirds">
            <h4 class="resources column-title dark-indigo">Explorer</h4>
            <p class="resources column-description steel">Adipiscing elit ipsum dolor sit amet consectetur adipiscing.</p>
            <a class="resources read-more deep-lavender">Read more →</a>
          </div>
        </div>
      </div>

      <div class="column resources main-column">

        <div class="columns resources sub-columns">
          <div class="resources column image sub-column">
            <img class="resources column-image" src="/assets/circle icon - clipboard.svg">
          </div>

          <div class="resources column text sub-column is-two-thirds">
            <h4 class="resources column-title dark-indigo">Wallet</h4>
            <p class="resources column-description steel">Adipiscing elit ipsum dolor sit amet consectetur adipiscing.</p>
            <a class="resources read-more deep-lavender">Read more →</a>
          </div>
        </div>
      </div>

    </div>

    <div class="columns resources main-columns">
      <div class="column resources main-column">

        <div class="columns resources sub-columns">
          <div class="resources column image sub-column">
            <img class="resources column-image" src="/assets/circle icon - clipboard.svg">
          </div>

          <div class="resources column text sub-column is-two-thirds">
            <h4 class="resources column-title dark-indigo">Network Statistics</h4>
            <p class="resources column-description steel">Adipiscing elit ipsum dolor sit amet consectetur adipiscing.</p>
            <a class="resources read-more deep-lavender">Read more →</a>
          </div>
        </div>
      </div>

      <div class="column resources main-column">

        <div class="columns resources sub-columns">
          <div class="resources column image sub-column">
            <img class="resources column-image" src="/assets/circle icon - clipboard.svg">
          </div>

          <div class="resources column text sub-column is-two-thirds">
            <h4 class="resources column-title dark-indigo">Community Tech Tools</h4>
            <p class="resources column-description steel">Adipiscing elit ipsum dolor sit amet consectetur adipiscing.</p>
            <a class="resources read-more deep-lavender">Read more →</a>
          </div>
        </div>
      </div>

    </div>

    <div class="columns resources main-columns">
      <div class="column resources main-column">

        <div class="columns resources sub-columns">
          <div class="resources column image sub-column">
            <img class="resources column-image" src="/assets/circle icon - clipboard.svg">
          </div>

          <div class="resources column text sub-column is-two-thirds">
            <h4 class="resources column-title dark-indigo">Run a Node</h4>
            <p class="resources column-description steel">Adipiscing elit ipsum dolor sit amet consectetur adipiscing.</p>
            <a class="resources read-more deep-lavender">Read more →</a>
          </div>
        </div>
      </div>

      <div class="column resources main-column">

        <div class="columns resources sub-columns">
          <div class="resources column image sub-column">
            <img class="resources column-image" src="/assets/circle icon - clipboard.svg">
          </div>

          <div class="resources column text sub-column is-two-thirds">
            <h4 class="resources column-title dark-indigo">ROI Staking Calculator</h4>
            <p class="resources column-description steel">Adipiscing elit ipsum dolor sit amet consectetur adipiscing.</p>
            <a class="resources read-more deep-lavender">Read more →</a>
          </div>
        </div>
      </div>

    </div>


    <div class="columns resources main-columns">
      <div class="column resources main-column">

        <div class="columns resources sub-columns">
          <div class="resources column image sub-column">
            <img class="resources column-image" src="/assets/circle icon - clipboard.svg">
          </div>

          <div class="resources column text sub-column is-two-thirds">
            <h4 class="resources column-title dark-indigo">Whitepapers</h4>
            <p class="resources column-description steel">Adipiscing elit ipsum dolor sit amet consectetur adipiscing.</p>
            <a class="resources read-more deep-lavender">Read more →</a>
          </div>
        </div>
      </div>

      <div class="column resources main-column">

        <div class="columns resources sub-columns">
          <div class="resources column image sub-column">
            <img class="resources column-image" src="/assets/circle icon - clipboard.svg">
          </div>

          <div class="resources column text sub-column is-two-thirds">
            <h4 class="resources column-title dark-indigo">Whitepapers</h4>
            <p class="resources column-description steel">Adipiscing elit ipsum dolor sit amet consectetur adipiscing.</p>
            <a class="resources read-more deep-lavender">Read more →</a>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>
