
<section class="solution-overview-section is-medium section alt">
  <div class="edge-triangle">
    <img class="edge-triangle" src="/assets/section_main_content_bottom.svg">
  </div>

  <div class="solution-overview-div">
    <div class="solution-overview-title-container container">
      <h2 class="deep-lavender section-title title">
        Solution overview
      </h2>
    </div>

    <div class="solution-overview-content-container">

      <div class="columns solution-overview">
        <div class="column solution-overview left-side">
          <div class="solution-overview-text-container left-side">
            <h3 class="title dark-indigo solution-overview"> Automated check on permits </h3>
            <p class="solution-overview-text steel">Before using LTO Network, these processes we’re extremely cumbersome and provided a lot of unstructured data, even through using ancient fax machines. LTO Networks’ distributed business logic allows for all government bodies to trust the validity of a permit.</p>
          </div>
        </div>
        <div class="column solution-overview image right-side">
          <img class="solution-overview-image" src="/assets/circle icon - clipboard.svg">
        </div>
      </div>



      <div class="columns solution-overview">
        <div class="column solution-overview image left-side">
          <img class="solution-overview-image" src="/assets/circle icon - clipboard.svg">
        </div>
        <div class="column solution-overview right-side">
          <div class="solution-overview-text-container right-side">
            <h3 class="title dark-indigo solution-overview"> Automated distribution of data and business logic </h3>
            <p class="solution-overview-text steel">Before using LTO Network, these processes we’re extremely cumbersome and provided a lot of unstructured data, even through using ancient fax machines. LTO Networks’ distributed business logic allows for all government bodies.</p>
          </div>
        </div>
      </div>


      <div class="columns solution-overview">
        <div class="column solution-overview left-side">
          <div class="solution-overview-text-container left-side">
            <h3 class="title dark-indigo solution-overview">Connecting multiple stakeholders</h3>
            <p class="solution-overview-text steel">Before using LTO Network, these processes we’re extremely cumbersome and provided a lot of unstructured data, even through using ancient fax machines. LTO Networks’ distributed business logic allows for all government bodies.</p>
          </div>
        </div>
        <div class="column solution-overview image right-side">
          <img class="solution-overview-image" src="/assets/circle icon - clipboard.svg">
        </div>
      </div>

    </div>

    <div class="button is-primary is-rounded main-button book-demo">
      Book a demo
    </div>
  </div>
</section>
