<section class="solutions-section section is-medium alt">
  <div class="products container">

    <h2 class="solutions section-title deep-lavender">Solutions</h2>
    <h6 class="small-subtitle dark-indigo products">The possibilities with our hybrid blockchain are endless. Dive into our solution use cases below.</h6>


    <div class="columns products">
      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">The internet of environments</h3>
            </div>

            <div class="products-short-text steel">
              <p>Digitisation is key to drive the sustainability transformation forward. Verified data insights combined help us to better understand our true impact on the environment.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">International waste transportation & permit issuance</h3>
            </div>

            <div class="products-short-text steel">
              <p>Creating a level playing field for all participants in the waste value chain, creating unparalleled efficiency for all stakeholders involved. </p>
            </div>
            <a href="/usecases/ilt/" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Decentralized commercial lease agreements</h3>
            </div>

            <div class="products-short-text steel">
              <p>Legal documents used to be static pieces of paper. Through Live Contracts, a new way of automation and efficiency can be achieved.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a src="#">
          </div>

        </div>

      </div>
    </div>

    <div class="columns products">

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Smart certificates on the blockchain</h3>
            </div>

            <div class="products-short-text steel">
              <p>NeN decentralized power to validate an organizational certificate.  Everyone with a smartphone is able to check whether a certificate is valid or void.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">CATEGORY</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Streamlining small criminal cases</h3>
            </div>

            <div class="products-short-text steel">
              <p>Blockchain has opened up countless opportunities for organizations to collaborate smarter and more transparently. When novel technologies are combined, true efficiency surfaces.</p>
            </div>
            <a src="#" class="button is-primary is-rounded main-button products">
              <p class="button-text products">Explore this use case</p>
            </a>
          </div>

        </div>

      </div>

      <div class="column products">
        <div class="products-column column">

          <div class="products-image">
            <img class="products-image" src="/assets/polygons - 1.png">
            <div class="products category">
              <p class="products category bluey-grey">ANYTHING</p>
            </div>
          </div>

          <div class="products-block-content">

            <div class="products-block-title">
              <h3 class="dark-indigo">Your use case?<br><br></h3>
            </div>

            <div class="products-short-text steel">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <a src="#" class="button is-large is-warning is-rounded main-button products">
              <p class="button-text products dark-indigo">Scedule a call</p>
            </a>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>
