<section class="three-areas-section is-medium alt">
  <div class="three-areas container">

    <div class="three-areas-columns columns">
      <div class="three-areas-column column">

        <div class="three-areas-icon-div">
          <img src="/assets/card-rock-dev.png" srcset="/assets/card-rock-dev@2x.png 2x, /assets/card-rock-dev@3x.png 3x" class="card-rock-dev">
        </div>

        <div class="three-areas-column-content">
          <h3 class="three-areas-column-title purple">Developer area</h3>
          <p class="three-areas-short-text dark-indigo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>

        <div class="button is-rounded is-primary main-button three-areas-button">
          Learn more
        </div>

      </div>

      <div class="three-areas-column column">

        <div class="three-areas-icon-div">
          <img src="/assets/card-rock-community.png" srcset="/assets/card-rock-community@2x.png 2x, /assets/card-rock-community@3x.png 3x" class="card-rock-community">
        </div>

        <div class="three-areas-column-content">
          <h3 class="three-areas-column-title purple">Community area</h3>
          <p class="three-areas-short-text dark-indigo">Proin venenatis augue nisl. Curabitur iaculis hendrerit leo</p>
        </div>

        <div class="button is-rounded is-primary main-button three-areas-button">
          Learn more
        </div>

      </div>

      <div class="three-areas-column column">

        <div class="three-areas-icon-div">
          <img src="/assets/card-rock-contact.png" srcset="/assets/card-rock-contact@2x.png 2x, /assets/card-rock-contact@3x.png 3x" class="card-rock-contact">

        </div>

        <div class="three-areas-column-content">
          <h3 class="three-areas-column-title purple">Contact support</h3>
          <p class="three-areas-short-text dark-indigo">Curabitur iaculis hendrerit leo Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="button is-rounded is-primary main-button three-areas-button">
          Learn more
        </div>

      </div>

    </div>


</div>
</section>
