<section class="three-areas-section is-medium" style="background-color: #f4f7fb;">
  <div class="three-areas">

  <div class="three-areas-blocks-container">

    <div class="three-areas-block">

      <div class="three-areas-block-icon-div">
        <img class="three-areas-block-icon-img" src="/assets/circle icon - clipboard.svg">
      </div>

      <div class="three-areas-block-content">
        <div class="three-areas-block-title">
            <h3 class="purple"> Developer area</h3>
        </div>
        <div class="three-areas-short-text dark-indigo">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
      </div>
      <div class="button is-rounded is-primary main-button three-areas-button">
        Learn more
      </div>

    </div>

    <div class="three-areas-block">

      <div class="three-areas-block-icon-div">
        <img class="three-areas-block-icon-img" src="/assets/circle icon - clipboard.svg">
      </div>

      <div class="three-areas-block-content">
        <div class="three-areas-block-title">
            <h3 class="purple">Community area</h3>
        </div>
        <div class="three-areas-short-text dark-indigo">
          <p>Proin venenatis augue nisl. Curabitur iaculis hendrerit leo.</p>
        </div>
      </div>
      <div class="button is-rounded is-primary main-button three-areas-button">
        Learn more
      </div>

    </div>


    <div class="three-areas-block">

      <div class="three-areas-block-icon-div">
        <img class="three-areas-block-icon-img" src="/assets/circle icon - clipboard.svg">
      </div>

      <div class="three-areas-block-content">
        <div class="three-areas-block-title">
            <h3 class="purple">Contact support</h3>
        </div>
        <div class="three-areas-short-text dark-indigo">
          <p>Curabitur iaculis hendrerit leo Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

      <div class="button is-rounded is-primary main-button three-areas-button">
        Learn more
      </div>

    </div>


  </div>





</div>
</section>
