<section class="token-metrics section is-medium alt">
  <div class="token-metrics container">

    <h2 class="token-metrics section-title deep-lavender">Token metrics</h2>
    <h6 class="small-subtitle dark-indigo token-metrics">Statistics come from coinmarketcap.com</h6>

  </div>

<div class="community-promo-numbers-div">
  <div class="community-promo-numbers-container container">
    <div class="promo-numbers-level level">
      <div class="promo-numbers level-item">
        <div class="promo-numbers sub-level-item">
          <p class="title promo-numbers deep-lavender">$15.838.405 USD
</p>
          <p class="heading-token-metrics promo-numbers is-lowercase dark-indigo"> market-capitalisation</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-numbers level-item has-text-centered">
        <div class="promo-numbers sub-level-item">
          <p class="title promo-numbers deep-lavender">$1.282.704 USD</p>
          <p class="heading-token-metrics promo-numbers is-lowercase dark-indigo"> volume (24h)</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-numbers level-item has-text-centered">
        <div class="promo-numbers sub-level-item">
          <p class="title promo-numbers deep-lavender">$0,085868 USD</p>
          <p class="heading-token-metrics promo-numbers is-lowercase dark-indigo">token price</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-numbers level-item has-text-centered">
        <div class="promo-numbers sub-level-item">
          <p class="title promo-numbers deep-lavender">2.545</p>
          <p class="heading-token-metrics promo-numbers is-lowercase dark-indigo"> holders</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-numbers level-item has-text-centered">
        <div class="promo-numbers sub-level-item">
          <p class="title promo-numbers deep-lavender">35.462.217 LTO</p>
          <p class="heading-token-metrics promo-numbers is-lowercase dark-indigo"> staked tokens</p>
        </div>
      </div>
    </div>
  </div>
</div>


</section>
