<section class="why-lto-section is-medium section alt">

  <div class="why-lto-div">
    <div class="columns why-lto main-columns">

      <div class="column why-lto text main-columns">
        <div class="why-lto-title-container container">
          <h2 class="deep-lavender section-title title">
            Why LTO Network
          </h2>
        </div>

        <div class="why-lto text container">
          <p class="why-lto text steel">
            We came up with a different approach than most other fabric. We created a complex layer to execute business logic in miniature private chains. These are created following our Live COntracts protocol.
            <br> <br>
            Every process is a mini-blockchain by itself. Data and business logic is only shared between the participants on that single chain. We combined this wiht our  lightweight public chain with the sole purpose of anchoring data. This brings advantages such as, horizontal scalability, possibility to delete data from the mini-chains and setting up a node in a matter of minutes instead of days.
          </p>

          <a src="#" class="button is-primary is-rounded main-button why-lto">
            <p class="button-text hybrid-blockchain">Learn more</p>
          </a>
        </div>
      </div>

      <div class="column why-lto cylinder-image is-7 main-columns">

        <div class="company-names why-lto dark-indigo">
          <p class="company-names why-lto">Company A</p>
          <p class="company-names why-lto">Company B</p>
        </div>

        <div class="why-lto image">
          <img src="https://via.placeholder.com/700x400">
        </div>
      </div>
    </div>
  </div>
</section>
