{% set title = 'LTO Network - Use case - Legal Live Contracts' %}
{% set description = 'Decentralized commercial lease agreements' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url(/assets/slider-image-car@3x.png);">
    <div class="hero-body">
      <div class="container">
          <div class=""><span class="tag is-rounded is-medium blue-grey"> SOLUTION </span></div>
        <h1 class="primary-text">Decentralized commercial lease agreements</h1>
          <h2 class="dark-indigo">Legal documents used to be static pieces of paper. Through Live Contracts, unique automation and efficiency can be achieved.</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c">
      <div class="container use-cases">
        <div class="item use-cases">
            <p class="promo-head use-cases">Client</p>
            <img class="promo-client" src="/assets/use-cases/cms@2x.png">
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">CMS Law, MSeven Real Estate</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
      <h2 class="has-text-centered section-title">Business challenges</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Use of paper</h3>
            <div class="card-description">
              <p>Paper contracts have been used for centuries to formalize agreements. By using paper contracts, we use natural language that is describing the procedures that relate to the promises that are made in an agreement. This works, but it can only be used as a static reference.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Legal Automation</h3>
            <div class="card-description">
              <p>TIt’s difficult for computers to understand any natural language. This means doing automation based on paper contracts is almost impossible. The proposed holy grails, Smart contracts, often don’t suffice and are too rigid.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Many stakeholders</h3>
            <div class="card-description">
              <p>On commercial lease agreements, many parties are involved, such as maintenance, tenants, landlords, asset managers, asset owners, etc. These parties all need to be aligned, ideally looking at the same set of real-time data.</p>
            </div>
          </div>
        </div>
      </div>
        </div>
    </section>
</div>


<div class="section-container">
  <section class="section secondary">
    <div class="container">
      <h2 class="has-text-centered section-title">Solution overview</h2>
      <div class="columns is-centered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">One point-of-truth</h3>
          <p class="muted">By utilising blockchain technology, each party will have control over its own data and will be able to verify the actions of others, making cooperation secure. Directly linking IoT-devices to the blockchain eliminates any form of human interference.</p>
        </div>
        <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
            <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
            </div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">The building passport</h3>
          <p class="muted">Especially new buildings can start off the right way by creating a building passport, that allows for a complete, trusted set of data which can be transferred when switching owners.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40 inverted-mobile">
        <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">Organizations’ own</h3>
          <p class="muted">Organizational environmental data is now scattered all over the place. In future white label environments, each organization will have its own dashboard, with its own data, to do their own analysis on that data.</p>
        </div>
          <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
        </div>
      </div>
        <div class="btn-container has-text-centered has-margin-top-40">
        <a src="#" class="button is-primary">Book a demo</a>
        </div>
    </div>
  </section>
</div>


<div class="section-container cutout-top-alt cutout-bottom-alt">
  <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Automated compliance</h3>
          <p class="muted">Save up to 40% on administrative overhead by reducing bureaucracy within organization. The LTO platform creates automated audit trails, and orchestrated tasks. Its status can be checked by the actors without relying on a central organization.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Ease of integration</h3>
          <p class="muted"> LTO Network is a fully decentralized and highly efficient blockchain infrastructure that is easy to integrate in existing (legacy) systems. Production-ready for instant efficiency upgrades.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Liquidity</h3>
          <p class="muted">Liquidity improvement and less write offs on tenants who go bankrupt because service charges can be debited directly instead months after the close of the year.</p>
        </div>
      </div>

    <div class="columns is-centered has-margin-top-40">
        <div class="column">
<table class="table advantages">
      <thead>
        <tr>
          <th class="table-icon"></td>
          <th class="dark-indigo" colspan="2">Theme</th>
          <th class="dark-indigo" colspan="2">LTO Network solution</th>
          <th class="dark-indigo" colspan="2">Traditional solution</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Automation</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Using Live Contracts, a legal document is portrayed as a set of business rules and data that allow automation.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Static pieces of paper are impossible to automate.</td>
        </tr>

        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Data sharing</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">LTO Networks distributed data processing allows for unparalleled efficient data exchange between stakeholders.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Unstructured data is shared between participants on a contract through ancient communication methods.</td>
        </tr>


        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Existing systems</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">By simply linking API’s to a Live Contract, stakeholders can participate on a workflow while keeping existing IT in place.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">‘Traditional’ blockchain solutions require large and costly IT overhauls due to existing (legacy) systems.</td>
        </tr>

        <tr>
        </tr>
      </tbody>

    </table>
</div>
</div>


    <div class="btn-container has-text-centered">
    <a href="#" class="button is-primary">
      Book a demo
    </a>
</div>
  </div>
</section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l">
<div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UPtzmGf7gVo?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
    <a href="https://about.v-id.org/ioetest" target="blank" class="button is-primary">Learn more</a>
  </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m ecosystem-v">
      <div class="section-body">
        <div class="ecosystem-v"></div>
        <div class="columns">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <div class="btn-container">
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>LTO’s GDPR and privacy compliance characteristics make it a fresh breath of air in a clouded and hyped blockchain landscape. We’re looking forward to exploring other solutions with LTO in the future!
                <div class="author">Niels Bruijninckx, Senior Manager M7 Real Estate</div>
            </blockquote>
        </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
    <div class="container">
      <div class="columns">
        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-1.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Developer area</h3>
            <div class="card-description has-text-centered">
              <p>Get to know the tech, set up a node and learn how to build your first product or integration on LTO network.</p>
            </div>
            <div class="btn-container card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-2.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Community area</h3>
            <div class="card-description has-text-centered">
              <p>Ready to put your marketing, design and development skills into practice? Join the community!</p>
            </div>
            <div class="btn-container card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-3.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Contact us</h3>
            <div class="card-description has-text-centered">
              <p>Got a question on implementing blockchain in your (clients) organization? The LTO Network team is here to help you out!</p>
            </div>
            <div class="btn-container card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
