<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter logo-column">
        <a class="footer-item">
          <img width="240" class="navbar-logo lazy" data-src="/assets/logo/logo-full-dark-gradient.svg" alt="LTO Network - Logo"/>
        </a>
      </div>

      <div class="column is-half">
        <div class="columns mobile-flex-row">
          <div class="column">
           <ul>
              <li class="footer-title">快速链接</li>
               <li>
                <a class="footer-item" href="/cn/partners-clients/">合作伙伴与客户</a>
              </li>
                <li>
                <a class="footer-item" href="/cn/use-cases/">案例</a>
              </li>
                <li>
                <a class="footer-item" href="https://explorer.ltonetwork.com">探险者</a>
              </li>
              <li>
                <a class="footer-item" href="https://wallet.lto.network">钱包</a>
              </li>
              <li>
                <a class="footer-item" href="https://blog.ltonetwork.com/staking-and-leasing-lto-network-node-guide/">放样指南</a>
              </li>
              <li>
                <a class="footer-item" href="https://blog.ltonetwork.com/blockchain-adoption-real-world/">集成商門戶</a>
              </li>
            </ul>
          </div>

          <div class="column">
           <ul>
              <li class="footer-title">联系</li>
                <li>
                <a class="footer-item" href="/cn/contact/?department=software-vendors">软件供应商</a>
              </li>
              <li>
                <a class="footer-item" href="/cn/contact/?department=business">业务</a>
              </li>
                <li>
                <a class="footer-item" href="/cn/contact/?department=developer">开发者</a>
              </li>
              <li class="footer-title has-margin-top-20">欧盟“通用数据保护条例</li>
              <li>
                <a class="footer-item" href="/documents/privacy-policy.pdf">隐私政策 (EN)</a>
              </li>
              <li>
                <a class="footer-item" href="/documents/cookie-statement.pdf">Cookie声明 (EN)</a>
              </li>
            </ul>
            
          </div>
          <div class="column is-hidden-mobile">
           &copy; 2019 LTO Network <br>
              <small><a href="https://www.firm24.com/bv-oprichten/">由Firm24成立</a></small>
            </div>
        </div>
      </div>
      <div class="column social-column">
        <div class="flex-row social-media-container">
         <a class="social-media-icon" href="https://www.linkedin.com/company/ltonetwork/">
            <div class="icon-linkedin">
             <picture>
              <img class="lazy" data-src="/assets/icons/linkedin.svg" alt="LTO Network - Linkedin">
              </picture>
            </div>
          </a>
          <a class="social-media-icon" href="https://twitter.com/LTOnetwork">
            <div class="icon-twitter">
             <picture>
              <img class="lazy" data-src="/assets/icons/twitter.svg" alt="LTO Network - Twitter">
              </picture>
            </div>
          </a>
          <a class="social-media-icon" href="https://github.com/ltonetwork">
            <div class="icon-git">
             <picture>
              <img class="lazy" data-src="/assets/icons/git.svg" alt="LTO Network - Github">
              </picture>
            </div>
          </a>
          <a class="social-media-icon" href="https://www.youtube.com/channel/UCaHcF-xterKYTKSpY4xgKiw">
            <div class="icon-youtube">
             <picture>
              <img class="lazy" data-src="/assets/icons/youtube.svg" alt="LTO Network - Youtube">
              </picture>
            </div>
          </a>
          <a class="social-media-icon" href="https://reddit.com/r/LTONetwork">
            <div class="icon-reddit">
             <picture>
              <img class="lazy" data-src="/assets/icons/reddit.svg" alt="LTO Network - Reddit">
              </picture>
            </div>
          </a>
          <a class="social-media-icon" href="https://t.me/LTOnetwork">
            <div class="icon-telegram">
             <picture>
              <img class="lazy" data-src="/assets/icons/telegram.svg" alt="LTO Network - Telegram">
              </picture>
            </div>
          </a>
        </div>
      </div>
      <div class="column is-hidden-desktop has-text-centered">
          <p>&copy; 2019 LTO Network</p>
              <small>Incorporated by <a href="https://www.firm24.com/bv-oprichten/">Firm24</a></small>
            </div>
    </div>
  </div>
</footer>