{% block navigation %}

<nav class="navbar is-fixed-top is-transparent" role="navigation" id="navbar">
  <div class="navbar-container container">
    <div class="navbar-brand">
      <a class="logo" href="/cn/">
        <img width="184" src="/assets/logo/logo-full-dark-gradient.svg" alt="LTO Network" />
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavigationMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mainNavigationMenu" class="navbar-menu">
      <div class="navbar-end">
       <a class="navbar-item dark-indigo is-hidden-desktop" href="/">
          HOME
        </a>
        <a class="navbar-item dark-indigo" href="/cn/use-cases/">
          案例
        </a>
        <a class="navbar-item dark-indigo" href="/cn/tech/">
          技术
        </a>
        <a class="navbar-item dark-indigo" href="/cn/ecosystem/">
          V生态系统
        </a>
        <a class="navbar-item dark-indigo" href="/cn/community/">
          放样
        </a>
        <a class="navbar-item dark-indigo" href="https://blog.ltonetwork.com">
          博客
        </a>
        <a class="navbar-item dark-indigo" href="/cn/about/">
          关于
        </a>
        <a class="navbar-item dark-indigo" href="https://explorer.lto.network/">
        探险家
        </a>
        <a class="language" href="/">
        <picture><img class="lazy" data-src="/assets/icons/en.svg" alt="English website"></picture>
        </a>
    </div>
  </div>
</div>
</nav>


{% endblock %}
