    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
            <p class="promo-head deep-lavender">100万+</p>
            <p class="promo-desc dark-indigo">active users</p>
        </div>
        <div class="item">
          <p class="promo-head deep-lavender">3万+</p>
          <p class="promo-desc dark-indigo">日常交易量</p>
        </div>
        <div class="item">
          <p class="promo-head deep-lavender">75+</p>
          <p class="promo-desc dark-indigo">区块链节点<small>(avg 30 days)</small></p>
        </div>
      </div>
    </div>