    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
          <p class="promo-head accent-text">120万+</p>
          <p class="promo-desc">当前用户</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">Top 25</p>
          <p class="promo-desc">全球区块链</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">4万+</p>
          <p class="promo-desc">日常交易量</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">57+</p>
          <p class="promo-desc">区块链节点</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">41+</p>
          <p class="promo-desc">生态系统合作伙伴</p>
        </div>
      </div>
    </div>