{% set title = 'LTO Network - Use cases' %}
{% set description = 'Products and solutions built on LTO Network blockchain' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-uc-ilt.png')">
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">The blockchain that saves € 7 million <br> in waste transportations</h1>
        <div class="buttons btn-container">
          <a href="/use-cases/waste-transportation-blockchain/" class="button is-warning"><p class="dark-indigo">Explore this use case</p></a>
          <a href="#overview" class="button">More use cases</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
          <p class="promo-head accent-text">1M+</p>
          <p class="promo-desc">Active users</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">Top 20</p>
          <p class="promo-desc">blockchains worldwide</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">30k+</p>
          <p class="promo-desc">daily transactions</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">nodes</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">ecosystem partners</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
  <section class="section" id="overview">
    <div class="container">
      <h2 class="has-text-centered section-title">Overview of use cases</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/use-cases/card-uc-capptions.png">
          <div class="card-content">
            <h3 class="accent-text">Digital checklist & inspection application</h3>
            <div class="card-description">
              <p class="muted">Providing immutable evidence to data entries and creation of inspection reports on vital locations like airports, oil terminals and dangerous goods.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/digital-checklist-inspection-reports/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/use-cases/card-uc-signrequest.png">
          <div class="card-content">
            <h3 class="accent-text">Digital signing with blockchain verification</h3>
            <div class="card-description">
              <p class="muted">Providing assurance that document contents have not been tampered with and providing proof of the specific date and time a document was signed.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/digital-signing-blockchain-verification/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/use-cases/card-uc-firm24.png">
          <div class="card-content">
            <h3 class="accent-text">Data sharing in notary procedures</h3>
            <div class="card-description">
              <p class="muted">Notary procedures heavily rely on paper based processes. LTO Network makes incorporation procesures more efficient by sharing data  efficiently and secure.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/data-sharing-in-notary-procedures/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/use-cases/card-uc-vaas.png">
          <div class="card-content">
            <h3 class="accent-text">Authenticity of artwork</h3>
            <div class="card-description">
              <p class="muted">By validating works of art via blockchain, objects are better protected and the authenticity can be established easier and faster.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/authenticity-art-objects/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/use-cases/card-uc-scantrust.png">
          <div class="card-content">
            <h3 class="accent-text">Smart QR-codes</h3>
            <div class="card-description">
              <p class="muted">Enabling brands with smart packaging solutions for product authentication, supply chain traceability using blockchain technology of LTO Network.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/track-trace-product-authentication/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/use-cases/card-uc-contractapp.png">
          <div class="card-content">
            <h3 class="accent-text">Contracts made easy</h3>
            <div class="card-description">
              <p class="muted">Receive a fully negotiated and executed contract that also gets hashed on a blockchain by just answering a few questions in a form on your smartphone.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/contracts-made-easy/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutoff-top cutout-bottom">
  <section class="section relative tertiary neg-m-top-m p-top-l">
    <div class="container z-index-4">
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/use-cases/card-uc-ioe.png">
          <div class="card-content">
            <h3 class="accent-text">Trusted Document Management</h3>
            <div class="card-description">
              <p class="muted">By combining document management system with our blockchain technology we provide a independintly verifyable audit trail.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/trusted-document-management/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/use-cases/card-uc-ilt.png">
          <div class="card-content">
            <h3 class="accent-text">International waste transportation</h3>
            <div class="card-description">
              <p class="muted">Connecting all stakeholders of the waste transportation process together through LTO Network saves more than EUR 7M on an annual basis. </p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/waste-transportation-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

                <div class="column card">
          <img class="card-image clip-a" src="/assets/use-cases/card-uc-lease.png">
          <div class="card-content">
            <h3 class="accent-text">Smart property lease agreements</h3>
            <div class="card-description">
              <p class="muted">Legal documents used to be static pieces of paper. Through Live Contracts, a new way of automation and efficiency can be achieved in the real estate industry. </p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/smart-property-lease-agreements/" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-b" src="/assets/use-cases/card-uc-certificates.png">
          <div class="card-content">
            <h3 class="accent-text">Smart certificates on the blockchain</h3>
            <div class="card-description">
              <p class="muted">NEN introduced a new way to validate certificates. Instead of using regulators to do random checks, everyone with a smart phone can validate a certificate.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/smart-certificates-blockchain/" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/use-cases/card-uc-cac.png">
          <div class="card-content">
            <h3 class="accent-text">Streamlining small criminal cases</h3>
            <div class="card-description">
              <p class="muted">With LTO Network a multi-stakeholder process like shoplifting can be automated by connecting data silo's and enabling effective sharing of business processes. </p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/criminal-cases-blockchain/" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Want to showcase your solution?</h3>
            <div class="card-description">
              <p class="muted">The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-warning">
                Schedule a demo
              </a>
            </div>
          </div>
        </div>
     </div>

    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>
{% endblock %}
