{% set title = 'Use Cases 1.2' %}
{% set description = 'Use Cases 1.2' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/slider-image@3x.png')">
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">Use-cases</h1>
        <div class="btn-container">
          <a href="#" class="button">Explore</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
          <p class="promo-head accent-text">1M+</p>
          <p class="promo-desc">Active users</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">Top 20</p>
          <p class="promo-desc">blockchains worldwide</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">30k+</p>
          <p class="promo-desc">daily transactions</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">nodes</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">ecosystem partners</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
  <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Products</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Compliance on inspection reports</h3>
            <div class="card-description">
              <p>GProviding an extra layer of data security and adhering to strict compliance rules in relation to inspection reports and data entries.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Impartial and trustless verification of electronically signed documents</h3>
            <div class="card-description">
              <p>Providing assurance that document contents have not been tampered with, and providing proof of the specific date and time a document was signed.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Decentralized data sharing between notaries</h3>
            <div class="card-description">
              <p>Trust is of utmost importance in notary procedures. With LTO Network, Firm24 created the biggest online business platform in The Netherlands, fully decentralized.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Validation-as-a-service (VaaS)</h3>
            <div class="card-description">
              <p>V-ID certifies, secures and validates all Digital Assets with LTO Network, enabling a completely new service: Validation as a Service.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Your use-case</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your software could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>

        <div class="column card invisible is-hidden-mobile">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Your use-case?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutoff-top cutout-bottom">
  <section class="section relative tertiary neg-m-top-m p-top-l">
    <div class="container z-index-4">
      <h2 class="has-text-centered section-title">Solutions</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">The internet of environments</h3>
            <div class="card-description">
              <p>Digitisation is key to drive the sustainability transformation forward. Verified data insights combined help us to better understand our true impact on the environment.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">International waste transportation & permit issuance</h3>
            <div class="card-description">
              <p>Creating a level playing field for all participants in the waste value chain, creating unparalleled efficiency for all stakeholders involved. </p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">International waste transportation & permit issuance</h3>
            <div class="card-description">
              <p>Creating a level playing field for all participants in the waste value chain, creating unparalleled efficiency for all stakeholders involved. </p>              
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Decentralized commercial lease agreements</h3>
            <div class="card-description">
              <p>Legal documents used to be static pieces of paper. Through Live Contracts, a new way of automation and efficiency can be achieved.</p>              
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Smart certificates on the blockchain</h3>
            <div class="card-description">
              <p>NeN decentralized power to validate an organizational certificate.  Everyone with a smartphone is able to check whether a certificate is valid or void.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Streamlining small criminal cases</h3>
            <div class="card-description">
              <p>Blockchain has opened up countless opportunities for organizations to collaborate smarter and more transparently. When novel technologies are combined, true efficiency surfaces.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Explore this use-case
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Your use-case?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>
        <div class="column card invisible is-hidden-mobile">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Your use-case?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>
        <div class="column card invisible is-hidden-mobile">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Your use-case?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="#" class="button is-primary">
                Schedule a call
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
    <div class="container">
      <div class="columns">
        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-1.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Developer area</h3>
            <div class="card-description has-text-centered">
              <p>Get to know the tech, set up a node and learn how to build your first product or integration on LTO network.</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-2.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Community area</h3>
            <div class="card-description has-text-centered">
              <p>Ready to put your marketing, design and development skills into practice? Join the community!</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-3.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Contact us</h3>
            <div class="card-description has-text-centered">
              <p>Got a question on implementing blockchain in your (clients) organization? The LTO Network team is here to help you out!</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
