{% set title = 'LTO Network - Overview of use cases' %}
{% set description = 'Products and solutions built on LTO Network blockchain' %}
{% set currentUrl = '/use-cases/' %}
{% set locale = 'en' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight use-case-header">
    <img class="overlay-image no-opacity current" src="/assets/hero/hero-uc-ilt@2x.jpg">
    <img class="overlay-image no-opacity next" src="/assets/hero/hero-uc-scantrust@2x.jpg">
    <div class="hero-body">
      <div class="container">
       <div class="columnns">
         <div class="column is-two-thirds">
           <h1 id="hero-title" class="title">Saving $7 million annually in process efficiency for the Dutch Ministry of Infrastructure.</h1>
        <div class="buttons">
          <a href="/use-cases/waste-transport-on-blockchain/" class="explore button is-warning"><p class="dark-indigo">Explore this use case</p></a>
          <a href="#overview" class="button">More use cases</a>
        </div>
         </div>
       </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary no-padding">
{% include "partials/" ~ locale ~ "/promo-numbers.njk" %}
  </section>
</div>

<section class="section is-medium" id="overview">
    <div class="container">
      <h2 class="has-text-centered section-title">Overview of use cases</h2>
      <div class="columns">
        <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-capptions.webp">
          <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-capptions.png" alt="Inspection reports on Blockchain (Capptions)">
            </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Inspection reports on Blockchain (Capptions)</h3>
            <div class="card-description">
              <p class="muted">Providing immutable evidence to data entries and creation of inspection reports on vital locations like airports, oil terminals and dangerous goods.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/inspection-reports-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-signrequest.webp">
          <img class="card-image clip-b lazy" data-src="/assets/use-cases/card-uc-signrequest.png" alt="Digital Signatures on Blockchain (SignRequest)">
            </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Digital Signatures on Blockchain (SignRequest)</h3>
            <div class="card-description">
              <p class="muted">Providing assurance that document contents have not been tampered with and providing proof of the specific date and time a document was signed.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/digital-signatures-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-firm24.webp">
          <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-firm24.png" alt="Notary procedures on Blockchain (Firm24)">
            </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Notary procedures on Blockchain (Firm24)</h3>
            <div class="card-description">
              <p class="muted">Notary procedures heavily rely on paper based processes. LTO Network makes incorporation procesures more efficient by sharing data  efficiently and secure.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/notary-procedures-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-vaas.webp">
            <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-vaas.png" alt="Artwork Authenticity on Blockchain (V-ID)">
            </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Artwork Authenticity on Blockchain (V-ID)</h3>
            <div class="card-description">
              <p class="muted">By validating works of art via blockchain, objects are better protected and the authenticity can be established easier and faster.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/artwork-authenticity-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-contractapp.webp">
          <img class="card-image clip-b lazy" data-src="/assets/use-cases/card-uc-contractapp.png" alt="Legal Contracts on Blockchain (Quislex)">
            </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Legal Contracts on Blockchain (Quislex)</h3>
            <div class="card-description">
              <p class="muted">Receive a fully negotiated and executed contract that also gets hashed on a blockchain by just answering a few questions in a form on your smartphone.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/legal-contracts-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

<!--
        <div class="column card uc align-evenly invisible">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-scantrust.webp">
          <img class="card-image clip-b lazy" data-src="/assets/use-cases/card-uc-scantrust.png">
            </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Smart QR-codes</h3>
            <div class="card-description">
              <p class="muted">Enabling brands with smart packaging solutions for product authentication, supply chain traceability using blockchain technology of LTO Network.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/supply-chain-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>
-->
     <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="Showcase your use case here?">
         </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Showcase your use case here?</h3>
            <div class="card-description">
              <p class="muted">The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/?department=business" class="button is-warning">
                Schedule a demo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<div class="section-container cutout-bottom">
  <section class="section is-medium relative alt">
    <div class="container z-index-4">
      <div class="columns">
       <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-ioe.webp">
          <img class="card-image clip-b lazy" data-src="/assets/use-cases/card-uc-ioe.png" alt="Environment data on Blockchain (IBM)">
           </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Environment data on Blockchain (IBM)</h3>
            <div class="card-description">
              <p class="muted">Digitisation is key to drive the sustainability transformation forward. Data insights help us better understand our true impact on the environment.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/environment-data-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-ilt.webp">
          <img class="card-image clip-b lazy" data-src="/assets/use-cases/card-uc-ilt.png" alt="Waste transport on Blockchain (ILT)">
            </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Waste transport on Blockchain (ILT)</h3>
            <div class="card-description">
              <p class="muted">Connecting all stakeholders of the waste transportation process together through LTO Network saves more than EUR 7M on an annual basis. </p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/waste-transport-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-lease.webp">
          <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-lease.png" alt="Lease agreements on Blockchain (M7)">
            </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Lease agreements on Blockchain (M7)</h3>
            <div class="card-description">
              <p class="muted">Legal documents used to be static pieces of paper. Through Live Contracts, a new way of automation and efficiency can be achieved in the real estate industry. </p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/lease-agreements-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-certificates.webp">
          <img class="card-image clip-b lazy" data-src="/assets/use-cases/card-uc-certificates.png" alt="Certificates on Blockchain (NEN)">
            </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Certificates on Blockchain (NEN)</h3>
            <div class="card-description">
              <p class="muted">NeN introduced a new way to validate certificates. Instead of using regulators to do random checks, everyone with a smart phone can validate a certificate.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/certificates-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

        <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-cac.webp">
          <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-cac.png" alt="Judicial cases on Blockchain (OM)">
            </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Judicial cases on Blockchain (OM)</h3>
            <div class="card-description">
              <p class="muted">With LTO Network a multi-stakeholder process like shoplifting can be automated by connecting data silo's and enabling effective sharing of business processes. </p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/judicial-cases-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>

<!--
        <div class="column card uc align-evenly invisible">
         <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/card-uc-tdm.webp">
          <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-tdm.png" alt="Document Management on Blockchain  (VirtualVaults)">
          </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Document Management on Blockchain  (VirtualVaults)</h3>
            <div class="card-description">
              <p class="muted">By combining document management system with our blockchain technology we provide a independintly verifyable audit trail.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/document-management-on-blockchain/" class="button is-primary">
                Explore this use case
              </a>
            </div>
          </div>
        </div>
-->
        <div class="column card uc align-evenly">
         <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="Showcase your use case here?">
            </picture>
          <div class="card-content">
            <h3 class="subtitle is-4 is-spaced">Showcase your use case here?</h3>
            <div class="card-description">
              <p class="muted">The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/?department=business" class="button is-warning">
                Schedule a demo
              </a>
            </div>
          </div>
        </div>
     </div>

    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
  {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>
{% endblock %}
