{% set title = 'LTO Network - Use case - Legal Contracts on Blockchain (Quislex)' %}
{% set description = 'Receive a fully negotiated and executed contract that also gets hashed on a blockchain by just answering a few questions in a form on your smartphone.' %}
{% set currentUrl = '/use-cases/legal-contracts-on-blockchain/' %}
{% set locale = 'en' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-contractapp@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-contractapp@2x.jpg" alt="Legal Contracts on Blockchain (Quislex)">
    </picture>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-two-thirds">
            <div class=""><span class="tag is-rounded is-medium blue-grey"> USE CASE </span></div>
            <h1 class="primary-text">Legal Contracts on Blockchain</h1>
            <h2 class="dark-indigo">Receive a fully negotiated and executed contract that also gets hashed on a blockchain by just answering a few questions in a form on your smartphone.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
          <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/quislex@2x.webp">
            <img class="promo-client lazy" data-src="/assets/use-cases/quislex@2x.png" alt="Quislex">
          </picture>
        </div>
        <div class="item use-cases">
          <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">QuisLex, DocJuris, JotForm, WebMerge, SignRequest and TheContractApp.</p>
        </div>
      </div>
    </div>
  </section>
</div>


<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Business challenges</h2>
    <div class="columns">
      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Legal automation</h3>
          <div class="card-description">
            <p class="muted">It's difficult for computers to understand any natural language. This shortcoming means that doing automation based on (paper) contracts is almost impossible. </p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Time consuming</h3>
          <div class="card-description">
            <p class="muted">Negotiations about contracts, including NDA's, often take lots of time and cost much money. You also have to wait for comments from legal teams, and the average person has trouble understanding the difficult language in legal contracts. </p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Confusion</h3>
          <div class="card-description">
            <p class="muted">Contracts are often sent back and forth. This way of working allows for the possibility of different parties having different versions of the contract. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium secondary">
  <div class="container">
    <h2 class="has-text-centered section-title">Solution overview</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Tamperproof QR codes</h3>
        <p class="muted">Transforming standard contracts to data points and process steps, understandable to both humans and machines to enable automation for both contracting parties. The first contracts that are automated are NDA's. </p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/briefcase-purple.svg" alt="Tamperproof QR codes">
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/notebook-purple.svg" alt="Effective collaboration">
      </div>
      <div class="column is-1"></div>
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Effective collaboration</h3>
        <p class="muted">Allowing two parties to "pre-negotiate" their contract by aligning on mutually agreeable positions before generation of a contract, avoiding the time spent exchanging drafts back and forth but addressing the reality faced by all companies who do not have the bargaining leverage to force terms on a counterparty.
        </p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Data sharing</h3>
        <p class="muted">After a document is signed in theContractApp, participants receive an indisputable Proof of Existence (PoE) by securing a hash on the LTO Network public blockchain. By having this PoE placed on signed documents, third parties can independently check the authenticity of the document by uploading the document for instant validation.</p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/users-purple.svg" alt="Data sharing">
      </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/contact/" class="button is-primary">Book a demo</a>
    </div>
  </div>
</section>



<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered is-vcentered section-title">Advantages using LTO Network</h2>
    <div class="columns is-centered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - Cost savings">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Cost savings</h3>
        <p class="muted">Full automation of legal contracts and processes drastically increases convenience and the overall experience of a deal with all parties involved.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Easy integration">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Easy integration</h3>
        <p class="muted">Automating the processes significantly decreases the time from initiation to final contract, saving time and money.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Compliant by design">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Compliant by design</h3>
        <p class="muted">Get a Proof of Existence (PoE) by securing a hash on the LTO Network public blockchain creates an indisputable proof of the final version, without the need of any paper.</p>
      </div>
    </div>

    <div class="table-container is-centered has-margin-top-40">
      <div class="table" id="results">
        <div class='theader'>
          <div class="table_header dark-indigo">Theme</div>
          <div class="table_header dark-indigo">LTO Network solution</div>
          <div class="table_header dark-indigo">Traditional solution</div>
        </div>
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Trust</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>The new solution allows for immediate, trusted checks on certificates by anyone with a smartphone.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Paper-based certificates can't be validated on the spot, when necessary.</p>
            </div>
          </div>
        </div>



        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Signatures</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>Integrated eSignature functionality.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Tracking down hand signatures delays execution.</p>
            </div>
          </div>
        </div>
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Costs and speed</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>LTO's blockchain is optimized for anchoring, making transactions near-instant and affordable.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Traditional blockchains tend to be very slow and expensive.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/contact/" class="button is-primary">
        Book a demo
      </a>
    </div>
  </div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <video controls width="100%" class="card uc" alt="Contractapp Video">
            <source src="https://thecontract.app/wp-content/uploads/2019/05/theContractApp-Final-052719-1.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
    {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
