{% set title = 'LTO Network - Use case - Trusted document management' %}
{% set description = 'Deposit crucial contracts, intellectual property and certificates' %}
{% set currentUrl = '/cn/use-cases/trusted-document-management/' %}
{% set locale = 'cn' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-tdm@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-tdm@2x.jpg" alt="Trusted Document Management">
    </picture>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-two-thirds">
                <div class=""><span class="tag is-rounded is-medium blue-grey"> 用例 </span></div>
                <h1 class="primary-text">可信de文件管理</h1>
                <h2 class="dark-indigo">文档管理系统可用于任何类型的文档。 添加区块链有助于验证数据库管理系统（DMS）中发生的一切。</h2>
            </div>
        </div>
      </div>
    </div>
    </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
        <div class="promo-numbers c use-cases">
            <div class="container use-cases">
                <div class="item use-cases">
                   <picture>
      <source type="image/webp" data-srcset="/assets/use-cases/virtualvaults_logo@2x.webp">
                    <img class="promo-client lazy" data-src="/assets/use-cases/virtualvaults_logo@2x.png" alt="Virtual Vaults">
                    </picture>
                </div>
                <div class="item use-cases">
                    <p class="promo-head use-cases">参与方</p>
                    <p class="promo-desc use-cases muted">企业客户</p>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="section is-medium">
  <div class="container">
            <h2 class="has-text-centered section-title">商业挑战</h2>
            <div class="columns">
                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">日期和时间证明</h3>
                        <div class="card-description">
                            <p class="muted">如果在何时何地上传文档有争议，您需要能够可靠地进行验证。</p>
                        </div>
                    </div>
                </div>

                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">文件真实性</h3>
                        <div class="card-description">
                            <p class="muted">如果关于哪个文档及其内容上载有争议，您需要能够验证哪个是原始文档。</p>
                        </div>
                    </div>
                </div>

                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">文件验证</h3>
                        <div class="card-description">
                            <p class="muted">多方共享和使用的文档需要所有相关人员的信任，并且可以独立验证。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="section is-medium secondary">
  <div class="container">
            <h2 class="has-text-centered section-title">解决方案概述</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">不可更变的文件</h3>
                    <p class="muted">可以通过“哈希”文档将文档表示为数字指纹。 LTO通过与LTO连接的系统存储该文档的哈希值。任何有权访问数据的人都可以通过对文档进行哈希处理并将其与存储版本进行比较来验证该文档。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/check-alt-purple.svg" alt="LTO Network - Immutable files">
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/desktop-purple.svg" alt="LTO Network - Verifiable timestamp">
                </div>
                <div class="column is-1"></div>
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">可验证的时间戳</h3>
                    <p class="muted">不仅散列文档（指纹）存储在区块链上，而且文档的时间戳也存储在区块链上。 通过使文档可验证且可独立审核，它们变得更有价值。 LTO可为您带时间戳声明创建便携式证明。 这些基于区块链的验证可以共享并转移给其他方。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">无需第三方验证</h3>
                    <p class="muted">使用基于开放标准的LTO网络，任何一方都可以独立验证文档的真实性和时间戳，而不必依赖受信任的第三方。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                   <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/dashboard-purple.svg" alt="LTO Network - No need for third party verification">
                </div>
            </div>
            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/cn/contact/" class="button is-primary">预约样版</a>
            </div>
        </div>
</section>

<section class="section is-medium">
  <div class="container">
            <h2 class="has-text-centered section-title">使用LTO的优势</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/shield.svg" alt="LTO Network - Protection against claims">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">防止索赔</h3>
                    <p class="muted">文件已被某工作人员上传至数据库或其他文件管理系统的证据是无可争议的。这样可以保护您的组织免受签字索赔。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Easy integration">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">易于集成</h3>
                    <p class="muted">使用LTO，您无需更改整个IT基础架构。您可以使用现有的系统和应用程序来管理，记录并与LTO交流。实现与LTO的he'z的就像连接API一样简单。</p>
                </div>
            </div>
            
            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/legal.svg" alt="LTO Network - Data governance">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">数据治理</h3>
                    <p class="muted">上载的文档和带有上载详细信息的区块链收据永远无法更改。 因此，您可以轻松地记录进出数据室的所有内容。 LTO与Virtual Vaults结合使用，可以轻松管理数据库访问权限及记录是否查看，下载或删除文档。</p>
                </div>
            </div>

            <div class="table-container is-centered has-margin-top-40">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class="table_header dark-indigo">主题</div>
                        <div class="table_header dark-indigo">LTO解决方案</div>
                        <div class="table_header dark-indigo">传统解决方案</div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">安全性</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>在虚拟保管库里，文档被安全保存并被进行哈希处理以证明其起始存在。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>物理和集中式存储极易丢失文件，被黑客入侵和操纵。</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">仿冒品</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>区块链技术可确保不变和真实的文档记录。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>识别伪造的纸质文件非常耗时。</p>
                            </div>
                        </div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">共享</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>创建文档共享和版本控制的审核记录可以对文档进行独立验证。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>以安全的方式共享文档既复杂又效率低下。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="btn-container has-text-centered">
                <a href="/cn/contact/" class="button is-primary">
                    预约样版
                </a>
            </div>
        </div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div class="card uc">
                        <div class="columns">
                            <div class="column is-3 card-testimonial-img">
                               <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/vv_testimonial@2x.webp">
                                <img class="lazy" data-src="/assets/use-cases/vv_testimonial@2x.png">
                                </picture>
                            </div>
                            <div class="column">
                                <div class="content card-testimonial-content">
                                    <p class="">通过将LTO Network融入到Virtual Vault中，出现了新的商业机会。 它可以防止有关讨论的潜在争议，无论是通过并购协议上传文件，还是可以证明IP实际上属于您的组织，而不是一个专利申请。</p>
                                    <div class="author">Jeroen Kruithof</div>
                                    <div class="company">Virtual Vaults 首席执行官</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
