{% set title = 'LTO Network - Partners & clients' %}
{% set description = 'Partners and clients using LTO Network' %}
{% set currentUrl = '/cn/partners-clients/' %}
{% set locale = 'cn' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium">
   <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-partners-clients.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-partners-clients.png" alt="LTO Network - Hero Partners & Clients">
    </picture>
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">我们的合作伙伴和客户</h1>
          <h2 class="subtitle dark-indigo">通过连接我们的人脉来促进增长。</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
{% include "partials/" ~ locale ~ "/promo-numbers.njk" %}
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
  <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">独立软件供应商</h2>
      <div class="columns">
        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo Capptions@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo Capptions@2x.png" alt="LTO Network - Capptions">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Capptions</h3>
            <div class="card-description">
              <p>Capptions提供了一个数字清单和检查应用程序，为数据输入和检查报告的创建提供了不可更变的证据。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/cn/use-cases/digital-checklist-inspection-reports/" class="button is-primary">
                关于此案例
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo SignRequest@2x.webp">
          <img class="card-image clip-b lazy" src="/assets/partners-clients/Logo SignRequest@2x.png" alt="LTO Network - SignRequest">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">SignRequest</h3>
            <div class="card-description">
              <p>SignRequest提供了确保文档内容未被篡改的保证，并提供了文档签名的特定日期和时间的证明。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/cn/use-cases/digital-signing-blockchain-verification/" class="button is-primary">
                关于此案例
              </a>
            </div>
          </div>
        </div>
        
        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo Firm24@2x.webp">
          <img class="card-image clip-b lazy" src="/assets/partners-clients/Logo Firm24@2x.png" alt="LTO Network - Firm24">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Firm24</h3>
            <div class="card-description">
              <p>公证程序严重依赖纸质程序。 FIRM24使用LTO 来更高效地执行合并程序。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/cn/use-cases/data-sharing-in-notary-procedures/" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
          </div>
      </div>

      <div class="columns has-margin-top-20">
          
         <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo V-ID@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo V-ID@2x.png" alt="LTO Network - V-ID">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">V-ID</h3>
            <div class="card-description">
              <p>V-ID是保护数字资产的解决方案。 使用其艺术品保护解决方案，可以更好地保护对象，并可以更轻松，更快速地建立真实性。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/cn/use-cases/authenticity-art-objects/"  class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>
        
        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo TicTag@2x.webp">
          <img class="card-image clip-b lazy" src="/assets/partners-clients/Logo TicTag@2x.png" alt="LTO Network - TicTag">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">TicTag</h3>
            <div class="card-description">
              <p>TicTag 使用 LTO来增强其物联网数据的安全性。标记的每个扫描都锚定在 LTO 网络上，从而防止了检入数据的操纵。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://blog.lto.network/tictag-and-lto-network-iot-data/" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>    
    
        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/polygons - 1.webp">
          <img class="card-image clip-b lazy" src="/assets/polygons - 1.png" alt="LTO Network - Your use case?">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">有兴趣加入我们？</h3>
            <div class="card-description">
              <p>LTO Network团队在这里可以帮助您调查组织如何从区块链技术中受益。 安排演示以了解更多信息！</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/cn/contact/" target="blank" class="button is-warning">
                预约电话
              </a>
            </div>
          </div>
        </div>
    </div>
        
<!--
    <div class="columns has-margin-top-20">
        
        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo VV@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo VV@2x.png">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Virtual Vaults</h3>
            <div class="card-description">
              <p>Virtual Vaults提供用于交易和永久安全存储的文档管理系统。 添加区块链可对DMS中发生的一切进行身份验证。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/trusted-document-management/" class="button is-primary">
                关于此案例
              </a>
            </div>
          </div>
        </div>
        
        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo Scantrust@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo Scantrust@2x.png">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">ScanTrust</h3>
            <div class="card-description">
              <p>ScanTrust使用我们的区块链技术为品牌提供智能包装解决方案，用于产品认证，供应链可追溯性。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/track-trace-product-authentication/" class="button is-primary">
                关于此案例
              </a>
            </div>
          </div>
        </div>
        
        <div class="column card invisible is-hidden-mobile">
         <picture>
      <source type="image/webp" data-srcset="/assets/polygons - 1.webp">
          <img class="card-image clip-b lazy" src="/assets/polygons - 1.png">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Interested to join?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" target="blank" class="button is-warning">
                预约电话
              </a>
            </div>
          </div>
        </div>
    </div>
-->
        
<!--
    <div class="columns has-margin-top-20">
        <div class="column card invisible is-hidden-mobile">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo Scantrust@2x.png">
          <div class="card-content">
            <h3 class="accent-text">ScanTrust</h3>
            <div class="card-description">
              <p>ScanTrust  provides brands with smart packaging solutions for product authentication, supply chain traceability using our blockchain technology.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/track-trace-product-authentication/" class="button is-primary">
                关于此案例
              </a>
            </div>
          </div>
        </div>

        <div class="column card invisible is-hidden-mobile">
          <img class="card-image clip-a" src="/assets/partners-clients/Logo VV@2x.png">
          <div class="card-content">
            <h3 class="accent-text">Virtual Vaults</h3>
            <div class="card-description">
              <p>Virtual Vaults Provides a document management systems for deals and permanent secure storage. Adding blockchain provides authentication on everything that takes place in a DMS.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/use-cases/trusted-document-management/" class="button is-primary">
                关于此案例
              </a>
            </div>
          </div>
        </div>

        <div class="column card invisible is-hidden-mobile">
          <picture>
      <source type="image/webp" data-srcset="/assets/polygons - 1.webp">
          <img class="card-image clip-b lazy" src="/assets/polygons - 1.png">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">You?</h3>
            <div class="card-description">
              <p>Lorem ipsum</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-primary">
                预约电话
              </a>
            </div>
          </div>
        </div>
      </div>
-->
        
    </div>
  </section>
</div>

<div class="section-container cutoff-top cutout-bottom">
  <section class="section relative tertiary neg-m-top-m p-top-l">
    <div class="container z-index-2">
      <h2 class="has-text-centered section-title">系统集成商</h2>
      <div class="columns">
        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo BCG@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo BCG@2x.png" alt="LTO Network - Boston Consulting Group">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">波士顿咨询集团</h3>
            <div class="card-description">
              <p>著名的国际咨询公司波士顿咨询集团（Boston Consulting Group）将通过其区块链部门Platinion月LTO Network集成。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://www.bcg.com/beyond-consulting/bcg-platinion/default.aspx" target="blank" class="button is-primary">
               更多...
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo Moonwhale@2x.webp">
          <img class="card-image clip-b lazy" src="/assets/partners-clients/Logo Moonwhale@2x.png" alt="LTO Network - MoonWhale">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Moonwhale</h3>
            <div class="card-description">
              <p>Moonwhale是活跃于美国和亚洲的LTO集成商之一。 他们是软件集成和项目实施方面的专家。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://moonwhale.io/lto-network-enterprise-consulting/" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo Axveco@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo Axveco@2x.png" alt="LTO Network - Axveco">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Axveco</h3>
            <div class="card-description">
              <p>荷兰领先的区块链集成商Axveco与LTO Network合作，为整个欧洲的企业，政府和非政府组织提供了现实的解决方案。</p>  
            </div>
            <div class="has-margin-top-20">
              <a href="https://axveco.com" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo Xurux@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo Xurux@2x.png" alt="LTO Network - Xurux">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Xurux</h3>
            <div class="card-description">
              <p>Xurux咨询公司将LTO锚定节点集成到其系统中需要数据完整性的客户。 Xurux总部位于荷兰。</p>              
            </div>
            <div class="has-margin-top-20">
              <a href="https://xurux.nl" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <picture>
      <source type="image/webp" data-srcset="/assets/polygons - 1.webp">
          <img class="card-image clip-b lazy" src="/assets/polygons - 1.png" alt="LTO Network - Your use case?">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">合作意向?</h3>
            <div class="card-description">
              <p>LTO Network团队在这里可以帮助您调查组织如何从区块链技术中受益。 安排演示以了解更多信息！</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/cn/contact/" class="button is-warning">
                预约电话
              </a>
            </div>
          </div>
        </div>

        <div class="column invisible is-hidden-mobile card">
          <picture>
      <source type="image/webp" data-srcset="/assets/polygons - 1.webp">
          <img class="card-image clip-b lazy" src="/assets/polygons - 1.png">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">合作意向?</h3>
            <div class="card-description">
              <p>LTO Network团队在这里可以帮助您调查组织如何从区块链技术中受益。 安排演示以了解更多信息！</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/cn/contact/" class="button is-primary">
                预约电话
              </a>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section alt p-top-xl neg-m-top-m p-bottom-xl">
    <div class="container">
      <h2 class="has-text-centered section-title">伙伴</h2>
      <div class="columns">
       <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo CMS@2x.webp">
          <img class="card-image clip-b lazy" src="/assets/partners-clients/Logo CMS@2x.png" alt="LTO Network - CMS">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">CMS</h3>
            <div class="card-description">
              <p>符合GDPR的区块链应用对于采用区块链至关重要。 CMS，LTO和V-ID正在设计合规性框架。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://medium.com/ltonetwork/lto-network-x-v-id-presenting-unique-gdpr-compliance-tooling-for-companies-and-governments-4f29bfb582de" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo IBM@2x.webp">
          <img class="card-image clip-b lazy" src="/assets/partners-clients/Logo IBM@2x.png" alt="LTO Network - IBM">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">IBM</h3>
            <div class="card-description">
              <p>IBM和LTO Network及其共同合作伙伴VI-D合作提供了称为“环境互联网”的解决方案。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/cn/use-cases/internet-of-environments/"class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo Inatba@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo Inatba@2x.png" alt="LTO Network - Inatba">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">INATBA</h3>
            <div class="card-description">
              <p>LTO是INATBA的合作伙伴。 我们将共同分享关于其大规模采用区块链的目标的知识，技术专长和想法。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://blog.lto.network/inatba-blockchain-europe-lto-network/" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns has-margin-top-20">
        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo ISO@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo ISO@2x.png" alt="LTO Network - International Organization for Standardization">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">International Organization for Standardization</h3>
            <div class="card-description">
              <p>LTO是ISO组织的积极贡献者。 我们一起在全球范围内开发区块链技术标准。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://www.iso.org/committee/6266604.html" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo DBC@2x.webp">
          <img class="card-image clip-b lazy" src="/assets/partners-clients/Logo DBC@2x.png" alt="LTO Network - Dutch Blockchain Coalition">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Dutch Blockchain Coalition</h3>
            <div class="card-description">
              <p>LTO是荷兰区块链联盟的骄傲参与者，该联盟由行业，政府和知识机构共同建立了合作伙伴关系。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://dutchblockchaincoalition.org/" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo HH@2x.webp">
          <img class="card-image clip-b lazy" src="/assets/partners-clients/Logo HH@2x.png" alt="LTO Network - The Hague University">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">The Hague University</h3>
            <div class="card-description">
              <p>KOIOS负责海牙大学的区块链选修模块。 LTO Network提供课程，是这些未成年人的基础知识。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://www.kiesopmaat.nl/modules/hhs/BFM/140183/" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>
      </div>
        
        <div class="columns has-margin-top-20">
        <div class="column card">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo Certik@2x.webp">
          <img class="card-image clip-b lazy" src="/assets/partners-clients/Logo Certik@2x.png" alt="LTO Network - Certik">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Certik</h3>
            <div class="card-description">
              <p>CertiK需要审核各个组织要部署到其IT环境中的即插即用和自定义Live Contract模板。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://medium.com/certik/introducing-live-contract-audits-on-lto-network-with-certik-b159ada2157c" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>
        <div class="column card">
          <picture>
      <source type="image/webp" data-srcset="/assets/polygons - 1.webp">
          <img class="card-image clip-b lazy" src="/assets/polygons - 1.png" alt="LTO Network - Your use case?">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">合作意向?</h3>
            <div class="card-description">
              <p>LTO团队在这里可以帮助您调查组织如何从区块链技术中受益。 安排演示以了解更多信息！</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/cn/contact/" class="button is-warning">
                预约电话
              </a>
            </div>
          </div>
        </div>
        
        <div class="column card invisible is-hidden-mobile">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo Tech Data@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo Tech Data@2x.png" alt="LTO Network - TechData">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">TechData</h3>
            <div class="card-description">
              <p>作为IBM集成商，Techdata与LTO Network合作进行任何与IBM相关的集成，目前最突出的是Watson集成。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://techdata.com" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>
        
      </div>
        
<!--
        <div class="columns has-margin-top-20">
        <div class="column card invisible">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo Docker@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo Docker@2x.png">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Docker</h3>
            <div class="card-description">
              <p>Docker是容器软件的领先平台。 LTO与多个docker工具集成在一起，可以更快地部署并安全地管理应用程序。</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://docker.com" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>
        
        <div class="column card invisible">
         <picture>
      <source type="image/webp" data-srcset="/assets/partners-clients/Logo Unchain@2x.webp">
          <img class="card-image clip-a lazy" src="/assets/partners-clients/Logo Unchain@2x.png">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Unchain</h3>
            <div class="card-description">
              <p>Unchain has multipe API connectors with existing systems such as SAP and Sales Force. They recently released their integration with LTO Network.</p>
            </div>
            <div class="has-margin-top-20">
              <a href="https://unchain.io" target="blank" class="button is-primary">
                更多...
              </a>
            </div>
          </div>
        </div>

        <div class="column card invisible is-hidden-mobile">
          <picture>
      <source type="image/webp" data-srcset="/assets/polygons - 1.webp">
          <img class="card-image clip-b lazy" src="/assets/polygons - 1.png">
            </picture>
          <div class="card-content">
            <h3 class="accent-text">Interested?</h3>
            <div class="card-description">
              <p>The LTO Network team is here to help you investigate how your organization could benefit from blockchain technology. Schedule a demo to learn more!</p>
            </div>
            <div class="has-margin-top-20">
              <a href="/contact/" class="button is-primary">
                预约电话
              </a>
            </div>
          </div>
        </div>
      </div>
-->
        
    </div>
  </section>
</div>

<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
