{% set title = 'LTO Network - Use case - Medical Bracelet on Blockchain (AratoMedica)' %}
{% set description = 'AratosMedica and LTO Network are collaborating to provide a medical bracelet (tap2SOS), which enables the secure retrieval of medical data through LTO’s blockchain.' %}
{% set currentUrl = '/use-cases/medical-bracelet-on-blockchain/' %}
{% set locale = 'en' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-medbracelet@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-medbracelet@2x.jpg" alt="Medical bracelet on Blockchain (AratosMedica)">
    </picture>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-two-thirds">
            <div class=""><span class="tag is-rounded is-medium blue-grey"> USE CASE </span></div>
            <h1 class="primary-text">Medical Bracelet on Blockchain</h1>
            <h2 class="dark-indigo">AratosMedica and LTO Network are collaborating to provide a medical bracelet (tap2SOS), which enables the secure retrieval of medical data through LTO’s blockchain.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
          <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/aratos.webp">
            <img class="promo-client lazy" data-src="/assets/use-cases/aratos.png" alt="AratosMedica">
          </picture>
        </div>
        <div class="item use-cases">
          <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">AratosMedica member of Aratos Group's Technologies, with offices in the Netherlands, Greece and Bulgaria, which focuses on the implementation of blockchain technology into secure and innovative solutions.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Business challenges</h2>
    <div class="columns">
      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Unstructured medical data</h3>
          <div class="card-description">
            <p class="muted">Crucial medical data, such as conditions, allergies or medications, are not always stored digitally and occur in forms such as email, fax or paper. Unstructured data does not allow the subsequent processing of the necessary data.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Availability of medical data</h3>
          <div class="card-description">
            <p class="muted">Currently, medical data is not available or accessible from everywhere. Medical data Hence, an appointment or an emergency visit to a doctor or hospital requires filling out various forms. This is due to the fact that not all crucial medical data is constantly available.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Protection and integrity of medical data</h3>
          <div class="card-description">
            <p class="muted">As medical files are highly confidential and are protected by the “Personal Data Protection Act” and the “Medical Treatment Contract Act.” In the Netherlands, the security and confidentiality of patient records has to be ensured at all times.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium secondary">
  <div class="container">
    <h2 class="has-text-centered section-title">Solution overview</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half has-text-right">
        <h3 class="title subsection-title dark-indigo">Availability of medical records</h3>
        <p class="muted">Every medical file is digitally stored via a cloud platform and registered on LTO’s public blockchain. This enables the availability of the medical files to all medical personnel that need access to the sensitive data. Furthermore, new entries and information of a specific medical file are directly digitally recorded in the future and registered on the blockchain.</p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/save-purple.svg" alt="LTO Network - Immutable art certificates">
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/clock-purple.svg" alt="LTO Network - Verifiable timestamp">
      </div>
      <div class="column is-1"></div>
      <div class="column is-half has-text-left">
        <h3 class="title subsection-title dark-indigo">Medical bracelet with an NFC chip</h3>
        <p class="muted">Once the medical files are digitised and secured by LTO’s public blockchain, the data can be stored on a bracelet. Consequently, every wrist band receives its own identification/key that is associated with a unique medical file. Once stored on the wrist band, only authorised medical personnel can access the data from the wrist band.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half has-text-right">
        <h3 class="title subsection-title dark-indigo">Immutable and private medical data</h3>
        <p class="muted">The digitised data is anchored on LTO’s public blockchain, which is an efficient way to timestamp data and create immutable and secure patient records. Moreover, LTO Network focuses on data privacy, such as GDPR. The medical data is never put on-chain, since the data is hashed before anchoring and thus, is never stored on the blockchain. Hence, all information can be deleted at any given moment.</p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/notebook-purple.svg" alt="LTO Network - No need for third party verification">
      </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/documents/AratosMedica_LTO-Network.pdf" class="button is-primary">Read more about this use case (PDF)</a>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - Cost savings">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Time and cost savings</h3>
        <p class="muted">The anchoring process provides a higher level of security, without over-complicating or changing the existing process. LTO Network optimised its public blockchain for lightweight transactions only (i.e. anchoring of hashes) and, thus, excels in speed and efficiency. Hence, anchoring is a cheap and easy way to timestamp data that is generated in existing (legacy) medical systems.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Easy integration">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Easy integration</h3>
        <p class="muted">With LTO Network, you don't have to change the entire IT infrastructure. LTO can be combined with IoT (internet of things), M2M (machine to machine) products and Cloud computing to make medical records digitally available and ensure data safety at all times. You can use your existing systems and applications to administer, record, and communicate with LTO Network. The implementation of LTO Network is as simple as connecting an API.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;)">
        <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Compliant by design">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Compliant by design</h3>
        <p class="muted">Demonstrating compliance is essential regarding sensitive data, such as medical files. Using LTO Network, all medical data can be recorded while also being compliant with the numerous regulations regarding patients records. The medical data is never put on-chain since the data is hashed before anchoring and can be deleted at any given time. LTO ensures data integrity of the digitalised medical files and immutability following from the devices.</p>
      </div>
    </div>

    <div class="table-container is-centered has-margin-top-40">
      <div class="table" id="results">
        <div class='theader'>
          <div class="table_header dark-indigo">Theme</div>
          <div class="table_header dark-indigo">LTO Network solution</div>
          <div class="table_header dark-indigo">Traditional solution</div>
        </div>
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Availability</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>The medical information is stored on a cloud platform and registered directly on LTO’s public chain. The data is constantly available by placing it on a medical bracelet with an NFC chip.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Medical information can occur in forms such as paper, email or fax. Furthermore, no central system exists that collects all the medical information and forms one single source of truth.</p>
            </div>
          </div>
        </div>

        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Data Sharing</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>The necessary data can be instantly shared between patients, caregivers, paramedics and medical personnel, which reduces time, costs, and improves the overall efficiency.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Currently, medical information is placed in data silos and is shared through email, fax or paper</p>
            </div>
          </div>
        </div>

        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Data integrity and privacy</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>The medical files are anchored on the blockchain, which ensures integrity at all times. Furthermore, each user holds a unique key ID providing access to a specific unit of information on the blockchain.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Medical files can be tampered with, which decrease the data integrity. Current medical systems are more vulnerable for unauthorised access which can lead to the misuse of sensitive information. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/contact/" class="button is-primary" target="blank">
        Book a demo
      </a>
    </div>
  </div>
</section>


<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="card uc">
            <div class="columns">
              <div class="column is-3 card-testimonial-img">
                <picture>
                  <source type="image/webp" data-srcset="/assets/use-cases/aratosmedica_testimonial@2x.webp">
                  <img class="lazy" data-src="/assets/use-cases/aratosmedica_testimonial@2x.png" alt="V-ID Testimonial">
                </picture>
              </div>
              <div class="column">
                <div class="content card-testimonial-content">
                  <p class="">With the help of the LTO Network team, AratosMedica was able to release a unique GDPR-compliant blockchain/NFC solution for companies and governments. Using tap2SOS' software, which has unlimited data capacity several additional epidemiological data can be included such as coronavirus immunity after the patient’s healing and also in the future when the vaccine will be created, the holder’s certificate of vaccination against COVID-19 or any other vaccination against other potential illnesses that may occur. A fast and GDPR blockchain that only stores hashes of sensitive data in a fast and efficient way is critical, and therefore we're really excited about this partnership and our plans moving forward.</p>
                  <div class="author">Peter Tjia</div>
                  <div class="company">CEO of AratosMedica</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
    {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
