{% set title = 'LTO Network - Use case - SignRequest' %}
{% set description = 'Signed Documents on Blockchain' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-uc-signrequest.png');">
    <div class="hero-body">
      <div class="container">
          <div class=""><span class="tag is-rounded is-medium blue-grey"> INTEGRATOR </span></div>
        <h1 class="primary-text">Signed Documents on Blockchain</h1>
          <h2 class="dark-indigo">Providing assurance of document content and a provable point in time in which electronic documents were signed.</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
            <img class="promo-client" src="/assets/use-cases/signrequest@2x.png">
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">Over 1 million business documents are signed every year through the SignRequest app.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Integrator overview</h2>
      <div class="columns is-centered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">The problem</h3>
          <p class="muted">Disputes about (signed) documents are very common. In case there is a dispute about when exactly the document has been signed, you need to be able to verify the date and time of signing. In case two signers have a different version of the signed contract you also need to be able to validate which one is the original one.</p>
        </div>
        <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
          <div class="livicon-evo" style="position:relative; top:-4px; left:-9px;" data-options="
          name: notebook;
          size: 130px;
          tryToSharpen: true"></div>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
            <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
              <div class="livicon-evo" style="position:relative; top:-8px; left:-4px;" data-options="
              name: diagram;
              size: 130px;
              tryToSharpen: true;
              style: filled;
              fillColor: #ffffff"></div>
            </div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Solution</h3>
          <p class="muted">As an extra feature to their application, users of SignRequest can now add the hash code to the LTO Network Blockchain. This allows signers to validate if the hash code is valid and allows for an additional timestamp.</p>
        </div>
      </div>

    <div class="columns is-centered has-margin-top-40">
        <div class="column">
<table class="table advantages">
<thead>
        <tr>
          <th class="table-icon"></td>
          <th class="dark-indigo" colspan="2">Theme</th>
          <th class="dark-indigo" colspan="2">LTO Network solution</th>
          <th class="dark-indigo" colspan="2">Traditional solution</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Document security</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">By anchoring the signed PDF on the LTO blockchain, document immutability is granted for all parties involved.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">With professional PDF-hackers around, certainty on signed documents cant be guaranteed</td>
        </tr>

        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Document verification</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Through validation tools linked to the blockchain, third parties can independently check for authenticity.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">As a third party, checking the originality of a document is a time-consuming affair.</td>
        </tr>


        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Costs / Speed of anchoring</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">LTO’s blockchain is optimized for anchoring, making transactions near-instant and affordable.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Traditional blockchains tend to be very slow and expensive to anchor this many transactions.</td>
        </tr>

        <tr>
        </tr>
      </tbody>

    </table>
</div>
</div>


    <div class="btn-container has-text-centered">
    <a href="https://help.signrequest.com/hc/en-us/articles/360020499014-SignRequest-and-the-LTO-Network-Blockchain" class="button is-primary" target="blank">
      Learn more
    </a>
</div>
  </div>
</section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l">
<div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered">
                <img src="/assets/use-cases/integrator_portal.png">
        </div>
    </div>
    <div class="btn-container has-text-centered">
    <a href="https://help.signrequest.com/hc/en-us/articles/360020499014-SignRequest-and-the-LTO-Network-Blockchain" target="blank" class="button is-primary">Request a demo</a>
  </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m ecosystem-v">
      <div class="section-body">
        <div class="ecosystem-v"></div>
        <div class="columns is-desktop">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>Using the blockchain for Proof-of-Existence for electronic signatures just makes sense and is already happening. When we researched blockchain platforms, LTO Network stood out in terms of speed, set-up, and capabilities. We are able to include the blockchain transaction identifier directly into our signing logs which are circulated upon signing without the need to wait minutes for confirmations. Next to that, the potential of creating decentralized workflows did the trick to add the LTO Network solution as an option to our users.
                <div class="author">Michael Krens, CTO SignRequest</div>
            </blockquote>
        </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
