{% set title = 'LTO Network - Contact' %}
{% set description = 'Contact us' %}

{% extends "base.njk" %}


{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/slider-image-marketplace.svg')">
    <div class="hero-body">
        <h1 class="primary-text has-text-centered">Who do you want to contact?</h1>
        <div class="has-margin-top-40"></div>
  {% include "partials/bottom-nav.njk" %}
    </div>
  </section>
</div>

<div class="section-container">
    <section class="section" style="background-image: url('/assets/slider-image-marketplace.svg'); background-size: cover;">
        <div class="container">
            <div class="columns contact-form is-vcentered-mobile">
                <div class="column is-one-third vcard">
                <img class="vcard-image" src="/assets/cards/rick-ros.png" srcset="/assets/cards/rick-ros@3x.png 3x, /assets/cards/rick-ros@2x.png 2x">
          <div class="vcard-content">
            <h2 class="accent-text has-text-centered">Rick Ros</h2>
            <div class="vcard-description has-text-centered">
              <p>Rick Ros is here lorem ipsum dolor sit amet, consectetur adipiscing elit. In viverra fringilla dolor.</p>
              <p>For any questions about LTO Network lorem ipsum.</p>
            </div>
          </div>
                </div>
                <div class="column vcard-form">
              <div class="columns">
                <div class="column">
                  <div class="">
                    <label class="">
                      First Name*
                    </label>
                    <div class="">
                      <input type="text" name="firstname" required/>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="" >
                    <label class="">
                      Last Name*
                    </label>
                    <div class="">
                      <input type="text" name="lastname" required/>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="columns">
                <div class="column">
                  <div class="" >
                    <label class="">
                      Email address*
                    </label>
                    <div class="">
                      <input type="text" name="email" required/>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="">
                    <label class="">
                      Name company
                    </label>
                    <div class="">
                      <input type="text" name="organization" value=""/>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="columns">
                <div class="column">
                  <div class="">
                    <label class="">
                      Message
                    </label>
                    <div class="">
                      <textarea name="message"></textarea>
                    </div>
                  </div>
              </div>
                </div>
                <div class="btn-container">
                    <button id="_form_135_submit" class="_submit button is-primary" type="submit">
                      Submit
                    </button>
                </div>
                </div>
            </div>   
        </div>
    </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary promo-padding">
    <div class="promo-numbers r">
      <div class="container">
        <div class="item">
            <img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">
            <p class="promo-desc">Easy integration</p>
        </div>
        <div class="item">
          <img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">
          <p class="promo-desc">Big tech community</p>
        </div>
        <div class="item">
          <img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">
          <p class="promo-desc">GDPR Compliant</p>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
