{% set title = 'LTO Network - Use case - Notary procedures on Blockchain (Firm24)' %}
{% set description = 'LTO Network makes it possible to personal- and private data between all stakeholders involved in incorporation processes.' %}
{% set currentUrl = '/use-cases/notary-procedures-on-blockchain/' %}
{% set locale = 'en' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-firm24@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-firm24@2x.jpg" alt="Notary procedures on Blockchain (Firm24)">
    </picture>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-two-thirds">
            <div class=""><span class="tag is-rounded is-medium blue-grey"> USE CASE </span></div>
            <h1 class="primary-text">Notary procedures on Blockchain</h1>
            <h2 class="dark-indigo">Data sharing between stakeholders involved in company incorporation processes.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
          <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/firm24@2x.webp">
            <img class="promo-client lazy" data-src="/assets/use-cases/firm24@2x.png" alt="Firm24">
          </picture>
        </div>
        <div class="item use-cases">
          <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">The notary, the Chamber of Commerce, the Tax Authorities and the company founders.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Business challenges</h2>
    <div class="columns">
      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Isolation of information sources</h3>
          <div class="card-description">
            <p class="muted">We share data in notarial procedures with the Chamber of Commerce, Tax Authorities, and between notaries themselves. From a GDPR- and compliance perspective, they are unable to share the same database.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Collaboration between stakeholders</h3>
          <div class="card-description">
            <p class="muted">Most steps in an incorporation process are executed on paper and handled by multiple stakeholders. This manual handling is time-consuming and results in overhead costs and errors.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Deeds are vulnerable to counterfeiting</h3>
          <div class="card-description">
            <p class="muted">Notary documentation is prone to fraud and falsification. Corruption of the deed’s contents or share distribution or misuse of personal data are potentially significant liabilities in any notarial procedure.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium secondary">
  <div class="container">
    <h2 class="has-text-centered section-title">Solution overview</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Effective data sharing</h3>
        <p class="muted">FIRM24 gathers data and shares this data with other systems through private chains. The data in these private chains can be deleted to comply with GDPR. Parties are still able to benefit from data re-use.</p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/save-purple.svg" alt="LTO Network - Effective data sharing">
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/clock-purple.svg" alt="LTO Network - Collaboration on automated business processes">
      </div>
      <div class="column is-1"></div>
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Collaboration on automated business processes</h3>
        <p class="muted">Firm 24 distributes the data and the business logic of the workflow that runs on the FIRM24 platform to all stakeholders. Automatic notifications and system-to-system communication reduces the manual handling necessary to complete a procedure.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Verify each others actions</h3>
        <p class="muted">All stakeholders communicate through the event chain. LTO Network records all activities they perform within the workflow on the blockchain. Parties can verify each others’ actions through so-called 'decentralized processing', meaning you can be sure of the execution of actions and workflow steps.</p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/notebook-purple.svg" alt="LTO Network - Verify each others actions">
      </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/contact/" class="button is-primary">Book a demo</a>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - Cost savings">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Cost savings</h3>
        <p class="muted">Administrative tasks such as manually entering data into your system, which in turn was received by letter, fax, or email, belongs to the past. With the blockchain technology of LTO Network, all parties can collect structured data into the systems they use to execute and administer these processes. By doing so, LTO Network reduces the administrative overhead with more than 30%.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Easy integration">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Easy integration</h3>
        <p class="muted">With LTO Network, you don't have to change your entire IT infrastructure. You can use your existing systems and applications to administer, record, and communicate with LTO Network. The implementation of LTO Network is as simple as connecting an API.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Compliant by design">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Compliant by design</h3>
        <p class="muted">Demonstrating compliance is essential in any industry. With LTO Network, you can record all data entries and steps in your business processes to safeguard evidence and comply with regulations. LTO Network enables one-click compliance reporting for both internal and external communication on your business processes.</p>
      </div>
    </div>

    <div class="table-container is-centered has-margin-top-40">
      <div class="table" id="results">
        <div class='theader'>
          <div class="table_header dark-indigo">Theme</div>
          <div class="table_header dark-indigo">LTO Network solution</div>
          <div class="table_header dark-indigo">Traditional solution</div>
        </div>
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Data sharing</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>Data shared through the LTO Network can be effortlessly, and GDPR compliantly shared among multiple parties, reducing time, costs, and improving business efficiency.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p> Currently, data is shared through email, letters, and by phone.</p>
            </div>
          </div>
        </div>



        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Automation</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>Using blockchain to streamline processes leads to higher productivity.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Currently, sharing status updates in a notarial procedure is done via email, which doesn't allow for automation.</p>
            </div>
          </div>
        </div>
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Data integrity</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>Demonstrating compliance throughout the entire procedure by anchoring data and steps.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Everyone with access to the database can modify and backdate the data entries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/contact/" class="button is-primary" target="blank">
        Book a demo
      </a>
    </div>
  </div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="card uc">
            <div class="columns">
              <div class="column is-3 card-testimonial-img">
                <picture>
                  <source type="image/webp" data-srcset="/assets/use-cases/firm24_testimonial@2x.webp">
                  <img class="lazy" data-src="/assets/use-cases/firm24_testimonial@2x.png">
                </picture>
              </div>
              <div class="column">
                <div class="content card-testimonial-content">
                  <p class="">Our platform relies on trust and needs a level playing field between company founders, directors, and employees. To guarantee the authenticity of the documents being created on the Firm24 platform, we rely on the blockchain technology of the LTO Network. Integration was done in 2 days, and I did not need to spend any time maintaining the integration.</p>
                  <div class="author">Coen van Eibergen Santhagens</div>
                  <div class="company">COO of Firm24</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
    {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
