{% set title = 'LTO Network - Use case - Firm24' %}
{% set description = 'The one-stop-shop for entrepreneurs on Blockchain' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-uc-firm24.png');">
    <div class="hero-body">
      <div class="container">
          <div class=""><span class="tag is-rounded is-medium blue-grey"> INTEGRATOR </span></div>
        <h1 class="primary-text">The one-stop-shop for entrepreneurs on Blockchain</h1>
          <h2 class="dark-indigo">The biggest online business platform in The Netherlands, fully decentralized.</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
            <img class="promo-client" src="/assets/use-cases/firm24@2x.png">
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">Over 15% of Dutch limited companies are incorporated via the Firm24 platform, accounting for 12.000 users yearly.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Integrator overview</h2>
      <div class="columns is-centered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">The problem</h3>
          <p class="muted">Incorporation deeds and related documents for entrepreneurs are prone to mutation when running business-to-business operations. Fraud with these documents can result in enormous costs and (legal) headaches.</p>
        </div>
        <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
            <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
            </div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Solution</h3>
          <p class="muted">On the Firm24 platform, all documents and deeds that are generated are instantly hashed on the LTO Network blockchain. Not only the final versions, but all the versions in the back-and-forth procedures between notaries and clients, but also contracting parties.</p>
        </div>
      </div>
        
    <div class="columns is-centered has-margin-top-40">
        <div class="column">
<table class="table advantages">
<thead>
        <tr>
          <th class="table-icon"></td>
          <th class="dark-indigo" colspan="2">Theme</th>
          <th class="dark-indigo" colspan="2">LTO Network solution</th>
          <th class="dark-indigo" colspan="2">Traditional solution</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Document/deed security</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">By anchoring the signed deed on the LTO blockchain, document immutability is granted for all parties involved.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">With professional PDF-hackers around, certainty on signed documents cant be guaranteed</td>
        </tr>

        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Document/deed verification</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Through validation tools linked to the blockchain, third parties can independently check for authenticity.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">As a third party, checking the originality of a document is a time-consuming affair.</td>
        </tr>


        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Costs / Speed of anchoring</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">LTO’s blockchain is optimized for anchoring, making transactions near-instant and affordable.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Traditional blockchains tend to be very slow and expensive to anchor this many transactions.</td>
        </tr>

        <tr>
        </tr>
      </tbody>

    </table>
</div>
</div>


    <div class="btn-container has-text-centered has-margin-top-40">
    <a href="https://www.firm24.com/blog/contracten/ondertekenen-via-blockchain/" class="button is-primary" target="blank">
      Learn more
    </a>
</div>
  </div>
</section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l">
<div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered">
                <img src="/assets/use-cases/integrator_portal.png">
        </div>
    </div>
    <div class="btn-container has-text-centered">
    <a href="#" target="blank" class="button is-primary">Request a demo</a>
  </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m ecosystem-v">
      <div class="section-body">
        <div class="ecosystem-v"></div>
        <div class="columns is-desktop">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>Our whole platform relies on trust for and between parties. To guarantee the authenticity of the documents Firm24 required an efficient blockchain solution that could be integrated with our SaaS-platform. Usually these significant integrations cost a lot of time and resources, yet with LTO Network we we’re up and running in a day, and haven’t been required to spend any time on maintaining the integration, due to its simplicity and versatility.
                <div class="author">Coen van Eibergen Santhagens, COO Firm24</div>
            </blockquote>
        </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
