{% set title = 'LTO Network - Use case - Certificates on Blockchain (NEN)' %}
{% set description = 'NeN introduced smart certificates to facilitate on the spot verification.' %}
{% set currentUrl = '/use-cases/certificates-on-blockchain' %}
{% set locale = 'en' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-certificates@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-certificates@2x.jpg" alt="Certificates on Blockchain (NEN)">
    </picture>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-two-thirds">
            <div class=""><span class="tag is-rounded is-medium blue-grey"> USE CASE </span></div>
            <h1 class="primary-text">Certificates on Blockchain</h1>
            <h2 class="dark-indigo">NeN introduced smart certificates to facilitate on the spot verification.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
    <div class="promo-numbers c">
      <div class="container use-cases">
        <div class="item use-cases">
          <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/nen@2x.webp">
            <img class="promo-client lazy" data-src="/assets/use-cases/nen@2x.png" alt="NeN">
          </picture>
        </div>
        <div class="item use-cases">
          <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">NeN and ScanTrust.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Business challenges</h2>
    <div class="columns">
      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Centralization</h3>
          <div class="card-description">
            <p class="muted">Registering standardization certificates happens in a system controlled by one agency. This system is often well protected, but a single source of truth makes them potentially vulnerable to security breaches.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Outside of NL</h3>
          <div class="card-description">
            <p class="muted">In some other jurisdictions, the protection of databases storing such sensitive standardization with industry best practices. Hence, multiple products or organizations can inadvertently or maliciously share standardization certificates.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Blockchain itself</h3>
          <div class="card-description">
            <p class="muted">Blockchain technology itself is still a long way off from standardization as it is to be expected of a disruptive technology that is barely ten years old. A handful of them are fundamentally unique, but most of them are variants of the same idea. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium secondary">
  <div class="container">
    <h2 class="has-text-centered section-title">Solution overview</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">The system</h3>
        <p class="muted">Updates and changes to the certificates are automatically linked to QR codes, which are re-recorded (hashed) on the blockchain platform. This information corresponds to NeN's Certificate Registration System.</p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/anchor-purple.svg" alt="LTO Network - The system">
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/users-purple.svg" alt="LTO Network - Smart QR Codes">
      </div>
      <div class="column is-1"></div>
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Smart QR Codes</h3>
        <p class="muted">Using secure, uncopyable QR codes and blockchain technology, NeN is now powered with transparency into their supply chains and the ability to directly engage in meaningful, two-way conversations with their end-consumers.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Organizations' own</h3>
        <p class="muted">Organizational certificates are now on various organizational systems, in inaccessible folders for some. In future white label environments, each organization will have its dashboard, with its data, to do their analysis on that data. </p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/desktop-purple.svg" alt="LTO Network - Organizations' own">
      </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/contact/" class="button is-primary">Book a demo</a>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - LTO Leads">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">LTO Leads</h3>
        <p class="muted">The International Organization for Standardization (ISO), which develops and publishes International Standards says the first standards for Blockchain technology will be released in the next 18 months. LTO is actively involved in this group.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Hardcopy">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Hardcopy</h3>
        <p class="muted">Certificates are actually printed on badges and certificates that are used on the worksite. This means that the validity can be checked instantly by superiors and/or regulators. </p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Revocation">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Revocation</h3>
        <p class="muted">Since certificates are managed in the BettyBlocks application, run by NeN-partners, smart, decentralized certificates can be revoked with the click of a button. </p>
      </div>
    </div>

    <div class="table-container is-centered has-margin-top-40">
      <div class="table" id="results">
        <div class='theader'>
          <div class="table_header dark-indigo">Theme</div>
          <div class="table_header dark-indigo">LTO Network solution</div>
          <div class="table_header dark-indigo">Traditional solution</div>
        </div>
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Trust</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>The new solution allows for immediate, trusted checks on certificates by anyone with a smartphone.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Paper-based certificates can't be validated on the spot, when necessary.</p>
            </div>
          </div>
        </div>



        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Revocation</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>The revocation of a certificate is anchored on the blockchain, meaning that working with a revoked certificate becomes impossible.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Having a certificate doesn't mean that it's still valid, and hasn't been revoked.</p>
            </div>
          </div>
        </div>
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Costs and speed</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>LTO's blockchain is optimized for anchoring, making transactions near-instant and affordable.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Traditional blockchains tend to be very slow and expensive to anchor this many transactions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="btn-container has-text-centered">
      <a href="/contact/" class="button is-primary">
        Book a demo
      </a>
    </div>
  </div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="card uc">
            <div class="columns">
              <div class="column is-3 card-testimonial-img">
                <picture>
                  <source type="image/webp" data-srcset="/assets/use-cases/nen_testimonial@2x.webp">
                  <img class="lazy" data-src=" /assets/use-cases/nen_testimonial@2x.png">
                </picture>
              </div>
              <div class="column">
                <div class="content card-testimonial-content">
                  <p class="">Innovation is of paramount importance to NeN. This project shows constant improvements to our services concerning the application of standards, to remain relevant.</p>
                  <div class="author">Harmen Willemsen</div>
                  <div class="company">Senior Consultant of NeN</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="section-container">
  <section class="section alt has-bg-img">
    {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>


{% endblock %}
