{% set title = 'LTO Network - Use case - Smart QR-codes combined with blockchain technology' %}
{% set description = 'Smart packaging solutions for product authentication and supply chain traceability' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-uc-scantrust.png');">
    <div class="hero-body">
      <div class="container">
          <div class=""><span class="tag is-rounded is-medium blue-grey"> INTEGRATOR </span></div>
        <h1 class="primary-text">Smart QR-codes</h1>
          <h2 class="dark-indigo">Smart packaging solutions for product authentication and supply chain traceability</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
            <img class="promo-client" src="/assets/use-cases/scantrust@2x.png">
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">ScanTrust delivers their smart QR-code services to the world’s largest companies, such as ExxonMobil, Unilever, Shell and AB InBev.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
      <h2 class="has-text-centered section-title">Business challenges</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Counterfeiting of QR codes on products</h3>
            <div class="card-description">
              <p>End customers do not have the tools to fully trust the product information presented to them not can verify whether goods purchased are counterfeit, damaged or misrepresented</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Collaboration between stakeholders</h3>
            <div class="card-description">
              <p>Third-party supplier or distribution partners with administrative access rights to its supply chain management system.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Integrity of supply chain systems</h3>
            <div class="card-description">
              <p>Tampering of data can often go undetected by any of the involved parties in a supply chain and therefore risk the integrity of the system</p>
            </div>
          </div>
        </div>
      </div>
        </div>
    </section>
</div>

<div class="section-container">
  <section class="section secondary">
    <div class="container">
      <h2 class="has-text-centered section-title">Solution overview</h2>
      <div class="columns is-centered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">Tamperproof QR codes</h3>
          <p class="muted">The QR codes that are generated contain a technology thatID which is used to sign the submissions of each data entry and report being generated in LTO Network to create an immutable record. </p>
        </div>
        <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
          <div class="livicon-evo" style="position:relative; top:-5px; left:-4px;" data-options="
          name: briefcase;
          size: 130px;
          tryToSharpen: true;
        style: filled;
        fillColor: #ffffff"></div>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
            <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
              <div class="livicon-evo" style="position:relative; top:-3px; left:-12px;" data-options="
              name: notebook;
              size: 130px;
              tryToSharpen: true;
              style: filled;
              fillColor: #ffffff"></div>
            </div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Effective collaboration</h3>
          <p class="muted">Improvement of efficiency by digitizing the paper-based processes. Also improvement in communication between the different businesses and reduction human error due to collaboration on supply chain workflows.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40 inverted-mobile">
        <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">Data sharing</h3>
          <p class="muted">Data that is gathered by the involved parties is shared to the systems that are connected to LTO Network. Stakeholders can benefit from data re-use and reduction of manual process handling. </p>
        </div>
          <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
            <div class="livicon-evo" style="position:relative; top:-7px; left:-2px;" data-options="
            name: users;
            size: 130px;
            tryToSharpen: true;
            style: filled;
            fillColor: #dde7f3"></div>
        </div>
      </div>
        <div class="btn-container has-text-centered has-margin-top-40">
        <a src="#" class="button is-primary">Book a demo</a>
        </div>
    </div>
  </section>
</div>



<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: coins;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Cost savings</h3>
          <p class="muted">Administrative tasks such as manual entering data into your system that receive by letter, fax or email belongs to the past. With the blockchain technology of LTO Network all parties are able to receive structured data into the systems they use to execute and administrate these processes. This reduces the administrative overhead with more then 30%.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: diagram;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Easy integration</h3>
          <p class="muted">With LTO Network you don't have to change your entire IT infrastructure. You can use your existing systems and application to administrate, record and communicate on business processes. The implementation of LTO Network is as simple as writing plain English. </p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: balance;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Compliant by design</h3>
          <p class="muted">Demonstrating compliance is important in any industry. With LTO network you are able to record all data entries and steps in your business processes to safeguarding evidence and comply with regulation. Enabling one-click compliance reporting for both internal- as external communication on your business processes. </p>
        </div>
      </div>

    <div class="columns is-centered has-margin-top-40">
        <div class="column">
<table class="table advantages">
<thead>
        <tr>
          <th class="table-icon"></td>
          <th class="dark-indigo" colspan="2">Theme</th>
          <th class="dark-indigo" colspan="2">LTO Network solution</th>
          <th class="dark-indigo" colspan="2">Traditional solution</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Counterfeiting</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Combining Smart QR codes with blockchain makes tamperproof and trusted by the end customer.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Regular generated QR codes are easy to copy / counterfeit.</td>
        </tr>

        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Collaboration</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Workflow automation on business processes running between the stakeholders can are automated, saving time and money</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Parties don't trust each other with access rights to their supply chain systems.</td>
        </tr>


        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Data sharing</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Data shared through the supply chain systems can be effortlessly and GDPR compliantly  shared among multiple parties, reducing time, costs and improving business efficiency. </td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Paper based supply chain processes are currently emailed and subsequently processed into the system that the receiving party uses. </td>
        </tr>

        <tr>
        </tr>
      </tbody>

    </table>
</div>
</div>



    <div class="btn-container has-text-centered has-margin-top-40">
    <a href="#" class="button is-primary">
      Book a demo
    </a>
</div>
  </div>
</section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l">
<div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered video">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Zs17a4cDcU4?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
    <a href="#" target="blank" class="button is-primary">Request a demo</a>
  </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m ecosystem-v">
      <div class="section-body">
        <div class="ecosystem-v"></div>
        <div class="columns is-desktop">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>Blockchain is a technology that can clearly augment our solution and has tremendous potential for the supply chain space. When we researched blockchain platforms, LTO Network stood out in terms of speed, set-up, and capabilities. We are able to include the blockchain transaction identifier directly into our scanning logs which are circulated upon scanning, without the need to wait minutes for confirmations. Next to that, the Live Contract features that LTO Network offers can be very interesting for our enterprise customers in the long-run.
                <div class="author">Nathan Anderson, CEO ScanTrust</div>
            </blockquote>
        </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
