{% set title = 'LTO Network - Use Case - Capptions 1.2' %}
{% set description = 'Trust in important inspection reports' %}

{% extends "base.njk" %}



{% block content %}

<section class="background-hero use-case-detail hero section">
  <div class="use-case-detail-hero hero-body">
    <div class="container">
      <div class="supply-chain">
        <p class="supply-chain bluey-grey"> INTEGRATOR </p>
      </div>

      <h1 class="main-title">Trust in important inspection reports</h1>
        <h4 class="subtitle is-4"> In order to provide an extra layer of data security and follow strict compliance rules in relation to inspection reports and data entries, Capptions implemented LTO Network into their platform </h4>
    </div>
  </div>

  <div class="involved-parties-div">
  <div class="container use-case-container">
    <div class="involved-parties left-div">
      <p class="dark-indigo client involved-parties-title">Client</p>
      <img class="involved-parties logo" src="/assets/use-cases/capptions.png">
    </div>

    <div class="involved-parties-line">

    </div>

    <div class="involved-parties right-div">
      <p class="dark-indigo involved-parties involved-parties-title">Involved parties</p>
      <p class="steel involved-parties text">Capptions 80+ enterprise clients and 20.000 users who rely on efficient (inspection) reports.</p>
    </div>

  </div>
  </div>
</section>




<section class="advantages-section is-medium section">

  <div class="advantages-div">
    <div class="advantages-title-container container">
      <h2 class="deep-lavender section-title title">
        Integrator overview
      </h2>
    </div>

    <div class="advantages-content-container">

      <div class="columns advantages">
        <div class="column advantages image left-side">
          <div class="advantages left-side column-subdiv">
            <img src="/assets/rocks/rock-1.svg" class="rock-tree">
            <img id="advantages-small-rock-1" src="/assets/small-rock-1.svg">
            <img id="advantages-small-rock-2" src="/assets/small-rock-2.svg">
          </div>
        </div>
        <div class="column advantages is-two-thirds right-side">
          <div class="advantages-text-container right-side">
            <h3 class="title dark-indigo advantages">The problem</h3>
            <p class="advantages-text steel">With the stakes that come with the line of business of Capptions’ clients, immutability is a crucial characteristic for enterprises. A small error may cause mayhem for global operations at places like airports, oil-terminals and factories. The existing possibility of manipulating these (inspection) reports may cause immense damages.</p>
          </div>
        </div>
      </div>

      <div class="columns advantages">
        <div class="column advantages image left-side">
          <div class="advantages left-side column-subdiv">
            <img src="/assets/rocks/rock-2.svg" class="rock-rocket">
            <img id="advantages-small-rock-3" src="/assets/small-rock-3.svg">
            <img id="advantages-small-rock-4" src="/assets/small-rock-4.svg">
          </div>
        </div>
        <div class="column advantages is-two-thirds right-side">
          <div class="advantages-text-container right-side">
            <h3 class="title dark-indigo advantages">Solution</h3>
            <p class="advantages-text steel">In order to provide an extra layer of data security and follow strict compliance rules in relation to inspection reports and data entries, Capptions implemented LTO Network into their platform. LTO Network creates an immutable evidence trail with timestamped evidence of data and documents generated by the Capptions app, this was all possible with just a few lines of code to add it into their existing applications.</p>
          </div>
        </div>
      </div>


    </div>

    <table class="table advantages">
      <thead>
        <tr>
          <th class="table-icon"></td>
          <th class="dark-indigo" colspan="2">Theme</th>
          <th class="dark-indigo" colspan="2">LTO Network solution</th>
          <th class="dark-indigo" colspan="2">Traditional solution</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Compliance rules</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Compliance workflows are made rigid and automated using LTO’s workflow engine in Capptions.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Compliance used to be a set of rules on a static paper, which don’t allow automation.</td>
        </tr>

        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Data immutability</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Inspection reports become immutable through hashing and anchoring them on LTO.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">(Inspection) reports are prone to a mutation in case of catastrophic failure</td>
        </tr>


        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Costs / Speed of anchoring</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">LTO’s blockchain is optimized for anchoring, making transactions near-instant and affordable.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Traditional blockchains tend to be very slow and expensive to anchor this many transactions.</td>
        </tr>

        <tr>
        </tr>
      </tbody>

    </table>


    <a href="#" class="button is-primary is-rounded main-button book-demo advantages">
      Book a demo
    </a>
  </div>
</section>

<section class="business-case-section is-medium section alt">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered">

      <div class="image-case-study">
        <img src="/assets/use-cases/integrator_portal.png">
                </div>

    <a href="https://help.signrequest.com/hc/en-us/articles/360020499014-SignRequest-and-the-LTO-Network-Blockchain" target="blank" class="button is-primary is-rounded main-button book-demo download-case-study">
      Download case-study
    </a>
            </div>
        </div>
  </div>
</section>


<section class="download-case-study-section section is-medium focus">
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>By integrating LTO Network’s anchoring service across the Capptions platform, we are able to give blockchain a mobile face. For Capptions, adding blockchain to our applications is something that we deem helpful for our clients. They are dealing with environmental inspections carried out by the Dutch government, oil terminal inspections for parties like Fujairah Oil and the safeguarding refuelling of thousands of aircrafts at Schiphol airport. Our inspection app handles sensitive and vital data, so immutability is critical. By implementing blockchain we’re able to let multiple stakeholders monitor and provide one, but decentralised, secure audit-trail in real-time, at every stage.
                <div class="author">Jonathan Stolk, Capptions CEO</div>
            </blockquote>
        </div>
    </div>
</section>


{% include "partials/more-info.njk" %}

{% endblock %}
