{% set title = 'LTO Network - Use case - Capptions' %}
{% set description = 'Trust in important inspection reports' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-uc-capptions.png');">
    <div class="hero-body">
      <div class="container">
          <div class=""><span class="tag is-rounded is-medium blue-grey"> INTEGRATOR </span></div>
        <h1 class="primary-text">Trust in important inspection reports</h1>
          <h2 class="dark-indigo">In order to provide an extra layer of data security and follow strict compliance rules in relation to inspection reports and data entries, Capptions implemented LTO Network into their platform.</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
            <img class="promo-client" src="/assets/use-cases/capptions@2x.png">
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">Capptions 80+ enterprise clients and 20.000 users who rely on efficient (inspection) reports.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Integrator overview</h2>
      <div class="columns is-centered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">The problem</h3>
          <p class="muted">With the stakes that come with the line of business of Capptions’ clients, immutability is a crucial characteristic for enterprises. A small error may cause mayhem for global operations at places like airports, oil-terminals and factories. The existing possibility of manipulating these (inspection) reports may cause immense damages.</p>
        </div>
        <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
            <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
            </div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Solution</h3>
          <p class="muted">In order to provide an extra layer of data security and follow strict compliance rules in relation to inspection reports and data entries, Capptions implemented LTO Network into their platform. LTO Network creates an immutable evidence trail with timestamped evidence of data and documents generated by the Capptions app, this was all possible with just a few lines of code to add it into their existing applications.</p>
        </div>
      </div>
        
    <div class="columns is-centered has-margin-top-40">
        <div class="column">
<table class="table advantages">
<thead>
        <tr>
          <th class="table-icon"></td>
          <th class="dark-indigo" colspan="2">Theme</th>
          <th class="dark-indigo" colspan="2">LTO Network solution</th>
          <th class="dark-indigo" colspan="2">Traditional solution</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Compliance rules</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Compliance workflows are made rigid and automated using LTO’s workflow engine in Capptions.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Compliance used to be a set of rules on a static paper, which don’t allow automation.</td>
        </tr>

        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Data immutability</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Inspection reports become immutable through hashing and anchoring them on LTO.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">(Inspection) reports are prone to a mutation in case of catastrophic failure</td>
        </tr>


        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Costs / Speed of anchoring</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">LTO’s blockchain is optimized for anchoring, making transactions near-instant and affordable.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Traditional blockchains tend to be very slow and expensive to anchor this many transactions.</td>
        </tr>

        <tr>
        </tr>
      </tbody>

    </table>
</div>
</div>


    <div class="btn-container has-text-centered has-margin-top-40">
    <a href="#" class="button is-primary">
      Book a demo
    </a>
</div>
  </div>
</section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l">
<div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered">
                <img src="/assets/use-cases/integrator_portal.png">
        </div>
    </div>
    <div class="btn-container has-text-centered">
    <a href="https://help.signrequest.com/hc/en-us/articles/360020499014-SignRequest-and-the-LTO-Network-Blockchain" target="blank" class="button is-primary">Download case-study</a>
  </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m ecosystem-v">
      <div class="section-body">
        <div class="ecosystem-v"></div>
        <div class="columns is-desktop">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>By integrating LTO Network’s anchoring service across the Capptions platform, we are able to give blockchain a mobile face. For Capptions, adding blockchain to our applications is something that we deem helpful for our clients. They are dealing with environmental inspections carried out by the Dutch government, oil terminal inspections for parties like Fujairah Oil and the safeguarding refuelling of thousands of aircrafts at Schiphol airport. Our inspection app handles sensitive and vital data, so immutability is critical. By implementing blockchain we’re able to let multiple stakeholders monitor and provide one, but decentralised, secure audit-trail in real-time, at every stage.
                <div class="author">Jonathan Stolk, Capptions CEO</div>
            </blockquote>
        </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
