{% set title = 'LTO Network - Use case - Criminal ASAP Cases' %}
{% set description = 'Instant verification of certificates on LTO Network' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-uc-cac.png');">
    <div class="hero-body">
      <div class="container">
          <div class=""><span class="tag is-rounded is-medium blue-grey"> SOLUTION </span></div>
        <h1 class="primary-text">Streamlining small criminal cases</h1>
          <h2 class="dark-indigo">Blockchain enabled smarter- and transparent collaboration between the multi-stakeholder in criminal cases.</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
            <img class="promo-client" src="/assets/use-cases/om@2x.png">
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">Police, District Attorneys, Lawyers, Suspects</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
      <h2 class="has-text-centered section-title">Business challenges</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Communication between stakeholders</h3>
            <div class="card-description">
              <p class="muted">Internal departments, police, lawyers and other stakeholders are spending too much time finding out what the status of a process is.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Preventing fraud & manipulation</h3>
            <div class="card-description">
              <p class="muted">We must prevent systems from being manipulated by people with access to the systems or data. Especially when data manipulation has impact on someones life. </p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Legacy systems</h3>
            <div class="card-description">
              <p class="muted">Many legacy IT-systems are in place at various stakeholders to handle these processes. Replacing them would be a huge burden with associated costs.</p>
            </div>
          </div>
        </div>
      </div>
        </div>
    </section>
</div>


<div class="section-container">
  <section class="section secondary">
    <div class="container">
      <h2 class="has-text-centered section-title">Solution overview</h2>
      <div class="columns is-centered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">Workflow communication</h3>
          <p class="muted">Based on the state of the workflow, citizens (victims, perpetrators), can receive filtered information about the process through their (mobile) DigiD app, eliminating the need for status update calls with the DA’s office.</p>
        </div>
       <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
          <div class="livicon-evo" style="position:relative; top:-5px; left:-4px;" data-options="
          name: diagram;
          size: 130px;
          tryToSharpen: true;
        style: filled;
        fillColor: #ffffff"></div>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
             <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
              <div class="livicon-evo" style="position:relative; top:-7px; left:-5px;" data-options="
              name: link;
              size: 130px;
              tryToSharpen: true;
              style: filled;
              fillColor: #ffffff"></div>
            </div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Version controlled processes</h3>
              <p class="muted">Every data entry and update in the a system that is used to participate in the process is immutably tracked. Every process that runs on LTO Network has version control, message- and data history that is distributed amongst the other stakeholders. In this way we can reduce bureaucracy while preventing fraud at the same time. </p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40 inverted-mobile">
        <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">Connecting IT systems</h3>
          <p class="muted">Any system or application with an API can be connected to participate on a workflow that is running through LTO Network. Stakeholders involved on a process are able to receive data, status of the process and notifications directly into their systems they use to handle these small criminal case. The communicated data is accurate and can be trusted by all stakeholders involved.</p>
        </div>
          <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
          <div class="livicon-evo" style="position:relative; top:-5px; left:-4px;" data-options="
          name: desktop;
          size: 130px;
          tryToSharpen: true;
        style: filled;
        fillColor: #ffffff"></div>
        </div>
      </div>
        <div class="btn-container has-text-centered has-margin-top-40">
        <a src="#" class="button is-primary">Book a demo</a>
        </div>
    </div>
  </section>
</div>


<div class="section-container cutout-top-alt cutout-bottom-alt">
  <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: diagram;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Automation</h3>
          <p class="muted">Using LTO Network’s technology, small criminal cases can be executed faster, at lower costs and with less errors. Communicating on the process need to be done via predefined business logic. All parties involved can participate in the process using their own systems, as process data is automatically exchanged between these systems.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: dropper;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Adding AI</h3>
          <p class="muted">IBM Watson will further reduce the manual labour required in a ZSM-process, using a cognitive computing system to instantly understand questions and respond with the correct answers and verdicts suggestions, based on the input of thousands of processes.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: coins;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Cost savings</h3>
          <p class="muted">Administrative tasks such as manual entering data into your system that receive by letter, fax or email belongs to the past. With LTO Network all parties are able to receive structured data into the systems they use to execute and administrate these processes. This reduces the administrative overhead with more then 30%.</p>
        </div>
      </div>

    <div class="columns is-centered has-margin-top-40">
        <div class="column">
<table class="table advantages">
      <thead>
        <tr>
          <th class="table-icon"></td>
          <th class="dark-indigo" colspan="2">Theme</th>
          <th class="dark-indigo" colspan="2">LTO Network solution</th>
          <th class="dark-indigo" colspan="2">Traditional solution</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Streamlining operations</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">The workflow engine notifies stakeholders in their own systems about the next action and the status of the process.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Notifications on completed tasks are communicated through phone, email or letter.</td>
        </tr>

        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Data sharing </th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Data and business logic can be shared among multiple parties, reducing time costs and improving business efficiency.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Data is shared through email, phone and fax which doesn't allow for effective data re-use.</td>
        </tr>


        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Use of AI</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Integrating AI applications like Watson to analyse data and use the output in new or pending workflows can be easily integrated.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Traditional blockchains are often incompatible with tools like IBM Watson.</td>
        </tr>

        <tr>
        </tr>
      </tbody>

    </table>
</div>
</div>


    <div class="btn-container has-text-centered">
    <a href="#" class="button is-primary">
      Book a demo
    </a>
</div>
  </div>
</section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l">
<div class="container">
    <h2 class="section-title has-text-centered">Combining LTO Network and Watson to reduce administrative burdens</h2>
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered">
                <img width="75%;" src="/assets/criminal-asap-cases.png" class="video">
        </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
    <a href="https://medium.com/ltonetwork/ibm-watson-lto-network-to-speed-up-small-criminal-cases-by-400-22ddc80b9178" target="blank" class="button is-primary">Download case study</a>
  </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m ecosystem-v">
      <div class="section-body">
        <div class="ecosystem-v"></div>
        <div class="columns is-desktop">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V for District Attorneys</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <div class="btn-container">
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>Innovation is of paramount importance to DA. This project shows that we are constantly working to improve our services with regard to the application of standards.
                <div class="author">Sanne Giphart - Head of Innovation, Dutch Districts Attorneys office</div>
            </blockquote>
        </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
