{% set title = 'LTO Network - Use case - The Contract App' %}
{% set description = 'Contracts made easy' %}
{% set currentUrl = '/cn/use-cases/contracts-made-easy/' %}
{% set locale = 'cn' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-contractapp@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-contractapp@2x.jpg" alt="LTO Network - Contracts made easy">
    </picture>
        <div class="hero-body">
            <div class="container">
        <div class="columns">
          <div class="column is-two-thirds">
                <div class=""><span class="tag is-rounded is-medium blue-grey"> 用例 </span></div>
                <h1 class="primary-text">订立合同变得简易</h1>
                <h2 class="dark-indigo">只需以智能手机上的形式回答几个问题，即可收到一份经过充分谈判和执行的合同，该合同也可以在区块链上进行哈希(散列)处理 。</h2>
            </div>
              </div>
          </div>
        </div>
    </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
        <div class="promo-numbers c use-cases">
            <div class="container use-cases">
                <div class="item use-cases">
                   <picture>
      <source type="image/webp" data-srcset="/assets/use-cases/quislex@2x.webp">
                    <img class="promo-client lazy" data-src="/assets/use-cases/quislex@2x.png" alt="Quislex">
                    </picture>
                </div>
                <div class="item use-cases">
                    <p class="promo-head use-cases">参与方</p>
                    <p class="promo-desc use-cases muted">QuisLex，DocJuris，JotForm，WebMerge，SignRequest和TheContractApp。</p>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="section is-medium">
  <div class="container">
            <h2 class="has-text-centered section-title">商业挑战</h2>
            <div class="columns">
                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">法律自动化</h3>
                        <div class="card-description">
                            <p class="muted">计算机很难理解任何自然语言。 该缺点意味着基于纸质的合同进行自动化几乎是不可能的。</p>
                        </div>
                    </div>
                </div>

                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">时间消耗</h3>
                        <div class="card-description">
                            <p class="muted">有关合同（包括NDA合同）的谈判通常会花费大量时间，并且会花费大量金钱。 您还必须等待法律团队的意见，普通人很难理解法律合同中的专业用语。</p>
                        </div>
                    </div>
                </div>

                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">混乱</h3>
                        <div class="card-description">
                            <p class="muted">合同通常是来回发送的。 这种工作方式导致参与各方可能具有不同版本的合同。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="section is-medium secondary">
  <div class="container">
            <h2 class="has-text-centered section-title">解决方案概述</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">防止篡改QR码</h3>
                    <p class="muted">将标准合同转换为人和机器都可以理解的数据点和处理步骤，以实现双方的自动化。 最早的自动化合同是保密协议（NDA）。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/briefcase-purple.svg" alt="Tamperproof QR codes">
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/notebook-purple.svg" alt="Effective collaboration">
                </div>
                <div class="column is-1"></div>
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">有效的合作</h3>
                    <p class="muted">允许两个当事方通过在生成合同之前协调双方同意的立场来“预先协商”他们的合同，从而避免了花时间来回交换草稿。并解决了实际上没有交易砝码的公司将交易条件强加于交易对手的问题。
                    </p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">资料共享</h3>
                    <p class="muted">在ContractApp中签署文档后，参与者通过在LTO Network公共区块链上确保哈希值，将获得无可争议的存在证明（PoE）。 通过将此存在证明放在签名的文档上，第三方可以通过上传文档进行即时验证来独立检查文档的真实性。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/users-purple.svg" alt="Data sharing">
                </div>
            </div>
            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/cn/contact/" class="button is-primary">预约样版</a>
            </div>
        </div>
</section>



<section class="section is-medium">
  <div class="container">
            <h2 class="has-text-centered is-vcentered section-title">使用LTO的优势</h2>
            <div class="columns is-centered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - Cost savings">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">节约成本</h3>
                    <p class="muted">法律合同和流程的完全自动化极大地提高了与相关各方达成交易的便利性和整体体验。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Easy integration">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">易于集成</h3>
                    <p class="muted">使流程自动化可以显着减少从签订合同到签订最终合同的时间，从而节省时间和金钱。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Compliant by design">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">设计合规</h3>
                    <p class="muted">通过在LTO网络上确保哈希值的安全性来获得存在证明（PoE），公共区块链无需任何文件即可创建最终版本的无可争议的证明。</p>
                </div>
            </div>

            <div class="table-container is-centered has-margin-top-40">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class="table_header dark-indigo">主题</div>
                        <div class="table_header dark-indigo">LTO解决方案</div>
                        <div class="table_header dark-indigo">传统解决方案</div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">可信度</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>新的解决方案允许使用智能手机的任何人立即对证书进行可信任的检查。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>纸质证书无法在必要时进行现场验证。</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">签名</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>集成的电子签名功能。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>跟踪亲笔签名会延迟流程执行。</p>
                            </div>
                        </div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">成本与速度</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>LTO的区块链针对锚定进行了优化，使得交易成本降低并以近乎即时的速度进行。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>传统的区块链通常速度十分缓慢并且收费昂贵。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/cn/contact/" class="button is-primary">
                    预约样版
                </a>
            </div>
        </div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <video controls width="100%" class="card uc" alt="Contractapp Video">
                        <source src="https://thecontract.app/wp-content/uploads/2019/05/theContractApp-Final-052719-1.mp4" type="video/mp4">
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
