{% set title = 'LTO Network - Use case - Trusted document management' %}
{% set description = 'Deposit crucial contracts, intellectual property and certificates' %}
{% set currentUrl = '/use-cases/trusted-document-management/' %}
{% set locale = 'tr' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
    <section class="hero is-medium">
       <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-tdm.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-tdm.png" alt="Trusted Document Management">
    </picture>
        <div class="hero-body">
            <div class="container">
                <div class=""><span class="tag is-rounded is-medium blue-grey"> USE CASE </span></div>
                <h1 class="primary-text">Trusted Document Management</h1>
                <h2 class="dark-indigo">Document management systems can be used for any type of document. Adding blockchain helps with authenticating everything that takes place in a DMS.</h2>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-top">
    <section class="section secondary promo-numbers-section">
        <div class="promo-numbers c use-cases">
            <div class="container use-cases">
                <div class="item use-cases">
                   <picture>
      <source type="image/webp" data-srcset="/assets/use-cases/virtualvaults_logo@2x.webp">
                    <img class="promo-client lazy" data-src="/assets/use-cases/virtualvaults_logo@2x.png" alt="Virtual Vaults">
                    </picture>
                </div>
                <div class="item use-cases">
                    <p class="promo-head use-cases">Involved parties</p>
                    <p class="promo-desc use-cases muted">Enterprise clients</p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">Business challenges</h2>
            <div class="columns">
                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">Evidence of date and time</h3>
                        <div class="card-description">
                            <p class="muted">In case there is a dispute about when and at what the exact time a document was uploaded, you need to be able to verify this reliably.</p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-b lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">Document authenticity</h3>
                        <div class="card-description">
                            <p class="muted">In case there is a dispute about which document and it's content was uploaded, you need to be able to validate which one is the original one.</p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                   <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">Document verification</h3>
                        <div class="card-description">
                            <p class="muted">Documents that are shared and used by multiple parties need to be trusted by everyone involved, and independently verifiable.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="section-container">
    <section class="section secondary">
        <div class="container">
            <h2 class="has-text-centered section-title">Solution overview</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">Immutable files</h3>
                    <p class="muted">A document can be represented as a digital fingerprint by 'hashing' the document. LTO Network stores the hash of this document through a with LTO Network connected systems Anyone with access to the data can verify the document by hashing it and comparing it against the stored version.</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/check-alt-purple.svg" alt="LTO Network - Immutable files">
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/desktop-purple.svg" alt="LTO Network - Verifiable timestamp">
                </div>
                <div class="column is-1"></div>
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">Verifiable timestamp</h3>
                    <p class="muted">Not only the hashed document (fingerprint) is stored on the blockchain but also the timestamp of the document. By making documents verifiable and independently auditable, they become more valuable. LTO Network creates portable proof of your timestamped claims. These blockchain-based verifications can be shared and transferred to other parties.</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">No need for third party verification</h3>
                    <p class="muted">Using the on open standards-based LTO Network is, any party can independently verify the authenticity and timestamp of the document, without having to rely on a trusted third party.</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                   <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/dashboard-purple.svg" alt="LTO Network - No need for third party verification">
                </div>
            </div>
            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/contact/" class="button is-primary">Book a demo</a>
            </div>
        </div>
    </section>
</div>


<div class="section-container cutout-top-alt cutout-bottom-alt">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/shield.svg" alt="LTO Network - Protection against claims">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">Protection against claims</h3>
                    <p class="muted">The evidence that a document has been uploaded by a person in the data room or other document management system is indisputable. This protects your organization against potential claims.</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Easy integration">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">Easy integration</h3>
                    <p class="muted">With LTO Network, you don't have to change your entire IT infrastructure. You can use your existing systems and applications to administer, record, and communicate with LTO Network. The implementation of LTO Network is as simple as connecting an API.</p>
                </div>
            </div>
            
            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/legal.svg" alt="LTO Network - Data governance">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">Data governance</h3>
                    <p class="muted">Documents uploaded and the blockchain receipt with the details of the upload can never be altered. Therefore, you have a foolproof record of everything that goes in and out of your dataroom. LTO Network combined with Virtual Vaults makes it easy to manage who has access and whether documents where viewed, downloaded or removed.</p>
                </div>
            </div>

            <div class="table-container is-centered has-margin-top-40">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class="table_header dark-indigo">Theme</div>
                        <div class="table_header dark-indigo">LTO Network solution</div>
                        <div class="table_header dark-indigo">Traditional solution</div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Security</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>In Virtual Vaults documents are saved securely, and hashed for proving its existence at a certain moment.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>Physical and centralized storage is prone to file losses, hacks and manipulation.</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Counterfeiting</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>Blockchain technology ensures immutable and authentic document records.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>Identification of counterfeited paper documents is time consuming costly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Sharing</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>Creating an audit trail of document sharing and version control allows for independent verification of the documents.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>Sharing documents in a secure way is complex and inefficient.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="btn-container has-text-centered">
                <a href="/contact/" class="button is-primary is-rounded main-button book-demo advantages">
                    Book a demo
                </a>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-bottom-alt">
    <section class="section p-top-xl p-bottom-xl alt">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div class="card">
                        <div class="columns">
                            <div class="column is-3 card-testimonial-img">
                               <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/vv_testimonial@2x.webp">
                                <img class="lazy" data-src="/assets/use-cases/vv_testimonial@2x.png">
                                </picture>
                            </div>
                            <div class="column">
                                <div class="content card-testimonial-content">
                                    <p class="">By implementing LTO Network into Virtual Vaults, new product opportunities arise. It prevents potential disputes about the discussion whether a file was uploaded in a M&A deal or you can prove that IP actually belongs to your organization instead of the one filing for a patent.</p>
                                    <div class="author">Jeroen Kruithof</div>
                                    <div class="company">CEO of Virtual Vaults</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
