{% set title = 'LTO Network - Use case - Criminal ASAP Cases' %}
{% set description = 'Streamlining small criminal cases' %}
{% set currentUrl = '/use-cases/criminal-cases-blockchain/' %}
{% set locale = 'tr' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
    <section class="hero is-medium">
       <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-cac.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-cac.png" alt="LTO Network - Streamlining small criminal cases">
    </picture>
        <div class="hero-body">
            <div class="container">
                <div class=""><span class="tag is-rounded is-medium blue-grey"> USE CASE </span></div>
                <h1 class="primary-text">Streamlining small criminal cases</h1>
                <h2 class="dark-indigo">Blockchain has opened up countless opportunities for organizations to collaborate smarter and transparent. When novel technologies are combined, actual efficiency surfaces.</h2>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-top">
    <section class="section secondary promo-numbers-section">
        <div class="promo-numbers c use-cases">
            <div class="container use-cases">
                <div class="item use-cases">
                   <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/om@2x.webp">
                    <img class="promo-client lazy" data-src="/assets/use-cases/om@2x.png" alt="Openbaar Ministerie">
                    </picture>
                </div>
                <div class="item use-cases">
                    <p class="promo-head use-cases">Involved parties</p>
                    <p class="promo-desc use-cases muted">Police and District Attorneys.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">Business challenges</h2>
            <div class="columns">
                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">Many stakeholders</h3>
                        <div class="card-description">
                            <p class="muted">At the moment, multiple different government bodies take part in this repetitive process, working with unstructured data. </p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-b lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">Lots of paperwork</h3>
                        <div class="card-description">
                            <p class="muted">With many stakeholders that produce unstructured data, much paperwork is created on these repetitive processes using faxes, email, and phone calls.</p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-b lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">Existing systems</h3>
                        <div class="card-description">
                            <p class="muted">We use tailored IT-systems on these processes in an organization, and replacing them would be a massive burden with associated costs. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="section-container">
    <section class="section secondary">
        <div class="container">
            <h2 class="has-text-centered section-title">Solution overview</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">The Process</h3>
                    <p class="muted">These processes are incredibly cumbersome and provided a lot of unstructured data, even through using ancient fax machines. LTO Networks' distributed business logic allows for all government bodies to trust the validity of the data.</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/diagram-purple.svg" alt="LTO Network - The Process">
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                   <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/link-purple.svg" alt="LTO Network - Data sharing">
                </div>
                <div class="column is-1"></div>
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">Data sharing</h3>
                    <p class="muted">with LTO Network's distributed data processing, data is exchanged over linked (legacy) systems that run at the stakeholders' offices. The implementation of blockchain shouldn't require the replacement of otherwise-working systems for the sake of it. </p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">Citizen engagement</h3>
                    <p class="muted">Based on the state of the workflow, citizens (victims, perpetrators), can receive filtered information about the process through their (mobile) DigiD app, eliminating the need for status update calls with the Districts Attorney's office.</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/desktop-purple.svg" alt="LTO Network - Citizen engagement">
                </div>
            </div>
            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/contact/" class="button is-primary">Book a demo</a>
            </div>
        </div>
    </section>
</div>


<div class="section-container cutout-top-alt cutout-bottom-alt">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Decentralized workflows">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">Decentralized workflows</h3>
                    <p class="muted">Using LTO Network's technology, we run small criminal cases' paperwork on the blockchain, based on the predefined logic at the core of each process. All parties involved can participate in the process using their systems, as process data is automatically exchanged between these systems.</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;)">
                    <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/dropper.svg" alt="LTO Network - Adding AI">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">Adding AI</h3>
                    <p class="muted">IBM Watson will further reduce the manual labor required in a ZSM-process, using a cognitive computing system to instantly understand questions and respond with the correct answers and verdicts, based on the input of stakeholders.</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - Meaningful tasks">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">Meaningful tasks</h3>
                    <p class="muted">Since LTO Network takes away a significant part of the administrative burdens, this way of working frees up knowledge and expertise for other essential functions that cannot be performed without human assistance (yet).</p>
                </div>
            </div>

            <div class="table-container is-centered has-margin-top-40">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class="table_header dark-indigo">Theme</div>
                        <div class="table_header dark-indigo">LTO Network solution</div>
                        <div class="table_header dark-indigo">Traditional solution</div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Streamlining operations</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>Decentralized workflows notify stakeholders in their systems about tasks for them to complete.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>Notifications on to-be-fulfilled tasks are delivered manually.</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Data sharing</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>LTO Networks distributed data processing allows for unparalleled efficient data exchange between stakeholders.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>Unstructured data is shared between participants on a contract through ancient communication methods, causing lots of data re-entry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Use of AI</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>Integrating Watson and feeding it data from the workflow can be quickly done using decentralized workflows.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>Traditional blockchains are often incompatible with tools like IBM Watson.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="btn-container has-text-centered">
                <a href="https://medium.com/ltonetwork/ibm-watson-lto-network-to-speed-up-small-criminal-cases-by-400-22ddc80b9178" target="blank" class="button is-primary">
                    Learn more
                </a>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-bottom-alt">
    <section class="section p-top-xl p-bottom-xl alt">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div class="card">
                        <div class="columns">
                            <div class="column is-3 card-testimonial-img">
                               <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/om_testimonial@2x.webp">
                                <img class="lazy" data-src="/assets/use-cases/om_testimonial@2x.png">
                                </picture>
                            </div>
                            <div class="column">
                                <div class="content card-testimonial-content">
                                    <p class="">Innovation is of paramount importance to DA. This project shows that we are constantly working to improve our services concerning the application of standards.</p>
                                    <div class="author">Sanne Giphart</div>
                                    <div class="company">Head of Innovation of Dutch Districts Attorney's office</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
