{% set title = 'LTO Network' %}
{% set description = 'A simple route to blockchain adoption in business and enterprise' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-home.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-home.png">
    </picture>
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">The blockchain that saves € 7 million <br> in waste transportations</h1>
        <div class="buttons btn-container">
          <a href="/use-cases/waste-transportation-blockchain/" class="button is-warning"><p class="dark-indigo">Explore this use case</p></a>
          <a href="/use-cases/#overview" class="button">More use cases</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
{% include "partials/promo-numbers.njk" %}
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">

  <section class="section">

    <div class="container medium">
      <h2 class="has-text-centered section-title">How can LTO Network <br> help your business?</h2>
      <div class="wide-screen-floating-rocks rellax" style="position:absolute;width:70px;top:400px;left:-420px;" data-rellax-speed="4">
        <img class="lazy" data-src="/assets/small-rock-1.svg">
      </div>

      <div class="wide-screen-floating-rocks rellax" style="position:absolute;width:45px;top:840px;left:-270px;" data-rellax-speed="-2">
        <img class="lazy" data-src="/assets/small-rock-4.svg">
      </div>
      <div class="wide-screen-floating-rocks rellax" style="position:absolute;width:98px;top:870px;left:1000px;" data-rellax-speed="6">
        <img class="lazy" data-src="/assets/small-rock-3.svg">
      </div>

      <div class="wide-screen-floating-rocks rellax" style="position:absolute;width:45px;top:460px;left:950px;" data-rellax-speed="-4">
        <img class="lazy" data-src="/assets/small-rock-5.svg">
      </div>
      <div class="wide-screen-floating-rocks rellax" style="position:absolute;width:45px;top:140px;left:1230px;" data-rellax-speed="2">
        <img class="lazy" data-src="/assets/small-rock-4.svg">
      </div>


      <div class="columns has-margin-top-40 normal-mobile">
        <div class="icon-container column lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:-48px;width:280px;height:275px; background-size: 100% 100%;">
          <img style="position:absolute;width:28px;top:100px;left:-80px" class="lazy rellax" data-src="/assets/small-rock-2.svg" data-rellax-speed="-1">
          <img style="position:absolute;width:70px;top:0px;left:-50px" class="lazy rellax" data-src="/assets/small-rock-1.svg" data-rellax-speed="-2">
          <div class="livicon-evo" data-options="
          name: rocket;
          size: 80px;
          tryToSharpen: true;
          strokeColor: #ffffff"
          style="position:absolute;top:86px;left:93px;"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title">Cost-efficiency</h3>
          <div class="content">
              <p class="muted">LTO Network can be used by organizations that are seeking for cost reduction on repetitive operational processes. By eliminating paperwork and streamlining collaboration on processes between multiple parties - administrative overhead can be reduced significantly.</p>
          </div>
        </div>
      </div>



      <div class="columns has-margin-top-40 inverted-mobile">
        <div class="column is-two-thirds">
          <h3 class="title subsection-title">Automation</h3>
            <div class="content">
                <p class="muted">Although automation made organizations become more efficient and productive, we're still only efficient in our own silo's. When organizations use LTO Network to collaborate on processes they benefit from data re-use and automation, without switching systems that are currently used in your organization.</p>
            </div>
        </div>
        <div class="icon-container column lazy" data-bg="url('/assets/rocks/rock-2.svg')" style="left:48px;width:280px;height:275px; background-size: 100% 100%;">
          <img style="position:absolute;width:98px;top:-60px;left:240px" class="lazy rellax" data-src="/assets/small-rock-3.svg" data-rellax-speed="-1">
          <img style="position:absolute;width:45px;top:100px;left:280px" class="lazy rellax" data-src="/assets/small-rock-4.svg" data-rellax-speed="1">
          <div class="livicon-evo" data-options="
          name: diagram;
          size: 80px;
          tryToSharpen: true;
          strokeColor: #ffffff"
          style="position:absolute;top:98px;left:91px;"></div>
        </div>
      </div>

      <div class="columns has-margin-top-40 normal-mobile">
        <div class="icon-container column lazy" data-bg="url('/assets/rocks/rock-3.svg')"  style="left:-48px;width:280px;height:275px; background-size: 100% 100%;">
          <img style="position:absolute;width:45px;top:230px;left:-40px" class="lazy rellax" data-src="/assets/small-rock-5.svg" data-rellax-speed="-1">
          <div class="livicon-evo" data-options="
          name: legal;
          size: 80px;
          tryToSharpen: true;
          strokeColor: #ffffff"
          style="position:absolute;top:90px;left:88px;"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title">Compliance</h3>
            <div class="content">
          <p class="muted">Demonstrating compliance is essential in any industry. Using LTO Network, you can record all data entries and steps in your business processes to safeguard evidence and comply with regulations. LTO Network is also compatible with GDPR regulation.</p>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l neg-m-top-m">
     <div class="floating-rocks section-body">
      <div class="container">
        <h2 class="section-title has-text-centered">You're in good company</h2>
        <h3 class="small-subtitle has-text-centered">Find out how other companies use LTO Network</h3>
      </div>
      <div class="container company-container">
       <img class="company-rocks lazy" style="position:absolute;width:60px;top:50px;left:2.5px" data-src="/assets/small-rock-1.svg">
       <img class="company-rocks lazy" style="position:absolute;width:35px;top: 65px;left: 202.5px;" data-src="/assets/small-rock-2.svg">
        <img class="company-rocks lazy" style="position:absolute;width:55px;top: 285px;left: 782.5px;" data-src="/assets/small-rock-3.svg">
        <img class="company-rocks lazy" style="position:absolute;width:45px;top: 285px;left: 462.5px;" data-src="/assets/small-rock-3.svg">
        <img class="company-rocks lazy" style="position:absolute;width:55px;top: 225px;left: 52.5px;" data-src="/assets/small-rock-4.svg">
        <img class="company-rocks lazy" style="position:absolute;width:75px;top:105px;left:622.5px" data-src="/assets/small-rock-5.svg">
        <img class="company-rocks lazy" style="width:105px;height:105px;margin-left:52.5px" data-src="/assets/partners-clients/floating rock - indaver.png">
        <img class="company-rocks lazy" style="width:190px;height:190px;margin-left:95.5px" data-src="/assets/partners-clients/floating rock - hh.png">
        <img class="company-rocks lazy" style="width:97px;height:97px;margin-left:49.5px" data-src="/assets/partners-clients/floating rock - docker.png">
        <img class="company-rocks lazy" style="width:173px;height:173px;margin-left:88px" data-src="/assets/partners-clients/floating rock - dbc.png">
        <img class="company-rocks lazy" style="width:168px;height:168px;margin-left:86px" data-src="/assets/partners-clients/floating rock - ibm.png">
        <img class="company-rocks lazy" style="width:90px;height:90px;margin-left:45px" data-src="/assets/partners-clients/floating rock - cms.png">
        <img class="company-rocks lazy" style="width:163px;height:163px;margin-left:82px" data-src="/assets/partners-clients/floating rock - rijksoverheid.png">
        <img class="company-rocks lazy" style="width:89px;height:89px;margin-left:45.5px" data-src="/assets/partners-clients/floating rock - nen.png">
      </div>
        <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/partners-clients/" class="button is-primary">Our partners & clients</a>
        </div>
    </div>
  </section>
</div>

<div class="section-container cutout-bottom-alt z-index-1 no-overflow">
  <section class="section tertiary p-top-l p-bottom-l neg-m-top-m" style="">
    <div class="section-body" style="position:relative;">
     <div class="private-chain rellax" data-rellax-speed="2"><img class="lazy" data-src="/assets/private-chain.svg"></div>
      <div class="public-chain rellax" data-rellax-speed="-2"><img class="lazy" data-src="/assets/public-chain.svg"></div>
        <div class="container">
            <div class="columns has-text-centered-mobile">
                <div class="column is-5-desktop">
                    <h2 class="section-title deep-lavender">Why a hybrid blockchain?</h2>
                        <div class="content">
                            <p class="muted">Businesses are drawn to blockchain by the potential cost-savings that gain be gained through trustless collaboration. Unfortunately, privacy constraints prevent wide-spread adoption of public blockchains.</p>
                            <p class="muted">Consortium chains provide an alternative, but these re-introduce most of the issues blockchain tries to solve, including network authority, memberships, conflicts of interrest, and high setup costs.</p>
                            <p class="muted">LTO Network allows for ad-hoc collaboration, where private data is shared peer-to-peer between parties. There is no need for a consortium as the entire global network helps to protect integrity.</p>
                            <p class="muted"><em>Together, we can break the blockchain barriers and reach the next level of efficiency.</em></p>
                        </div>
                        <div class="btn-container">
                        <a href="/tech/" class="button is-primary">Learn more</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom">
  <section class="section relative p-top-xl neg-m-top-m card-slider-section">
      <div class="section-body">
    <div class="container">
      <h2 class="section-title has-text-centered">Use cases</h2>
      <h3 class="small-subtitle has-text-centered">Solutions built on LTO Network</h3>
      <div class="columns-container">
        <a class="use-case-arrow card-slider-action prev is-hidden-mobile">
          <div class="livicon-evo" data-options="
          name: arrow-left;
          size: 50px;
          tryToSharpen: true;
          strokeColor: #17054b"></div>
        </a>
        <div class="columns is-multiline columns-slider is-visible is-centered">
          <div class="column card align-evenly">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-capptions.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-capptions.png">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Digital checklist & inspection application</h3>
              <div class="card-description muted">
                <p>Providing immutable evidence to data entries and creation of inspection reports on vital locations like airports, oil terminals and dangerous goods.</p>
              </div>
              <div class="card-action">
                  <a href="/use-cases/digital-checklist-inspection-reports/">
                <p class="deep-lavender">Read more →</p>
                  </a>
              </div>
            </div>
          </div>
          <div class="column card align-evenly">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-signrequest.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-signrequest.png">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Digital signing with blockchain verification</h3>
              <div class="card-description muted">
                <p>Providing assurance that document contents have not been tampered with and providing proof of the specific date and time a document was signed.</p>
              </div>
              <div class="card-action">
                  <a href="/use-cases/digital-signing-blockchain-verification/">
                <p class="deep-lavender">Read more →</p>
                  </a>
              </div>
            </div>
          </div>
          <div class="column card align-evenly">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-firm24.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-firm24.png">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Data sharing in notary procedures</h3>
              <div class="card-description muted">
                <p>Notary procedures heavily rely on paper based processes. LTO Network makes incorporation procesures more efficient by sharing data efficiently and secure.</p>
              </div>
              <div class="card-action">
                  <a href="/use-cases/data-sharing-in-notary-procedures/">
                <p class="deep-lavender">Read more →</p>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="columns columns-slider is-centered">
          <div class="column card align-evenly">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-vaas.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-vaas.png">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Authenticity of artwork</h3>
              <div class="card-description muted">
                <p>By validating works of art via blockchain, objects are better protected and the authenticity can be established easier and faster.</p>
              </div>
              <div class="card-action">
                  <a href="/use-cases/authenticity-art-objects/">
                <p class="deep-lavender">Read more →</p>
                  </a>
              </div>
            </div>
          </div>
          <div class="column card align-evenly">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-contractapp.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-contractapp.png">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Contracts made easy</h3>
              <div class="card-description muted">
                <p>Receive a fully negotiated and executed contract that also gets hashed on a blockchain by just answering a few questions in a form on your smartphone.</p>
              </div>
              <div class="card-action">
                <a href="/use-cases/contracts-made-easy/">
                  <p class="deep-lavender">Read more →</p>
                </a>
              </div>
            </div>
          </div>
          <div class="column card align-evenly">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-ilt.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-ilt.png">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">International waste transportation</h3>
              <div class="card-description muted">
                <p>Connecting all stakeholders of the waste transportation process together through LTO Network saves more than EUR 7M on an annual basis.p>
              </div>
              <div class="card-action">
                <a href="/use-cases/waste-transportation-blockchain/">
                  <p class="deep-lavender">Read more →</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="columns columns-slider is-centered">
          <div class="column card align-evenly">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-lease.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-lease.png">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Smart property lease agreements</h3>
              <div class="card-description muted">
                <p>Legal documents used to be static pieces of paper. Through Live Contracts, a new way of automation and efficiency can be achieved in the real estate industry.</p>
              </div>
              <div class="card-action">
                <a href="/use-cases/smart-property-lease-agreements/">
                  <p class="deep-lavender">Read more →</p>
                </a>
              </div>
            </div>
          </div>
          <div class="column card align-evenly">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-certificates.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-certificates.png">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Smart certificates on the blockchain</h3>
              <div class="card-description muted">
                <p>NEN introduced a new way to validate certificates. Instead of using regulators to do random checks, everyone with a smart phone can validate a certificate.</p>
              </div>
              <div class="card-action">
                <a href="/use-cases/smart-certificates-blockchain/">
                  <p class="deep-lavender">Read more →</p>
                </a>
              </div>
            </div>
          </div>
          <div class="column card align-evenly">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-cac.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-cac.png">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Streamlining small criminal cases</h3>
              <div class="card-description muted">
                <p>With LTO Network a multi-stakeholder process like shoplifting can be automated by connecting data silo's and enabling effective sharing of business processes.</p>
              </div>
              <div class="card-action">
                <a href="/use-cases/criminal-cases-blockchain/">
                  <p class="deep-lavender">Read more →</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <a class="use-case-arrow card-slider-action next is-hidden-mobile">
          <div class="livicon-evo" data-options="
          name: arrow-right;
          size: 50px;
          tryToSharpen: true;
          strokeColor: #17054b"></div>
        </a>
      </div>
      <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/partners-clients/" class="button is-primary">More use cases</a>
        </div>
    </div>
</div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
