{% set title = 'LTO Network' %}
{% set description = 'A simple route to blockchain adoption in business and enterprise' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-home.png')">
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">The blockchain that saves € 7 million <br> in waste transportations</h1>
        <div class="buttons btn-container">
          <a href="/use-cases/ilt/" class="button is-warning"><p class="dark-indigo">Explore this use case</p></a>
          <a href="/use-cases/" class="button">More use cases</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
          <p class="promo-head accent-text">1M+</p>
          <p class="promo-desc">Active users</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">Top 20</p>
          <p class="promo-desc">blockchains worldwide</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">30k+</p>
          <p class="promo-desc">daily transactions</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">nodes</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">ecosystem partners</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">

  <section class="section">

    <div class="container medium">
      <h2 class="has-text-centered section-title">How can LTO Network <br> help your business?</h2>
      <div class="wide-screen-floating-rocks" style="position:absolute;width:70px;top:400px;left:-420px;">
        <img src="/assets/small-rock-1.svg">
      </div>

      <div class="wide-screen-floating-rocks" style="position:absolute;width:45px;top:840px;left:-270px;">
        <img src="/assets/small-rock-4.svg">
      </div>
      <div class="wide-screen-floating-rocks" style="position:absolute;width:98px;top:870px;left:1000px;">
        <img src="/assets/small-rock-3.svg">
      </div>

      <div class="wide-screen-floating-rocks" style="position:absolute;width:45px;top:460px;left:950px;">
        <img src="/assets/small-rock-5.svg">
      </div>
      <div class="wide-screen-floating-rocks" style="position:absolute;width:45px;top:140px;left:1230px;">
        <img src="/assets/small-rock-4.svg">
      </div>


      <div class="columns has-margin-top-40 normal-mobile">
        <div class="icon-container column" style="left:48px;width:280px;height:275px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:28px;top:100px;left:-80px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:0px;left:-50px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" data-options="
          name: rocket;
          size: 80px;
          tryToSharpen: true;
          strokeColor: #ffffff"
          style="position:absolute;top:80px;left:93px;"></div>
        </div>
        <div class="column">
          <h3 class="title subsection-title">Cost-savings</h3>
          <div class="content">
            <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in mauris quis libero interdum efficitur ac aliquam turpis. </p>
          </div>
        </div>
      </div>



      <div class="columns has-margin-top-40 inverted-mobile">
        <div class="column">
          <h3 class="title subsection-title">Automation</h3>
            <div class="content">
          <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in mauris quis libero interdum efficitur ac aliquam turpis. </p>
            </div>
        </div>
        <div class="icon-container column" style="left:48px;width:280px;height:275px;background-image: url('/assets/rocks/rock-2.svg')">
          <img style="position:absolute;width:98px;top:-60px;left:240px" src="/assets/small-rock-3.svg">
          <img style="position:absolute;width:45px;top:100px;left:280px" src="/assets/small-rock-4.svg">
          <div class="livicon-evo" data-options="
          name: diagram;
          size: 80px;
          tryToSharpen: true;
          strokeColor: #ffffff"
          style="position:absolute;top:95px;left:99px;"></div>
        </div>
      </div>

      <div class="columns has-margin-top-40 normal-mobile">
        <div class="icon-container column" style="left:48px;width:280px;height:275px;background-image: url('/assets/rocks/rock-3.svg')">
          <img style="position:absolute;width:45px;top:230px;left:-40px" src="/assets/small-rock-5.svg">
          <div class="livicon-evo" data-options="
          name: legal;
          size: 80px;
          tryToSharpen: true;
          strokeColor: #ffffff"
          style="position:absolute;top:99px;left:100px;"></div>
        </div>
        <div class="column">
          <h3 class="title subsection-title">Compliance</h3>
            <div class="content">
          <p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in mauris quis libero interdum efficitur ac aliquam turpis.</p>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l neg-m-top-m">
    <div class="companies section-body">
      <div class="companies-title-container container">
        <h2 class="section-title has-text-centered">You're in good company</h2>
        <h3 class="small-subtitle">Products and solutions on LTO Network</h3>
      </div>

      <div class="companies-ico-container container">
        <img class="company-rocks generali" src="/assets/floating-rock-generali.png" srcset="/assets/floating-rock-generali@2x.png 2x, /assets/floating-rock-generali@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks indaver" src="/assets/floating-rock-indaver.png" srcset="/assets/floating-rock-indaver@2x.png 2x, /assets/floating-rock-indaver@3x.png 3x">
        <img class="company-rocks rijksoverheid" src="/assets/floating-rock-rijksoverheid.png" srcset="/assets/floating-rock-rijksoverheid@2x.png 2x, /assets/floating-rock-rijksoverheid@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-3.svg">
        <img class="company-rocks" src="/assets/small-rock-2.svg">
        <img class="company-rocks signrequest" src="/assets/floating-rock-signrequest.png" srcset="/assets/floating-rock-signrequest@2x.png 2x, /assets/floating-rock-signrequest@3x.png 3x">
        <img class="company-rocks dekra" src="/assets/floating-rock-dekra.png" srcset="/assets/floating-rock-dekra@2x.png 2x, /assets/floating-rock-dekra@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks" src="/assets/small-rock-3.svg">
        <img class="company-rocks" src="/assets/small-rock-1.svg">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks stena" src="/assets/floating-rock-stena.png" srcset="/assets/floating-rock-stena@2x.png 2x, /assets/floating-rock-stena@3x.png 3x">
        <img class="company-rocks capptions" src="/assets/floating-rock-capptions.png" srcset="/assets/floating-rock-capptions@2x.png 2x, /assets/floating-rock-capptions@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-3.svg">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks firm-24" src="/assets/floating-rock-firm-24.png" srcset="/assets/floating-rock-firm-24@2x.png 2x, /assets/floating-rock-firm-24@3x.png 3x">
      </div>

        <div class="btn-container has-text-centered">
      <a href="/partners-clients/" class="button is-primary">View all</a>
        </div>
    </div>
  </section>
</div>

<div class="section-container cutout-bottom-alt z-index-1" id="why-hybrid-blockchain-section">
  <section class="section tertiary p-top-l p-bottom-l neg-m-top-m" style="">
    <div class="section-body" style="position:relative;">
      <div class="public-chain" id="public-chain"></div>
      <div class="private-chain" id="private-chain"></div>
        <div class="container">
            <div class="columns has-text-centered-mobile">
                <div class="column is-5-desktop">
                    <h2 class="section-title deep-lavender">Why a hybrid blockchain?</h2>
                        <div class="content">
                            <p class="muted">The promise of blockchain and working together in a seamless and trustless way is something all blockchain developers are striving for. Businesses tend to lean towards consortium chains to address privacy issues blockchains traditionally struggle with.</p>
                            <p class="muted">It's hard to get together a consortium where all members feel comfortable with privileges granted to the authoritative parties in the network. Especially as they are required to switch and rely on an entire new IT system.</p>
                            <p class="muted">LTO Network allows for ad-hoc collaboration, where rules are determined between parties by a contract only and not on a network level. Because the entire global network helps to protect integrity, processes may start centralized, allowing all parties to connect at their own pace.</p>
                            <p class="muted">Blockchain shouldn't require us to throw everything that is currently working for us overboard. With LTO Network we are breaking the barriers for organizations to reach the next level of efficiency when doing business together.</p>
                        </div>
<!--
                        <div class="btn-container">
                        <a href="#" class="button is-primary">Learn more</a>
                        </div>
-->
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom">
  <section class="section relative p-top-xl neg-m-top-m">
      <div class="section-body">
    <div class="container">
      <h2 class="section-title has-text-centered">Use cases</h2>
      <h3 class="small-subtitle has-text-centered">Products and solutions on LTO Network.</h3>
      <div class="columns-container">
        <a class="use-case-arrow prev is-hidden-mobile" onclick="plusSlides(-1)">
          <div class="livicon-evo" data-options="
          name: arrow-left;
          size: 50px;
          tryToSharpen: true;
          strokeColor: #17054b"></div>
        </a>
        <div class="columns is-multiline columns-slider is-centered">
          <div class="card column">
            <img class="card-image clip-a" src="/assets/use-cases/card-uc-capptions.png">
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Digital checklist & inspection reports</h3>
              <div class="card-description muted">
                <p>Providing immutable evidence to data entries and creation of inspection reports on vital locations like airports, oil terminals and dangerous goods.</p>
              </div>
              <div class="card-action">
                  <a href="/use-cases/digital-checklist-inspection-reports/">
                <p class="deep-lavender">Read more →</p>
                  </a>
              </div>
            </div>
          </div>
          <div class="card column">
            <img class="card-image clip-b" src="/assets/use-cases/card-uc-signrequest.png">
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Digital signing with blockchain verification</h3>
              <div class="card-description muted">
                <p>Providing assurance that document contents have not been tampered with and providing proof of the specific date and time a document was signed.</p>
              </div>
              <div class="card-action">
                  <a href="/use-cases/digital-signing-blockchain-verification/">
                <p class="deep-lavender">Read more →</p>
                  </a>
              </div>
            </div>
          </div>
          <div class="card column">
            <img class="card-image clip-b" src="/assets/use-cases/card-uc-firm24.png">
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Data sharing in notary procedures</h3>
              <div class="card-description muted">
                <p>Trust is of utmost importance in notary procedures. LTO Network makes it possible to personal- and private data between all stakeholders involved.</p>
              </div>
              <div class="card-action">
                  <a href="/use-cases/data-sharing-in-notary-procedures/">
                <p class="deep-lavender">Read more →</p>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="columns columns-slider is-centered">
          <div class="card column">
            <img class="card-image clip-b" src="/assets/use-cases/card-uc-firm24.png">
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Decentralized data sharing between notaries</h3>
              <div class="card-description muted">
                <p>Trust is of utmost importance in notary procedures. With LTO Network, Firm24 created the biggest online business platform in The Netherlands, fully decentralized.</p>
              </div>
              <div class="card-action">
                <a href="#">
                  <p class="deep-lavender">Read more →</p>
                </a>
              </div>
            </div>
          </div>
          <div class="card column">
            <img class="card-image clip-a" src="/assets/use-cases/card-uc-vaas.png">
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Authenticity of art objects</h3>
              <div class="card-description muted">
                <p>By validating works of art via blockchain, objects are better protected and the authenticity can be established easier and faster. An important step forward in the fight against art fraud.</p>
              </div>
              <div class="card-action">
                <a href="/use-cases/authenticity-art-objects/">
                  <p class="deep-lavender">Read more →</p>
                </a>
              </div>
            </div>
          </div>
          <div class="card column">
            <img class="card-image clip-b" src="/assets/use-cases/card-uc-scantrust.png">
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Track & trace for product authentication</h3>
              <div class="card-description muted">
                <p>Enabling brands with smart packaging solutions for product authentication, supply chain traceability using blockchain technology of LTO Network.</p>
              </div>
              <div class="card-action">
                  <a href="/use-cases/track-trace-product-authentication/">
                <p class="deep-lavender">Read more →</p>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="columns columns-slider is-centered">
          <div class="card column">
            <img class="card-image clip-b" src="/assets/polygons - 1.png">
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Smart NDA's on the blockchain</h3>
              <div class="card-description muted">
                <p>Receive a fully negotiated and executed contract that also gets hashed on a blockchain by just answering a few questions in a form on your smartphone.</p>
              </div>
              <div class="card-action">
                <a href="/use-cases/smart-nda-blockchain/">
                  <p class="deep-lavender">Read more →</p>
                </a>
              </div>
            </div>
          </div>
          <div class="card column">
            <img class="card-image clip-b" src="/assets/use-cases/card-uc-ioe.png">
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">Deposit System for Intellectual property</h3>
              <div class="card-description muted">
                <p>Your contracts, licenses, Intellectual property and other important files securely stored with indisputable proof that data existed in a certain state at a certain time.</p>
              </div>
              <div class="card-action">
                <a href="/use-cases/deposit-system-intellectual-property/">
                  <p class="deep-lavender">Read more →</p>
                </a>
              </div>
            </div>
          </div>
          <div class="card column">
            <img class="card-image clip-a" src="/assets/use-cases/card-uc-ilt.png">
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">International waste transportation</h3>
              <div class="card-description muted">
                <p>Connecting all stakeholders of the waste transportation process together through LTO Network saves more than EUR 7M on an annual basis.</p>
              </div>
              <div class="card-action">
                <a href="/use-cases/waste-transportation-blockchain/">
                  <p class="deep-lavender">Read more →</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <a class="use-case-arrow next is-hidden-mobile" onclick="plusSlides(1)">
          <div class="livicon-evo" data-options="
          name: arrow-right;
          size: 50px;
          tryToSharpen: true;
          strokeColor: #17054b"></div>
        </a>
      </div>
    </div>
</div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
