{% set title = 'Home 1.1' %}
{% set description = 'Homepage 1.1' %}

{% extends "base.njk" %}



{% block content %}

{% include "../templates/partials/join-ecosystem-block.njk" %}

<section class="index-section section">
  <div class="index-container container">
    <div class="level">
      <div class="title level-item has-text-centered">
        <h2 class="title purple"> Fueling adoption in the EU <br>
          blockchain ecosystem </h2>
      </div>
    </div>

    <div class="rock-icons columns">

        <div class="rock-icon column">
          <img src="/assets/rocks - tech icon.png">
        </div>

        <div class="rock-icon-text column">
          <div class="text-rock-icon">
            <h3 class="title dark-indigo"> Technology</h3>
            <p class="index-information-text steel"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in mauris quis libero interdum efficitur ac aliquam turpis.</p>
            <a class="read-more-link "href="#" >
              <p class="read-more purple"> <br> Read more → </p>
            </a>
          </div>
        </div>

    </div>


    <div class="rock-icons columns">

      <div class="rock-icon-text column">
        <div class="text-rock-icon">
          <h3 class="title dark-indigo"> Community</h3>
          <p class="index-information-text steel"> Proin venenatis augue nisl. Curabitur iaculis hendrerit leo, ac fermentum leo gravida vel.</p>
          <a class="read-more-link "href="#" >
            <p class="read-more purple"> <br> Read more → </p>
          </a>
        </div>
      </div>

      <div class="column rock-icon">
        <img src="/assets/rocks - community icon.png">
      </div>
    </div>


    <div class="rock-icons columns">

        <div class="rock-icon column">
          <img src="/assets/rocks - ecosystem icon.png">
        </div>

        <div class="rock-icon-text column">
          <div class="text-rock-icon">
            <h3 class="title dark-indigo"> Ecosystem</h3>
            <p class="index-information-text steel"> Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. </p>
            <a class="read-more-link "href="#" >
              <p class="read-more purple"> <br> Read more → </p>
            </a>
          </div>
        </div>
    </div>

  </div>
</section>

{% include "../templates/partials/companies.njk" %}

{% include "../templates/partials/insights-updates.njk" %}

{% include "../templates/partials/three-areas.njk" %}

{% endblock %}
