{% set title = 'Use Cases 1.2' %}
{% set description = 'Use Cases 1.2' %}

{% extends "base.njk" %}



{% block content %}

<section class="background-hero use-cases hero is-medium section">
  <div class="use-cases-hero hero-body">
    <div class="container">
      <div class="supply-chain">
        <p class="supply-chain bluey-grey"> SUPPLY CHAIN </p>
      </div>

      <h1 class="dark-indigo main-title">System integrator/ISV</h1>
      <h1 class="purple subtitle">Use Case</h1>
      <a href="#" class="main-button button is-warning is-rounded is-medium ecosystem">Join ecosystem</a>
      <a href="#" class="button is-outlined is-medium is-rounded dark-indigo second-button ecosystem">Learn more</a>
    </div>
  </div>



<section class="use-cases section">

</section>

{% endblock %}
