{% set title = 'Use Cases 1.2' %}
{% set description = 'Use Cases 1.2' %}

{% extends "base.njk" %}



{% block content %}

<section class="background-hero use-case-overview hero is-medium section">
  <div class="use-case-overview-hero hero-body">
    <div class="container">
      <h1 class="dark-indigo main-title has-text-centered">Use cases</h1>
    </div>
  </div>

{% include "../templates/partials/products.njk" %}

{% include "../templates/partials/solutions.njk" %}

{% include "../templates/partials/three-areas.njk" %}


{% endblock %}
