{% set title = 'LTO Network - Digital signing with blockchain verification' %}
{% set description = 'Immutability of important documents is guaranteed' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-uc-signrequest.png');">
    <div class="hero-body">
      <div class="container">
          <div class=""><span class="tag is-rounded is-medium blue-grey"> INTEGRATOR </span></div>
        <h1 class="primary-text">Digital signing with blockchain verification</h1>
          <h2 class="dark-indigo">Providing immutable evidence by publishing the timestamped evidence on digitally signed documents.</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
            <img class="promo-client" src="/assets/use-cases/signrequest@2x.png">
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">Over 1 million business documents are signed every year through the SignRequest app.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
      <h2 class="has-text-centered section-title">Business challenges</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Evidence of date and time</h3>
            <div class="card-description">
              <p>In case there ever is a dispute about when exactly the document has been signed you need to be able to verify the date and time of signing. </p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Document authenticity</h3>
            <div class="card-description">
              <p>In case there ever is a dispute between two signers that have a different version of the signed contract you need to be able to validate which one is the original one.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Document verification</h3>
            <div class="card-description">
              <p>Documents that are shared between parties need to trusted by all involved parties and independently verifiable. </p>
            </div>
          </div>
        </div>
      </div>
        </div>
    </section>
</div>

<div class="section-container">
  <section class="section secondary">
    <div class="container">
      <h2 class="has-text-centered section-title">Solution overview</h2>
      <div class="columns is-centered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">Immutable PDF's</h3>
          <p class="muted">The document can be represented as a digital fingerprint by 'hashing' it. The hash of this document is stored by all systems that are connected to the blockchain. Anyone with access to the data can verify the document by hashing it and comparing it against the blockchain version.</p>
        </div>
        <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
          <div class="livicon-evo" style="position:relative; top:-5px; left:-4px;" data-options="
          name: save;
          size: 130px;
          tryToSharpen: true;
        style: filled;
        fillColor: #ffffff"></div>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
            <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
              <div class="livicon-evo" style="position:relative; top:-3px; left:-5px;" data-options="
              name: clock;
              size: 130px;
              tryToSharpen: true;
              style: filled;
              fillColor: #ffffff"></div>
            </div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Verifiable timestamp </h3>
          <p class="muted">Not only the hash (fingerprint) of the document is stored in the blockchain but also the timestamp of the document. By making documents verifiable and independently audit-able, they become more valuable. Basically creating portable proof of your timestamped claims. These blockchain-based verifications can be shared and transferred to other parties.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40 inverted-mobile">
        <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">No need for third party verification</h3>
          <p class="muted">As LTO Network is based on open standards, any party can independently verify the authenticity- and timestamp of the document, without having to rely on a trusted third party.</p>
        </div>
          <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
            <div class="livicon-evo" style="position:relative; top:-3px; left:-12px;" data-options="
              name: notebook;
              size: 130px;
              tryToSharpen: true;
              style: filled;
              fillColor: #ffffff"></div>
        </div>
      </div>
        <div class="btn-container has-text-centered has-margin-top-40">
        <a src="#" class="button is-primary">Book a demo</a>
        </div>
    </div>
  </section>
</div>



<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: coins;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Cost savings</h3>
          <p class="muted">Administrative tasks such as manual entering data into your system that receive by letter, fax or email belongs to the past. With the blockchain technology of LTO Network all parties are able to receive structured data into the systems they use to execute and administrate these processes. This reduces the administrative overhead with more then 30%.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: diagram;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Easy integration</h3>
          <p class="muted">With LTO Network you don't have to change your entire IT infrastructure. You can use your existing systems and application to record any data entry, invoice, contract or other piece of data into the blockchain. The implementation of LTO Network is as simple as connecting an API.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: balance;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Compliant by design</h3>
          <p class="muted">Demonstrating compliance is important in any industry. With LTO network you are able to record all data entries and steps in your business processes to safeguarding evidence and comply with regulation. Enabling one-click compliance reporting for both internal- as external communication on your business processes. </p>
        </div>
      </div>

    <div class="columns is-centered has-margin-top-40">
        <div class="column">
<table class="table advantages">
<thead>
        <tr>
          <th class="table-icon"></td>
          <th class="dark-indigo" colspan="2">Theme</th>
          <th class="dark-indigo" colspan="2">LTO Network solution</th>
          <th class="dark-indigo" colspan="2">Traditional solution</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Document security</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">By anchoring the signed PDF on the LTO blockchain, document immutability is granted for all parties involved.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">With professional PDF-hackers around, certainty on signed documents can't be guaranteed</td>
        </tr>

        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Document verification</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">With pre-integrated and independent validation tools linked to the blockchain, any party can independently check for authenticity of a document.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Checking the authenticity of a document requires the need of a third party which is time-consuming and costly.</td>
        </tr>


        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Costs and speed</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">The blockchain of LTO Network is optimized for anchoring, making transactions near-instant and affordable.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Traditional blockchains tend to be very slow and expensive to anchor transactions.</td>
        </tr>

        <tr>
        </tr>
      </tbody>

    </table>
</div>
</div>


    <div class="btn-container has-text-centered">
    <a href="https://help.signrequest.com/hc/en-us/articles/360020499014-SignRequest-and-the-LTO-Network-Blockchain" class="button is-primary" target="blank">
      Learn more
    </a>
</div>
  </div>
</section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l">
<div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered">
                <img src="/assets/use-cases/integrator_portal.png">
        </div>
    </div>
    <div class="btn-container has-text-centered">
    <a href="https://help.signrequest.com/hc/en-us/articles/360020499014-SignRequest-and-the-LTO-Network-Blockchain" target="blank" class="button is-primary">Request a demo</a>
  </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m ecosystem-v">
      <div class="section-body">
        <div class="ecosystem-v"></div>
        <div class="columns is-desktop">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>Using the blockchain for Proof-of-Existence for electronic signatures just makes sense and is already happening. When we researched blockchain platforms, LTO Network stood out in terms of speed, set-up, and capabilities. We are able to include the blockchain transaction identifier directly into our signing logs which are circulated upon signing without the need to wait minutes for confirmations. Next to that, the potential of creating decentralized workflows did the trick to add the LTO Network solution as an option to our users.
                <div class="author">Michael Krens, CTO SignRequest</div>
            </blockquote>
        </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
