{% set title = 'LTO Network - Community' %}
{% set description = 'Every stakeholder benefits from collective value creation through development of Ecosystem V' %}
{% set currentUrl = '/sitemap/' %}
{% set locale = 'cn' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
    <section class="hero is-medium">
       <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-community-mob.webp">
        <img class="bgVideo is-hidden-desktop" src="/assets/hero/hero-community-mob.png" alt="LTO Network - Hero Community">
        </picture>
        <video class="bgVideo is-hidden-mobile" autoplay muted loop poster="/assets/hero/hero-community.png" alt="LTO Network - Community Video">
            <source src="/assets/media/hero-community.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>

        <div class="section-container cutout-top">
  <section class="section secondary no-padding">
{% include "partials/" ~ locale ~ "/promo-numbers.njk" %}
  </section>
</div>
    </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom extra-margin">
    <section class="section" id="ecosystem">
        <div class="container">
            <h2 class="has-text-centered section-title">我们有一个很棒的社区！</h2>
            <div class="columns is-centered has-margin-top-40">

                <div class="column membercard card">
                    <div class="columns is-vcentered">
                        <div class="column is-centered">
                            <div class="member-image">
                                <img src="/assets/community/cryptocapitalist.png" class="lazy" alt="LTO Community Member">
                            </div>
                        </div>

                        <div class="column is-two-thirds">
                            <h4 class="column-title dark-indigo">@Cryptocapitalist</h4>
                            <p class="muted">难得看到de初创公司，在这里辛勤工作，知识和社区很好地融合在一起。 LTO是工作流和数据的分散管理的革命。</p>
                            <a href="https://twitter.com/cryptoengine_" target="blank" class="resources read-more deep-lavender">查看Twitter个人资料</a>
                        </div>
                    </div>
                </div>

                <div class="column membercard card">

                    <div class="columns is-vcentered">
                        <div class="column is-centered">
                            <div class="member-image">
                                <img src="/assets/community/n0rthstar.png" class="lazy" alt="LTO Community Member">
                            </div>
                        </div>

                        <div class="column is-two-thirds">
                            <h4 class="column-title dark-indigo">@N0rthstar</h4>
                            <p class="muted">LTO的采用策略令人耳目一新，在区块链世界中可以看到。 为相关各方提供真正价值的野兽。</p>
                            <a href="https://twitter.com/AJNorfield" target="blank" class="resources read-more deep-lavender">查看Twitter个人资料</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="columns is-centered">

                <div class="column membercard card">
                    <div class="columns is-vcentered">
                        <div class="column is-centered">
                            <div class="member-image">
                                <img src="/assets/community/cryptoleee.png" class="lazy" alt="LTO Community Member">
                            </div>
                        </div>

                        <div class="column is-two-thirds">
                            <h4 class="column-title dark-indigo">@Cryptoleee</h4>
                            <p class="muted">"LTO Network是我所见过的最努力的区块链初创企业之一。并且使社区始终处于循环之中。给人留下深刻的印象！</p>
                            <a href="https://twitter.com/CryptoLeee" target="blank" class="resources read-more deep-lavender">查看Twitter个人资料</a>
                        </div>
                    </div>
                </div>

                <div class="column membercard card">

                    <div class="columns is-vcentered">
                        <div class="column is-centered">
                            <div class="member-image">
                                <img src="/assets/community/stefan0000.png" class="lazy" alt="LTO Community Member">
                            </div>
                        </div>

                        <div class="column is-two-thirds">
                            <h4 class="column-title dark-indigo">@Stefan0000</h4>
                            <p class="muted">我喜欢LTO社区如何通过提供认可，隶属关系，奖励成就以及获得补偿来奖励个人成员，从而激发参与和贡献。 一种使成员深入参与的惊人方式。</p>
                            <a href="https://twitter.com/stefanvoirschot" target="blank" class="resources read-more deep-lavender">查看Twitter个人资料</a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>
</div>

<!--
<div class="section-container cutout-bottom-alt">
    <section class="section alt p-top-l neg-m-top-m">
        <div class="section-body">
            <div class="container">
                <div class="columns is-mobile is-centered">
                    <div class="column has-text-centered">
                        <h2 class="section-title deep-lavender">代币指标</h2>
                        <h3 class="dark-indigo">来自Coinmarketcap.com的指标</h3>
                        <div class="promo-numbers c">
                            <div class="container">
                                <div class="item">
                                    <p class="promo-head accent-text">$</p>
                                    <p class="promo-desc">市值</p>
                                </div>
                                <div class="item">
                                    <p class="promo-head accent-text">$</p>
                                    <p class="promo-desc">交易量（24小时）</p>
                                </div>
                                <div class="item">
                                    <p class="promo-head accent-text">$</p>
                                    <p class="promo-desc">代币价格</p>
                                </div>
                                <div class="item">
                                    <p class="promo-head accent-text">#</p>
                                    <p class="promo-desc">持有人</p>
                                </div>
                                <div class="item">
                                    <p class="promo-head accent-text"># LTO</p>
                                    <p class="promo-desc">抵押代币</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
-->

<div class="section-container">
    <section class="section relative tertiary p-top-l neg-m-top-m">
        <div class="container">
            <h2 class="deep-lavender has-text-centered">官方市场</h2>

            <div class="columns is-centered has-text-centered">

                <div class="column is-3">
                    <div class="column-img">
                        <a href="https://bitmax.io/#/trade/usdt/lto" target="blank">
                           <picture>
      <source type="image/webp" data-srcset="/assets/markets/bitmax@2x.webp">
                            <img src="/assets/markets/bitmax@2x.png" alt="Bitmax">
                            </picture>
                        </a>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="column-img">
                        <a href="https://www.binance.org/en/trade/LTO-BDF_BNB" target="blank">
                           <picture>
      <source type="image/webp" data-srcset="/assets/markets/binance-dex@2x.webp">
                            <img src="/assets/markets/binance-dex@2x.png" alt="Binance DEX">
                            </picture>
                        </a>
                    </div>
                </div>

            </div>

<!--
            <div class="btn-container has-text-centered">
                <a src="#" class="button is-primary">
                    How to buy LTO?
                </a>
            </div>
-->

        </div>
    </section>
</div>

<div class="section-container cutout-top-alt cutout-bottom-alt">
    <section class="section p-top-xl p-bottom-xl alt">
        <div class="section-body">
            <div class="container">
                <h2 class="section-title has-text-centered">资源资源</h2>
                <h3 class="dark-indigo has-text-centered">您需要知道的一切</h3>
                <div class="columns resources is-centered main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/compass-purple.svg" alt="LTO Network - Mainnet Explorer">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">主网浏览器</h4>
                                <p class="resources column-description steel">使用官方的LTO主网浏览器检查区块，交易和钱包余额。</p>
                                <a href="https://explorer.lto.network" class="resources read-more deep-lavender">更多...</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/coins-purple.svg" alt="LTO Network - Online Wallet">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">在线钱包</h4>
                                <p class="resources column-description steel">访问主网和网桥交换：我们不保存您的密钥，因此请确保保护您的种子短语。</p>
                                <a href="https://wallet.lto.network" class="resources read-more deep-lavender">更多...</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="columns resources is-centered main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/globe-purple.svg" alt="LTO Network - Network Statistics">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">网络统计</h4>
                                <p class="resources column-description steel">比较事务活动，请参阅节点列表并验证生成器。</p>
                                <a href="https://www.lto.tools" class="resources read-more deep-lavender">更多...</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/wrench-purple.svg" alt="LTO Network - Earn LTO">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">赚取LTO代币</h4>
                                <p class="resources column-description steel">提交您的工作并获得奖励。 您还可以检查其他社区成员的活动。</p>
                                <a href="https://community.lto.network" class="resources read-more deep-lavender">更多...</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="columns resources is-centered main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/balance-purple.svg" alt="LTO Network - Token Bridge">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">代币桥</h4>
                                <p class="resources column-description steel">LTO令牌存在于3个区块链上，如果要交换，则需要使用钱包桥。</p>
                                <a href="https://info.ltonetwork.com/company-area/token" class="resources read-more deep-lavender">更多...</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/servers-purple.svg" alt="LTO Network - Run a Node">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">运行节点</h4>
                                <p class="resources column-description steel">您可以在本地计算机上的云中运行节点，也可以租用令牌。 查看完整指南。</p>
                                <a href="https://blog.lto.network/staking-and-leasing-lto-network-node-guide/" class="resources read-more deep-lavender">更多...</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="columns resources is-centered main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/calculator-purple.svg" alt="LTO Network - Staking Calculator">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">投注计算器</h4>
                                <p class="resources column-description steel">通过抵押或租赁您的LTO代币，您可以帮助保护网络并共享非通货膨胀的奖励费用。</p>
                                <a href="https://ltonode.com/roi-calculator/" class="resources read-more deep-lavender">更多...</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/notebook-purple.svg" alt="LTO Network - Whitepapers">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">白皮书</h4>
                                <p class="resources column-description steel">阅读有关我们对区块链采用的愿景，LTO代币经济学和技术概述的三篇主要论文。</p>
                                <a href="https://blog.lto.network/lto-network-sources/" class="resources read-more deep-lavender">更多...</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
    </section>
</div>


{% endblock %}
