{% set title = 'LTO Network' %}
{% set description = 'A simple route to blockchain adoption in business and enterprise' %}
{% set currentUrl = '/cn/' %}
{% set locale = 'cn' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
<!--      <source type="image/webp" data-srcset="/assets/hero/hero-home.webp">-->
   <img class="overlay-image lazy" data-src="/assets/hero/hero-home-white.svg" alt="LTO Network - Hero Home">
    </picture>
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">每年节省逾700万欧元废物运输费用的区块链</h1>
        <div class="buttons btn-container">
          <a href="/cn/use-cases/waste-transportation-blockchain/" class="button is-warning"><p class="dark-indigo">关于此用例</p></a>
          <a href="/cn/use-cases/#overview" class="button">更多用例</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary no-padding">
{% include "partials/cn/promo-numbers.njk" %}n
  </section>
</div>


  <section class="section is-medium">
    <div class="container medium">
      <h2 class="has-text-centered section-title">LTO 将如何协助您的业务</h2>
      <div class="wide-screen-floating-rocks rellax" style="position:absolute;width:70px;top:400px;left:-420px;" data-rellax-speed="4">
        <img class="lazy" data-src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
      </div>

      <div class="wide-screen-floating-rocks rellax" style="position:absolute;width:45px;top:840px;left:-270px;" data-rellax-speed="-2">
        <img class="lazy" data-src="/assets/rocks/small-rock-4.svg" alt="LTO Network - Rock">
      </div>
      <div class="wide-screen-floating-rocks rellax" style="position:absolute;width:98px;top:870px;left:1000px;" data-rellax-speed="6">
        <img class="lazy" data-src="/assets/rocks/small-rock-3.svg" alt="LTO Network - Rock">
      </div>

      <div class="wide-screen-floating-rocks rellax" style="position:absolute;width:45px;top:460px;left:950px;" data-rellax-speed="-4">
        <img class="lazy" data-src="/assets/rocks/small-rock-5.svg" alt="LTO Network - Rock">
      </div>
      <div class="wide-screen-floating-rocks rellax" style="position:absolute;width:45px;top:140px;left:1230px;" data-rellax-speed="2">
        <img class="lazy" data-src="/assets/rocks/small-rock-4.svg" alt="LTO Network - Rock">
      </div>


      <div class="columns has-margin-top-40">
        <div class="icon-container column lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:-48px;width:280px;height:275px; background-size: 100% 100%;">
          <img style="position:absolute;width:28px;top:100px;left:-80px" class="lazy rellax" data-src="/assets/rocks/small-rock-2.svg" data-rellax-speed="-1" alt="LTO Network - Rock">
          <img style="position:absolute;width:70px;top:0px;left:-50px" class="lazy rellax" data-src="/assets/rocks/small-rock-1.svg" data-rellax-speed="-2" alt="LTO Network - Rock">
          <img style="width:80px; position:absolute;top:86px;left:93px;" class="lazy" data-src="/assets/icons/rocket.svg" alt="LTO Network - ICON">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title">成本效益</h3>
          <div class="content">
              <p class="muted">LTO 致力于协助企业降低重复运营流程成本。</p>
          </div>
        </div>
      </div>



      <div class="columns has-margin-top-40 inverted-mobile">
        <div class="column is-two-thirds">
          <h3 class="title subsection-title">自动化</h3>
            <div class="content">
                <p class="muted">尽管自动化使企业变得更有效率和生产力，却仅限于企业内部筒仓。使用LTO进行流程协作，无需切换组织中当前使用的系统，企业就能从数据重用和自动化中受益。</p>
            </div>
        </div>
        <div class="icon-container column lazy" data-bg="url('/assets/rocks/rock-2.svg')" style="left:48px;width:280px;height:275px; background-size: 100% 100%;">
          <img style="position:absolute;width:98px;top:-60px;left:240px" class="lazy rellax" data-src="/assets/rocks/small-rock-3.svg" data-rellax-speed="-1" alt="LTO Network - Rock">
          <img style="position:absolute;width:45px;top:100px;left:280px" class="lazy rellax" data-src="/assets/rocks/small-rock-4.svg" data-rellax-speed="1" alt="LTO Network - Rock">
          <img style="width:80px; position:absolute;top:98px;left:91px;" class="lazy" data-src="/assets/icons/diagram.svg" alt="LTO Network - ICON">
        </div>
      </div>

      <div class="columns has-margin-top-40">
        <div class="icon-container column lazy" data-bg="url('/assets/rocks/rock-3.svg')"  style="left:-48px;width:280px;height:275px; background-size: 100% 100%;">
          <img style="position:absolute;width:45px;top:230px;left:-40px" class="lazy rellax" data-src="/assets/rocks/small-rock-5.svg" data-rellax-speed="-1" alt="LTO Network - Rock">
          <img style="width:80px;position:absolute;top:90px;left:88px;" class="lazy" data-src="/assets/icons/legal.svg" alt="LTO Network - ICON">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title">合规性</h3>
            <div class="content">
          <p class="muted">证明合规性对任何行业都至关重要。 使用LTO ，您可以记录业务流程中的所有数据条目和步骤，以保护证据并遵守法规。 LTO 同样符合GDPR法规。</p>
            </div>
        </div>
      </div>
    </div>
  </section>

<!--
<div class="section-container cutout-bottom-alt no-overflow">
  <section class="section alt p-top-l neg-m-top-m">
     <div class="floating-rocks section-body">
      <div class="container">
        <h2 class="section-title has-text-centered">LTO 将如何协助您的业务？</h2>
        <h3 class="small-subtitle has-text-centered">了解其他公司如何使用LTO Network</h3>
      </div>
      <div class="container company-container">
       <img class="company-rocks lazy" style="position:absolute;width:60px;top:50px;left:2.5px" data-src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
       <img class="company-rocks lazy" style="position:absolute;width:35px;top: 65px;left: 202.5px;" data-src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="company-rocks lazy" style="position:absolute;width:55px;top: 285px;left: 782.5px;" data-src="/assets/rocks/small-rock-3.svg" alt="LTO Network - Rock">
        <img class="company-rocks lazy" style="position:absolute;width:45px;top: 285px;left: 462.5px;" data-src="/assets/rocks/small-rock-3.svg" alt="LTO Network - Rock">
        <img class="company-rocks lazy" style="position:absolute;width:55px;top: 225px;left: 52.5px;" data-src="/assets/rocks/small-rock-4.svg" alt="LTO Network - Rock">
        <img class="company-rocks lazy" style="position:absolute;width:75px;top:105px;left:622.5px" data-src="/assets/rocks/small-rock-5.svg" alt="LTO Network - Rock">
        <img class="company-rocks lazy" style="width:105px;height:105px;margin-left:52.5px" data-src="/assets/partners-clients/floating rock - indaver.png" alt="LTO Network - Indaver">
        <img class="company-rocks lazy" style="width:190px;height:190px;margin-left:95.5px" data-src="/assets/partners-clients/floating rock - hh.png" alt="LTO Network - The Hague University">
        <img class="company-rocks lazy" style="width:97px;height:97px;margin-left:49.5px" data-src="/assets/partners-clients/floating rock - xurux.png" alt="LTO Network - Xurux">
        <img class="company-rocks lazy" style="width:173px;height:173px;margin-left:88px" data-src="/assets/partners-clients/floating rock - dbc.png" alt="LTO Network - Dutch Blockchain Coalition">
        <img class="company-rocks lazy" style="width:168px;height:168px;margin-left:86px" data-src="/assets/partners-clients/floating rock - ibm.png" alt="LTO Network - IBM Watson">
        <img class="company-rocks lazy" style="width:90px;height:90px;margin-left:45px" data-src="/assets/partners-clients/floating rock - cms.png" alt="LTO Network - CMS">
        <img class="company-rocks lazy" style="width:163px;height:163px;margin-left:82px" data-src="/assets/partners-clients/floating rock - rijksoverheid.png" alt="LTO Network - Rijksoverheid">
        <img class="company-rocks lazy" style="width:89px;height:89px;margin-left:45.5px" data-src="/assets/partners-clients/floating rock - nen.png" alt="LTO Network - NeN">
      </div>
        <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/cn/partners-clients/" class="button is-primary">我们的合作伙伴和客户</a>
        </div>
    </div>
  </section>
</div>
-->

  <section class="section is-medium tertiary">
    <div class="section-body" style="position:relative;">
     <div class="private-chain rellax" data-rellax-speed="2"><img class="lazy" data-src="/assets/private-chain.svg" alt="LTO Network - Private Chain"></div>
      <div class="public-chain rellax" data-rellax-speed="-2"><img class="lazy" data-src="/assets/public-chain.svg" alt="LTO Network - Public Chain"></div>
        <div class="container">
            <div class="columns has-text-centered-mobile">
                <div class="column is-5-desktop">
                    <h2 class="section-title deep-lavender">为什么是混合区块链？</h2>
                        <div class="content">
                            <p class="muted">通过‘去信任‘协作获得的潜在成本节省吸引了企业进入区块链。 然而，隐私限制限制了公共区块链的广泛采用。</p>
                            <p class="muted">联盟链提供了一种替代方案，却重新引入了区块链试图解决的大多数问题，包括网络权限，成员资格，利益冲突和高昂的设置成本。</p>
                            <p class="muted">LTO 允许进行’点对点‘协作，在私有协作中，对等方之间可以共享私有数据。 整个全球网络都有助于保护数据库的完整性，因此无需建立联盟。</p>
                            <p class="muted"><em>携手，我们可以打破区块链壁垒，达到更高的效率水平。</em></p>
                        </div>
                        <div class="btn-container">
                        <a href="/cn/tech/" class="button is-primary">进一步了解</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </section>

<div class="section-container cutout-bottom">
  <section class="section is-medium alt card-slider-section">
      <div class="section-body">
    <div class="container">
      <h2 class="section-title has-text-centered">案例</h2>
      <h3 class="small-subtitle has-text-centered">基于LTO的解决方案</h3>
      <div class="columns-container">
        <a class="use-case-arrow card-slider-action prev is-hidden-mobile">
          <img style="width: 60px; margin-right: 6px" class="lazy" data-src="/assets/icons/arrow-left.svg" alt="LTO Network - ICON">
        </a>
        <div class="columns is-multiline columns-slider is-visible is-centered">
          <div class="column card uc">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-capptions.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-capptions.png" alt="LTO Network - Use case - Capptions">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">数字清单和检查应用</h3>
              <div class="card-description muted">
                <p>为数据输入提供不变的证据,并针对机场，油站和危险品等重要地点创建检查报告。</p>
              </div>
              <div class="card-action">
                  <a href="/cn/use-cases/digital-checklist-inspection-reports/">
                <p class="deep-lavender">更多...</p>
                  </a>
              </div>
            </div>
          </div>
          <div class="column card uc">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-signrequest.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-signrequest.png" alt="LTO Network - Use case - SignRequest">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">使用区块链验证码的电子签名</h3>
              <div class="card-description muted">
                <p>保障文件内容不被篡改，并提供文件签名的特定日期和时间的证明。</p>
              </div>
              <div class="card-action">
                  <a href="/cn/use-cases/digital-signing-blockchain-verification/">
                <p class="deep-lavender">更多...</p>
                  </a>
              </div>
            </div>
          </div>
          <div class="column card uc">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-firm24.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-firm24.png" alt="LTO Network - Use case - Firm24">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">公证程序中的数据共享</h3>
              <div class="card-description muted">
                <p>公证程序严重依赖纸质程序。 LTO 通过有效且安全地共享数据，使合并程序更加有效。</p>
              </div>
              <div class="card-action">
                  <a href="/cn/use-cases/data-sharing-in-notary-procedures/">
                <p class="deep-lavender">更多...</p>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="columns columns-slider is-centered">
          <div class="column card uc">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-vaas.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-vaas.png" alt="LTO Network - Use case - V-ID">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">藝術品的真實性</h3>
              <div class="card-description muted">
                <p>通過區塊鏈驗證藝術品，可以更好地保護對象，並可以更輕鬆，更快速地建立真實性。</p>
              </div>
              <div class="card-action">
                  <a href="/cn/use-cases/authenticity-art-objects/">
                <p class="deep-lavender">更多...</p>
                  </a>
              </div>
            </div>
          </div>
          <div class="column card uc">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-contractapp.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-contractapp.png" alt="LTO Network - Use case - Quislex">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">订立合同变得简易</h3>
              <div class="card-description muted">
                <p>只需以智能手机上的形式回答几个问题，即可收到一份经过充分谈判和执行的合同，该合同也可以在区块链上进行哈希(散列)处理 。</p>
              </div>
              <div class="card-action">
                <a href="/cn/use-cases/contracts-made-easy/">
                  <p class="deep-lavender">更多...</p>
                </a>
              </div>
            </div>
          </div>
          <div class="column card uc">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-ilt.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-ilt.png" alt="LTO Network - Use case - ILT">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">国际废物运输</h3>
              <div class="card-description muted">
                <p>通过LTO将废物运输过程的所有利益相关者联系在一起，每年可节省超过700万欧元。<p>
              </div>
              <div class="card-action">
                <a href="/cn/use-cases/waste-transportation-blockchain/">
                  <p class="deep-lavender">更多...</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="columns columns-slider is-centered">
          <div class="column card uc">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-lease.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-lease.png" alt="LTO Network - Use case - CMS">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">智能物业租赁协议</h3>
              <div class="card-description muted">
                <p>法律文件曾经是静态纸。实时合同，为房地产行业提供实现自动化和效率提高的新途径。</p>
              </div>
              <div class="card-action">
                <a href="/cn/use-cases/smart-property-lease-agreements/">
                  <p class="deep-lavender">更多...</p>
                </a>
              </div>
            </div>
          </div>
          <div class="column card uc">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-certificates.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-certificates.png" alt="LTO Network - Use case - NeN">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">区块链上的智能证书</h3>
              <div class="card-description muted">
                <p>NEN引入了一种验证证书的新方法。无需使用监管机构进行随机检查，拥有智能手机的每个人都可以
验证证书。</p>
              </div>
              <div class="card-action">
                <a href="/cn/use-cases/smart-certificates-blockchain/">
                  <p class="deep-lavender">更多...</p>
                </a>
              </div>
            </div>
          </div>
          <div class="column card uc">
            <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/card-uc-cac.webp">
              <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-cac.png" alt="LTO Network - Use case - District Attorney">
            </picture>
            <div class="card-content-uc">
              {# <span class="card-meta">30% time savings</span> #}
              <h3 class="primary-text">简化小型刑事案件</h3>
              <div class="card-description muted">
                <p>借助LTO，可以通过连接数据孤岛并实现有效的业务流程共享来实现诸如入店行窃之类的多方利益相关者流程的自动化。</p>
              </div>
              <div class="card-action">
                <a href="/cn/use-cases/criminal-cases-blockchain/">
                  <p class="deep-lavender">更多...</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <a class="use-case-arrow card-slider-action next is-hidden-mobile">
          <img style="width: 60px; margin-left: 6px;" class="lazy" data-src="/assets/icons/arrow-right.svg" alt="LTO Network - ICON">
        </a>
      </div>
      <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/cn/partners-clients/" class="button is-primary">更多用例</a>
        </div>
    </div>
</div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
  {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
