{% set title = 'LTO Network - Use case - Digital signing with blockchain verification' %}
{% set description = 'Immutability of important documents is guaranteed' %}
{% set currentUrl = '/sitemap/' %}
{% set locale = 'cn' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
    <section class="hero is-medium">
       <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-signrequest.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-signrequest.png" alt="Digital signing with blockchain verification">
    </picture>
        <div class="hero-body">
            <div class="container">
                <div class=""><span class="tag is-rounded is-medium blue-grey"> 用例 </span></div>
                <h1 class="primary-text">使用区块链验证码的电子签名</h1>
                <h2 class="dark-indigo">通过将带有时间戳的证据发布在数字签名的文档上来提供不可变的证据。</h2>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-top">
    <section class="section secondary promo-numbers-section">
        <div class="promo-numbers c use-cases">
            <div class="container use-cases">
                <div class="item use-cases">
                   <picture>
      <source type="image/webp" data-srcset="/assets/use-cases/signrequest@2x.webp">
                    <img class="promo-client lazy" data-src="/assets/use-cases/signrequest@2x.png">
                    </picture>
                </div>
                <div class="item use-cases">
                    <p class="promo-head use-cases">参与方</p>
                    <p class="promo-desc use-cases muted">每年通过SignRequest应用程序签署的商业文档超过一百万。</p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">商业挑战</h2>
            <div class="columns">
                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">日期和时间的证明</h3>
                        <div class="card-description">
                            <p class="muted">如果对文档签署的确切时间存在争议，则需要能够可靠地进行验证。</p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                   <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-b lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">文件真实性</h3>
                        <div class="card-description">
                            <p class="muted">万一关于同意和签署多个版本的合同有争议，您需要能够验证真正的原始版本。</p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">文件验证</h3>
                        <div class="card-description">
                            <p class="muted">由多方共享和使用的文档需要所有相关人员的信任，并且可以独立验证。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container">
    <section class="section secondary">
        <div class="container">
            <h2 class="has-text-centered section-title">解决方案概述</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">不可变的PDF</h3>
                    <p class="muted">可以通过“哈希”文档将文档表示为数字指纹。 LTO通过与LTO连接的系统存储该文档的哈希值。任何有权访问数据的人都可以通过对文档进行哈希处理并将其与存储版本进行比较来验证该文档。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/save-purple.svg" alt="LTO Network - Immutable PDF's">
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/clock-purple.svg" alt="LTO Network - Verifiable timestamp ">
                </div>
                <div class="column is-1"></div>
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">可验证的时间戳 </h3>
                    <p class="muted">不仅哈希文档（指纹）存储在区块链上，而且文档的时间戳也存储在区块链上。通过使文档可验证且可独立审核，它们变得更有价值。LTO可为您带时间戳的索赔创建便携式证明。这些基于区块链的验证可以共享并转移给其他方。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">无需第三方验证</h3>
                    <p class="muted">使用基于开放标准的LTO网络，任何一方都可以独立验证文档的真实性和时间戳，而不必依赖受信任的第三方。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/notebook-purple.svg" alt="LTO Network - No need for third party verification">
                </div>
            </div>
            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/cn/contact/" class="button is-primary">预约样版</a>
            </div>
        </div>
    </section>
</div>



<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">使用LTO的优势</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - Cost savings">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">节约成本</h3>
                    <p class="muted">诸如手动将数据输入到系统中（通过信件，传真或电子邮件接收）之类的管理任务已经过时。 借助LTO的区块链技术，所有参与方都可以将结构化数据收集到他们用来执行和管理这些流程的系统中。 LTO N将管理开销降低了30％以上。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Easy integration">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">易于集成</h3>
                    <p class="muted">使用LTO，您无需更改整个IT基础架构。您可以使用现有的系统和应用程序来管理，记录并与LTO交流。实现与LTO的he'z的就像连接API一样简单。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Compliant by design">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">设计合规</h3>
                    <p class="muted">证明合规性对任何行业都至关重要。借助LTO，您可以记录业务流程中的所有数据条目和步骤，以保护证据并遵守法规。LTO可以为您的业务流程内部和外部通信提供一键式合规性报告。</p>
                </div>
            </div>

            <div class="table-container is-centered has-margin-top-40">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class="table_header dark-indigo">主题</div>
                        <div class="table_header dark-indigo">LTO解决方案</div>
                        <div class="table_header dark-indigo">传统解决方案</div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">文件安全性</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>在LTO区块链上锚定已签名的PDF，可确保所有参与方的文档不变。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>W随着PDF黑客的出现， 签署文件的确定性已无法被保证。</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">文件验证</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>借助与区块链链接的预集成和独立验证工具，任何一方都可以独立验证文档的真实性。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>验证文件的真实性需要第三方的帮助，这既耗时又昂贵。</p>
                            </div>
                        </div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">成本与速度</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>LTO的区块链针对锚定进行了优化，使得交易成本降低并以近乎即时的速度进行。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>使用传统的区块链速度锚定交易通常速度十分缓慢并且收费昂贵。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="btn-container has-text-centered">
                <a href="https://help.signrequest.com/hc/en-us/articles/360020499014-SignRequest-and-the-LTO-Network-Blockchain" class="button is-primary" target="blank">
                    进一步了解 (EN)
                </a>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-bottom-alt">
    <section class="section p-top-xl p-bottom-xl alt">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div class="card">
                        <div class="columns">
                            <div class="column is-3 card-testimonial-img">
                               <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/signrequest_testimonial@2x.webp">
                                <img class="lazy" data-src="/assets/use-cases/signrequest_testimonial@2x.png">
                                </picture>
                            </div>
                            <div class="column">
                                <div class="content card-testimonial-content">
                                    <p class="">事实证明使用区块链进行电子签名是有存在意义的，并且已投入使用。当我们研究区块链平台时，LTO 在速度，设置和功能各方面均脱颖而出。 我们可以将区块链交易标识符直接包含在我们的签名日志中，该签名日志会在签名时流传，而无需耗时等待确认。此外，创建去中心化工作流程的潜在性推动我们步入下一里程碑，并使我们为用户添加LTO 解决方案的选项。</p>
                                    <div class="author">Michael Krens</div>
                                    <div class="company">SignRequest的首席技术官</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
