  <video
      class="bottom-nav-video is-hidden-mobile lazy"
      data-src="/assets/media/bottom-bg.mp4"
      autoplay
      muted
      loop>
    <source data-src="/assets/media/bottom-bg.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="container">
      <div class="columns">
          <div class="column card uc">
              <picture>
                  <source type="image/webp" data-srcset="/assets/use-cases/card-uc-capptions.webp">
                  <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-capptions.png" alt="Run a node">
              </picture>

              <div class="card-content bc">
                  <h3 class="accent-text has-text-centered">Run a node</h3>
                  <div class="card-description has-text-centered">
                      <p>Set up a node on your local machine or in the cloud. It only takes minutes.</p>
                  </div>
                  <div class="card-action centered bc">
                      <div class="btn-container">
                          <a href="https://docs.ltonetwork.com/" target="_blank" class="button is-primary">
                              Get started
                          </a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="column card uc">
              <picture>
                  <source type="image/webp" data-srcset="/assets/use-cases/card-uc-firm24.webp">
                  <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-firm24.png" alt="Stake LTO">
              </picture>
              <div class="card-content bc">
                  <h3 class="accent-text has-text-centered">Stake LTO</h3>
                  <div class="card-description has-text-centered">
                      <p>Become a validator on mainnet and share the non-inflationary network rewards.</p>
                  </div>
                  <div class="card-action centered bc">
                      <div class="btn-container">
                          <a href="/staking/" class="button is-primary">
                              Learn more
                          </a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="column card uc">
             <picture>
                  <source type="image/webp" data-srcset="/assets/use-cases/card-uc-vaas.webp">
                  <img class="card-image clip-a lazy" data-src="/assets/use-cases/card-uc-vaas.png" alt="Get involved">
              </picture>
              <div class="card-content bc">
                  <h3 class="accent-text has-text-centered">Get involved</h3>
                  <div class="card-description has-text-centered">
                      <p>Chat, discuss, participate.<br>We have an awesome community!</p>
                  </div>
                  <div class="card-action centered bc">
                      <div class="btn-container">
                          <a href="https://t.me/ltonetwork" target="_blank" class="button is-primary">
                             Join us on Telegram
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
