<footer class="footer">
  <div class="container">
    <div class="columns">

      <div class="column logo-column">
        <a class="footer-item">
          <img width="240" class="navbar-logo lazy" data-src="/assets/logo/logo-full-dark-gradient.svg" alt="LTO Network - Logo"/>
        </a>
      </div>

      <div class="column">
        <ul>
          <li class="footer-title">Quick links</li>
            <li>
            <a class="footer-item" href="/partners-clients/">Partners & Clients</a>
          </li>
            <li>
            <a class="footer-item" href="/use-cases/">Use cases</a>
          </li>
            <li>
            <a class="footer-item" href="https://explorer.ltonetwork.com">Explorer</a>
          </li>
          <li>
            <a class="footer-item" href="https://wallet.lto.network">Wallet</a>
          </li>
          <li>
            <a class="footer-item" href="https://blog.ltonetwork.com/staking-and-leasing-lto-network-node-guide/">Staking Guide</a>
          </li>
          <li>
            <a class="footer-item" href="https://blog.ltonetwork.com/blockchain-adoption-real-world/">Integrator Portal</a>
          </li>
          <li>
            <a class="footer-item" href="https://research.binance.com/projects/lto-network/">Binance Research</a>
          </li>
          <li>
            <a class="footer-item" href="https://coinmarketcap.com/currencies/lto-network/">CoinMarketCap</a>
          </li>
        </ul>
      </div>

      <div class="column">
        <ul>
          <li class="footer-title">Contact</li>
            <li>
            <a class="footer-item" href="/contact/?department=software-vendors">Software Vendors</a>
          </li>
          <li>
            <a class="footer-item" href="/contact/?department=business">Business</a>
          </li>
            <li>
            <a class="footer-item" href="/contact/?department=developer">Developers</a>
          </li>
          <li class="footer-title has-margin-top-20">GDPR</li>
          <li>
            <a class="footer-item" href="/documents/privacy-policy.pdf">Privacy Policy</a>
          </li>
          <li>
            <a class="footer-item" href="/documents/cookie-statement.pdf">Cookie Statement</a>
          </li>
        </ul>
      </div>

      <div class="column">
        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="3714" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-statsticker="true" data-stats="USD"></div>
    
        <div class="footer-item" style="text-align: center;">
          <a href="https://www.binance.com/?ref=CA8BCN22">
            <img width="150" class="navbar-logo lazy" data-src="/assets/logo/logo-binance.svg" alt="Binance - Logo" style="margin: 10px 0 20px 0;"/>
          </a>
        </div>

        <div class="column is-full social-column">
          <div class="flex-row social-media-container mt-6">
            <a class="social-media-icon" href="https://www.linkedin.com/company/ltonetwork/">
                <img class="lazy" data-src="/assets/icons/linkedin.svg" alt="LTO Network - Linkedin">
            </a>
            <a class="social-media-icon" href="https://twitter.com/ltonetwork">
                <img class="lazy" data-src="/assets/icons/twitter.svg" alt="LTO Network - Twitter">
            </a>
            <a class="social-media-icon" href="https://github.com/ltonetwork">
                <img class="lazy" data-src="/assets/icons/git.svg" alt="LTO Network - Github">
            </a>
            <a class="social-media-icon" href="https://www.youtube.com/channel/UCaHcF-xterKYTKSpY4xgKiw">
                <img class="lazy" data-src="/assets/icons/youtube.svg" alt="LTO Network - Youtube">
            </a>
            <a class="social-media-icon" href="https://reddit.com/r/LTONetwork">
                <img class="lazy" data-src="/assets/icons/reddit.svg" alt="LTO Network - Reddit">
            </a>
            <a class="social-media-icon" href="https://t.me/ltonetwork">
                <img class="lazy" data-src="/assets/icons/telegram.svg" alt="LTO Network - Telegram">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="has-text-centered pt-10">
      <hr style="color: #B6B6B4;" />
      <p>&copy; 2019-2020 LTO Network</p>
      <small>Incorporated by <a href="https://www.firm24.com/bv-oprichten/">Firm24</a></small>
    </div>
  </div>
</footer>
