<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter logo-column">
        <a class="footer-item">
          <img width="240" class="navbar-logo lazy" data-src="/assets/logo/logo-full-dark-gradient.svg" alt="LTO Network - Logo"/>
        </a>
      </div>

      <div class="column is-half">
        <div class="columns mobile-flex-row">
          <div class="column">
            <ul>
              <li class="footer-title">Quick links</li>
               <li>
                <a class="footer-item" href="/partners-clients/">Partners & Clients</a>
              </li>
                <li>
                <a class="footer-item" href="/use-cases/">Use cases</a>
              </li>
                <li>
                <a class="footer-item" href="https://explorer.ltonetwork.com">Explorer</a>
              </li>
              <li>
                <a class="footer-item" href="https://wallet.lto.network">Wallet</a>
              </li>
              <li>
                <a class="footer-item" href="https://blog.ltonetwork.com/staking-and-leasing-lto-network-node-guide/">Staking Guide</a>
              </li>
              <li>
                <a class="footer-item" href="https://blog.ltonetwork.com/blockchain-adoption-real-world/">Integrator Portal</a>
              </li>
              <li>
                <a class="footer-item" href="https://research.binance.com/projects/lto-network/">Binance Research</a>
              </li>
              <li>
                <a class="footer-item" href="https://coinmarketcap.com/currencies/lto-network/">CoinMarketCap</a>
              </li>
            </ul>
          </div>

          <div class="column">
            <ul>
              <li class="footer-title">Contact</li>
                <li>
                <a class="footer-item" href="/contact/?department=software-vendors">Software Vendors</a>
              </li>
              <li>
                <a class="footer-item" href="/contact/?department=business">Business</a>
              </li>
                <li>
                <a class="footer-item" href="/contact/?department=developer">Developers</a>
              </li>
              <li class="footer-title has-margin-top-20">GDPR</li>
              <li>
                <a class="footer-item" href="/documents/privacy-policy.pdf">Privacy Policy</a>
              </li>
              <li>
                <a class="footer-item" href="/documents/cookie-statement.pdf">Cookie Statement</a>
              </li>
            </ul>
          </div>
          <div class="column is-hidden-mobile">
           &copy; 2019-2020 <nobr>LTO Network</nobr><br>
              <small>Incorporated by <a href="https://www.firm24.com/bv-oprichten/">Firm24</a></small>
            </div>
        </div>
      </div>
      <div class="column social-column">
        <div class="flex-row social-media-container">
         <a class="social-media-icon" href="https://www.linkedin.com/company/ltonetwork/">
            <div class="icon-linkedin">
             <picture>
              <img class="lazy" data-src="/assets/icons/linkedin.svg" alt="LTO Network - Linkedin">
              </picture>
            </div>
          </a>
          <a class="social-media-icon" href="https://twitter.com/ltonetwork">
            <div class="icon-twitter">
             <picture>
              <img class="lazy" data-src="/assets/icons/twitter.svg" alt="LTO Network - Twitter">
              </picture>
            </div>
          </a>
          <a class="social-media-icon" href="https://github.com/ltonetwork">
            <div class="icon-git">
             <picture>
              <img class="lazy" data-src="/assets/icons/git.svg" alt="LTO Network - Github">
              </picture>
            </div>
          </a>
          <a class="social-media-icon" href="https://www.youtube.com/channel/UCaHcF-xterKYTKSpY4xgKiw">
            <div class="icon-youtube">
             <picture>
              <img class="lazy" data-src="/assets/icons/youtube.svg" alt="LTO Network - Youtube">
              </picture>
            </div>
          </a>
          <a class="social-media-icon" href="https://reddit.com/r/LTONetwork">
            <div class="icon-reddit">
             <picture>
              <img class="lazy" data-src="/assets/icons/reddit.svg" alt="LTO Network - Reddit">
              </picture>
            </div>
          </a>
          <a class="social-media-icon" href="https://t.me/ltonetwork">
            <div class="icon-telegram">
             <picture>
              <img class="lazy" data-src="/assets/icons/telegram.svg" alt="LTO Network - Telegram">
              </picture>
            </div>
          </a>
        </div>
      </div>
      <div class="column is-hidden-desktop has-text-centered">
          <p>&copy; 2019-2020 LTO Network</p>
              <small>Incorporated by <a href="https://www.firm24.com/bv-oprichten/">Firm24</a></small>
            </div>
    </div>
  </div>
</footer>
