{% block navigation %}

<nav class="navbar is-fixed-top is-transparent {{ navFlavor }}" role="navigation" id="navbar">
  <div class="navbar-container container">
    <div class="navbar-brand">
      <a class="logo" href="/">
        <img width="184" src="/assets/logo/logo-full-dark-gradient.svg" alt="LTO Network logo" />
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavigationMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mainNavigationMenu" class="navbar-menu">
      <div class="navbar-end">
       <a class="navbar-item dark-indigo is-hidden-desktop" href="/">
          HOME
        </a>
        <a class="navbar-item dark-indigo" href="/use-cases/">
          PROJECTS
        </a>
        <a class="navbar-item dark-indigo" href="/tech/">
          TECH
        </a>
        <a class="navbar-item dark-indigo" href="/staking/">
          STAKING
        </a>
        <a class="navbar-item dark-indigo" href="https://blog.ltonetwork.com">
          BLOG
        </a>
        <a class="navbar-item dark-indigo" href="/about/">
          ABOUT
        </a>
        <a class="button is-small is-rounded" href="https://explorer.lto.network/" target="_blank">
          EXPLORER
        </a>
        <a class="language" href="/cn/">
        <picture><img class="lazy" data-src="/assets/icons/cn.svg" alt="Chinese website"></picture>
        </a>
    </div>
  </div>
</div>
</nav>


{% endblock %}
