    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
          <p class="promo-head accent-text">Top 20</p>
          <p class="promo-desc">blockchains worldwide</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100k+</p>
          <p class="promo-desc">daily transactions</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">90+</p>
          <p class="promo-desc">nodes <small>(avg 30 days)</small></p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">60+</p>
          <p class="promo-desc">ecosystem partners</p>
        </div>
      </div>
    </div>
