<div class="container">
  <h2 class="section-title has-text-centered">Resources</h2>
  <h3 class="dark-indigo has-text-centered">Everything you need to know</h3>

  <div class="columns is-centered is-multiline">
    <div class="column is-4">
      <a href="https://explorer.lto.network" class="resources">
        <div class="card">
          <div class="card-content">
            <div class="media is-vcentered">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="lazy" data-src="/assets/icons/compass-purple.svg" alt="Mainnet Explorer">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 resources">Mainnet Explorer</p>
              </div>
            </div>
            <div class="content resources">
              Check blocks, transactions, and wallet balances with the official LTO Network mainnet explorer.
            </div>
          </div>
        </div>
      </a>
    </div>
    
    <div class="column is-4">
      <a href="https://wallet.lto.network" class="resources">
        <div class="card">
          <div class="card-content">
            <div class="media is-vcentered">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="lazy" data-src="/assets/icons/coins-purple.svg" alt="Online Wallet">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 resources">Online Wallet</p>
              </div>
            </div>
            <div class="content muted">
              Access mainnet and bridge swaps: we do not save your keys, so make sure to secure your seed phrase.
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a href="https://blog.lto.network/bridge-troll-lto" class="resources">
        <div class="card">
          <div class="card-content">
            <div class="media is-vcentered">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="lazy" data-src="/assets/icons/balance-purple.svg" alt="Token Bridge">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 resources">Token Bridge</p>
              </div>
            </div>
            <div class="content muted">
              LTO token exists on 3 blockchains, and you need to use the wallet bridge if you want to swap.
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a href="https://blog.lto.network/staking-and-leasing-lto-network-node-guide/" class="resources">
        <div class="card">
          <div class="card-content">
            <div class="media is-vcentered">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="lazy" data-src="/assets/icons/servers-purple.svg" alt="Run a Node">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 resources">Run a Node</p>
              </div>
            </div>
            <div class="content muted">
              You can run a node on your local machine, in a cloud, or lease your tokens. Check the full guide.
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a href="https://lto.tools/generators/" class="resources">
        <div class="card">
          <div class="card-content">
            <div class="media is-vcentered">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="lazy" data-src="/assets/icons/globe-purple.svg" alt="Node Overview">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 resources">Node Overview</p>
              </div>
            </div>
            <div class="content muted">
              Check the list of active network validators and find out more about public community leasing nodes.
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a href="https://lto.tools/generators/" class="resources">
        <div class="card">
          <div class="card-content">
            <div class="media is-vcentered">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="lazy" data-src="/assets/icons/notebook-purple.svg" alt="Whitepapers">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 resources">Whitepapers</p>
              </div>
            </div>
            <div class="content muted">
              Read three primary papers about our vision for blockchain adoption, LTO token economics, and technical overview.
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>

</div>