            <div class="container">
                <h2 class="section-title has-text-centered">Resources</h2>
                <h3 class="dark-indigo has-text-centered">Everything you need to know</h3>
                <div class="columns is-centered resources main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/compass-purple.svg" alt="LTO Network - Mainnet Explorer">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Mainnet Explorer</h4>
                                <p class="resources column-description steel">Check blocks, transactions, and wallet balances with the official LTO Network mainnet explorer.</p>
                                <a href="https://explorer.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/coins-purple.svg" alt="LTO Network - Online Wallet">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Online Wallet</h4>
                                <p class="resources column-description steel">Access mainnet and bridge swaps: we do not save your keys, so make sure to secure your seed phrase.</p>
                                <a href="https://wallet.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="columns is-centered resources main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/balance-purple.svg" alt="LTO Network - Token Bridge">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Token Bridge</h4>
                                <p class="resources column-description steel">LTO token exists on 3 blockchains, and you need to use the wallet bridge if you want to swap.</p>
                                <a href="https://blog.lto.network/bridge-troll-lto" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/servers-purple.svg" alt="LTO Network - Run a Node">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Run a Node</h4>
                                <p class="resources column-description steel">You can run a node on your local machine, in a cloud, or lease your tokens. Check the full guide.</p>
                                <a href="https://blog.lto.network/staking-and-leasing-lto-network-node-guide/" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="columns is-centered resources main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/globe-purple.svg" alt="LTO Network - Staking Calculator">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Node Overview</h4>
                                <p class="resources column-description steel">Check the list of active network validators and find out more about public community leasing nodes.</p>
                                <a href="https://lto.tools/generators/" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/notebook-purple.svg" alt="LTO Network - Whitepapers">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Whitepapers</h4>
                                <p class="resources column-description steel">Read three primary papers about our vision for blockchain adoption, LTO token economics, and technical overview.</p>
                                <a href="https://blog.lto.network/lto-network-sources/" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>