{% set title = 'LTO Network - Deposit system for IP ' %}
{% set description = 'Deposit crucial contracts, intellectual property and certificates' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-uc-ioe.png');">
    <div class="hero-body">
      <div class="container">
          <div class=""><span class="tag is-rounded is-medium blue-grey">Business challenges</span></div>
        <h1 class="primary-text">Trusted document management</h1>
          <h2 class="dark-indigo">Deposit crucial contracts, intellectual property and certificates</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
            <img class="promo-client" src="/assets/use-cases/ibm@2x.png">
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">Virtual Vaults</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
      <h2 class="has-text-centered section-title">Business challenges</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Evidence of date and time</h3>
            <div class="card-description">
              <p>In case there ever is a dispute about when exactly the document has been signed you need to be able to verify the date and time of an upload of an document in an M&A deal or proofing that you where the first with this IP.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Document authenticity</h3>
            <div class="card-description">
              <p>In case there ever is a dispute between two parties which upload is the correct version you need to be able to validate which one is the original one.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">independent verification</h3>
            <div class="card-description">
              <p>Documents that are shared between parties need to trusted by all involved parties and independently verifiable.</p>
            </div>
          </div>
        </div>
      </div>
        </div>
    </section>
</div>


<div class="section-container">
  <section class="section secondary">
    <div class="container">
      <h2 class="has-text-centered section-title">Solution overview</h2>
      <div class="columns is-centered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">Immutable documents and files</h3>
          <p class="muted">The document or file that is uploaded can be represented as a digital fingerprint by 'hashing' it. The hash of this document is stored by all systems that are connected to the blockchain. Anyone with access to the data can verify the document by hashing it and comparing it against the blockchain version.</p>
        </div>
        <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
          <div class="livicon-evo" style="position:relative; top:-5px; left:-4px;" data-options="
          name: check-alt;
          size: 130px;
          tryToSharpen: true;
        style: filled;
        fillColor: #ffffff"></div>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
            <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
              <div class="livicon-evo" style="position:relative; top:-2px; left:-5px;" data-options="
              name: desktop;
              size: 130px;
              tryToSharpen: true;
              style: filled;
              fillColor: #ffffff"></div>
            </div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Verifiable timestamp</h3>
          <p class="muted">Not only the hash (fingerprint) of the document is stored in the blockchain but also the timestamp of the document or file. By making documents verifiable and independently audit-able, they become more valuable. Basically creating portable proof of your timestamped claims. These blockchain-based verifications can be shared and transferred to other parties.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40 inverted-mobile">
        <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">No need for third party verification</h3>
          <p class="muted">As LTO Network is based on open standards, any party can independently verify the authenticity- and timestamp of the uploaded file or document, without having to rely on a trusted third party.</p>
        </div>
          <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
          <div class="livicon-evo" style="position:relative; top:-10px; left:-4px;" data-options="
          name: dashboard;
          size: 130px;
          tryToSharpen: true;
        style: filled;
        fillColor: #ffffff"></div>
        </div>
      </div>
        <div class="btn-container has-text-centered has-margin-top-40">
        <a src="#" class="button is-primary">Book a demo</a>
        </div>
    </div>
  </section>
</div>


<div class="section-container cutout-top-alt cutout-bottom-alt">
  <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
      <div class="columns is-centered has-margin-top-40">
       <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: coins;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Manipulation prevention</h3>
          <p class="muted">The documents stored on the blockchain are time-stamped and electronically signed. This makes the document and it’s content full immutability and improves its authenticity and security as well.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: diagram;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Secure storage</h3>
          <p class="muted">Virtual Vaults in combination with LTO Network provides clients with the utmost security of their files and documents. The time of uploading is stamped and therefore immutable.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: balance;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Trusted sharing</h3>
          <p class="muted">Based on the user’s permission level, documents can be easily shared between parties, after which every mutation made is individually hashed and anchored on LTO Network.</p>
        </div>
      </div>

    <div class="columns is-centered has-margin-top-40">
        <div class="column">
<table class="table advantages">
      <thead>
        <tr>
          <th class="table-icon"></td>
          <th class="dark-indigo" colspan="2">Theme</th>
          <th class="dark-indigo" colspan="2">LTO Network/Virtual Vaults</th>
          <th class="dark-indigo" colspan="2">Traditional solution</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Data integrity</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">In Virtual Vaults documents are saved securely, and hashed for proving its existence at a certain moment.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel"> Documents and files stored in centralized systems are prone to mutation.</td>
        </tr>

        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Counterfeiting</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Blockchain technology ensures immutable and authentic document records.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Identification of counterfeited paper documents is time consuming costly.</td>
        </tr>


        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Sharing</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Creating an audit trail of document sharing and version control allows for independent verification of the documents.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Sharing documents in a secure way is complex and inefficient.</td>
        </tr>

        <tr>
        </tr>
      </tbody>

    </table>
</div>
</div>


    <div class="btn-container has-text-centered">
    <a href="#" class="button is-primary is-rounded main-button book-demo advantages">
      Book a demo
    </a>
</div>
  </div>
</section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l">
<div class="container">
    <h2 class="section-title has-text-centered">To prevent is better than to cure. <br> Trust in data is required to have all stakeholders and other related parties.</h2>
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5aq9DrHtbBk?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
    <a href="https://about.v-id.org/ioetest" target="blank" class="button is-primary">Learn more</a>
  </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m ecosystem-v">
      <div class="section-body">
        <div class="ecosystem-v"></div>
        <div class="columns is-desktop">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>Combining Blockchain, IoT and predictive analytics will be key to enabling circular economy value chains.
                <div class="author">Monique van Maare, IBM - Social Business expert</div>
            </blockquote>
        </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
