{% set title = 'Hybrid blockchain 1.3' %}
{% set description = 'Hybrid blockchain 1.3' %}

{% extends "base.njk" %}



{% block content %}

<section class="hero is-medium" style="background-image: url('/assets/slider-image-hybrid-blockchain@3x.png')">
  <div class="hero-body">
    <div class="container">
      <h1>The easiest way to implement <br>blockchain in businesses</h1>
      <div class="btn-container">
        <a href="#" class="button is-warning"><p class="dark-indigo">Join ecosystem</p></a>
        <a href="#" class="button">Learn more</a>
      </div>
    </div>
  </div>

  <div class="promo-numbers">
    <div class="container">
      <div class="item">
        <img class="checkmark" src="/assets/table icon - good.svg">
        <p class="promo-sub">Easy integration</p>
      </div>
      <div class="item">
        <img class="checkmark" src="/assets/table icon - good.svg">
        <p class="promo-sub">Supported by >1M users</p>
      </div>
      <div class="item">
        <img class="checkmark" src="/assets/table icon - good.svg">
        <p class="promo-sub">GDPR complaint</p>
      </div>
    </div>
  </div>
</section>

<section class="hybrid-blockchain-section section">
  <div class="hybrid-blockchain-container container">
    <div class="level">
      <div class="title level-item has-text-centered">
        <h2 class="title section-title deep-lavender hybrid-blockchain">LTO Network features</h2>
      </div>
    </div>

    <div class="rock-icons columns">

        <div class="rock-icon column left-side">
          <div class="rock-icon container left-side">
            <img class="small-rock-2" src="/assets/small-rock-2.svg">
            <img class="small-rock-1" src="/assets/small-rock-1.svg">

            <img src="/assets/rock-gear.png" srcset="/assets/rock-gear@2x.png 2x,
               /assets/rock-gear@3x.png 3x" class="rock-gear">
           </div>
        </div>

        <div class="rock-icon-text column right-side">
          <div class="text-rock-icon right-side">
            <h3 class="title dark-indigo subsection-title">Proof engine</h3>
            <p class="hybrid-blockchain-information-text steel">LTO Network's Proof Engine allows you to secure any digital data against manipulation, protecting businesses against digital fraud. Our Proof Engine is easy to integrate into existing IT infrastructures and connect to any (legacy) system through an API. Add a layer of trust to invoices, medical records, emails, documents and other digital data in a matter of minutes at a fraction of the costs.</p>
            <a class="read-more-link "href="#" >
              <p class="read-more deep-lavender"><br>Read more →</p>
            </a>
          </div>
        </div>

    </div>


    <div class="workflow-engine rock-icons columns">

      <div class="rock-icon-text column left-side">
        <div class="text-rock-icon left-side">
          <h3 class="title dark-indigo subsection-title">Workflow engine</h3>
          <p class="hybrid-blockchain-information-text steel">Data silos are the top barrier for organizations to reach the next level of efficiency when doing business together. This is hard to solve as stakeholders are reluctant to create and manage shared systems that allow for automation and effective collaboration. LTO Network has created a tamper-proof system that lets organizations create trustless, automated workflows to operate on equal footing through so-called "Live Contracts".</p>
          <a class="read-more-link "href="#" >
            <p class="read-more deep-lavender"><br>Read more →</p>
          </a>
        </div>
      </div>

      <div class="column rock-icon clipboard right-side">
        <div class="rock-icon container right-side">
          <img src="/assets/rock-clipboard.png" srcset="/assets/rock-clipboard@2x.png 2x, /assets/rock-clipboard@3x.png 3x" class="rock-clipboard">

          <img class="small-rock-3" src="/assets/small-rock-3.svg">
          <img class="small-rock-4" src="/assets/small-rock-4.svg">
        </div>
      </div>
    </div>


    <div class="rock-icons columns">

        <div class="rock-icon column left-side">
          <div class="rock-icon container left-side">
            <img class="small-rock-5" src="/assets/small-rock-5.svg">

            <img src="/assets/rock-folder.png" srcset="/assets/rock-folder@2x.png 2x, /assets/rock-folder@3x.png 3x" class="rock-folder">
          </div>
        </div>

        <div class="rock-icon-text column right-side">
          <div class="text-rock-icon right-side">
            <h3 class="title dark-indigo subsection-title">Data sharing</h3>
            <p class="hybrid-blockchain-information-text steel">When information is sent via email, letters, etc it becomes hard to keep track of which data is shared with whom and for what reason. This makes it nearly impossible to comply with privacy legislation like GDPR. The LTO Network private layer allow systems across organizations to share data in a compliant way.</p>
            <a class="read-more-link "href="#" >
              <p class="read-more deep-lavender"><br>Read more →</p>
           </a>
          </div>
        </div>
    </div>


  </div>

  <div class="hybrid-blockchain buttons-div">
    <a src="#" class="button is-primary is-rounded main-button book-demo hybrid-blockchain">
      <p class="button-text hybrid-blockchain">Developer area</p>
    </a>

    <a src="#" class="button is-primary is-outlined is-rounded hybrid-blockchain">
      <p class="button-text hybrid-blockchain">Explore use-cases</p>
    </a>
  </div>

</section>

{% include "partials/why-lto.njk" %}

{% include "partials/ecosystem-v-block.njk" %}

{% include "partials/companies.njk" %}

{% include "partials/insights-updates.njk" %}

{% include "partials/three-areas.njk" %}

{% endblock %}
