{% set title = 'LTO Network - Hybrid Blockchain' %}
{% set description = 'The easiest way to implement blockchain in businesses' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/slider-image@3x.png')">
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">The easiest way to implement<br>blockchain in businesses.</h1>
        <div class="buttons btn-container">
          <a href="#" class="button is-warning"><p class="dark-indigo">Explore developer area</p></a>
          <a href="#" class="button">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers">
      <div class="container">
        <div class="item">
            <p class="promo-head-alt"><span>&#10003;</span>Easy integration</p>
        </div>
        <div class="item">
          <p class="promo-head-alt"><span>&#10003;</span>Big tech community</p>
        </div>
        <div class="item">
          <p class="promo-head-alt"><span>&#10003;</span>GDPR Compliant</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
  <section class="section">
    <div class="container medium">
      <h2 class="has-text-centered section-title">Features</h2>
      <div class="columns has-margin-top-40">
        <div class="icon-container column" style="left:48px;width:280px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
        <div class="column">
          <h3 class="title subsection-title">Proof Machine</h3>
            <div class="content">
            <p class="muted">LTO Network’s Proof Machine allows you to secure any digital data against manipulation, protecting businesses against digital fraud.</p>
            <p class="muted">Our Proof Machine is easy to integrate into existing IT infrastructures and connect to any (legacy) system through an API.</p>
            <p class="muted">Add a layer of trust to invoices, medical records, emails, documents and other digital data in a matter of minutes at a fraction of the costs.</p>
            </div>
          <a class="read-more-link "href="#" >
            <p class="read-more deep-lavender"><br>Read more →</p>
          </a>
        </div>
      </div>

      <div class="columns has-margin-top-40 inverted-mobile">
        <div class="column">
          <h3 class="title subsection-title">Workflow Machine</h3>
            <div class="content">
          <p class="muted">Data silos are the top barrier for organizations to reach the next level of efficiency when doing business together. This is hard to solve as stakeholders are reluctant to create and manage shared systems that allow for automation and effective collaboration.</p>
                <p class="muted">LTO Network has created a tamper-proof system that lets organizations create trustless, automated workflows to operate on equal footing through so-called "Live Contracts".</p>
            </div>
          <a class="read-more-link "href="#" >
            <p class="read-more deep-lavender"><br>Read more →</p>
          </a>
        </div>
        <div class="icon-container column" style="left:48px;width:280px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
      </div>

      <div class="columns has-margin-top-40">
        <div class="icon-container column" style="left:48px;width:280px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
        <div class="column">
          <h3 class="title subsection-title">Data Sharing <small>(Linked data)</small></h3>
            <div class="content">
          <p class="muted">When information is sent via email, letters, etc it becomes hard to keep track of which data is shared with whom and for what reason. This makes it nearly impossible to comply with privacy legislation like GDPR..</p>
            <p class="muted">The LTO Network private layer allows systems across organizations to share data in a compliant way.</p>
            </div>
          <a class="read-more-link "href="#" >
            <p class="read-more deep-lavender"><br>Read more →</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l neg-m-top-m">
    <div class="section-body">
      <div class="container">
          <div class="columns is-vcentered">
                <div class="column is-one-third">
                <h2 class="section-title">Why LTO Network</h2>
                    <div class="content">
                    <p class="muted">We came up with a different approach than most other enterprise fabrics. We created a complex layer to execute business logic in miniature private chains. These are created following our Live Contracts protocol.</p>
                    <p class="muted">Every process becomes a self-contained mini-blockchain and data and business logic is only shared between the participants on that single chain. We combined this with our  lightweight public chain with the sole purpose of anchoring data.</p>
                    <p class="muted">This brings advantages such as horizontal scalability, the possibility to delete data from the mini-chains and setting up a node in a matter of minutes instead of days.</p>
                    </div>
                    <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
                </div>
                <div class="column is-two-third">
                    <img src="/assets/why-lto.svg">
                </div>
            </div>
      </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m">
    <div class="container z-index-4">
        <div class="ecosystem-v"></div>
        <div class="columns is-mobile">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
    <div class="companies section-body">
      <div class="companies-title-container container">
        <h2 class="section-title has-text-centered">
          You're in good company
        </h2>
        <h3 class="small-subtitle">
          A selection of organizations already part of Ecosystem V
        </h3>
      </div>

      <div class="companies-ico-container container">
        <img class="company-rocks generali" src="/assets/floating-rock-generali.png" srcset="/assets/floating-rock-generali@2x.png 2x, /assets/floating-rock-generali@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks indaver" src="/assets/floating-rock-indaver.png" srcset="/assets/floating-rock-indaver@2x.png 2x, /assets/floating-rock-indaver@3x.png 3x">
        <img class="company-rocks rijksoverheid" src="/assets/floating-rock-rijksoverheid.png" srcset="/assets/floating-rock-rijksoverheid@2x.png 2x, /assets/floating-rock-rijksoverheid@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-3.svg">
        <img class="company-rocks" src="/assets/small-rock-2.svg">
        <img class="company-rocks signrequest" src="/assets/floating-rock-signrequest.png" srcset="/assets/floating-rock-signrequest@2x.png 2x, /assets/floating-rock-signrequest@3x.png 3x">
        <img class="company-rocks dekra" src="/assets/floating-rock-dekra.png" srcset="/assets/floating-rock-dekra@2x.png 2x, /assets/floating-rock-dekra@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks" src="/assets/small-rock-3.svg">
        <img class="company-rocks" src="/assets/small-rock-1.svg">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks stena" src="/assets/floating-rock-stena.png" srcset="/assets/floating-rock-stena@2x.png 2x, /assets/floating-rock-stena@3x.png 3x">
        <img class="company-rocks capptions" src="/assets/floating-rock-capptions.png" srcset="/assets/floating-rock-capptions@2x.png 2x, /assets/floating-rock-capptions@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-3.svg">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks firm-24" src="/assets/floating-rock-firm-24.png" srcset="/assets/floating-rock-firm-24@2x.png 2x, /assets/floating-rock-firm-24@3x.png 3x">
      </div>

      <a href="#" class="button is-rounded is-primary main-button use-cases">
        Explore use cases
      </a>
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
    <div class="container">
      <div class="columns">
        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-1.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Developer area</h3>
            <div class="card-description has-text-centered">
              <p>Get to know the tech, set up a node and learn how to build your first product or integration on LTO network.</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-2.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Community area</h3>
            <div class="card-description has-text-centered">
              <p>Ready to put your marketing, design and development skills into practice? Join the community!</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-3.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Contact us</h3>
            <div class="card-description has-text-centered">
              <p>Got a question on implementing blockchain in your (clients) organization? The LTO Network team is here to help you out!</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
