{% set title = 'LTO Network - Use case - Environment data on Blockchain (IBM)' %}
{% set description = 'Digitisation is key to drive the sustainability transformation forward. Data insights, combined and mined creatively, help us better understand our true impact on the environment.' %}
{% set currentUrl = '/use-cases/environment-data-on-blockchain/' %}
{% set locale = 'en' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-ioe@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-ioe@2x.jpg" alt="Environment data on Blockchain (IBM)">
    </picture>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-two-thirds">
            <div class=""><span class="tag is-rounded is-medium blue-grey"> USE CASE </span></div>
            <h1 class="primary-text">Environment data on Blockchain</h1>
            <h2 class="dark-indigo">Digitisation is key to drive the sustainability transformation forward. Data insights, combined and mined creatively, help us better understand our true impact on the environment.</h2>
          </div>
          <div class="column video is-centered">
            <iframe class="card" width="560" height="315" src="https://www.youtube-nocookie.com/embed/5aq9DrHtbBk?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
          <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/ibm@2x.webp">
            <img class="promo-client lazy" data-src="/assets/use-cases/ibm@2x.png" alt="IBM">
          </picture>
        </div>
        <div class="item use-cases">
          <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">Digital Mainport, IBM, LTO Network, V-ID</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Business challenges</h2>
    <div class="columns">
      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Data importance</h3>
          <div class="card-description">
            <p>Environmental data is an important source of information for social domains such as policy, legislation, taxation and investments. After all, the data is used to identify trends, to uncover connections and to demonstrate patterns.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Data vulnerability</h3>
          <div class="card-description">
            <p>The important role of the data from these types of measurements makes them vulnerable to influence by parties with an interest in the developments within such a social domain.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Digitisation</h3>
          <div class="card-description">
            <p>Digitisation is key to drive the sustainability transformation forward. Data insights, combined and mined creatively, help us better understand our true impact, identify the most effective levers for change, and are also key to enabling circular solutions at scale.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium secondary">
  <div class="container">
    <h2 class="has-text-centered section-title">Solution overview</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Audited IoT devices</h3>
        <p class="muted">Trust in devices is crucial for the data that follows from these devices, therefore these devices will be required to be audited by a certified party, guaranteeing the authenticity of the data pushed to the platform.</p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/notebook-purple.svg" alt="LTO Network - Audited IoT devices">
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/diagram-purple.svg" alt="LTO Network - The IoE platform">
      </div>
      <div class="column is-1"></div>
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">The IoE platform</h3>
        <p class="muted">By creating the “internet of environment” (IoE) platform for rental properties, we’re looking to support a letting agency to provide better services to their tenants and to make better, more sustainable decisions in managing their properties.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Organizations’ own</h3>
        <p class="muted">Organizational environmental data is now scattered all over the place. In future white label environments, each organization will have its own dashboard, with its own data, to do their own analysis on that data.</p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/users-purple.svg" alt="LTO Network - Organizations’ own">
      </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/contact/" class="button is-primary">Book a demo</a>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/shield.svg" alt="LTO Network - Data integrity">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Data integrity</h3>
        <p class="muted">LTO Network is a fully decentralized and highly efficient blockchain infrastructure that is easy to integrate in existing systems that brings efficiency and is production-ready. Blockchain ensures data integrity and immutability following from the devices.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Ease of adoption">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Ease of adoption</h3>
        <p class="muted">Where LTO Network focuses on the underlying data security structures, V-ID is a practical platform, intended for direct application in daily work processes. Both companies, however, have the main objective of facilitating the widest possible application of blockchain techniques with the lowest possible threshold for adoption of this technology.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/building.svg" alt="LTO Network - Data driven decisions">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Data driven decisions</h3>
        <p class="muted">By creating the “Internet of Environment” (IoE) for rental properties, LTO Network and partners aim to support a letting agency to provide better services to their tenants and to make better, more sustainable decisions in managing their properties.</p>
      </div>
    </div>

    <div class="table-container is-centered has-margin-top-40">
      <div class="table" id="results">
        <div class='theader'>
          <div class="table_header dark-indigo">Theme</div>
          <div class="table_header dark-indigo">LTO Network solution</div>
          <div class="table_header dark-indigo">Traditional solution</div>
        </div>
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Data integrity</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>Since IoT devices are directly linked to the LTO Network blockchain, data is anchored without human interference.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Data is pushed from IoT devices to centralized systems, where the data is prone to mutation.</p>
            </div>
          </div>
        </div>



        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Data origin</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>IoE provides an ecosystem where IoT sensors can emit data along with a proof of data origin and creation time.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>We’re told that IoT devices can be trusted. But the data origin is still unknown to third parties and the public.</p>
            </div>
          </div>
        </div>
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Costs and speed</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>LTO’s blockchain is optimized for anchoring, making transactions near instant and affordable.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Traditional blockchains tend to be very slow and expensive to anchor this many transactions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-container has-text-centered">
      <a href="/contact/" class="button is-primary is-rounded main-button book-demo advantages">
        Book a demo
      </a>
    </div>
  </div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="card uc">
            <div class="columns">
              <div class="column is-3 card-testimonial-img">
                <picture>
                  <source type="image/webp" data-srcset="/assets/use-cases/ibm_testimonial@2x.webp">
                  <img class="lazy" data-src="/assets/use-cases/ibm_testimonial@2x.png">
                </picture>
              </div>
              <div class="column">
                <div class="content card-testimonial-content">
                  <p class="">Combining Blockchain, IoT and predictive analytics will be key to enabling circular economy value chains.</p>
                  <div class="author">Monique van Maare</div>
                  <div class="company">Social Business Expert of IBM</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
    {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
