{% set title = 'LTO Network - Jobs & Talent' %}
{% set description = 'We are always looking for talented people to join our team' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/slider-image-polygons-2@3x.png')">
    <div class="hero-body">
      <div class="container">
          <div class="columns">
              <div class="column">
        <h1 class="primary-text">We are looking for you!</h1>
          <p class="dark-indigo jobs-talent quote">“The most devoted and tech savvy bunch of whizzkids I have ever met”</p>
          <p class="dark-indigo jobs-talent end-quote">- Mike van der Bilt (TechStarter)</p>
        <div class="buttons btn-container">
            <a href="#" class="button is-warning">Join the movement</a>
            <a href="#" class="button">Learn more</a>
        </div>
              </div>
          <div class="column video">
        <figure class="image is-16by9">
        <iframe class="has-ratio" width="640" height="360" src="https://www.youtube-nocookie.com/embed/D1CDJEahhjY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </figure>
        </div>
      </div>
    </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
          <p class="promo-head accent-text">1M+</p>
          <p class="promo-desc">Active users</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">Top 20</p>
          <p class="promo-desc">blockchains worldwide</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">30k+</p>
          <p class="promo-desc">daily transactions</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">nodes</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">ecosystem partners</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
  <section class="section">
    <div class="container">
      <h2 class="section-title has-text-centered">Join our team</h2>
      <p class="dark-indigo small-subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>

    <div class="card" id="srfront">
    <div class="columns">
      <div class="column is-half">
          <div class="jobs-description">
        <div class="job-type"><span class="tag is-rounded is-medium blue-grey"> FULLTIME </span></div>
        <h2 class="dark-indigo">Sr Front End Developer</h2>
        <div class="content">
        <p class="muted">Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl.</p>
        <div class="btn-container has-margin-top-40"><a src="#" class="button is-primary">Apply for this position</a></div>
        </div>
     </div>
      </div>        
      <div class="column is-half jobs-img is-hidden-mobile">
        <img class="" src="/assets/polygons - 1.png" style="">
      </div>
        </div>
    </div>
        
        <div class="card has-margin-top-40" id="fullstack">
    <div class="columns">
        <div class="column is-half jobs-img is-hidden-mobile">
        <img class="" src="/assets/polygons - 1.png" style="">
      </div>
      <div class="column is-half">
          <div class="jobs-description">
        <div class="job-type"><span class="tag is-rounded is-medium blue-grey"> FULLTIME </span></div>
        <h2 class="dark-indigo">Full Stack Developer</h2>
        <div class="content">
        <p class="muted">Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl.</p>
        <div class="btn-container has-margin-top-40"><a src="#" class="button is-primary">Apply for this position</a></div>
        </div>
     </div>
      </div>        
        </div>
    </div>
        
        <div class="card has-margin-top-40" id="uiuxdesign">
    <div class="columns">
      <div class="column is-half">
          <div class="jobs-description">
        <div class="job-type"><span class="tag is-rounded is-medium blue-grey"> INTERNSHIP </span></div>
        <h2 class="dark-indigo">UX / UI Designer</h2>
        <div class="content">
        <p class="muted">Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl.</p>
        <div class="btn-container has-margin-top-40"><a src="#" class="button is-primary">Apply for this position</a></div>
        </div>
     </div>
      </div>
        <div class="column is-half jobs-img is-hidden-mobile">
        <img class="" src="/assets/polygons - 1.png" style="">
      </div>
        </div>
    </div>
        
        <div class="card has-margin-top-40" id="seospec">
    <div class="columns">
        <div class="column is-half jobs-img is-hidden-mobile">
        <img class="" src="/assets/polygons - 1.png" style="">
      </div>
      <div class="column is-half">
          <div class="jobs-description">
        <div class="job-type"><span class="tag is-rounded is-medium blue-grey"> INTERNSHIP </span></div>
        <h2 class="dark-indigo">SEO Specialist</h2>
        <div class="content">
        <p class="muted">Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl. Ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis hendrerit leo. Proin venenatis augue nisl.</p>
        <div class="btn-container has-margin-top-40"><a src="#" class="button is-primary">Apply for this position</a></div>
        </div>
     </div>
      </div>        
        </div>
    </div>
        
      </div>

  </section>
</div>

<div class="section-container cutoff-top cutout-bottom">
  <section class="section alt relative neg-m-top-m p-top-l" id="team">
    <div class="container z-index-4">
      <h2 class="has-text-centered section-title">Meet the team</h2>
        <h3 class="dark-indigo has-text-centered">Get to know the rock stars who only have one goal in mind: the global adoption of LTO Network.</h3>
    
        <div class="team-container has-text-centered">
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/rick.png">
          </div>
          <span class="name">Rick Schmitz</span>
          <span class="title">CEO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/rschmitz/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/mig.png">
          </div>
          <span class="name">Martijn Migchelsen</span>
          <span class="title">CFO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/migchelsen/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/arnold.png">
          </div>
          <span class="name">Arnold Daniels</span>
          <span class="title">Lead Architect</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/arnolddaniels/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/jasny" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/sven.png">
          </div>
          <span class="name">Sven Stam</span>
          <span class="title">CTO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/svenstam/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/sven4ask" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/martijn.png">
          </div>
          <span class="name">Martijn Broersma</span>
          <span class="title">COO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/martijnbroersma/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/ivan.png">
          </div>
          <span class="name">Ivan Golovko</span>
          <span class="title">CMO</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/ivangolovko/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/moosh.png">
          </div>
          <span class="name">Moesjarraf Jahangier</span>
          <span class="title">SR Backend Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/moesjarraf/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/moesjarraf" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/yevhen.png">
          </div>
          <span class="name">Yevhen Horbachov</span>
          <span class="title">Lead Frontend Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/yevhen-horbachov-0b601756/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/KillaBee1985" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/sarf.png">
          </div>
          <span class="name">Sarfaraaz Jahangier</span>
          <span class="title">SR Full-stack Dev</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/sarfaraaz-jahangier-442a38135/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/Sarfaraaz" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/mitchel.png">
          </div>
          <span class="name">Mitchel Kerckhaert</span>
          <span class="title">Developer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/mitchel-kerckhaert-b55400123/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/MitchelKerckhaert" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/jurre.png">
          </div>
          <span class="name">Jurre Wolsink</span>
          <span class="title">Developer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/jurre-wolsink-b12258a6/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/jurrew27" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/benjamin.png">
          </div>
          <span class="name">Benjamin Roeloffs Valk</span>
          <span class="title">Designer</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/benjamin-roeloffs-valk-35ab70120/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/rick_ros.png">
          </div>
          <span class="name">Rick Ros</span>
          <span class="title">Head of Sales</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/rickros/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/michael.png">
          </div>
          <span class="name">Michael Nieveld</span>
          <span class="title">Legal &amp; Tax</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/michael-nieveld-7b52551a/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/maurits.png">
          </div>
          <span class="name">Maurits Wismeijer</span>
          <span class="title">Legal</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/maurits-wismeijer-268529174/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/lisa_kate.png">
          </div>
          <span class="name">Lisa Kate Palmer</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/lisa-kate-palmer-2732b681/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/mies.png">
          </div>
          <span class="name">Mies Rijperman</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/miesrijperman/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-member">
          <div class="team-image">
            <img src="/assets/team/isa.png">
          </div>
          <span class="name">Isa Branco</span>
          <span class="title">Agent</span>
          <ul class="socials">
            <li class="linkedin">
              <a href="https://www.linkedin.com/in/isa-branco-0866b757/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
  </section>
</div>

<div class="section-container cutout-bottom z-index-1">
<section class="section tertiary relative neg-m-top-m p-top-l p-bottom-xl" id="talent">
    <div class="container">
      <h2 class="has-text-centered section-title">Love what we do!</h2>
        <h3 class="dark-indigo has-text-centered">Our fast growing team is always looking for fresh and enthusiastic talent.</h3>
        
        <div class="columns">

      <div class="love-what-we-do column has-text-centered">
        <figure class="image">
        <img class="love-what-we-do image" src="/assets/circle icon - clipboard.svg">
        </figure>

        <h2 class="dark-indigo">Love what we do</h2>
          <div class="content">

        <p class="muted">Suspendisse sit amet arcu massa. Pellentesque habitant morbi tristique senectus</p>
          </div>
      </div>


      <div class="love-what-we-do column has-text-centered">
        <figure class="image">
        <img class="love-what-we-do image" src="/assets/circle icon - clipboard.svg">
        </figure>

        <h2 class="dark-indigo">Learn from the best</h2>
        <div class="content">
        <p class="muted">Morbi malesuada tincidunt est, vitae rhoncus libero condimentum eu. Nunc porttitor sapien in fermentum fermentum.</p>
          </div>

      </div>

      <div class="love-what-we-do column has-text-centered">
        <figure class="image">
        <img class="love-what-we-do image" src="/assets/circle icon - clipboard.svg">
        </figure>

        <h2 class="dark-indigo">Great rewards</h2>
          <div class="content">

        <p class="muted">Usce vel leo ut sapien laoreet posuere et id enim. Nam varius vel est at scelerisque dolor sit.</p>
          </div>

      </div>

    </div>
        
        
    </div>
</section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
    <div class="container">
      <div class="columns">
        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-1.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Developer area</h3>
            <div class="card-description has-text-centered">
              <p>Get to know the tech, set up a node and learn how to build your first Live Contract in the developer area!</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-2.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Community area</h3>
            <div class="card-description has-text-centered">
              <p>Ready to put your marketing, design and development skills into practice? Join the community!</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-3.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Explore use cases</h3>
            <div class="card-description has-text-centered">
              <p>Many organizations are already reaping the benefits from blockchain technology. Learn all about it our extensive use case section.</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
