{% set title = 'LTO Network - Use case - Smart QR-codes combined with blockchain technology' %}
{% set description = 'Smart packaging solutions for product authentication and supply chain traceability' %}
{% set currentUrl = '/cn/use-cases/track-trace-product-authentication/' %}
{% set locale = 'cn' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-scantrust@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-scantrust@2x.png" alt="Smart QR-codes">
    </picture>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-two-thirds">
                <div class=""><span class="tag is-rounded is-medium blue-grey"> 用例 </span></div>
                <h1 class="primary-text">智能QR码</h1>
                <h2 class="dark-indigo">用于产品认证和供应链可追溯性的智能包装解决方案。</h2>
            </div>
        </div>
      </div>
    </div>
    </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
        <div class="promo-numbers c use-cases">
            <div class="container use-cases">
                <div class="item use-cases">
                   <picture>
      <source type="image/webp" data-srcset="/assets/use-cases/scantrust@2x.webp">
                    <img class="promo-client lazy" data-src="/assets/use-cases/scantrust@2x.png" alt="ScanTrust">
                    </picture>
                </div>
                <div class="item use-cases">
                    <p class="promo-head use-cases">参与方</p>
                    <p class="promo-desc use-cases muted">ScanTrust为全球最大的公司（如埃克森美孚，联合利华，壳牌和AB InBev）提供其智能QR码服务。</p>
                </div>
            </div>
        </div>
  </section>
</div>

<section class="section is-medium">
  <div class="container">
            <h2 class="has-text-centered section-title">商业挑战</h2>
            <div class="columns">
                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">伪造产品上的QR码</h3>
                        <div class="card-description">
                            <p class="muted">终端客户没有帮助信任产品信息的工具，用以验证所购买的产品是假冒，损坏或虚假陈述的</p>
                        </div>
                    </div>
                </div>

                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">利益相关者之间的合作</h3>
                        <div class="card-description">
                            <p class="muted">具有对其供应链管理系统的管理访问权的第三方供应商或分销合作伙伴。</p>
                        </div>
                    </div>
                </div>

                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">供应链系统的完整性</h3>
                        <div class="card-description">
                            <p class="muted">供应链中的任何相关方通常都无法发现对数据的篡改，因此系统的完整性具有一定的风险</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="section is-medium secondary">
  <div class="container">
            <h2 class="has-text-centered section-title">解决方案概述</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">防止篡改QR码</h3>
                    <p class="muted">用于生成QR码的特殊技术能对每个数据条目的提交进行签名并在LTO中进行报告以创建不可变的记录。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/briefcase-purple.svg" alt="LTO Network - Rock">
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/notebook-purple.svg" alt="LTO Network - Rock">
                </div>
                <div class="column is-1"></div>
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">有效的合作</h3>
                    <p class="muted">通过数字化纸质流程和改变不同业务之间的沟通来提高效率，减少在供应链工作流程上进行协作时的人为错误。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">资料共享</h3>
                    <p class="muted">涉及各方使用连接到LTO网络的系统共享的数据。 利益相关者可以从数据重用和减少手动流程处理中受益。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/users-purple.svg" alt="LTO Network - Rock">
                </div>
            </div>
            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/cn/contact/" class="button is-primary">预约样版</a>
            </div>
        </div>
</section>

<section class="section is-medium">
  <div class="container">
            <h2 class="has-text-centered section-title">使用LTO的优势</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - Cost savings">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">节约成本</h3>
                    <p class="muted">诸如手动将数据输入到系统中（通过信件，传真或电子邮件接收）之类的管理任务已经过时。 借助LTO的区块链技术，所有参与方都可以将结构化数据收集到他们用来执行和管理这些流程的系统中。 LTO 将管理开销降低了30％以上。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Easy integration">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">易于集成</h3>
                    <p class="muted">使用LTO，您无需更改整个IT基础架构。您可以使用现有的系统和应用程序来管理，记录并与LTO交流。实现与LTO的he'z的就像连接API一样简单。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Compliant by design">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">设计合规</h3>
                    <p class="muted">证明合规性对任何行业都至关重要。借助LTO，您可以记录业务流程中的所有数据条目和步骤，以保护证据并遵守法规。LTO可以为您的业务流程内部和外部通信提供一键式合规性报告。</p>
                </div>
            </div>

            <div class="table-container is-centered has-margin-top-40">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class="table_header dark-indigo">主题</div>
                        <div class="table_header dark-indigo">LTO解决方案</div>
                        <div class="table_header dark-indigo">传统解决方案</div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">仿冒品</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>将智能QR代码与区块链相结合，可以防篡改并受到终端客户的信任。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>定期生成的QR码易于复制，伪造。</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">合作</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>利益相关者之间运行的业务流程的工作流自动化实现了自动化，从而节省了时间和金钱。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>各方之间不相互拥有对其供应链系统的访问权。</p>
                            </div>
                        </div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">资料共享</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>通过供应链系统可以轻松共享数据，GDRP可以在多个参与方之间共享，从而减少时间，降低成本并提高业务效率。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>当前，基于纸质的供应链流程均通过电子邮件发送信息，然后再其添加到接收方使用的系统中。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/cn/contact/" class="button is-primary">
                    预约样版
                </a>
            </div>
        </div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div class="card uc">
                        <div class="columns">
                            <div class="column is-3 card-testimonial-img">
                               <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/scantrust_testimonial@2x.webp">
                                <img class="lazy" data-src="/assets/use-cases/scantrust_testimonial@2x.png">
                                </picture>
                            </div>
                            <div class="column">
                                <div class="content card-testimonial-content">
                                    <p class="">区块链技术可以扩展我们的解决方案，并在供应链领域具有巨大的潜力。 当我们研究区块链平台时，LTO在速度，设置和功能各方面都脱颖而出。 我们可以将区块链交易标识符直接包含在我们的扫描日志中，这些日志在扫描时就会散发，而无需耗时等待确认。 除此之外，从长远来看，LTO Network提供的实时合同功能对于我们的企业客户而言可能非常有吸引力。</p>
                                    <div class="author">Nathan Anderson</div>
                                    <div class="company">ScanTrust的首席执行官</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
