{% set title = 'Marketplace (coming soon) 1.4.1' %}
{% set description = 'Marketplace (coming soon) 1.4.1' %}

{% extends "base.njk" %}


{% block content %}

<section class="background-hero marketplace hero section alt">
  <div class="join-marketplace-hero hero-body">
    <div class="container">

      <div class="marketplace coming-soon">
        <p class="bluey-grey">COMING SOON</p>
      </div>

      <h1 class="main-title">LTO Marketplace</h1>
      <div class="steel marketplace main-text">
        <p class="marketplace first-paragraph">Connect your apps and automate processes with LTO Network!
        </p>
        <p>
          <br>
          Easy integration for busy people. Blockchain as easy as <br> <i>Click, collect, deploy.</i>
          <br>
          <br>
          <br>
          Lorem ipsum if needed.
        </p>
      </div>

      <a href="#" class="main-button button is-warning is-rounded is-medium marketplace dark-indigo"> <p class="dark-indigo">Register to receive access to the beta</p></a>
    </div>
  </div>
</section>
<div class="marketplace alt promo-numbers-div">
  <div class="marketplace promo-numbers-container container">
    <div class="promo-numbers-level level">
      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo"><img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg"> Easy deployment</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo"><img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg"> 100+ Pre-integrations</p>
        </div>
      </div>

      <div class="promo-bar-line">
      </div>

      <div class="promo-bar level-item marketplace">
        <div>
          <p class="promo-bar marketplace dark-indigo"><img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">Open source</p>
        </div>
      </div>

    </div>
  </div>
</div>





{% endblock %}
