{% set title = 'LTO Network - Marketplace (coming soon)' %}
{% set description = 'Connect your apps and automate processes with LTO Network!' %}

{% extends "base.njk" %}


{% block content %}

<section class="background-hero marketplace hero section alt">
  <div class="join-marketplace-hero hero-body">
    <div class="container">
      <div class=""><span class="tag is-rounded is-medium blue-grey"> COMING SOON </span></div>
        <div class="columns">
        <div class="column">
      <h1 class="main-title">LTO Marketplace</h1>
      <div class="content has-margin-top-40">
        <p class="muted">Connect your apps and automate processes with LTO Network!</p>
        <p class="muted">
          Easy integration for busy people. Blockchain as easy as <br> <i>Click, collect, deploy.</i>
            <p class="">
          Lorem ipsum if needed.
        </p>
      </div>
            <div class="btn-container">
      <a href="#" class="button is-warning"> <p class="dark-indigo">Register to receive access to the beta</p></a>
        </div>
            </div>
            <div class="column">
                <img src="/assets/ipad - labs preview.png">
            </div>
        </div>
    </div>
  </div>
</section>

<div class="section-container cutout-top">
  <section class="section secondary marketplace">
    <div class="promo-numbers r">
      <div class="container">
        <div class="item">
            <img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">
            <p class="promo-desc">Easy deployment</p>
        </div>
        <div class="item">
          <img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">
          <p class="promo-desc">100+ pre-integrations</p>
        </div>
        <div class="item">
          <img class="marketplace promo-bar checkmark" src="/assets/table icon - good.svg">
          <p class="promo-desc">Open source</p>
        </div>
      </div>
    </div>
  </section>
</div>


{% endblock %}
