{% set title = 'LTO Network - Use case - Digital Shareholder Register on Blockchain (Dusk)' %}
{% set description = 'Improving FIRM24’s digital shareholders’ register by tokenizing the share ownership of thousands of companies per year.' %}
{% set currentUrl = '/use-cases/digital-shareholder-register-on-blockchain/' %}
{% set locale = 'en' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-shareholder@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-shareholder@2x.png" alt="Digital Shareholder Register on Blockchain (Dusk)">
    </picture>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-two-thirds">
            <div class=""><span class="tag is-rounded is-medium blue-grey"> USE CASE </span></div>
            <h1 class="primary-text">Digital Shareholder Register on Blockchain</h1>
            <h2 class="dark-indigo">Improving FIRM24’s digital shareholders’ register by tokenizing the share ownership of thousands of companies per year.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
          <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/dusk@2x.webp">
            <img class="promo-client lazy" data-src="/assets/use-cases/dusk@2x.png" alt="Dusk Network">
          </picture>
        </div>
        <div class="item use-cases">
          <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">An open-source and secure blockchain infrastructure that businesses use to tokenize financial instruments and automate costly processes.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Business challenges</h2>
    <div class="columns">
      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Digitalisation of shares</h3>
          <div class="card-description">
            <p class="muted">The shares exist mostly in paper form and thus cannot be transferred digitally. The current situation limits and obstructs the transferability of ownership and trade. In order to facilitate trade, current paper based shares have to be digitalized and associated with the current holder.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Collaboration between stakeholders</h3>
          <div class="card-description">
            <p class="muted">Most steps in an incorporation process are executed on paper and involve multiple stakeholders. There are still recurring problems in keeping track of who owns company equity. For smaller companies that aren't publicly listed, paying out dividends and organizing shareholder votes can be next to impossible.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Integrity of the shareholder register</h3>
          <div class="card-description">
            <p class="muted">As many smaller companies aren't publicly listed on exchanges, trades that take place in the secondary market happen privately. Even when they are recorded, they usually use a different notary which makes it hard to create and maintain a single source of truth.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium secondary">
  <div class="container">
    <h2 class="has-text-centered section-title">Solution overview</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Tokenization</h3>
        <p class="muted">The shares in the shareholder register of FIRM24 will be tokenized. Tokenization is the digitalization of the shares, where each token represents ownership of a specific share. Hence, the tokenisation enables the storage and transfer of ownership of the shares in the shareholder register.</p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/briefcase-purple.svg" alt="LTO Network - Rock">
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/notebook-purple.svg" alt="LTO Network - Rock">
      </div>
      <div class="column is-1"></div>
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Collaboration on automated business processes</h3>
        <p class="muted">LTO Network deploys Live Contracts that interface between Dusk Network and Firm24 to coordinate on-chain logic and off-chain instructions and take care of all of the procedures that require notary approval.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Effective Data Sharing</h3>
        <p class="muted">Data that is shared by the parties involved using the systems connected to LTO Network. All the information regarding a specific share is displayed in the shareholder registry,  For example, a new secondary market for investors to trade shares can be created, which displays all the information in one place and thus makes it easier for companies to monitor who owns their shares.</p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/users-purple.svg" alt="LTO Network - Rock">
      </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/contact/" class="button is-primary">Book a demo</a>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - Cost savings">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Time and cost savings</h3>
        <p class="muted">By digitising the shareholder registry, companies and shareholders are not dependent on paper anymore. Tasks such paper-based trade, or involving an additional notary to sign off the trade, belongs to the past. The transfer of any registered share can be directly performed digitally. LTO Network allows the trade to happen on the blockchain, which reduces costs and time to execute trade.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Easy integration">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Easy integration</h3>
        <p class="muted">With LTO Network, you don't have to change your entire IT infrastructure. You can use your existing systems and applications to administer, record, and communicate with LTO Network. The implementation of LTO Network is as simple as connecting an API.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Compliant by design">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Data integrity</h3>
        <p class="muted">LTO Network is a fully decentralized and highly efficient blockchain infrastructure that is easy to integrate in existing systems, such as the FIRM24 system, that brings efficiency and is production-ready. Blockchain ensures data integrity of the digitalised shares and immutability following from the devices.</p>
      </div>
    </div>

    <div class="table-container is-centered has-margin-top-40">
      <div class="table" id="results">
        <div class='theader'>
          <div class="table_header dark-indigo">Theme</div>
          <div class="table_header dark-indigo">LTO Network solution</div>
          <div class="table_header dark-indigo">Traditional solution</div>
        </div>
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Data sharing</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>The data regarding the shareholder registry is shared through the LTO Network among multiple parties, which reduces time, costs, and improves efficiency.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Current shares exist mainly in paper form. Hence, the trades and any shareholder information might be unknown for the issuer. Thus, paying out dividends and organizing shareholder votes can be next to impossible.</p>
            </div>
          </div>
        </div>



        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Automation</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>Using blockchain to streamline the shareholder registry leads to higher productivity.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Currently, not every shareholder can be identified which hinders full automation.</p>
            </div>
          </div>
        </div>
        
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Data integrity and Transparency</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>Demonstrating compliance and transparency throughout the entire procedure by anchoring the tokenized shareholder registry  and the corresponding steps.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Trades that take place in the secondary market happen privately. The trade is often not even recorded or a different notary is used.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/contact/" class="button is-primary">
        Book a demo
      </a>
    </div>
  </div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="card uc">
            <div class="columns">
              <div class="column is-3 card-testimonial-img">
                <picture>
                  <source type="image/webp" data-srcset="/assets/use-cases/dusk_testimonial@2x.webp">
                  <img class="lazy" data-src="/assets/use-cases/dusk_testimonial@2x.png">
                </picture>
              </div>
              <div class="column">
                <div class="content card-testimonial-content">
                  <p class="">The collaboration with Firm24 and LTO is a great example of how Dusk is being adopted nationally. I fully expect the benefits we realize here to function as a lighthouse project towards additional sectors and jurisdictions adopting Dusk Network.</p>
                  <div class="author">Jelle Pol</div>
                  <div class="company">Business Lead & Director at Dusk Network</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
    {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
