{% set title = 'LTO Network - Use case - Criminal ASAP Cases' %}
{% set description = 'Instant verification of certificates on LTO Network' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url(/assets/slider-image-car@3x.png);">
    <div class="hero-body">
      <div class="container">
          <div class=""><span class="tag is-rounded is-medium blue-grey"> SOLUTION </span></div>
        <h1 class="primary-text">Streamlining small criminal cases</h1>
          <h2 class="dark-indigo">Blockchain has opened up countless opportunities for organizations to collaborate smarter and transparent. When novel technologies are combined, true efficiency surfaces.</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
            <img class="promo-client" src="/assets/use-cases/om@2x.png">
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">Police, District Attorneys</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
      <h2 class="has-text-centered section-title">Business challenges</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Many stakeholders</h3>
            <div class="card-description">
              <p class="muted">At the moment, multiple different government bodies take part in this repetitive process, working with unstructured data.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Lots of paperwork</h3>
            <div class="card-description">
              <p class="muted">With many stakeholders that produce unstructured data, a lot of paperwork is produced on these repetitive processes using faxes, email and phone calls.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Existing systems</h3>
            <div class="card-description">
              <p class="muted">IT-systems that are used on these processes have been tailored to a certain organization, and replacing them would be a huge burden with associated costs.</p>
            </div>
          </div>
        </div>
      </div>
        </div>
    </section>
</div>


<div class="section-container">
  <section class="section secondary">
    <div class="container">
      <h2 class="has-text-centered section-title">Solution overview</h2>
      <div class="columns is-centered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">The Process</h3>
          <p class="muted">These processes are extremely cumbersome and provided a lot of unstructured data, even through using ancient fax machines. LTO Networks’ distributed business logic allows for all government bodies to trust the validity of the data.</p>
        </div>
        <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
            <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
            </div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Data sharing</h3>
              <p class="muted">With LTO Network’s distributed data processing, data is exchanged over linked (legacy) systems that run at the stakeholders offices. The implementation of Blockchain shouldn’t require the replacement of otherwise-working systems for the sake of it. </p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40 inverted-mobile">
        <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">Citizen engagement</h3>
          <p class="muted">Based on the state of the workflow, citizens (victims, perpetrators), can receive filtered information about the process through their (mobile) DigiD app, eliminating the need for status update calls with the DA’s office.</p>
        </div>
          <div class="icon-container solutions column is-centered" style="left:48px;width:280px;height:250px;background-image: url('https://via.placeholder.com/150x150?text=LivIcon')">
        </div>
      </div>
        <div class="btn-container has-text-centered has-margin-top-40">
        <a src="#" class="button is-primary">Book a demo</a>
        </div>
    </div>
  </section>
</div>


<div class="section-container cutout-top-alt cutout-bottom-alt">
  <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Decentralized workflows</h3>
          <p class="muted">Using LTO Network’s technology, the small criminal cases’ paperwork are run on the blockchain, based on the predefined logic at the core of each process. All parties involved can participate in the process using their own systems, as process data is automatically exchanged between these systems.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Adding AI</h3>
          <p class="muted">IBM Watson will further reduce the manual labour required in a ZSM-process, using a cognitive computing system to instantly understand questions and respond with the correct answers and verdicts, based on the input of stakeholders.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
          <img style="position:absolute;width:26px;top:90px;left:-40px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:70px;top:20px;left:-20px" src="/assets/small-rock-1.svg">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Meaningful tasks</h3>
          <p class="muted">Since LTO Network takes away a significant part of the administrative burdens, this way of working eventually frees up knowledge and expertise for other important tasks that cannot be performed without human assistance (yet).</p>
        </div>
      </div>

    <div class="columns is-centered has-margin-top-40">
        <div class="column">
<table class="table advantages">
      <thead>
        <tr>
          <th class="table-icon"></td>
          <th class="dark-indigo" colspan="2">Theme</th>
          <th class="dark-indigo" colspan="2">LTO Network solution</th>
          <th class="dark-indigo" colspan="2">Traditional solution</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Streamlining operations</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Decentralized workflows notify stakeholders in their own systems about tasks for them to complete.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Notifications on to-be-fulfilled tasks are delivered manually.</td>
        </tr>

        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Data sharing </th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">LTO Networks distributed data processing allows for unparalleled efficient data exchange between stakeholders.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Unstructured data is shared between participants on a contract through ancient communication methods, causing lots of data re-entry.</td>
        </tr>


        <tr>
          <th class="table-icon"></td>
          <th class="deep-lavender">Use of AI</th>
          <td class="table-icon"> <img class="table-checkmark" src="/assets/table icon - good.svg"> </td>
          <td class="steel">Integrating Watson and feeding it data from the workflow can be easily done using decentralized workflows.</td>
          <td class="table-icon"> <img class="table-x" src="/assets/table icon - bad.svg"></td>
          <td class="steel">Traditional blockchains are often incompatible with tools like IBM Watson.</td>
        </tr>

        <tr>
        </tr>
      </tbody>

    </table>
</div>
</div>


    <div class="btn-container has-text-centered">
    <a href="#" class="button is-primary">
      Book a demo
    </a>
</div>
  </div>
</section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l">
<div class="container">
    <h2 class="section-title has-text-centered">Combining LTO Network and Watson will drastically reduce the administrative burden of all parties involved in the process, aiming to ‘solve’ these criminal cases up to four times as fast. This eventually frees up knowledge and expertise for other important tasks that cannot be performed without human assistance (yet).</h2>
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered video">
                <img src="/assets/criminal-asap-cases.png">
        </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
    <a href="https://medium.com/ltonetwork/ibm-watson-lto-network-to-speed-up-small-criminal-cases-by-400-22ddc80b9178" target="blank" class="button is-primary">Learn more</a>
  </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m ecosystem-v">
      <div class="section-body">
        <div class="ecosystem-v"></div>
        <div class="columns">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <div class="btn-container">
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>Innovation is of paramount importance to DA. This project shows that we are constantly working to improve our services with regard to the application of standards.
                <div class="author">Sanne Giphart - Head of Innovation, Dutch Districts Attorneys office</div>
            </blockquote>
        </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
    <div class="container">
      <div class="columns">
        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-1.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Developer area</h3>
            <div class="card-description has-text-centered">
              <p>Get to know the tech, set up a node and learn how to build your first product or integration on LTO network.</p>
            </div>
            <div class="btn-container card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-2.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Community area</h3>
            <div class="card-description has-text-centered">
              <p>Ready to put your marketing, design and development skills into practice? Join the community!</p>
            </div>
            <div class="btn-container card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-3.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Contact us</h3>
            <div class="card-description has-text-centered">
              <p>Got a question on implementing blockchain in your (clients) organization? The LTO Network team is here to help you out!</p>
            </div>
            <div class="btn-container card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
