{% set title = 'LTO Network - Use case - Internet of Environments' %}
{% set description = 'The Internet of Environments' %}
{% set currentUrl = '/cn/use-cases/internet-of-environments/' %}
{% set locale = 'cn' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-ioe@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-ioe@2x.jpg" alt="The Internet of Environments">
    </picture>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-two-thirds">
          <div class=""><span class="tag is-rounded is-medium blue-grey"> 用例 </span></div>
        <h1 class="primary-text">环境互联网</h1>
          <h2 class="dark-indigo">数字化是推动可持续发展转型的关键。 结合并创造性地挖掘数据的洞察力有助于我们更好地了解我们对环境的真正影响。</h2>
          </div>
          <div class="column video is-centered">
             <iframe class="card" width="560" height="315" src="https://www.youtube-nocookie.com/embed/5aq9DrHtbBk?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
           <picture>
      <source type="image/webp" data-srcset="/assets/use-cases/ibm@2x.webp">
            <img class="promo-client lazy" data-src="/assets/use-cases/ibm@2x.png" alt="IBM">
            </picture>
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">参与方</p>
          <p class="promo-desc use-cases muted">Digital Mainport, IBM, LTO, V-ID</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section is-medium">
  <div class="container">
      <h2 class="has-text-centered section-title">商业挑战</h2>
      <div class="columns">
        <div class="column card uc">
          <div class="card-content bc">
            <h3 class="accent-text">数据的重要性</h3>
            <div class="card-description">
              <p>环境数据是社会领域（例如政策，立法，税收和投资）的重要信息来源。这些数据可用于识别趋势，发现关联性并体现社会现象。</p>
            </div>
          </div>
        </div>

        <div class="column card uc">
          <div class="card-content bc">
            <h3 class="accent-text">数据漏洞</h3>
            <div class="card-description">
              <p>来自这些类型的度量的数据的重要作用使它们容易受到对这种社会领域内的发展感兴趣的各方的影响。</p>
            </div>
          </div>
        </div>

        <div class="column card uc">
          <div class="card-content bc">
            <h3 class="accent-text">数字化</h3>
            <div class="card-description">
              <p>数字化是推动可持续发展转型的关键。 创造性地结合和挖掘数据洞察力，可以帮助我们更好地了解我们的真实影响，确定最有效的变革手段，也是实现大规模循环解决方案的关键。</p>
            </div>
          </div>
        </div>
      </div>
        </div>
</section>

<section class="section is-medium secondary">
  <div class="container">
      <h2 class="has-text-centered section-title">解决方案概述</h2>
      <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">经审核的物联网设备</h3>
          <p class="muted">设备的信任对于来自这些设备的数据至关重要，因此，这些设备将需要经过认证方的审核，以保证推送到平台的数据的真实性。</p>
        </div>
          <div class="column is-1"></div>
        <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
          <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/notebook-purple.svg" alt="LTO Network - Audited IoT devices">
        </div>
      </div>

      <div class="columns is-centered is-vcentered has-margin-top-40">
            <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
              <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/diagram-purple.svg" alt="LTO Network - The IOE platform">
            </div>
            <div class="column is-1"></div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">环境互联网平台</h3>
          <p class="muted">通过为出租物业创建“环境互联网”（IoE）平台，我们希望支持租赁机构向其租户提供更好的服务，并在管理其物业方面做出更好，更可持续的决策。</p>
        </div>
      </div>

      <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
        <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">关于组织本身</h3>
          <p class="muted">现在，组织环境数据遍布各地。 在未来的白标环境中，每个组织将拥有自己的仪表板和数据，以对数据进行分析。</p>
        </div>
         <div class="column is-1"></div>
          <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
            <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/users-purple.svg" alt="LTO Network - Organizations’ own">
        </div>
      </div>
        <div class="btn-container has-text-centered has-margin-top-40">
        <a href="/cn/contact/" class="button is-primary">预约样版</a>
        </div>
    </div>
</section>

<section class="section is-medium">
  <div class="container">
      <h2 class="has-text-centered section-title">使用LTO的优势</h2>
      <div class="columns is-centered is-vcentered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
          <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
          <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/shield.svg" alt="LTO Network - Data integrity">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">数据的完整性</h3>
          <p class="muted">LTO网络是一个完全分散的，高效的基础设施区块链，很容易集成到现有系统实现高效率，并为生产做好了准备。区块链确保从以下设备的数据完整性和不变性。</p>
        </div>
      </div>
      
      <div class="columns is-centered is-vcentered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
          <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
          <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Ease of adoption">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">易于采用</h3>
          <p class="muted">LTO专注于基础数据安全结构。而V-ID是一个实用的平台，旨在直接应用于日常工作流程。 然而，两家公司的主要目标都是促进采用最低门槛的区块链技术的最广泛应用。</p>
        </div>
      </div>

      <div class="columns is-centered is-vcentered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
           <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
          <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/building.svg" alt="LTO Network - Data driven decisions">
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">数据驱动决策</h3>
          <p class="muted">通过为出租物业创建“环境互联网”（IoE），LTO及其合作伙伴旨在支持租赁机构向其租户提供更好的服务，并在管理其物业方面做出更好，更可持续的决策。</p>
        </div>
      </div>
      
         <div class="table-container is-centered has-margin-top-40">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class="table_header dark-indigo">主题</div>
                        <div class="table_header dark-indigo">LTO解决方案</div>
                        <div class="table_header dark-indigo">传统解决方案</div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">数据的完整性</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>由于物联网（loT)设备能直接链接到LTO网络区块链，因此无需人为干预即可锚定数据。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>数据从物联网（loT)设备推送到集中式系统，在该系统中数据容易发生突变。</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">资料来源</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>环境物联网提供了一个生态系统，物联网传感器可以在该生态系统中发射数据以及数据来源和创建时间的证明。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>我们被告知，物联网设备是可以信任的。 但是，数据来源仍然是第三方和公众未知的。</p>
                            </div>
                        </div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">成本与速度</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>LTO的区块链针对锚定进行了优化，使得交易成本降低并以近乎即时的速度进行。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>使用传统的区块链锚定交易通常速度十分缓慢并且收费昂贵。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div class="btn-container has-text-centered">
    <a href="/contact/" class="button is-primary is-rounded main-button book-demo advantages">
      Book a demo
    </a>
</div>
  </div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="card uc">
            <div class="columns">
              <div class="column is-3 card-testimonial-img">
                <picture>
                  <source type="image/webp" data-srcset="/assets/use-cases/ibm_testimonial@2x.webp">
                  <img class="lazy" data-src="/assets/use-cases/ibm_testimonial@2x.png">
                </picture>
              </div>
              <div class="column">
                <div class="content card-testimonial-content">
                  <p class="">将区块链，物联网和预测分析相结合将是实现循环经济价值链的关键。</p>
                  <div class="author">Monique van Maare</div>
                  <div class="company">IBM社交业务专家</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="section-container">
  <section class="section alt has-bg-img">
  {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}