@import 'partials/variables';

$family-sans-serif: $font-family;
$body-size: $font-size;
$body-color: $font-color;
$primary: $alt-primary-button-background-color;
$warning: $alt-warning-button-background-color;
$title-weight: $alt-text-weight;
