@import 'partials/_variables';
@import 'partials/typeface';
@import 'partials/mixins/_media-queries';

h1 {
  font-size: 2.3rem !important;

  @include responsive(phone) {
    font-size: 2rem !important;
  }
}

h2 {
  color: $accent-text;
  font-size: 1.9rem !important;

  @include responsive(phone) {
    font-size: 1.65rem !important;
  }
}

p {
  font-size: 1rem;

  @include responsive(phone) {
    font-size: 0.9rem;
  }
}

.primary-text {
  color: $primary-text;
}

.accent-text {
  color: $accent-text;
}

.relative {
  position: relative;
}

.section {
  padding: 6rem 1.5rem;

  &.no-padding {
    padding: 0px;
  }

  &.neg-m-top-m {
    margin-top: -100px;
  }

  &.p-top-l {
    padding-top: 190px;
  }

  &.has-bg-img {
    background-size: cover;
  }

  &.primary {
    background-color: $primary-bg-color;
  }

  &.secondary {
    background-color: $secondary-bg-color;
  }

  &.tertiary {
    background-color: $tertiary-bg-color;
  }
}

.section-container {
  &.cutout-top {
    .section {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &.cutin-top-alt {
    .section {
      padding-top: 160px;
    }
  }

  &.cutout-bottom {
    .section {
      padding-bottom: 200px;
    }
  }
}

.hero {
  position: relative;
  background-size: cover;

  >.hero-body {
    padding: 4em;

    @include responsive(phone) {
      padding: 32px;
    }
  }
}

.promo-numbers {
  height: 150px;
  width: 100%;
  z-index: 10;
  align-items: center;
  display: flex;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      text-align: center;
      margin: 8px;
      padding: 16px;
      padding-right: 32px;
      border-right: 1px solid $accent-color;
      width: 250px;

      &:last-child {
        padding-right: 0px;
        border-right: none;
      }

      img {
        margin-right: 10px;
      }

      .promo-head {
        font-size: 1rem;
        font-weight: 600;
      }

      .promo-sub {
        color: rgba(0, 0, 0, 0.7);
        font-size: 0.83rem;
        font-weight: 400;
      }

      .promo-desc {
        font-size: 0.9rem;
      }
    }
  }

  &.c {
    .item {
      flex-direction: column;
    }
  }

  @include responsive(laptop) {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      background-size: cover;

      .item {
        .promo-head {
          font-size: 1.25rem;
        }

        .promo-desc {
          font-size: 0.8rem;
        }
      }
    }
  }

  @include responsive(phone) {
    height: auto;
    left: unset;
    bottom: unset;
    position: relative;
    background: transparent;
    display: block;

    .container {
      flex-direction: column;
      align-items: center;

      .item {
        flex-direction: row;
        justify-content: flex-start;
        margin: 8px;
        border-right: none;
        width: 280px;

        .promo-head {
          width: 65px;
          text-align: right;
          margin-right: 16px;
        }

        .promo-desc {
          font-size: 0.8rem;
          text-align: left;
        }
      }
    }
  }
}

.button {
  border-radius: 50px;
}

.btn-container {
  @include responsive(phone) {
    .button {
      margin-bottom: 16px;
    }
  }
}

.section-title {
  color: $accent-text;
  margin-bottom: 48px;
}

.subsection-title {
  font-weight: 400;
}

.icon-container {
  position: relative;
  background-repeat: no-repeat;
}

.container {
  &.medium {
    max-width: 792px;
  }
}

.card {
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 34px 42px -12px #00000033, 0 12px 14px -10px #00000026;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 0px;

  .card-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    &.clip-a {
      clip-path: polygon(0 0,100% 0,100% calc(100% - 30px),75% 100%,0 calc(100% - 50px));
    }

    &.clip-b {
      clip-path: polygon(0 0,100% 0,100% calc(100% - 30px),75% 100%,0 calc(100% - 50px));
    }
  }

  .card-rock-image {
    width: 177px;
    height: 177px;
  }

  .card-content {
    padding: 32px;
  }

  .card-description {
    margin-top: 16px;
  }

  .card-action {
    display: flex;
    padding: 16px;
    margin-top: 16px;

    &.centered {
      justify-content: center;
    }
  }

  h3 {
    font-size: 1.6rem;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .card-meta {
    font-size: 0.85rem;
    font-weight: 500;
    color: #8d98a4;
  }
}

.columns {
  &.inverted-mobile {
    @include responsive(phone) {
      display: flex;
      flex-direction: column-reverse;

      .column {
        flex: 1 1 auto;
      }
    }
  }
}

.companies-ico-container {
  @include responsive(phone) {
    margin-left: -90%;
  }
}

.insights-bg {
  width: 100%;
  height: 227px;
  background-size: 100% 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  &.before {
      background-image: url('/assets/section_insights_top_01.svg');
      top: 400px;
      z-index: 2;
  }
  &.between {
      background: white;
      top: 625px;
      height: 385px;
      z-index: 2;
  }
  &.after {
      background-image: url('/assets/section_insights_bottom_01.svg');
      bottom: -130px;
      z-index: 2;
  }

  &.before2 {
    filter: drop-shadow(rgba(0, 0, 0, 0.04) 0px 10px 5px);
    clip-path: polygon(0px 50px, 25% 0px, 100% 50px, 100% 100%, 0px 100%);
    top: 445px;
    background: #f4f7fb;
    z-index: 1;
  }
  &.after2 {
    filter: drop-shadow(rgba(0, 0, 0, 0.04) 0px 10px 5px);
    clip-path: polygon(0px 0px, 100% 0px, 100% calc(100% - 150px), 90% 100%, 0px calc(100% - 100px));
    bottom: -95px;
    background: #f4f7fb;
    z-index: 1;
  }

  @include responsive(phone) {
    &.between {
      height: 1000px;
    }
  }
}

.muted {
  color: $muted-text;
}

.z-index-4 {
  z-index: 4;
}
