{% set title = 'LTO Network - Use case - Criminal ASAP Cases' %}
{% set description = 'Streamlining small criminal cases' %}
{% set currentUrl = '/cn/use-cases/criminal-cases-blockchain/' %}
{% set locale = 'cn' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-cac@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-cac@2x.jpg" alt="LTO Network - Streamlining small criminal cases">
    </picture>
        <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-two-thirds">
                <div class=""><span class="tag is-rounded is-medium blue-grey"> 用例 </span></div>
                <h1 class="primary-text">简化小型刑事案件</h1>
                <h2 class="dark-indigo">区块链为组织提供了无数的机会，使他们可以更智能，更透明地进行协作。 当结合了新技术时，实际效率就会浮出水面。</h2>
            </div>
        </div>
          </div>
        </div>
    </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
        <div class="promo-numbers c use-cases">
            <div class="container use-cases">
                <div class="item use-cases">
                   <picture>
            <source type="image/webp" data-srcset="/assets/use-cases/om@2x.webp">
                    <img class="promo-client lazy" data-src="/assets/use-cases/om@2x.png" alt="Openbaar Ministerie">
                    </picture>
                </div>
                <div class="item use-cases">
                    <p class="promo-head use-cases">参与方</p>
                    <p class="promo-desc use-cases muted">警察和地方检察官。</p>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="section is-medium">
  <div class="container">
            <h2 class="has-text-centered section-title">商业挑战</h2>
            <div class="columns">
                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">许多利益相关者</h3>
                        <div class="card-description">
                            <p class="muted">目前，多个不同的政府机构参与了此重复过程，并使用非结构化数据。</p>
                        </div>
                    </div>
                </div>

                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">繁琐文书工作</h3>
                        <div class="card-description">
                            <p class="muted">由于许多利益相关者生成非结构化数据，因此使用传真，电子邮件和电话在这些重复性过程中创建了大量文书工作。</p>
                        </div>
                    </div>
                </div>

                <div class="column card uc">
                    <div class="card-content bc">
                        <h3 class="accent-text">现有系统</h3>
                        <div class="card-description">
                            <p class="muted">我们在组织中的这些流程上使用量身定制的IT系统，而替换它们将是沉重的负担，并伴有相关成本。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<section class="section is-medium secondary">
  <div class="container">
            <h2 class="has-text-centered section-title">解决方案概述</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">关于流程</h3>
                    <p class="muted">这些过程非常繁琐，即使使用传统的传真机，也提供了许多非结构化数据。 LTO的分布式业务逻辑允许所有政府机构信任数据的有效性。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/diagram-purple.svg" alt="LTO Network - The Process">
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                   <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/link-purple.svg" alt="LTO Network - Data sharing">
                </div>
                <div class="column is-1"></div>
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">资料共享</h3>
                    <p class="muted">通过LTO的分布式数据处理，可以通过在利益相关者办公室运行的链接（旧版）系统交换数据。 因此，区块链的实现不应要求替换其他可以正常工作的系统。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">公民的参与</h3>
                    <p class="muted">根据工作流程的状态，市民（受害者，犯罪者）可以通过其（移动）DigiD应用程序接收有关流程的过滤信息，从而无需与地区检察官办公室电话联系了解状态更新。</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/desktop-purple.svg" alt="LTO Network - Citizen engagement">
                </div>
            </div>
            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/cn/contact/" class="button is-primary">预约样版</a>
            </div>
        </div>
</section>

<section class="section is-medium">
  <div class="container">
            <h2 class="has-text-centered section-title">使用LTO的优势</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Decentralized workflows">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">去中心化的工作流程</h3>
                    <p class="muted">利用LTO的技术，我们基于每个流程核心的预定义逻辑，在区块链上运行小型刑事案件的文书工作。 由于过程数据在这些系统之间自动交换，因此所有相关方都可以使用其系统参与该过程。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;)">
                    <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/dropper.svg" alt="LTO Network - Adding AI">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">添加人工智能（AI技术）</h3>
                    <p class="muted">IBM Watson将使用认知计算系统根据利益相关者的输入立即理解问题并以正确的答案和判断做出响应，从而进一步减少jia'ji流程中所需的体力劳动。</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - Meaningful tasks">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">重大意义</h3>
                    <p class="muted">由于LTO 减轻了很大的管理负担，因此这种工作方式积累了知识和专业知识，可以完成其他一些必不可少的基本功能，而这些功能在没有人工协助的情况下是无法完成的。</p>
                </div>
            </div>

            <div class="table-container is-centered has-margin-top-40">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class="table_header dark-indigo">主题</div>
                        <div class="table_header dark-indigo">LTO解决方案</div>
                        <div class="table_header dark-indigo">传统解决方案</div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">简化运营</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>分散的工作流程会通知系统中的利益相关者有关他们要完成的任务的信息。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>即将完成的任务的通知是手动传递的。</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">资料共享</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>LTO的分布式数据处理可实现利益相关者之间无可比拟的高效数据交换。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>非结构化数据是通过传统的通信方法在合同的参与者之间共享的，从而导致批量或数据重新输入。</p>
                            </div>
                        </div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">主题</div>
                            <div class="table_cell deep-lavender">人工智能的运用</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO解决方案</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO解决方案"></div>
                                <p>使用分散的工作流程可以快速完成集成Watson并从工作流程中获取数据的过程。</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">传统解决方案</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="传统解决方案"></div>
                                <p>传统的区块链通常与IBM Watson之类的工具不兼容。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="btn-container has-text-centered">
                <a href="https://medium.com/ltonetwork/ibm-watson-lto-network-to-speed-up-small-criminal-cases-by-400-22ddc80b9178" target="blank" class="button is-primary">
                    进一步了解
                </a>
            </div>
        </div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div class="card uc">
                        <div class="columns">
                            <div class="column is-3 card-testimonial-img">
                               <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/om_testimonial@2x.webp">
                                <img class="lazy" data-src="/assets/use-cases/om_testimonial@2x.png">
                                </picture>
                            </div>
                            <div class="column">
                                <div class="content card-testimonial-content">
                                    <p class="">创新对发展议程至关重要。 该项目表明，我们正在不断努力改善有关标准应用的服务。</p>
                                    <div class="author">Sanne Giphart</div>
                                    <div class="company">荷兰地方检察官总办创新主管</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
