{% set title = 'LTO Network - Ecosystem V' %}
{% set description = 'Every stakeholder benefits from collective value creation through development of Ecosystem V' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/slider-image-company-circles@2x.png')">
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">Participate in collective value creation<br>through the development of Ecosystem V.</h1>
        <div class="buttons btn-container">
          <a href="#" class="button is-warning"><p class="dark-indigo">Join Ecosystem V</p></a>
          <a href="#" class="button">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
          <p class="promo-head accent-text">1M+</p>
          <p class="promo-desc">Active users</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">Top 20</p>
          <p class="promo-desc">blockchains worldwide</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">30k+</p>
          <p class="promo-desc">daily transactions</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">nodes</p>
        </div>
        <div class="item">
          <p class="promo-head accent-text">100+</p>
          <p class="promo-desc">ecosystem partners</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
  <section class="section" id="ecosystem">
  <div class="container">
    <h2 class="section-title deep-lavender has-text-centered">Ecosystem overview</h2>
    <h3 class="dark-indigo has-text-centered">Every stakeholder benefits from collective value creation through development of Ecosystem V</h3>
        <div class="columns is-vcentered">
            <div class="column is-7">
                <img src="/assets/radial-slider.svg">
            </div>
            <div class="column">
            <div class="gradient-card">
                <div class="content">
                    <h3 class="title subsection-title dark-indigo">Marketplace</h3>
                    <p class="muted">Marketplaces have become common on the internet, yet a useful plug-and-play marketplace for blockchain solutions hasn’t been created. Connect your apps and automate processes in our marketplace in minutes. </p>
                <a class="read-more-link "href="#" ><p class="read-more deep-lavender"><br>Read more →</p></a>
                </div>
            </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l neg-m-top-m">
    <div class="section-body">
  <div class="container is-vcentered">
    <div class="columns">
    <div class="column is-5-desktop">
      <h2 class="section-title deep-lavender">The network effect</h2>
        <div class="content">
      <p class="column-left-text steel">
          We don’t live with the illusion that we can make adoption happen by ourselves. It’s about the community as much as it’s about network users. Learn more about how you can contribute to the ecosystem.
      </p>
        </div>
        <a href="#" class="button is-primary">Learn more</a>
      </div>
      <div class="column">
      </div>
      <div class="network-circle-container">
      <div class="network-margin network-circle network-circle--solid network-circle--clock"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
      <div class="network-margin network-circle network-circle--clock"></div>
      <div class="network-margin network-circle network-circle--solid circle--counter"></div>
      <div class="network-margin network-circle network-circle--clock"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
      <div class="network-margin network-circle network-circle--solid circle--clock"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
      <div class="network-margin network-circle network-circle--clock"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
      <div class="network-margin network-circle network-circle--solid circle--clock"></div>
      <div class="network-margin network-circle network-circle--solid circle--counter"></div>
</div>
    </div>
  </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m">
 <div class="container">
      <h2 class="deep-lavender has-text-centered">Advantages using LTO Network</h2>

  <div class="columns is-centered">

    <div class="column is-4">
      <div class="ecosystem livicon-container">
        <div class="livicon-evo" data-options="
        name: diagram;
        size: 60px;
        tryToSharpen: true"></div>
      </div>
        <h3 class="title is-6 dark-indigo">Distributed incentives</h3>
        <div class="content steel">
        <p>Unlike in the traditional SaaS models, we have no cannibalism among projects involved due to distributed incentives - the LTO fuel. Everyone holding LTO and contributing to the ecosystem, in whatever way deemed appropriate, enjoys the benefits of network value and the community growing.</p>
        </div>
    </div>

    <div class="column is-4">
      <div class="ecosystem livicon-container">
        <div class="livicon-evo" data-options="
        name: box;
        size: 60px;
        tryToSharpen: true"></div>
      </div>
        <h3 class="title is-6 dark-indigo">Access to resources</h3>
        <div class="content steel">
        <p>An ecosystem consists of companies, startups, developers, marketeers, and other talented members. Being part of the ecosystem meaning having access to developer resources, advice, and opportunities. You might even find your new idea and team!</p>
        </div>
    </div>

  </div>

  <div class="columns is-centered">
      <div class="column is-4">
        <div class="ecosystem livicon-container">
          <div class="livicon-evo" data-options="
          name: user;
          size: 60px;
          tryToSharpen: true"></div>
        </div>
        <h3 class="title is-6 dark-indigo">Retaining identity</h3>
        <div class="content steel">
        <p>With LTO Network, there is no acquisition or parenting. Every team, project, company - can keep doing whatever they find beneficial for the ecosystem as a whole. We don’t dictate you what to do, you choose how to shape the future!</p>
        </div>
      </div>

    <div class="column is-4">
      <div class="ecosystem livicon-container">
        <div class="livicon-evo" data-options="
        name: lab;
        size: 60px;
        tryToSharpen: true"></div>
      </div>
        <h3 class="title is-6 dark-indigo">Testing & training</h3>
        <div class="content steel">
        <p>If you start building on LTO Network or integrating your existing application, the community is there to guide you along the way. You can use different tools and products in the marketplace to find the best fit for your solution.</p>
        </div>
    </div>
  </div>

  <div class="has-text-centered">
  <a src="#" class="button is-rounded is-primary main-button use-cases">
      Join Ecosystem V
      </a>
      </div>

</div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
    <div class="companies section-body">
      <div class="companies-title-container container">
        <h2 class="section-title has-text-centered">
          You're in good company
        </h2>
        <h3 class="small-subtitle">
          A selection of organizations already part of Ecosystem V
        </h3>
      </div>

      <div class="companies-ico-container container">
        <img class="company-rocks generali" src="/assets/floating-rock-generali.png" srcset="/assets/floating-rock-generali@2x.png 2x, /assets/floating-rock-generali@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks indaver" src="/assets/floating-rock-indaver.png" srcset="/assets/floating-rock-indaver@2x.png 2x, /assets/floating-rock-indaver@3x.png 3x">
        <img class="company-rocks rijksoverheid" src="/assets/floating-rock-rijksoverheid.png" srcset="/assets/floating-rock-rijksoverheid@2x.png 2x, /assets/floating-rock-rijksoverheid@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-3.svg">
        <img class="company-rocks" src="/assets/small-rock-2.svg">
        <img class="company-rocks signrequest" src="/assets/floating-rock-signrequest.png" srcset="/assets/floating-rock-signrequest@2x.png 2x, /assets/floating-rock-signrequest@3x.png 3x">
        <img class="company-rocks dekra" src="/assets/floating-rock-dekra.png" srcset="/assets/floating-rock-dekra@2x.png 2x, /assets/floating-rock-dekra@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks" src="/assets/small-rock-3.svg">
        <img class="company-rocks" src="/assets/small-rock-1.svg">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks stena" src="/assets/floating-rock-stena.png" srcset="/assets/floating-rock-stena@2x.png 2x, /assets/floating-rock-stena@3x.png 3x">
        <img class="company-rocks capptions" src="/assets/floating-rock-capptions.png" srcset="/assets/floating-rock-capptions@2x.png 2x, /assets/floating-rock-capptions@3x.png 3x">
        <img class="company-rocks" src="/assets/small-rock-3.svg">
        <img class="company-rocks" src="/assets/small-rock-5.svg">
        <img class="company-rocks firm-24" src="/assets/floating-rock-firm-24.png" srcset="/assets/floating-rock-firm-24@2x.png 2x, /assets/floating-rock-firm-24@3x.png 3x">
      </div>

      <a href="#" class="button is-rounded is-primary main-button use-cases">
        Explore use cases
      </a>
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
    <div class="container">
      <div class="columns">
        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-1.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Explore use cases</h3>
            <div class="card-description has-text-centered">
              <p>Get inspired by LTO Networks extensive use cases, one of which will definitely add to your business!</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-2.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Community area</h3>
            <div class="card-description has-text-centered">
              <p>Ready to put your marketing, design and development skills into practice? Join the community!</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-rock-image" src="/assets/rocks/card-rock-3.svg">
          <div class="card-content">
            <h3 class="accent-text has-text-centered">Developer area</h3>
            <div class="card-description has-text-centered">
              <p>Get to know the tech, set up a node and learn how to build your first Live Contract in the developer area!</p>
            </div>
            <div class="card-action centered">
              <a href="#" class="button is-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
