{% set title = 'LTO Network - Ecosystem V' %}
{% set description = 'Every stakeholder benefits from collective value creation through development of Ecosystem V' %}
{% set currentUrl = '/ecosystem/' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
   <picture>
<!--      <source type="image/webp" data-srcset="/assets/hero/hero-home-white.webp">-->
      <img class="overlay-image lazy" data-src="/assets/hero/hero-home-white.svg" alt="LTO Network - Hero Ecosystem V">
    </picture>
    <div class="hero-body">
      <div class="container">
       <div class="columns">
         <div class="column is-two-thirds">
        <h1 class="title">Participate in collective value creation through the development of <span class="accent">Ecosystem V</span>.</h1>
        <div class="buttons">
          <a href="/contact/" class="button is-warning"><p class="dark-indigo">Join Ecosystem V</p></a>
          <a href="#ecosystem" class="button">Learn more</a>
        </div>
         </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary">
{% include "partials/" ~ locale ~ "/promo-numbers.njk" %}
  </section>
</div>

 
 <section class="section is-medium" id="ecosystem">
  <div class="container">
    <h2 class="section-title deep-lavender has-text-centered">Ecosystem overview</h2>
    <h3 class="dark-indigo has-text-centered">Every stakeholder benefits from collective value creation through development of Ecosystem V</h3>
        <div class="columns is-vcentered">
            <div class="column is-7">
                <div class="ecosystem-menu">
                <div class="ecomenu-connect"></div>
                <div class="ecosystem-radial"></div>
                  <div class="center">Ecosystem V
                    <div class="button" data-name="marketplace" id="eco-m">Marketplace</div>
                    <div class="button" data-name="venture-capital" id="eco-vc">Venture<br>Capital</div>
                    <div class="button" data-name="human-capital" id="eco-hc">Human<br>Capital</div>
                    <div class="button" data-name="research" id="eco-r">Research</div>
                    <div class="button" data-name="products" id="eco-p">Products</div>
                  </div>
                </div>
            </div>
            <div class="column">
            <div class="gradient-card">
                <div class="content">
                  <h3 class="title subsection-title ecomenu-header"></h3>
                  <p class="muted ecomenu-description"></p>
                  <a class="read-more-link ecomenu-readmore" href="#"></a>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script>
      setTimeout(function() {
        const ecoMenu = [
          {
            id: "marketplace",
            name: "Marketplace",
            description: "Marketplaces have become common on the internet, yet a useful plug-and-play marketplace for blockchain solutions hasn’t been created. Connect your apps and automate processes in our marketplace in minutes.",
            link: null
          },
          {
            id: "human-capital",
            name: "Human Capital",
            description: "Distributing knowledge and value of our decentralized employees will be a company focus. Human capital can significantly add to economic and network growth. Education and training are vital for the growth of our network. They increase vitality, profit and good habits when executed correctly.",
            link: null
          },
          {
            id: "venture-capital",
            name: "Venture Capital",
            description: "Becoming part of the network as a software vendor or integrator allows you to benefit of the Ecosystem in whole new ways. Add value to your start up by adding blockchain to your stack, and have investors easily find you in the marketplace.",
            link: null
          },
          {
            id: "research",
            name: "Research",
            description: "There’s still so much to learn about the emerging technology what we’re working on day after day. GDPR, security, scalability and governance are just some examples of subjects we’ll be diving in together with universities and researchers.",
            link: null
          },
          {
            id: "products",
            name: "Products",
            description: "LTO Network aims to deliver our ecosystem participants with off-the-shelf products that can be directly incorporated in day-to-day operations. Don’t feel restricted by these, we know there’s always room for improvement, for you to add to!",
            link: null
          }
        ];

        const buttons = Array.from(document.querySelectorAll('.ecosystem-menu .button'));
        const count = buttons.length;
        const increase = Math.PI * 2 / buttons.length;
        const radius = 180;
        let angle = 0;

        const regularOffset = 4.7;
        const mobileOffset = 3.15;
        let radialOffset = recalculateRadialOffset();

        window.addEventListener('resize', () => {
          radialOffset = recalculateRadialOffset();
        });

        const marketPlaceEl = document.getElementById('eco-m');
        const ecoMenuHeaderEl = document.getElementsByClassName('ecomenu-header')[0];
        const ecoMenuDescriptionEl = document.getElementsByClassName('ecomenu-description')[0];
        const ecoMenuReadMoreEl = document.getElementsByClassName('ecomenu-readmore')[0];

        buttons.forEach((button, i) => {
          button.style.top = Math.sin(-Math.PI / 2 + i * increase - radialOffset) * radius + 'px';
          button.style.left = Math.cos(-Math.PI / 2 + i * increase - radialOffset) * radius + 'px';
          button.addEventListener('click', move);
        });

        setCurrentItem(ecoMenu[0]);

        function move(e) {
          const n = buttons.indexOf(e.target);
          const endAngle = (n % count) * increase + radialOffset;
          const currentItem = ecoMenu.find(_m => _m.id.toLowerCase() === e.target.dataset.name.toLowerCase());
          turn();

          function turn() {
            if (Math.abs(endAngle - angle) > 1/8) {
              const sign = endAngle > angle ? 1 : -1;
              angle = angle + sign/8;
              setTimeout(turn, 20);
            } else {
              angle = endAngle;
              setCurrentItem(currentItem);
            }

            buttons.forEach((button, i) => {
              button.style.top = Math.sin(-Math.PI / 2 + i * increase - angle) * radius + 'px';
              button.style.left = Math.cos(-Math.PI / 2 + i * increase - angle) * radius + 'px';
            })
          }
        }

        function setCurrentItem(item) {
          if (!item) return;

          ecoMenuHeaderEl.innerHTML = item.name;
          ecoMenuDescriptionEl.innerHTML = item.description;

          if (item.link) {
            ecoMenuReadMoreEl.href = item.link;
            ecoMenuReadMoreEl.innerHTML = 'Read more →';
          } else {
            ecoMenuReadMoreEl.href = '#';
            ecoMenuReadMoreEl.innerHTML = 'More info coming soon!';
          }
        }

        function recalculateRadialOffset() {
          return window.innerWidth > 600 ? regularOffset : mobileOffset;
        }
      }, 35);
    </script>
</section>

<section class="section is-medium alt" id="network-effect">
    <div class="section-body">
  <div class="container">
    <div class="columns">
    <div class="column is-5-desktop">
      <h2 class="section-title deep-lavender">The network effect</h2>
      <p class="muted">
          We don’t live with the illusion that we can make adoption happen by ourselves. It’s about the community as much as it’s about network users. 
        </p>
        <p class="muted">
          Get inspired through learning how other partners and clients contribute to Ecosystem V.
        </p>
        <div class="btn-container has-margin-top-40">
        <a href="/partners-clients/" class="button is-primary">Learn more</a>
        </div>
        </div>
      </div>
      <div class="network-circle-container is-hidden-mobile">
      <div class="network-margin network-circle network-circle--solid network-circle--clock"><img src="/assets/logo/logo-only-gradient.svg"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
      <div class="network-margin network-circle network-circle--clock"></div>
      <div class="network-margin network-circle network-circle--solid circle--counter"></div>
      <div class="network-margin network-circle network-circle--clock"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
<!--
      <div class="network-margin network-circle network-circle--solid circle--clock"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
      <div class="network-margin network-circle network-circle--clock"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
      <div class="network-margin network-circle network-circle--solid circle--clock"></div>
      <div class="network-margin network-circle network-circle--solid circle--counter"></div>
-->
</div>
  </div>
      </div>
</section>

<section class="section is-medium" id="advantages">
 <div class="container">
      <h2 class="deep-lavender has-text-centered">The advantages of joining Ecosystem V</h2>

  <div class="columns is-centered has-margin-top-40">

    <div class="column is-4">
      <div class="ecosystem livicon-container">
        <img class="lazy" data-src="/assets/icons/diagram-purple.svg" alt="LTO Network - Distributed incentives">
      </div>
        <h3 class="title is-6 dark-indigo has-margin-top-20">Distributed incentives</h3>
        <div class="content steel">
        <p>Unlike in the traditional SaaS models, we have no cannibalism among projects involved due to distributed incentives - the LTO fuel. Everyone holding LTO and contributing to the ecosystem, in whatever way deemed appropriate, enjoys the benefits of network value and the community growing.</p>
        </div>
    </div>

    <div class="column is-4">
      <div class="ecosystem livicon-container">
        <img class="lazy" data-src="/assets/icons/box-purple.svg" alt="LTO Network - Access to resources">
      </div>
        <h3 class="title is-6 dark-indigo has-margin-top-20">Access to resources</h3>
        <div class="content steel">
        <p>An ecosystem consists of companies, startups, developers, marketeers, and other talented members. Being part of the ecosystem meaning having access to developer resources, advice, and opportunities. You might even find your new idea and team!</p>
        </div>
    </div>

  </div>

  <div class="columns is-centered">
      <div class="column is-4">
        <div class="ecosystem livicon-container">
          <img class="lazy" data-src="/assets/icons/user-purple.svg" alt="LTO Network - Retaining identity">
        </div>
        <h3 class="title is-6 dark-indigo has-margin-top-20">Retaining identity</h3>
        <div class="content steel">
        <p>With LTO Network, there is no acquisition or parenting. Every team, project, company - can keep doing whatever they find beneficial for the ecosystem as a whole. We don’t dictate you what to do, you choose how to shape the future!</p>
        </div>
      </div>

    <div class="column is-4">
      <div class="ecosystem livicon-container">
        <img class="lazy" data-src="/assets/icons/lab-purple.svg" alt="LTO Network - Testing & training">
      </div>
        <h3 class="title is-6 dark-indigo has-margin-top-20">Testing & training</h3>
        <div class="content steel">
        <p>If you start building on LTO Network or integrating your existing application, the community is there to guide you along the way. You can use different tools and products in the marketplace to find the best fit for your solution.</p>
        </div>
    </div>
  </div>

  <div class="btn-container has-text-centered has-margin-top-40">
  <a href="/contact/" class="button is-primary">Join Ecosystem V</a>
      </div>

</div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium alt">
    <div class="section-body">
      <div class="container">
        <h2 class="section-title has-text-centered">
          Testimonials
        </h2>
          <div class="columns is-centered">
              <div class="column is-5">
                  <div class="card uc testimonial-eco">
                  <div class="testimonial-logo">
                     <picture>
      <source type="image/webp" data-srcset="/assets/use-cases/capptions@2x.webp">
                      <img src="/assets/use-cases/capptions@2x.png" class="lazy" alt="LTO Network - Testimonial - Capptions">
                      </picture>
                  </div>
                  <div class="content">
                      <p class="muted">"We believe that a user should be educated on what blockchain is and how it adds value in day-to-day operations. By integrating LTO Network’s anchoring service across the Capptions platform, we are able to give blockchain a mobile face."
                      </p>
                  </div>
                      <div class="btn-container has-text-centered">
                          <a href="/use-cases/digital-checklist-inspection-reports/" class="button is-primary">Explore use case</a>
                      </div>
                  </div>
              </div>
              <div class="column is-1 is-hidden-mobile"></div>
              <div class="column is-5">
                  <div class="card uc testimonial-eco">
                  <div class="testimonial-logo">
                     <picture>
      <source type="image/webp" data-srcset="/assets/use-cases/signrequest@2x.webp">
                      <img src="/assets/use-cases/signrequest@2x.png" class="lazy" alt="LTO Network - Testimonial - SignRequest">
                      </picture>
                  </div>
                  <div class="content">
                      <p class="muted">"We experimented with document time stamping through multiple blockchains. However if we wanted to include the blockchain timestamp proof in the log of the signed document we required instant verification. With LTO Network we can add instant immutability to the documents being signed on our platform."
                      </p>
                  </div>
                      <div class="btn-container has-text-centered">
                          <a href="/use-cases/digital-signing-blockchain-verification/" class="button is-primary">Explore use case</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
  {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
