{% set title = 'Ecosystem V 1.4' %}
{% set description = 'Ecosystem V 1.4' %}

{% extends "base.njk" %}



{% block content %}

{% include "partials/hero/ecosystem.njk" %}
{# {% include "partials/slider-2-infrastructure.njk" %} #}

<section class="index-section section">
  <div class="index-container container">
    <h2 class="title is-2 deep-lavender has-text-centered section-title">Ecosystem overview</h2>
    <h3 class="small-subtitle dark-indigo">Every stakeholder benefits from collective value creation through development of Ecosystem V</h3>
  <div class="">
  <img src="/assets/radial-slider.svg">
  </div>
  </div>
</section>

<section class="section is-large alt">
  <div class="container is-vcentered">
    <div class="columns">
    <div class="column is-4-desktop">
      <h2 class="deep-lavender section-title title is-2">
      The network effect
      </h2>
      <p class="column-left-text steel">
      Donec lacinia pretium odio ut accumsan. Sed orci sapien, imperdiet nec tellus vel, consectetur eleifend lorem. Praesent vel eros eleifend, imperdiet felis ac, molestie tellus. 
      </p>
      <a src="#" class="button is-rounded is-primary main-button use-cases">
      Learn more
      </a>
      </div>
      <div class="column">
      </div>
      <div class="network-circle-container">
      <div class="network-margin network-circle network-circle--solid network-circle--clock"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
      <div class="network-margin network-circle network-circle--clock"></div>
      <div class="network-margin network-circle network-circle--solid circle--counter"></div>
      <div class="network-margin network-circle network-circle--clock"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
      <div class="network-margin network-circle network-circle--solid circle--clock"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
      <div class="network-margin network-circle network-circle--clock"></div>
      <div class="network-margin network-circle network-circle--counter"></div>
      <div class="network-margin network-circle network-circle--solid circle--clock"></div>
      <div class="network-margin network-circle network-circle--solid circle--counter"></div>
</div>
    </div>
  </div>
</section>

<section class="section ecosystem-section">
  <div class="container">
      <h2 class="title is-2 deep-lavender has-text-centered">
        Advantages using LTO Network
      </h2>
      <h3 class="small-subtitle dark-indigo has-text-centered">
      Lorem ipsum blablabla 
      </h3>

  <div class="columns">

    <div class="column">
        <div class="column-img">
        <img src="/assets/icons/token.svg">
        </div>
        <h3 class="title is-6 dark-indigo">Distributed incentives</h3>
        <div class="content steel">
        <p>Unlike in the traditional SaaS models, we have no cannibalism among projects involved due to distributed incentives - the LTO fuel. Everyone holding LTO and contributing to the ecosystem, in whatever way deemed appropriate, enjoys the benefits of network value and the community growing.</p>
        </div>
    </div>

    <div class="column">
        <div class="column-img">
        <img src="/assets/icons/token.svg">
        </div>
        <h3 class="title is-6 dark-indigo">Access to resources</h3>
        <div class="content steel">
        <p>An ecosystem consists of companies, startups, developers, marketeers, and other talented members. Being part of the ecosystem meaning having access to developer resources, advice, and opportunities. You might even find your new idea and team!</p>
        </div>
    </div>

  </div>

  <div class="columns">
      <div class="column">
        <div class="column-img">
        <img src="/assets/icons/token.svg">
        </div>
        <h3 class="title is-6 dark-indigo">Retaining identity</h3>
        <div class="content steel">
        <p>With LTO Network, there is no acquisition or parenting. Every team, project, company - can keep doing whatever they find beneficial for the ecosystem as a whole. We don’t dictate you what to do, you choose how to shape the future!</p>
        </div>
      </div>

    <div class="column">
        <div class="column-img">
        <img src="/assets/icons/token.svg">
        </div>
        <h3 class="title is-6 dark-indigo">Testing & training</h3>
        <div class="content steel">
        <p>If you start building on LTO Network or integrating your existing application, the community is there to guide you along the way. You can use different tools and products in the marketplace to find the best fit for your solution.</p>
        </div>
    </div>
  </div>

  <div class="has-text-centered">
  <a src="#" class="button is-rounded is-primary main-button use-cases">
      Join Ecosystem V
      </a>
      </div>

</div>
</section>

{% include "partials/three-areas.njk" %}

{% endblock %}
