{% set title = 'LTO Network - Use case - Legal Live Contracts' %}
{% set description = 'Decentralized commercial lease agreements' %}
{% set currentUrl = '/use-cases/smart-property-lease-agreements/' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
    <section class="hero is-medium">
       <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-lease.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-lease.png" alt="Decentralized commercial lease agreements">
    </picture>
        <div class="hero-body">
            <div class="container">
                <div class=""><span class="tag is-rounded is-medium blue-grey"> USE CASE </span></div>
                <h1 class="primary-text">Decentralized commercial lease agreements</h1>
                <h2 class="dark-indigo">Legal documents are still static pieces of paper. Live Contracts achieve unique automation and efficiency.</h2>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-top">
    <section class="section secondary promo-numbers-section">
        <div class="promo-numbers c">
            <div class="container use-cases">
                <div class="item use-cases">
                   <picture>
      <source type="image/webp" data-srcset="/assets/use-cases/cms@2x.webp">
                    <img class="promo-client lazy" data-src="/assets/use-cases/cms@2x.png" alt="CMS">
                    </picture>
                </div>
                <div class="item use-cases">
                    <p class="promo-head use-cases">Involved parties</p>
                    <p class="promo-desc use-cases muted">CMS Law and MSeven Real Estate.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">Business challenges</h2>
            <div class="columns">
                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">Process automation</h3>
                        <div class="card-description">
                            <p class="muted">Paper lease contracts have been used for ages to formalize a rent. However, paper-based agreements are tough to automate.</p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-b lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">High stakes</h3>
                        <div class="card-description">
                            <p class="muted">Commercial lease agreements involve many parties, such as maintenance, tenants, landlords, asset managers, asset owners, and more. With big money involved, there's a continuous need for verifying each other's data on its validity.</p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">Payment cycles</h3>
                        <div class="card-description">
                            <p class="muted">On complex real estate agreements, that often have various companies in a building, payments differ on a month to month basis due to ad hoc maintenance and more, resulting in complex payment procedures.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="section-container">
    <section class="section secondary">
        <div class="container">
            <h2 class="has-text-centered section-title">Solution overview</h2>
            <div class="columns is-centered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">Distributed data processing</h3>
                    <p class="muted">By utilizing blockchain technology, each party will have control over its data and will be able to verify the actions of others, making cooperation secure, yet efficient. </p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/diagram-purple.svg" alt="LTO Network - Rock">
                </div>
            </div>

            <div class="columns is-centered has-margin-top-40">
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/legal-purple.svg" alt="LTO Network - Rock">
                </div>
                <div class="column is-1"></div>
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">Automated compliance</h3>
                    <p class="muted">Save up to 40% on administrative overhead by reducing bureaucracy within the organization. The LTO platform creates automated audit trails and orchestrated tasks. The actors can check their status without relying on a central organization. </p>
                </div>
            </div>

            <div class="columns is-centered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">Use of Mobile apps</h3>
                    <p class="muted">Service and maintenance heavily relies on applications nowadays. By linking these apps -such as Capptions- to the contract, on-the-floor operations, and the captured data is pushed right to the agreement, optimizing payments. </p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/smartphone-purple.svg" alt="LTO Network - Rock">
                </div>
            </div>
            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/contact/" class="button is-primary">Book a demo</a>
            </div>
        </div>
    </section>
</div>


<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
            <div class="columns is-centered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/building.svg" alt="LTO Network - The building passport">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">The building passport</h3>
                    <p class="muted">Especially new buildings can start 'the right way' by creating a building passport. When selling a building, a complete and trusted set of data is transferred. Transferring buildings with LTO Network assures a full, trusted collection of data when switching owners.</p>
                </div>
            </div>

            <div class="columns is-centered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Ease of integration">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">Ease of integration</h3>
                    <p class="muted">LTO Network is a fully decentralized and highly efficient blockchain infrastructure that is easy to integrate into existing (legacy) systems, mobile applications, and IoT devices. LTO Network is production-ready for instant efficiency upgrades.</p>
                </div>
            </div>

            <div class="columns is-centered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Liquidity">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">Liquidity</h3>
                    <p class="muted">Liquidity improvement, making fewer write-offs on tenants who go bankrupt. Through Live Contracts, service charges can be debited directly instead of months after the close of the year through smart payments. </p>
                </div>
            </div>

            <div class="table-container is-centered has-margin-top-40">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class="table_header dark-indigo">Theme</div>
                        <div class="table_header dark-indigo">LTO Network solution</div>
                        <div class="table_header dark-indigo">Traditional solution</div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Data sharing</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>LTO Networks distributed data processing allows for unparalleled efficient data exchange between stakeholders.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>We are sharing unstructured data between participants on a contract through ancient communication methods.</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Automation</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>Live Contracts portray a legal document as a set of business rules and data that allow automation.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>Static pieces of paper are impossible to automate. Smart contracts don't work out for these documents.</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Existing systems</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>By merely linking API's to a Live Contract, stakeholders can participate in workflow while keeping existing IT in place.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>'Traditional' blockchain solutions require extensive and expensive IT overhauls due to existing (legacy) systems.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-container has-text-centered">
                <a href="/contact/" class="button is-primary">
                    Book a demo
                </a>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-bottom-alt">
    <section class="section p-top-xl p-bottom-xl alt">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div class="card">
                        <div class="columns">
                            <div class="column is-3 card-testimonial-img">
                               <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/m7_testimonial@2x.webp">
                                <img class="lazy" data-src="/assets/use-cases/m7_testimonial@2x.png">
                                </picture>
                            </div>
                            <div class="column">
                                <div class="content card-testimonial-content">
                                    <p class="">LTO’s GDPR and privacy compliance characteristics make it a fresh breath of air in a clouded and hyped blockchain landscape. We’re looking forward to exploring other solutions with LTO in the future!</p>
                                    <div class="author">Niels Bruijninckx</div>
                                    <div class="company">Senior Manager of M7 Real Estate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
