{% set title = 'LTO Network - Use case - Diamond traceability on the Blockchain (Diamond Centre Wales)' %}
{% set description = 'Using LTO Network, Diamond Centre of Wales’ specialistic nano-engravement technology and Scantrust’ Smart QR codes, a diamond traceability platform has been created for all stakeholders to independently check a diamond status.' %}
{% set currentUrl = '/use-cases/diamond-traceability-on-blockchain/' %}
{% set locale = 'en' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-fullheight">
    <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-diamonds@2x.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-diamonds@2x.png" alt="Diamond traceability on the Blockchain (Diamond Centre Wales)">
    </picture>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered inverted-mobile">
          <div class="column is-two-thirds">
            <div class=""><span class="tag is-rounded is-medium blue-grey"> USE CASE </span></div>
            <h1 class="primary-text">Diamond traceability on the Blockchain</h1>
            <h2 class="dark-indigo">Using LTO Network, Diamond Centre of Wales’ specialistic nano-engravement technology and Scantrust’ Smart QR codes, a diamond traceability platform has been created for jewellers, pawn brokers and insurers to independently check a diamond's status  - Called Seculuxe.</h2>
          </div>
          <div class="column video is-centered">
            <iframe class="card" width="560" height="315" src="https://www.youtube-nocookie.com/embed/rwoKeZ9JKQ4?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section secondary promo-numbers-section">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
            <img class="promo-client lazy" data-src="/assets/use-cases/seculuxe_logo.svg" alt="SecuLuxe">
        </div>
        <div class="item use-cases">
          <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">SecuLuxe is a blockchain-enabled diamond traceability and recovery suite set up by LTO Network blockchain integrator & creative agency 15000V - creating a safer diamond and other luxury goods ecosystem for all parties involved.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Business challenges</h2>
    <div class="columns">
      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Digitalisation of diamonds certificates</h3>
          <div class="card-description">
            <p class="muted">A diamond alone does not have any specific identification number. Usually, every diamond receives a certificate, which includes all crucial information regarding a diamond, such as the owner, serial number and characteristics of the diamond. However, these certificates exist mostly only as a paper document, which decelerates any digitalisation measures.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Collaboration between parties</h3>
          <div class="card-description">
            <p class="muted">A collaboration platform between the potential parties, customer, jeweller, pawnbroker, police office and insurer in the diamond ecosystem does not exist and would be difficult to maintain and trust in real time.</p>
          </div>
        </div>
      </div>

      <div class="column card uc">
        <div class="card-content bc">
          <h3 class="accent-text">Ownership of the diamond</h3>
          <div class="card-description">
            <p class="muted">As the certificates are paper-based, they are prone to manipulation or stealing. Furthermore, a diamond, as a high-value good, is a potential target for thieves. The integrity of ownership is not ensured at all times and transferring a diamond without a third party expert comes with a high risk.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium secondary">
  <div class="container">
    <h2 class="has-text-centered section-title">Solution overview</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Engraving Diamonds</h3>
        <p class="muted">With the help of special nano-engraving technology, the diamonds receive a specific engraved serial number. The engravement is part of the certification process and matches the number on the diamond’s certificate. The serial number is linked not only to the diamond and its certificate but also to an online entry that enables the immediate check whether a diamond is stolen or not. </p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/dropper-purple.svg" alt="LTO Network - Rock">
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/diagram-purple.svg" alt="LTO Network - Rock">
      </div>
      <div class="column is-1"></div>
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Smart certificates</h3>
        <p class="muted">After the successful engravement of the diamond, the certificate is enhanced by adding a smart QR-code sticker. Scanning the QR code displays crucial information about the diamond, such as the current owner or serial number.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
      <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Information integrity</h3>
        <p class="muted">The certificates are recorded (hashed) on the blockchain platform of LTO Network. This anchoring process is an efficient way to timestamp data and to create immutable and transparent certificates. Furthermore, the updates and changes to a certain certificate are recorded (hashed) again on the blockchain platform, so that always the most current information, such as owner, is displayed when scanning the QR-code or checking the serial number. </p>
      </div>
      <div class="column is-1"></div>
      <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
        <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/legal-purple.svg" alt="LTO Network - Rock">
      </div>
    </div>
    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/contact/" class="button is-primary">Book a demo</a>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/anchor.svg" alt="LTO Network - Cost savings">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Linking a diamond’s audit trail</h3>
        <p class="muted">For high-value objects, like diamonds, it’s critical to know its authenticity, but also its origin. The Seculuxe solution built on LTO Network can easily click into existing value chain traceability solutions to guarantee provenance data. This will allow for the verification of a diamonds origin, eliminating ethical discussions that come with diamonds from sensitive regions.</p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/users.svg" alt="LTO Network - Easy integration">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Only on a need-to-know basis</h3>
        <p class="muted">Using nano-engraving technology, only the owner will know that his diamond is safeguarded on the LTO Network blockchain. With future engravement-as-a-service possibilities, access to this technology will be much easier, making it harder for thieves to re-sell stolen diamonds without professional technology, essentially making the industry safer as a whole. </p>
      </div>
    </div>

    <div class="columns is-centered is-vcentered has-margin-top-40">
      <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')" style="left:48px;height:250px;">
        <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/rocks/small-rock-2.svg" alt="LTO Network - Rock">
        <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/rocks/small-rock-1.svg" alt="LTO Network - Rock">
        <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Compliant by design">
      </div>
      <div class="column is-two-thirds">
        <h3 class="title subsection-title dark-indigo">Transferability of diamonds</h3>
        <p class="muted">Using 15000V’s upcoming mobile luxury-good transferability application using LTO Network’s associations, it will be much easier to transfer diamonds between parties without the need for a trusted third party. This will allow for less fraction and more efficiency throughout the whole value chain. </p>
      </div>
    </div>

    <div class="table-container is-centered has-margin-top-40">
      <div class="table" id="results">
        <div class='theader'>
          <div class="table_header dark-indigo">Theme</div>
          <div class="table_header dark-indigo">LTO Network solution</div>
          <div class="table_header dark-indigo">Traditional solution</div>
        </div>
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Data sharing</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>Once the diamond is digitised and put on LTO’s blockchain, which allows decentralised collaboration, every involved and interested party can review the current owner (hash) of the diamond or if it has been declared stolen.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>A diamond is a high-value asset which is prone to be stolen. Currently, no collaborative measures exist to ensure data sharing.</p>
            </div>
          </div>
        </div>



        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Transfer of ownership</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>The diamond with its unique engraved reference number can be transferred at any time. The transfer includes not only the certificate and the diamond itself, but also the blockchain entry will be updated with the new owner.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>At the moment, diamond trading involves multiple parties to ensure the authenticity and trade of the diamond.</p>
            </div>
          </div>
        </div>
        
        <div class="table_row">
          <div class="table_small">
            <div class="table_cell dark-indigo">Theme</div>
            <div class="table_cell deep-lavender">Data integrity and Transparency</div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">LTO Network solution</div>
            <div class="table_cell steel mobile-green">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
              <p>The certificate is equipped with a QR-code sticker which is destroyed when someone tries to get off the certificate. Furthermore, the anchoring process on the blockchain ensures the integrity of the certificate and diamond at all times.</p>
            </div>
          </div>
          <div class="table_small">
            <div class="table_cell dark-indigo">Traditional solution</div>
            <div class="table_cell steel mobile-red">
              <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
              <p>Currently, a paper-base certificate can easily be manipulated or even destroyed.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="btn-container has-text-centered has-margin-top-40">
      <a href="/contact/" class="button is-primary">
        Book a demo
      </a>
    </div>
  </div>
</section>

<div class="section-container cutout-bottom-alt">
  <section class="section is-medium secondary">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="card uc">
            <div class="columns">
              <div class="column is-3 card-testimonial-img">
                <picture>
                  <source type="image/webp" data-srcset="/assets/use-cases/dcw_testimonial@2x.webp">
                  <img class="lazy" data-src="/assets/use-cases/dcw_testimonial@2x.png">
                </picture>
              </div>
              <div class="column">
                <div class="content card-testimonial-content">
                  <p class="">We strongly believe that blockchain combined with nano marking using laser scribing, with photonics to uniquely mark the diamonds in a non-destructive way, is the answer for secure tracing and identification. Working with CPE partner Bangor University has clearly showed this is possible in their feasibility study, and we would look forward to working with them again to fully explore this innovative process to scale this solution globally.</p>
                  <div class="author">Kelvin James</div>
                  <div class="company">CEO of Diamond Centre Wales</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
    {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
