{% set title = 'LTO Network - Use case - Digital checklist & inspection application' %}
{% set description = 'Inspection reports & data entries in the Capptions application are stored on the LTO Network blockchain to provide immutable evidence' %}
{% set currentUrl = '/sitemap/' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
    <section class="hero is-medium">
       <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-uc-capptions.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-uc-capptions.png" alt="Digital checklist & inspection application">
    </picture>
        <div class="hero-body">
            <div class="container">
                <div class=""><span class="tag is-rounded is-medium blue-grey"> USE CASE </span></div>
                <h1 class="primary-text">Digital checklist & inspection application</h1>
                <h2 class="dark-indigo">Inspection reports & data entries in the Capptions application are stored on the LTO Network blockchain to provide immutable evidence.</h2>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutout-top">
    <section class="section secondary promo-numbers-section">
        <div class="promo-numbers c use-cases">
            <div class="container use-cases">
                <div class="item use-cases">
                    <picture>
      <source type="image/webp" data-srcset="/assets/use-cases/capptions@2x.webp">
                    <img class="promo-client lazy" data-src="/assets/use-cases/capptions@2x.png" alt="Capptions">
                    </picture>
                </div>
                <div class="item use-cases">
                    <p class="promo-head use-cases">Involved parties</p>
                    <p class="promo-desc use-cases muted">Capptions's 80+ enterprise clients and 20,000 users who rely on the immutable evidence for their inspection reports.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">Business challenges</h2>
            <div class="columns">
                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">PDFs are vulnerable to counterfeiting</h3>
                        <div class="card-description">
                            <p class="muted">Paper-based reports and checklists are easy to counterfeit. The content of a PDF or a picture taken during inspection can be altered afterward.</p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-b lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">Information can easily be modified</h3>
                        <div class="card-description">
                            <p class="muted">Data collected during an inspection is centrally stored. Should any problems arise, this data can be tampered, thus makes the data less reliable per definition.</p>
                        </div>
                    </div>
                </div>

                <div class="column card">
                    <picture>
            <source type="image/webp" data-srcset="/assets/polygons@2x.webp">
          <img class="card-image clip-a lazy" data-src="/assets/polygons@2x.png" alt="LTO Network - Business Challenge">
            </picture>
                    <div class="card-content">
                        <h3 class="accent-text">Isolation of information sources</h3>
                        <div class="card-description">
                            <p class="muted">In inspection processes, data needs to be shared both internally and externally. As the parties are all isolated from each other, it is hard to share data effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container">
    <section class="section secondary">
        <div class="container">
            <h2 class="has-text-centered section-title">Solution overview</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">Capturing immutable evidence</h3>
                    <p class="muted">Devices used to collect data during inspection has been verified and contains an ID which is used to sign the submissions of each data entry and report being generated, to create an immutable record.</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/briefcase-purple.svg" alt="LTO Network - Capturing immutable evidence">
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/notebook-purple.svg" alt="LTO Network - Real-time compliance reporting">
                </div>
                <div class="column is-1"></div>
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">Real-time compliance reporting</h3>
                    <p class="muted">Demonstrating compliance is crucial in industries that work with dangerous goods or in hazardous environments. By combining LTO Network with the inspection application of Capptions, we enable real-time compliance reporting for all your crucial business processes. This process allows you to gather information for regulatory reporting seamlessly.</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40 inverted-mobile">
                <div class="column is-half">
                    <h3 class="title subsection-title dark-indigo">Effective data sharing</h3>
                    <p class="muted">We share data that is gathered by the involved parties through the LTO Network connected systems. Stakeholders can benefit from data re-use and reduction of manual process handling.</p>
                </div>
                <div class="column is-1"></div>
                <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
                    <img class="lazy" style="width:130px;position:relative;" data-src="/assets/icons/users-purple.svg" alt="LTO Network - Effective data sharing">
                </div>
            </div>
            <div class="btn-container has-text-centered has-margin-top-40">
                <a src="/contact/" class="button is-primary">Book a demo</a>
            </div>
        </div>
    </section>
</div>



<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 200px;left: 210px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/coins.svg" alt="LTO Network - Cost savings">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">Cost savings</h3>
                    <p class="muted">Administrative tasks such as manually entering data into your system, which in turn was received by letter, fax, or email, belongs to the past. With the blockchain technology of LTO Network, all parties can collect structured data into the systems they use to execute and administer these processes. LTO Network reduces the administrative overhead with more than 30%.</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 100px;left: -90px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width:50px;top: 200px;left: 230px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/diagram.svg" alt="LTO Network - Easy integration">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">Easy integration</h3>
                    <p class="muted">With LTO Network, you don't have to change your entire IT infrastructure. You can use your existing systems and applications to administer, record, and communicate with LTO Network. The implementation of LTO Network is as simple as connecting an API.</p>
                </div>
            </div>

            <div class="columns is-centered is-vcentered has-margin-top-40">
                <div class="icon-container advantages column is-one-quarter lazy" data-bg="url('/assets/rocks/rock-1.svg')"  style="left:48px;height:250px;">
                    <img class="lazy" style="position:absolute;width:30px;top: 230px;left: 200px;" src="/assets/small-rock-2.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="position:absolute;width: 70px;top: 9px;left: -100px;" src="/assets/small-rock-1.svg" alt="LTO Network - Rock">
                    <img class="lazy" style="width:90px;position:relative; top:0px; left:73px;" data-src="/assets/icons/balance.svg" alt="LTO Network - Compliant by design">
                </div>
                <div class="column is-two-thirds">
                    <h3 class="title subsection-title dark-indigo">Compliant by design</h3>
                    <p class="muted">Demonstrating compliance is essential in any industry. With LTO Network, you can record all data entries and steps in your business processes to safeguard evidence and comply with regulations. LTO Network enables one-click compliance reporting for both internal and external communication on your business processes.</p>
                </div>
            </div>

            <div class="table-container is-centered has-margin-top-40">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class="table_header dark-indigo">Theme</div>
                        <div class="table_header dark-indigo">LTO Network solution</div>
                        <div class="table_header dark-indigo">Traditional solution</div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Automation</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>Using blockchain to streamline processes leads to higher productivity.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>Paper-based reports and checklists don't allow for automation.</p>
                            </div>
                        </div>
                    </div>



                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Counterfeiting Prevention</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>Data and Inspection reports become more valuable when independently verifiable. Inspection reports become immutable through hashing and anchoring on the LTO Network blockchain.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>Inspection reports are prone to mutations. In the case of a calamity, the responsible persons usually want to modify specific information to disculpate themselves.</p>
                            </div>
                        </div>
                    </div>
                    <div class="table_row">
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Theme</div>
                            <div class="table_cell deep-lavender">Data sharing</div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">LTO Network solution</div>
                            <div class="table_cell steel mobile-green">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - good.svg" alt="LTO Network solution"></div>
                                <p>Data and inspection reports stored on the LTO Network blockchain can be effortlessly, and GDPR compliantly shared among multiple parties, reducing time, costs and improving business efficiency.</p>
                            </div>
                        </div>
                        <div class="table_small">
                            <div class="table_cell dark-indigo">Traditional solution</div>
                            <div class="table_cell steel mobile-red">
                                <div class="table_icon is-hidden-mobile"> <img class="lazy" data-src="/assets/table icon - bad.svg" alt="Traditional solution"></div>
                                <p>Paper-based inspection reports must be scanned, emailed, and subsequently processed into the system that the receiving party uses.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-container has-text-centered has-margin-top-40">
                <a href="/contact/" class="button is-primary">
                    Book a demo
                </a>
            </div>
        </div>
    </section>
</div>


<div class="section-container cutout-bottom-alt">
    <section class="section p-top-xl p-bottom-xl alt">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div class="card">
                        <div class="columns">
                            <div class="column is-3 card-testimonial-img">
                               <picture>
              <source type="image/webp" data-srcset="/assets/use-cases/capptions_testimonial@2x.webp">
                                <img class="lazy" data-src="/assets/use-cases/capptions_testimonial@2x.png">
                                </picture>
                            </div>
                            <div class="column">
                                <div class="content card-testimonial-content">
                                    <p class="">By integrating LTO Network's anchoring service across the Capptions platform, we can give blockchain a mobile face. For Capptions, adding blockchain to our applications is something we consider beneficial to our clients. They are dealing with environmental inspections carried out by the Dutch government, oil terminal inspections for parties like Fujairah Oil and the safe refueling of thousands of aircraft at Schiphol airport. Our inspection app handles sensitive and vital data, so immutability is critical. By implementing blockchain, we're able to let multiple stakeholders monitor and provide one decentralized, secure audit-trail in real-time, at every stage. </p>
                                    <div class="author">Jonathan Stolk</div>
                                    <div class="company">CEO of Capptions</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-container">
    <section class="section alt has-bg-img">
        {% include "partials/bottom-nav.njk" %}
    </section>
</div>

{% endblock %}
