{% set title = 'LTO Network - Use case - Digital checklist & inspection reports' %}
{% set description = 'Providing evidence to inpections of vital locations like airports, oil terminals and dangerous goods.' %}

{% extends "base.njk" %}



{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-uc-capptions.png');">
    <div class="hero-body">
      <div class="container">
          <div class=""><span class="tag is-rounded is-medium blue-grey"> INTEGRATOR </span></div>
        <h1 class="primary-text">Digital checklist & inspection application</h1>
          <h2 class="dark-indigo">Inspection reports & data entries in the Capptions application are stored on LTO Network to provide immutable evidence.</h2>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c use-cases">
      <div class="container use-cases">
        <div class="item use-cases">
            <img class="promo-client" src="/assets/use-cases/capptions@2x.png">
        </div>
        <div class="item use-cases">
            <p class="promo-head use-cases">Involved parties</p>
          <p class="promo-desc use-cases muted">Capptions 80+ enterprise clients and 20.000 users who rely on the immutable evidence of their inspection reports.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
    <section class="section">
        <div class="container">
      <h2 class="has-text-centered section-title">Business challenges</h2>
      <div class="columns">
        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">PDF's are vulnerable to counterfeiting</h3>
            <div class="card-description">
              <p>Paper based reports and checklists are easy to counterfeit. Modifying content of a PDF or changing an uploaded picture taken during inspection can be modified easily.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-b" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Information can be easily modified</h3>
            <div class="card-description">
              <p>The data collected during an inspection is centrally stored. Should any problem arises, the data can be easily tampered with or altered, which means the data is less reliable.</p>
            </div>
          </div>
        </div>

        <div class="column card">
          <img class="card-image clip-a" src="/assets/polygons - 1.png">
          <div class="card-content">
            <h3 class="accent-text">Isolation of information sources</h3>
            <div class="card-description">
              <p>In inspection processes data needs to be shared internally as well as with external organizations. As they are all isolated from each other, it is hard to effectively share data. </p>
            </div>
          </div>
        </div>
      </div>
        </div>
    </section>
</div>

<div class="section-container">
  <section class="section secondary">
    <div class="container">
      <h2 class="has-text-centered section-title">Solution overview</h2>
      <div class="columns is-centered has-margin-top-40 inverted-mobile">
          <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">Capturing immutable evidence</h3>
          <p class="muted">The device used to collect the data to do the inspection has been verified and contains an ID which is used to sign the submissions of each data entry and report being generated in LTO Network to create an immutable record. </p>
        </div>
        <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
          <div class="livicon-evo" style="position:relative; top:-5px; left:-4px;" data-options="
          name: briefcase;
          size: 130px;
          tryToSharpen: true;
        style: filled;
        fillColor: #ffffff"></div>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
            <div class="icon-container solutions column is-centered" style="left:48px; align-self:center;">
              <div class="livicon-evo" style="position:relative; top:-3px; left:-12px;" data-options="
              name: notebook;
              size: 130px;
              tryToSharpen: true;
              style: filled;
              fillColor: #ffffff"></div>
            </div>
          <div class="column is-half">
        <h3 class="title subsection-title dark-indigo">Real-time compliance reporting</h3>
          <p class="muted">Demonstrating compliance is crucial  in industries that work with dangerous goods- or in dangerous environments. By combining LTO Network with the inspection application of Capptions we enabled real-time compliance reporting for all your crucial business processes. This allows you to seamlessly gather information for regulatory reporting. </p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40 inverted-mobile">
        <div class="column is-half">
          <h3 class="title subsection-title dark-indigo">Effective data sharing</h3>
          <p class="muted">Data that is gathered by the involved parties is shared to the systems that are connected to LTO Network. Stakeholders can benefit from data re-use and reduction of manual process handling. </p>
        </div>
          <div class="icon-container solutions column is-centered" style="left:48px;align-self:center;">
            <div class="livicon-evo" style="position:relative; top:-7px; left:-2px;" data-options="
            name: users;
            size: 130px;
            tryToSharpen: true;
            style: filled;
            fillColor: #dde7f3"></div>
        </div>
      </div>
        <div class="btn-container has-text-centered has-margin-top-40">
        <a src="#" class="button is-primary">Book a demo</a>
        </div>
    </div>
  </section>
</div>



<div class="section-container cutin-top-alt cutout-bottom">
  <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Advantages using LTO Network</h2>
      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: coins;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Cost savings</h3>
          <p class="muted">Administrative tasks such as manual entering data into your system that receive by letter, fax or email belongs to the past. With the blockchain technology of LTO Network all parties are able to receive structured data into the systems they use to execute and administrate these processes. This reduces the administrative overhead with more then 30%.</p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: diagram;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Easy integration</h3>
          <p class="muted">With LTO Network you don't have to change your entire IT infrastructure. You can use your existing systems and application to administrate, record and communicate on business processes. The implementation of LTO Network is as simple as writing plain English. </p>
        </div>
      </div>

      <div class="columns is-centered has-margin-top-40">
        <div class="icon-container advantages column is-one-quarter" style="left:48px;height:250px;background-image: url('/assets/rocks/rock-1.svg')">
           <img style="position:absolute;width:30px;top:-30px;left:150px" src="/assets/small-rock-2.svg">
          <img style="position:absolute;width:50px;top:0px;left:-30px" src="/assets/small-rock-1.svg">
          <div class="livicon-evo" style="position:relative; top:0px; left:73px;" data-options="
          name: balance;
          size: 90px;
          tryToSharpen: true;
          strokeColor: #ffffff;
          strokeWidth: 3px"></div>
        </div>
        <div class="column is-two-thirds">
          <h3 class="title subsection-title dark-indigo">Compliant by design</h3>
          <p class="muted">Demonstrating compliance is important in any industry. With LTO network you are able to record all data entries and steps in your business processes to safeguarding evidence and comply with regulation. Enabling one-click compliance reporting for both internal- as external communication on your business processes. </p>
        </div>
      </div>

      <div class="table-container is-centered has-margin-top-40">
        <div class="table" id="results">
          <div class='theader'>
            <div class="table_header dark-indigo">Theme</div>
            <div class="table_header dark-indigo">LTO Network solution</div>
            <div class="table_header dark-indigo">Traditional solution</div>
          </div>
          <div class="table_row">
            <div class="table_small">
              <div class="table_cell dark-indigo">Theme</div>
              <div class="table_cell deep-lavender">Automation</div>
            </div>
            <div class="table_small">
              <div class="table_cell dark-indigo">LTO Network solution</div>
              <div class="table_cell steel mobile-green">
                <div class="column is-1 table-icon is-hidden-mobile"> <img class="table-x" src="/assets/table icon - good.svg"></div>
                <p>Using blockchain to streamline processes leads to higher productivity.</p>
              </div>
            </div>
            <div class="table_small">
              <div class="table_cell dark-indigo">Traditional solution</div>
              <div class="table_cell steel mobile-red">
                <div class="column is-1 table-icon is-hidden-mobile"> <img class="table-x" src="/assets/table icon - bad.svg"></div>
                <p>Paper based reports and checklists don’t allow for automation.</p>
              </div>
            </div>
          </div>



          <div class="table_row">
            <div class="table_small">
              <div class="table_cell dark-indigo">Theme</div>
              <div class="table_cell deep-lavender">Counterfeiting Prevention</div>
            </div>
            <div class="table_small">
              <div class="table_cell dark-indigo">LTO Network solution</div>
              <div class="table_cell steel mobile-green">
                <div class="column is-1 table-icon is-hidden-mobile"> <img class="table-x" src="/assets/table icon - good.svg"></div>
                <p>Data and Inspection reports become more valuable when it is independently verifiable. Inspection reports become immutable through hashing and anchoring them on LTO.</p>
              </div>
            </div>
            <div class="table_small">
              <div class="table_cell dark-indigo">Traditional solution</div>
              <div class="table_cell steel mobile-red">
                <div class="column is-1 table-icon is-hidden-mobile"> <img class="table-x" src="/assets/table icon - bad.svg"></div>
                <p>Inspection reports are prone to a mutation in case of (catastrophic) failure.</p>
              </div>
            </div>
          </div>
          <div class="table_row">
            <div class="table_small">
              <div class="table_cell dark-indigo">Theme</div>
              <div class="table_cell deep-lavender">Data sharing</div>
            </div>
            <div class="table_small">
              <div class="table_cell dark-indigo">LTO Network solution</div>
              <div class="table_cell steel mobile-green">
                <div class="column is-1 table-icon is-hidden-mobile"> <img class="table-x" src="/assets/table icon - good.svg"></div>
                <p>Data and inspection reports stored on the blockchain of LTO Network can be effortlessly and GDPR compliantly shared among multiple parties, reducing time costs and improving business efficiency.</p>
              </div>
            </div>
            <div class="table_small">
              <div class="table_cell dark-indigo">Traditional solution</div>
              <div class="table_cell steel mobile-red">
                <div class="column is-1 table-icon is-hidden-mobile"> <img class="table-x" src="/assets/table icon - bad.svg"></div>
                <p>Paper based inspection reports must be scanned, emailed and subsequently processed into the system that the receiving party uses.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-container has-text-centered has-margin-top-40">
        <a href="#" class="button is-primary">
          Book a demo
        </a>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-bottom-alt">
  <section class="section alt p-top-l">
<div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered">
                <img src="/assets/use-cases/integrator_portal.png">
        </div>
    </div>
    <div class="btn-container has-text-centered">
    <a href="https://help.signrequest.com/hc/en-us/articles/360020499014-SignRequest-and-the-LTO-Network-Blockchain" target="blank" class="button is-primary">Download case-study</a>
  </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m ecosystem-v">
      <div class="section-body">
        <div class="ecosystem-v"></div>
        <div class="columns is-desktop">
        <div class="column is-4 is-offset-8">
            <h2 class="section-title">Ecosystem V for Capptions</h2>
            <div class="content">
                <p class="muted">We amplify growth by sharing incentives on the same principles behind blockchain. We leverage our connections and those of other Ecosystem V members who benefit from continuous support and development through our community of hundreds of developers and ecosystem participants. </p>
            </div>
            <a href="#" class="button is-rounded is-primary main-button use-cases">Learn more</a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
  <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <blockquote>By integrating LTO Network’s anchoring service across the Capptions platform, we are able to give blockchain a mobile face. For Capptions, adding blockchain to our applications is something that we deem helpful for our clients. They are dealing with environmental inspections carried out by the Dutch government, oil terminal inspections for parties like Fujairah Oil and the safeguarding refuelling of thousands of aircrafts at Schiphol airport. Our inspection app handles sensitive and vital data, so immutability is critical. By implementing blockchain we’re able to let multiple stakeholders monitor and provide one, but decentralised, secure audit-trail in real-time, at every stage.
                <div class="author">Jonathan Stolk, Capptions CEO</div>
            </blockquote>
        </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
