{% set title = 'LTO Network - Hybrid Blockchain' %}
{% set description = 'The easiest way to implement blockchain in businesses' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium" style="background-image: url('/assets/hero/hero-tech.png')">
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">Tech</h1>
          <h3 class="muted">Lorem ipsum dolor sit amet, consectetur adiscing elit. </h3>
        <div class="buttons btn-container">
          <a href="https://docs.ltonetwork.com" class="button"><p class="dark-indigo">Explore documentation</p></a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
    <div class="promo-numbers c">
      <div class="container">
        <div class="item">
            <p class="promo-head deep-lavender">1M+</p>
            <p class="promo-desc dark-indigo">easy integration</p>
        </div>
        <div class="item">
          <p class="promo-head deep-lavender">30K+</p>
          <p class="promo-desc dark-indigo">transactions per day</p>
        </div>
        <div class="item">
          <p class="promo-head deep-lavender">100+</p>
          <p class="promo-desc dark-indigo">LTO nodes</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
  <section class="section">
    <div class="container">
      <h2 class="has-text-centered section-title">Functional layers</h2>
      <div class="columns is-vcentered inverted-mobile has-margin-top-40">
       <div class="column is-4">
            <div class="content">
                <strong class="muted">Distributed workflow</strong>
                <p class="muted">Magna proident e quem malis. Aut ad velit occaecat, a sed illustriora. An veniam de dolor qui dolore.</p>
                <strong class="muted">Distributed data processing</strong>
                <p class="muted">Magna proident e quem malis. Aut ad velit occaecat, a sed illustriora. An veniam de dolor qui dolore.</p>
                <strong class="muted">Blockchain</strong>
                <p class="muted">Magna proident e quem malis. Aut ad velit occaecat, a sed illustriora. An veniam de dolor qui dolore.</p>
            </div>
        </div>
        <div class="column">
          <img src="/assets/why-lto.png" alt="Functional Layers">
          </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-bottom-alt" id="why-hybrid-blockchain-section">
  <section class="section alt p-top-l neg-m-top-m">
    <div class="section-body" style="position:relative;">
      <div class="public-chain" id="public-chain"></div>
      <div class="private-chain" id="private-chain"></div>
        <div class="container">
            <div class="columns has-text-centered-mobile">
                <div class="column is-5-desktop">
                    <h2 class="section-title deep-lavender">Why a hybrid blockchain?</h2>
                        <div class="content">
                            <p class="muted">The promise of blockchain and working together in a seamless and trustless way is something all blockchain developers are striving for. Businesses tend to lean towards consortium chains to address privacy issues blockchains traditionally struggle with.</p>
                            <p class="muted">It's hard to get together a consortium where all members feel comfortable with privileges granted to the authoritative parties in the network. Especially as they are required to switch and rely on an entire new IT system.</p>
                            <p class="muted">LTO Network allows for ad-hoc collaboration, where rules are determined between parties by a contract only and not on a network level. Because the entire global network helps to protect integrity, processes may start centralized, allowing all parties to connect at their own pace.</p>
                            <p class="muted">Blockchain shouldn't require us to throw everything that is currently working for us overboard. With LTO Network we are breaking the barriers for organizations to reach the next level of efficiency when doing business together.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m">
           <div class="section-body">
           <div class="container">
            <h2 class="section-title has-text-centered">
          Inside an LTO Node
        </h2>
        <h3 class="small-subtitle has-text-centered">
          Select any component to learn more about our setup
        </h3>
            <div class="tiles-container">
        <div class="tiles node-card">
          <div class="tile-group rest-api-layer-container">
            <span>Rest Api Layer</span>
            <div class="tile lto-node" id="api-gateway-tile">
              <span class="title is-size-6 dark-indigo">Api Gateway</span>
            </div>
          </div>

          <div class="tile-group application-layer-container">
            <span>Application Layer</span>
            <div class="tile invisible is-hidden-mobile"></div>
            <div class="tile lto-node" id="workflow-engine-tile">
              <span class="title is-size-6 dark-indigo">Workflow Engine</span>
            </div>
            <div class="tile lto-node" id="event-chain-service-tile">
              <span class="title is-size-6 dark-indigo">Event Chain Service</span>
            </div>
            <div class="tile invisible is-hidden-mobile"></div>
          </div>

          <div class="tile-group private-chain-layer-container">
            <span>Private Chain Layer</span>
            <div class="tile lto-node" id="queuer-service-tile">
              <span class="title is-size-6 dark-indigo">Queuer Service</span>
            </div>
            <div class="tile lto-node" id="message-queue-tile">
              <span class="title is-size-6 dark-indigo">Message Queue</span>
            </div>
            <div class="tile lto-node" id="dispatcher-service-tile">
              <span class="title is-size-6 dark-indigo">Dispatcher Service</span>
            </div>
            <div class="tile invisible is-hidden-mobile"></div>
          </div>

          <div class="tile-group global-chain-layer-container">
            <span>Global Chain Layer</span>
            <div class="tile invisible is-hidden-mobile"></div>
            <div class="tile lto-node" id="proof-engine-tile">
              <span class="title is-size-6 dark-indigo">Proof Engine</span>
            </div>
          </div>
        </div>

        <div class="tile-sidebar is-4 is-parent is-vertical node-card">
          <article class="tile inside-node">
            <div class="content" id="workflow-engine-content" style="display: block;">
              <p class="tile-title is-size-4 title dark-indigo">Workflow Engine</p>
              <div class="tile-content">
               <p class="muted">
                   The Workflow Engine facilitates running processes and holding the state.</p>
                <ul class="muted is-size-6">
                  <li>Processes are modeled as deterministic extended finite state machines.</li>
                  <li>System actions can be performed by the node without requiring human interaction.</li>
                </ul>
              </div>
            </div>

            <div class="content" id="api-gateway-content" style="display: none;">
              <p class="tile-title is-size-4 title dark-indigo">API Gateway</p>
              <div class="tile-content">
               <p class="muted">
                 The API Gateway is an HTTP server which proxies all the requests to the right service within the node.</p>
              </div>
            </div>

            <div class="content" id="event-chain-service-content" style="display: none;">
              <p class="tile-title is-size-4 title dark-indigo">Event Chain Service</p>
              <div class="tile-content">
               <p class="muted">
                   The Event Chain Service holds all ad hoc private blockchains an organization is involved in.</p>
                <ul class="muted is-size-6">
                  <li>One node holds many ad hoc blockchains. (similar to git repositories).</li>
                  <li>Fully decoupled.</li>
                  <li>Configurable allowing it to interact to any microservice added to the application layer.</li>
                </ul>
              </div>
            </div>

            <div class="content" id="queuer-service-content" style="display: none;">
              <p class="tile-title is-size-4 title dark-indigo">Queuer Service</p>
              <div class="tile-content">
               <p class="muted">
                   The Queuer Service provides a REST API to queue events on the Message Queue.</p>
              </div>
            </div>

            <div class="content" id="message-queue-content" style="display: none;">
              <p class="tile-title is-size-4 title dark-indigo">Message Queue</p>
              <div class="tile-content">
               <p class="muted">
                 Message Queue is RabbitMQ message queue which uses shoveling to distribute events to other nodes.</p>
              </div>
            </div>

            <div class="content" id="dispatcher-service-content" style="display: none;">
              <p class="tile-title is-size-4 title dark-indigo">Dispatcher Service</p>
              <div class="tile-content">
               <p class="muted">
                 The Dispatcher Service parses messages from the message queue and pushes them to right service within the node.</p>
              </div>
            </div>

            <div class="content" id="proof-engine-content" style="display: none;">
              <p class="tile-title is-size-4 title dark-indigo">Proof Engine</p>
              <div class="tile-content">
               <p class="muted">
                 This node connects the LTO platform to the LTO Global Chain that is responsible for securing data and events through anchoring.
                 The LTO Global Chain is a fork of NXT. We have stripped everything that has to do with assets and tokens and added / changed the following:</p>
                <ul class="muted is-size-6">
                  <li>Use industry standard hashing algorithm (SHA2).</li>
                  <li>Replaced the custom Elliptic-curve with standard ED25519.</li>
                  <li>Added the Bitcoin NG protocol Daily summary blocks reduce size on disk and speed up set-up time (not the same as ledger pruning).</li>
                  <li>New transaction types: Anchoring, certificates, SSI (DID protocol).</li>
                </ul>
              </div>
            </div>

          </article>
        </div>
      </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
            <div class="section-body">
            <div class="container">
                <h2 class="section-title has-text-centered">Resources</h2>
                <h3 class="dark-indigo has-text-centered">Everything you need to know</h3>
                <div class="columns resources main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: compass;
              size: 85px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Mainnet Explorer</h4>
                                <p class="resources column-description steel">Check blocks, transactions, and wallet balances with the official LTO Network mainnet explorer.</p>
                                <a href="https://explorer.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: coins;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Online Wallet</h4>
                                <p class="resources column-description steel">Access mainnet and bridge swaps: we do not save your keys, so make sure to secure your seed phrase.</p>
                                <a href="https://wallet.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="columns resources main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: globe;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Network Statistics</h4>
                                <p class="resources column-description steel">Compare transactions activity, see the list of nodes and verify generators.</p>
                                <a href="https://www.lto.tools" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: wrench;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Earn LTO</h4>
                                <p class="resources column-description steel">Submit your work and get rewarded. You can also check the activity of other community members.</p>
                                <a href="https://community.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="columns resources main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: servers;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Token Bridge</h4>
                                <p class="resources column-description steel">LTO token exists on 3 blockchains, and you need to use the wallet bridge if you want to swap.</p>
                                <a href="https://blog.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: servers;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Run a Node</h4>
                                <p class="resources column-description steel">You can run a node on your local machine, in a cloud, or simply lease your tokens. Check the full guide.</p>
                                <a href="https://docs.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="columns resources main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: calculator;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Staking Calculator</h4>
                                <p class="resources column-description steel">By staking or leasing LTO, you can help secure the network and share the non-inflationary reward fees.</p>
                                <a href="https://ltonode.com/roi-calculator/" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <div class="livicon-evo" data-options="
              name: notebook;
              size: 75px;
              tryToSharpen: true"></div>
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Whitepapers</h4>
                                <p class="resources column-description steel">Read three main papers about our vision for blockchain adoption, LTO token economics, and technical overview.</p>
                                <a href="https://blog.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img" style="background-image: url('/assets/bot-image@3x.png')">
  {% include "partials/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
