{% set title = 'LTO Network - Hybrid Blockchain' %}
{% set description = 'The easiest way to implement blockchain in businesses' %}
{% set currentUrl = '/sitemap/' %}

{% extends "base.njk" %}

{% block content %}

<div class="section-container">
  <section class="hero is-medium">
   <picture>
      <source type="image/webp" data-srcset="/assets/hero/hero-tech.webp">
      <img class="overlay-image lazy" data-src="/assets/hero/hero-tech.png" alt="LTO Network - Hero Tech">
    </picture>
    <div class="hero-body">
      <div class="container">
        <h1 class="primary-text">Take a deep-dive and explore<br>LTO Network on a technical level</h1>
        <div class="buttons btn-container">
          <a href="https://docs.ltonetwork.com" class="button"><p class="dark-indigo">Explore documentation</p></a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-top">
  <section class="section secondary no-padding">
{% include "partials/" ~ locale ~ "/promo-numbers-alt.njk" %}
  </section>
</div>

<div class="section-container cutin-top-alt cutout-bottom">
  <section class="section">
    <div class="container">
      <div class="columns is-vcentered inverted-mobile has-margin-top-40">
      <div class="column is-6">
         <picture>
      <source type="image/webp" data-srcset="/assets/functional-layers.webp">
          <img src="/assets/functional-layers.png" class="functional-layers lazy" alt="LTO Network - Functional Layers">
          </picture>
          </div>
       <div class="column is-5-desktop">
           <h2 class="section-title">Functional layers</h2>
            <div class="content">
                <strong class="muted">Decentralized applications</strong>
                <p class="muted">Organizations participate in distributed applications via their node, without the need for a central system.</p>
                <strong class="muted">Distributed data processing</strong>
                <p class="muted">Data is shared peer-to-peer between the nodes of specific participants, never with the whole network.</p>
                <strong class="muted">Blockchain</strong>
                <p class="muted">All nodes are connected via the public blockchain, facilitating consensus and data integrity.</p>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="section-container cutout-bottom-alt" id="why-hybrid-blockchain-section">
  <section class="section alt p-top-l neg-m-top-m">
    <div class="section-body" style="position:relative;">
      <div class="private-chain-tech rellax" data-rellax-speed="2"><img src="/assets/private-chain.svg" class="lazy"  data-rellax-speed="0" alt="LTO Network - Private Chain"></div>
      <div class="public-chain-tech rellax" data-rellax-speed="-2"><img src="/assets/public-chain.svg" class="lazy" alt="LTO Network - Public Chain"></div>
        <div class="container">
            <div class="columns">
                <div class="column is-5-desktop">
                    <h2 class="section-title deep-lavender has-text-centered-mobile">Hybrid blockchain</h2>
                        <div class="content">
                            <p class="muted">LTO Network allows two or more businesses to share and agree upon sequences of events. Event sharing is done peer-to-peer, without relying on an authoritative party.</p>
                            <p class="muted">The limited number of parties involved present a challenge when dealing with conflicts. A majority, if it can be formed at all, can't provide an unbiased decision.</p>
                            <p class="muted">Rather than re-introducing authorization on the network, parties reach consensus by leveraging on our public proof-of-stake blockchain. Anchoring of the hash of private events happens on the public chain.</p>
                            <p class="muted">Blocks of the public chain have a specific height, and transactions within a block are also ordered. This order provides a globally recognized sequence of events, which is used to reach consensus on the private chain.</p>
                            <p class="muted"><em>A hybrid blockchain means private data, public consensus.</em></p>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

<div class="section-container">
  <section class="section relative tertiary p-top-l neg-m-top-m">
           <div class="section-body">
           <div class="container">
            <h2 class="section-title has-text-centered">
          Inside an LTO Node
        </h2>
        <h3 class="small-subtitle has-text-centered">
          Select any component to learn more about our setup
        </h3>
            <div class="tiles-container">
        <div class="tiles node-card">
          <div class="tile-group rest-api-layer-container">
            <span>Rest Api Layer</span>
            <div class="tile lto-node" id="api-gateway-tile">
              <span class="title is-size-6 dark-indigo">Api Gateway</span>
            </div>
          </div>

          <div class="tile-group application-layer-container">
            <span>Application Layer</span>
            <div class="tile lto-node" id="event-chain-service-tile">
              <span class="title is-size-6 dark-indigo">Event Chain Service</span>
            </div>
            <div class="tile lto-node" id="workflow-engine-tile">
              <span class="title is-size-6 dark-indigo">Additional services</span>
            </div>
          </div>

          <div class="tile-group private-chain-layer-container">
            <span>Private Chain Layer</span>
            <div class="tile lto-node" id="queuer-service-tile">
              <span class="title is-size-6 dark-indigo">Queuer</span>
            </div>
            <div class="tile lto-node" id="dispatcher-service-tile">
              <span class="title is-size-6 dark-indigo">Dispatcher</span>
            </div>
          </div>

          <div class="tile-group global-chain-layer-container">
            <span>Global Chain Layer</span>
            <div class="tile lto-node" id="proof-engine-tile">
              <span class="title is-size-6 dark-indigo">Anchoring Service</span>
            </div>
          </div>
        </div>

        <div class="tile-sidebar is-4 is-parent is-vertical node-card">
          <article class="tile inside-node">
            <div class="content" id="api-gateway-content" style="display: none;">
              <p class="tile-title is-size-4 title dark-indigo">API Gateway</p>
              <div class="tile-content">
               <p class="muted">
                 The API Gateway is an HTTP server which proxies all the requests to the right service within the node.</p>
              </div>
            </div>

            <div class="content" id="event-chain-service-content" style="display: block;">
              <p class="tile-title is-size-4 title dark-indigo">Event Chain Service</p>
              <div class="tile-content">
               <p class="muted">
                   The Event Chain Service holds all ad hoc private blockchains an organization is involved in.</p>
                <ul class="muted is-size-6">
                  <li>One node holds many ad hoc blockchains. (similar to git repositories).</li>
                  <li>Fully decoupled.</li>
                  <li>Configurable allowing it to interact to any microservice added to the application layer.</li>
                </ul>
              </div>
            </div>

            <div class="content" id="workflow-engine-content" style="display: none;">
              <p class="tile-title is-size-4 title dark-indigo">Additional services</p>
              <div class="tile-content">
               <p class="muted">
                   Additional services can be added to the node for running decentralized applications;</p>
                <ul class="muted is-size-6">
                  <li>The Workflow engine runs processes modelled as deterministic finite state machines.</li>
                  <li>Monitored data distribution helps reach (GDPR) compliance when sharing data across organizations.</li>
                </ul>
              </div>
            </div>

            <div class="content" id="queuer-service-content" style="display: none;">
              <p class="tile-title is-size-4 title dark-indigo">Queuer</p>
              <div class="tile-content">
               <p class="muted">
                   The Queuer Service provides a REST API to queue events on the Message Queue.</p>
                <ul class="muted is-size-6">
                 <li>RabbitMQ message queue which uses shoveling to distribute events to other nodes.</li>
                </ul>
              </div>
            </div>

            <div class="content" id="dispatcher-service-content" style="display: none;">
              <p class="tile-title is-size-4 title dark-indigo">Dispatcher</p>
              <div class="tile-content">
               <p class="muted">
                 The Dispatcher Service parses messages from the message queue and pushes them to right service within the node.</p>
              </div>
            </div>

            <div class="content" id="proof-engine-content" style="display: none;">
              <p class="tile-title is-size-4 title dark-indigo">Anchoring Service</p>
              <div class="tile-content">
               <p class="muted">
                 This node connects the LTO platform to the LTO public blockchain that is responsible for securing data and events through anchoring.
               </p>
                <ul class="muted is-size-6">
                  <li>Use industry standard hashing (SHA2) and cryptography (ED25519) algorithms.</li>
                  <li>The NG protocol provides fast tx acknowledgement, typically within 3 seconds.</li>
                  <li>The public chain is optimized for storing hashes and doesn't provide general purpose functionality.</li>
                </ul>
              </div>
            </div>

          </article>
        </div>
      </div>
        </div>
      </div>
  </section>
</div>

<div class="section-container cutout-top cutout-bottom-alt">
  <section class="section p-top-xl p-bottom-xl alt">
            <div class="section-body">
            <div class="container">
                <h2 class="section-title has-text-centered">Resources</h2>
                <h3 class="dark-indigo has-text-centered">Everything you need to know</h3>
                <div class="columns is-centered resources main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/compass-purple.svg" alt="LTO Network - Mainnet Explorer">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Mainnet Explorer</h4>
                                <p class="resources column-description steel">Check blocks, transactions, and wallet balances with the official LTO Network mainnet explorer.</p>
                                <a href="https://explorer.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/coins-purple.svg" alt="LTO Network - Online Wallet">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Online Wallet</h4>
                                <p class="resources column-description steel">Access mainnet and bridge swaps: we do not save your keys, so make sure to secure your seed phrase.</p>
                                <a href="https://wallet.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="columns is-centered resources main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/globe-purple.svg" alt="LTO Network - Network Statistics">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Network Statistics</h4>
                                <p class="resources column-description steel">Compare transactions activity, see the list of nodes and verify generators.</p>
                                <a href="https://www.lto.tools" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/wrench-purple.svg" alt="LTO Network - Earn LTO">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Earn LTO</h4>
                                <p class="resources column-description steel">Submit your work and get rewarded. You can also check the activity of other community members.</p>
                                <a href="https://community.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="columns is-centered resources main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/balance-purple.svg" alt="LTO Network - Token Bridge">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Token Bridge</h4>
                                <p class="resources column-description steel">LTO token exists on 3 blockchains, and you need to use the wallet bridge if you want to swap.</p>
                                <a href="https://blog.lto.network" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/servers-purple.svg" alt="LTO Network - Run a Node">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Run a Node</h4>
                                <p class="resources column-description steel">You can run a node on your local machine, in a cloud, or lease your tokens. Check the full guide.</p>
                                <a href="https://blog.lto.network/staking-and-leasing-lto-network-node-guide/" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="columns is-centered resources main-columns">
                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/calculator-purple.svg" alt="LTO Network - Staking Calculator">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Staking Calculator</h4>
                                <p class="resources column-description steel">By staking or leasing your LTO tokens, you can help secure the network and share the non-inflationary reward fees.</p>
                                <a href="https://ltonode.com/roi-calculator/" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                    <div class="column resources main-column">

                        <div class="columns resources sub-columns">
                            <div class="resources column image sub-column">
                                <div class="resources livicon-container">
                                    <img class="lazy" data-src="/assets/icons/notebook-purple.svg" alt="LTO Network - Whitepapers">
                                </div>
                            </div>

                            <div class="resources column text sub-column is-two-thirds">
                                <h4 class="resources column-title dark-indigo">Whitepapers</h4>
                                <p class="resources column-description steel">Read three primary papers about our vision for blockchain adoption, LTO token economics, and technical overview.</p>
                                <a href="https://blog.lto.network/lto-network-sources/" class="resources read-more deep-lavender">Read more →</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
  </section>
</div>

<div class="section-container">
  <section class="section alt has-bg-img">
  {% include "partials/" ~ locale ~ "/bottom-nav.njk" %}
  </section>
</div>

{% endblock %}
