<section class="hero background-hero ecosystem-v is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="main-title">Benefit from the network effect<br>and join the movement</h1>
      <div class="btn-container">
        <a href="#" class="main-button button is-warning is-rounded is-medium ecosystem dark-indigo"><p class="dark-indigo">Join ecosystem</p></a>
        <a href="#" class="button is-outlined is-medium is-rounded dark-indigo second-button ecosystem">Learn more</a>
      </div>
    </div>
  </div>

  <div class="promo-numbers-div">
    <div class="promo-numbers-container container">
      <div class="promo-numbers-level level">
        <div class="promo-numbers level-item">
          <div class="promo-numbers sub-level-item">
            <p class="title promo-numbers deep-lavender">1M+</p>
            <p class="heading promo-numbers is-lowercase dark-indigo"> Trusted by 1M+ users</p>
          </div>
        </div>

        <div class="promo-bar-line">
        </div>

        <div class="promo-numbers level-item has-text-centered">
          <div class="promo-numbers sub-level-item">
            <p class="title promo-numbers deep-lavender">Top 20</p>
            <p class="heading promo-numbers is-lowercase dark-indigo"> blockchains worldwide</p>
          </div>
        </div>

        <div class="promo-bar-line">
        </div>

        <div class="promo-numbers level-item has-text-centered">
          <div class="promo-numbers sub-level-item">
            <p class="title promo-numbers deep-lavender">30k+</p>
            <p class="heading promo-numbers is-lowercase dark-indigo"> transactions per day</p>
          </div>
        </div>

        <div class="promo-bar-line">
        </div>

        <div class="promo-numbers level-item has-text-centered">
          <div class="promo-numbers sub-level-item">
            <p class="title promo-numbers deep-lavender">100+</p>
            <p class="heading promo-numbers is-lowercase dark-indigo"> nodes</p>
          </div>
        </div>

        <div class="promo-bar-line">
        </div>

        <div class="promo-numbers level-item has-text-centered">
          <div class="promo-numbers sub-level-item">
            <p class="title promo-numbers deep-lavender">100+</p>
            <p class="heading promo-numbers is-lowercase dark-indigo"> ecosystem partners</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
